[2020-05-20 00:14] johnr54321 commented on #612
Cookie notice: "This website uses cookies and similar technologies to measure the effectiveness of our website and outreach efforts. By continuing to use the site, you consent to this website storing cookies on your machine."

[2020-05-20 02:16] danarchen commented on #572
here's the XD link:
https://xd.adobe.com/view/d064e8b7-83bd-400e-67d9-e5468093b939-a655/

[2020-05-20 02:57] JRHutson opened #628 "Research Reason for Overlapping Neighborhoods"
The Neighborhood Council polygons from the city have areas that overlap and areas that are not covered by any neighborhood.

Research reasons for this. Some areas may be intentional (ex. Parks, Jail...) while others may be data errors.

<img width="384" alt="Screen Shot 2020-05-19 at 6 43 21 PM" src="https://user-images.githubusercontent.com/10876900/82399748-aa8ded80-9a0a-11ea-8ccd-d05ddb984b98.p

[2020-05-20 03:09] JRHutson commented on #628
Sent message to dataset owner through the city open data portal.

[2020-05-20 03:13] adamkendis opened #630 "Front - Footer tooltip for "Data updated through""
# Description
The footer displays the date/time of last ingestion, however, this might be confusing for the user without explanation. A tooltip or popup should be displayed with a brief explanation of what the date represents.

Also, the terms&conditions and privacy policy footer links redirect to / at the moment. Update or remove links by beta launch.

## Action Items
- [ ] Write brief explanatio

[2020-05-20 03:16] adamkendis opened #631 "Front - Webpack optimization"
### Overview
Our webpack bundle is between 5-6mb at the moment. We should dig into our webpack config to minimize production bundle size.

### Action Items
- [ ] Run production bundle through webpack analyzer.
- [ ] Ensure no dead code in bundle/webpack is tree shaking.

### Resources

[2020-05-20 04:25] adamkendis opened #632 "Cookie notice, Beta banner. Privacy Policy should show up on 1st page load."
# Description
We added our privacy policy and cookie notice to our footer that shows up in most views.  Unfortunately, these things do not show up on the about us page that we start people loading on.

## Action Items
Pending UI mockups for:

- [ ]Make cookie notice with link to privacy policy visible on about us page and 1st page load.

## Resources

[2020-05-20 04:26] #599 closed

[2020-05-20 04:31] adamkendis commented on #628
Example: Encino NC and Lake Balboa have significant overlap in a large park/golf course area. All reports (of the scattered dozen or two that I clicked) in the overlap appear to be assigned to Lake Balboa NC.
<img width="871" alt="Screen Shot 2020-05-19 at 9 29 56 PM" src="https://user-images.githubusercontent.com/40484278/82405194-f85d2280-9a17-11ea-98aa-196ed96e82de.png">
<img width="591" alt="S

[2020-05-20 04:39] sellnat77 opened #633 "311-data@hackforla.org"
First name: John
Last name: Ritchey
Email: 311-data@hackforla.org
Association: H4LA
Message: test

[2020-05-20 04:39] adamkendis opened #634 "Setup 311Data Mapbox account"
# Description
Both map tilesets (streets, satellite) are being fetched from Mapbox API with a team member's personal token.

## Action Items
- [ ] Create Mapbox account with 311-data email address.
- [ ] Generate token.
- [ ] Apply restrictions referenced in #595
- [ ] Update mapbox token env variable.

## Resources

[2020-05-20 04:48] johnr54321 opened #635 "Show Confirmation of Submission on Contact Us Page"
# Description
Right now, when you hit submit... not much happens.  I had no idea that I was making tickets.

## Action Items

- [x] Make the submission obvious.  Maybe give them a thank you popup?

- [x] Field validation messaging/styling should also be improved for greater clarity. Possibly just re-use validation implementation in https://github.com/hackforla/311-report/pull/11

- [ ] If possible

[2020-05-20 04:58] sellnat77 opened #636 "atkendis@gmail.com"
First name: Adam
Last name: Kendis
Email: atkendis@gmail.com
Association: test
Message: test

[2020-05-20 05:01] #636 closed

[2020-05-20 05:01] #633 closed

[2020-05-20 05:01] #596 closed

[2020-05-20 05:03] johnr54321 commented on #612
Here is the 311-data privacy policy: https://docs.google.com/document/d/1688az36WXvDfm57qCHJMofSihrwU4OExgsqjKGLyfwk/edit?usp=sharing

[2020-05-22 00:47] adamkendis opened #644 "updatePinClusters firing on map move/zoom without initial query submit"
# Description
Whenever the user pans or zooms the map, the UPDATE_MAP_POSITION action is dispatched which calls the updatePinClusters saga, fetching pins corresponding with selected filters.

**Unintended behavior** - In current implementation, the user can select filters and pan/zoom the map to display pins WITHOUT clicking Submit. This behavior should be prevented.

## Action Items
-[ ] Add a bo

[2020-05-22 02:33] adamkendis opened #645 "About page tweaks"
# Description
- HackForLA logo has some red artifacts around the edges.
- Request to change hero image to something less depressing.

## Action Items

## Resources

[2020-05-22 05:39] johnr54321 opened #646 "About 311 Page Changes"
# Description
Bonnie saw our site before go live and she had some minor adjustments that she wanted to see listed below.

# Action Items
- [x] What is 311? Text Changes below
- [x] Add CFA logo
- [x] Make the About 311 page the default loading page
Additional items from #645
- [x] Fix red artifacts around HFLA logo.
- [x] Use different hero image.

# Resources
### What is 311:
Each day, Los Angele

[2020-05-22 20:28] danarchen commented on #616
New color choices for request type is available on Figma.

Please access through the following link:
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5

[2020-05-22 20:32] danarchen commented on #612
Link to mockup:
https://drive.google.com/open?id=1Nnq4VX2H0sPad4Kwlvg24tloA5nyo7MD

[2020-05-22 20:33] danarchen commented on #593
Link to mockup:
https://drive.google.com/open?id=1n0tarAIX6ZbEb062wvzJyIWdYr43opT9

[2020-05-26 21:54] sellnat77 opened #650 "atkendis@gmail.com"
First name: Adam
Last name: Kendis
Email: atkendis@gmail.com
Association: Not provided
Message: Test message from Contact page.

[2020-05-26 21:55] sellnat77 opened #651 "sellnat77@gmail.com"
First name: Russell
Last name: Tan
Email: sellnat77@gmail.com
Association: Not provided
Message: WeeWooWeeWoo

[2020-05-26 21:56] sellnat77 opened #652 "not_a_bogus_email@email.com"
First name: NotRussell
Last name: NotTan
Email: not_a_bogus_email@email.com
Association: Not provided
Message: wadaleeacha

[2020-05-26 22:29] #609 closed

[2020-05-26 22:29] #611 closed

[2020-05-26 22:29] #626 closed

[2020-05-26 23:57] itsjoycelee opened #653 "Splash (Prior About) Redesign"
## Description
The 311 Data about page will be re-designed to become the  landing splash page.

## Action Items

- [x] Low fidelity mockup

- [x] Dev discussion

- [x] High fidelity mockup

## Dev Action Items

- [ ] Update hero image. Disregard hero image in Figma mockup. Use new hero image from comment thread in #786 .
- [ ] Remove "About 311 Data" hero image overlay text.
- [ ] Remove bouncing

[2020-05-26 23:59] #172 closed

[2020-05-26 23:59] #218 closed

[2020-05-27 00:01] #292 closed

[2020-05-27 00:01] #165 closed

[2020-05-27 00:04] itsjoycelee opened #654 "[Re-design] Compressing and expanding sticky criteria legend"
## Description
In order to create a sticky criteria legend, a compressing and expanding is needed so that it doesn't take too much space in the map/data visualization pages.

## Action Items

- [ ] Lo-fi mockup

- [ ] Dev discussion

- [x] Hi-fi prototype

- [ ] Dev deployment

## Resources
Figma/XD image or link to be placed.

[2020-05-27 00:10] #625 closed

[2020-05-27 01:22] adamkendis opened #656 "Automate front end deployment to S3"
# Description
With the front end migrated to S3, we should set up a continuous deployment pipeline from github to S3.

## Action Items
- [x] Look into AWS CodePipeline
- [x] Set up continuous deployment from `dev` to the dev S3 bucket.
- [x] Set up continuous deployment from `master` to the production S3 bucket.

## Resources

https://aws.amazon.com/codepipeline/

[2020-05-27 01:26] adamkendis commented on #591
Closed by #647 . Bug ticket #461 reopened.

[2020-05-27 01:27] #591 closed

[2020-05-27 01:29] adamkendis commented on #645
Action items grouped into #646

[2020-05-27 01:29] #645 closed

[2020-05-27 02:06] JRHutson commented on #579
Have the Tooltip responding to Mouse Over and only appearing when zoomed out. Working on creating a DivIcon layer to place NC names when zoomed in.

[2020-05-27 02:26] johnr54321 commented on #610
2 hrs legend & scalebar
5 hrs w/ export legend

[2020-05-27 02:27] johnr54321 commented on #646
4hrs

[2020-05-27 02:36] johnr54321 commented on #635
3hrs ETA w/o email confirmation

email confirmation will be in backend

[2020-05-27 03:12] sellnat77 opened #659 "atkendis@gmail.com"
First name: Adam
Last name: Kendis
Email: atkendis@gmail.com
Association: Not provided
Message: Testing live site.

[2020-05-27 03:13] #659 closed

[2020-05-27 03:13] #652 closed

[2020-05-27 03:14] #651 closed

[2020-05-27 03:14] #650 closed

[2020-05-30 18:31] #612 closed

[2020-05-30 21:23] ExperimentsInHonesty commented on #612
@johnr54321 i just read privacy policy draft.  Let’s talk about changing the contact info from code for America to HackforLA.

[2020-06-02 16:59] jmensch1 commented on #552
closing since /pins is gone

[2020-06-02 16:59] #552 closed

[2020-06-02 18:25] jmensch1 opened #663 "create dev environment on AWS"
## Description

Create a deployment pipeline to AWS so we can run a dev environment.

## Action Items

- [ ] Investigate using docker-compose for running the app as opposed to using separate AWS services -- RDS, etc.
- [ ] Get the app running on an EC2 instance
- [ ] Make sure restarts are handled gracefully
- [ ] Automate deployment with a CI workflow on push to `dev`

## Resources

https://mediu

[2020-06-02 18:30] jmensch1 opened #664 "add database connection to backend testing environment"
## Description

We have some testing infrastructure set up to run backend tests whenever there's a pull request. But we can't really run meaningful tests because there's no database connection in the testing environment.

## Action Items

- [ ] Modify backend CI workflow so that DATABASE_URL gets injected into testing environment.
- [ ] Set up a database that the testing environment can use (proba

[2020-06-02 20:35] #610 closed

[2020-06-02 20:35] #646 closed

[2020-06-03 00:45] #635 closed

[2020-06-03 00:55] #595 closed

[2020-06-03 00:56] adamkendis commented on #595
Added URL restrictions to map token.

[2020-06-03 01:39] adamkendis opened #668 "Limit custom date range to 6-months"
## Action Items
- [ ] Limit custom date range to 6-month timespan
- [ ] Add messaging to custom datepicker re same.

[2020-06-03 02:41] sellnat77 opened #669 "311-data@hackforla.org"
First name: 311
Last name: Data
Email: 311-data@hackforla.org
Association: Not provided
Message: test message

[2020-06-03 03:05] sellnat77 opened #670 "atkendis@gmail.com"
First name: Adam
Last name: Kendis
Email: atkendis@gmail.com
Association: Not provided
Message: Test message.

[2020-06-03 03:07] #670 closed

[2020-06-03 03:07] #669 closed

[2020-06-05 01:14] #668 closed

[2020-06-05 04:35] johnr54321 opened #674 "Come up with Search Terms for our Site"
### Overview
We need typical search terms people should be able to use to find our site.  After coming up with the terms, please assign this to John for review and then we'll pass it to the front end devs to put it in the header.

### Action Items
- [ ] Draft Initial Search Terms for placement in the header
- [ ] Add them into the header (will require some code restructuring)

### Resources/Instru

[2020-06-05 04:36] johnr54321 commented on #674
I assigned this to Thomas... but not sure if he is interested in this.

[2020-06-05 04:40] johnr54321 opened #675 "[FEAT] Show Source Information on File Exports"
### Overview
Currently, when someone exports an image, csv, or PDF, the source information isn't there. We should be including a reference to our site, to the data source, and information regarding the query like the date it was generated, NC, request type, etc.

### Action Items

- [ ] PNG Export (contains all these items visible at the bottom
- [ ] CSV Export (contains info towards the top of th

[2020-06-05 05:15] johnr54321 opened #676 "[FEAT] Give Mayor's Office Credit for Open Data Initiative"
### Overview
Adding Mayor's office logo and link to about us page

### Action Items

- [x] Adjust text to add link to open data project

- [ ] Add Mayor's Office Logo

### Resources/Instructions

[2020-06-05 07:04] 311-data opened #680 "[FEAT] Add Social Media Tags"
### Overview
We currently don’t have any social media tagging to enable a great site when someone mentions our site.

### Action Items
Add todo based on the template below

### Resources/Instructions
https://github.com/hackforla/.github/blob/master/.github/ISSUE_TEMPLATE/control-what-appears-when-you-paste-your-sites-link-in-social-media-sites.md

[2020-06-05 07:05] 311-data commented on #680
Assigned to @danarchen for initial review for how this should look when we do it.

[2020-06-09 00:34] thomisfrank commented on #674
I am working on this!

On Thu, Jun 4, 2020 at 9:36 PM John <notifications@github.com> wrote:

--
Thom Franklin II
UI/UX Designer

thomisfrank.com

[2020-06-09 19:24] johnr54321 commented on #612
Done.

On Sat, May 30, 2020 at 2:23 PM Bonnie Wolfe <notifications@github.com>
wrote:

[2020-06-10 02:10] adamkendis commented on #676
Text updated on live site. Image not included - authorization needed from mayor's office to use logo.

[2020-06-10 02:11] adamkendis commented on #676
Closed by #679

[2020-06-10 02:11] #676 closed

[2020-06-10 02:20] adamkendis opened #683 "Update request type colors"
# Description
The UI/UX team has chosen a new set of accessible request type colors.
See #616

## Action Items
- [ ] Update request type colors in CONSTANTS per figma.

## Resources
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5

[2020-06-10 02:20] johnr54321 commented on #616
allows for #683

[2020-06-10 02:20] #616 closed

[2020-06-11 05:41] johnr54321 commented on #592
![map-dots-02](https://user-images.githubusercontent.com/20999589/84349093-715d1f00-ab6b-11ea-8803-733f155eaad6.png)
![map-dots-03](https://user-images.githubusercontent.com/20999589/84349095-728e4c00-ab6b-11ea-9694-698e73022a5b.png)
![map-dots-01](https://user-images.githubusercontent.com/20999589/84349096-728e4c00-ab6b-11ea-90b7-1819926c3bea.png)

Images attached

[2020-06-11 05:41] johnr54321 commented on #592
I like them.  Let's see what Thomas thinks.

[2020-06-11 06:50] johnr54321 commented on #592
@thomisfrank @danarchen He loves the mockups!  Do you need any more information before we pass this on to the devs?

[2020-06-11 06:59] johnr54321 commented on #291
@kevindperez Did a great job with the Mockups for Mobile.  I just need to review it.

[2020-06-11 16:45] jmensch1 opened #684 "run Postman/Newman tests against the api during continuous integration"
## Description

Postman has a command-line companion called Newman that can run Postman collections against an api. If we integrate this into our backend CI flow, we'll be able to test all the endpoints whenever there's a pull request to dev or master. These tests will be more meaningful that the unit tests we're running now.

## Action Items
- [ ] Create a Postman collection that contains all the

[2020-06-11 16:47] jmensch1 commented on #604
Not necessary any more, the views are all working well.

[2020-06-11 16:47] #604 closed

[2020-06-11 16:49] jmensch1 commented on #621
hey @adamkendis, do we need to leave this open? I thought the github account was set up.

[2020-06-11 16:50] #214 closed

[2020-06-11 16:55] jmensch1 commented on #212
We're currently cleaning the data in a separate table, and then copying it into the requests table. So this ticket is basically done.

[2020-06-11 16:55] #212 closed

[2020-06-11 16:57] jmensch1 commented on #390
We now have a script that updates the database, so the speed of ingestion isn't critical any more. We only need to run the ingest once the first time we're setting up an environment.

[2020-06-11 16:57] #390 closed

[2020-06-11 16:58] jmensch1 commented on #358
duplicate of #402

[2020-06-11 16:58] #358 closed

[2020-06-11 17:00] #405 closed

[2020-06-11 17:04] jmensch1 commented on #444
The database now be reset with a single command (run from the `/server` directory)
[code]
Gonna stay away from using endpoints for DB manipulation since they would require settings up some sort of authentication system.

[2020-06-11 17:04] #444 closed

[2020-06-11 17:06] jmensch1 commented on #487
We can now reset the DB with a single command (run from `/server`):
[code]
This is pretty simple, and doesn't require setting up an auth system.

[2020-06-11 17:06] #487 closed

[2020-06-11 17:06] #407 closed

[2020-06-11 17:09] jmensch1 commented on #232
This has been implemented by storing data in pickled pandas files. See `/server/api/src/pb`

[2020-06-11 17:09] #232 closed

[2020-06-11 17:10] jmensch1 commented on #210
We're now cleaning data in a separate table and copying it to the requests table. So closing this one.

[2020-06-11 17:10] #210 closed

[2020-06-11 17:11] jmensch1 commented on #178
Implemented -- there's a warning in the console whenever a key is missing.

[2020-06-11 17:11] #178 closed

[2020-06-11 17:12] jmensch1 commented on #269
Ingestion is now done with a single command, instead of an api call.
[code]

[2020-06-11 17:12] #269 closed

[2020-06-11 18:47] adamkendis commented on #621
Yeah, John made an account and already generated a token for the support board. Good to close.

[2020-06-11 18:47] #621 closed

[2020-06-11 20:06] #506 closed

[2020-06-11 20:25] danarchen commented on #592
Glad that Thomas liked the mockup! I don't think we need to add anything else, but if @adamkendis anyone else needs anything just let me know!

[2020-06-12 00:18] jmensch1 commented on #320
Looks like this can be done using the `paths` field in the workflows:

https://help.github.com/en/actions/configuring-and-managing-workflows/configuring-a-workflow#filtering-for-specific-branches-tags-and-paths

[2020-06-12 03:02] johnr54321 opened #685 "Draft Letter to Mayor thanking for Open Data"
# Description
Background: Our app was made possible by the mayor's open data site.

## Action Items
- [ ] Draft Letter to Mayor
- [ ] Get signed off

## Resources

[2020-06-13 17:06] jmensch1 opened #687 "Draft email for contact response"
## Description

When a user sends us feedback through the contact form, we can send them an email thanking them for the feedback. We just need to decide what it says -- i.e., the subject line and the body.

This is the info we'll have about the user (in case we want to include it in the email):
- first name
- last name
- email
- association
- the message they sent us

## Action Items

- [ ] draft

[2020-06-13 17:08] jmensch1 commented on #687
hey @johnr54321, assigning this to you cuz I'm not sure who will handle it. The backend part of this is on the way.

[2020-06-14 03:00] johnr54321 commented on #687
[first name],

Thank you for contacting 311-data.org. A ticket has been created ([ticket number]) and an email has been sent to our support team.  Please be patient with our response time since we are all volunteers.

Below is the information that we received from you:
_First Name: [First Name]
Last Name: [Last Name]
Email: [email]
Association: [association]
Message: [message]_

Thanks again for y

[2020-06-14 03:02] johnr54321 commented on #687
@jmensch1 Hopefully this should do it.  Please also send this to 311-data@hackforla.org.  Thanks.

[2020-06-14 16:32] jmensch1 commented on #687
Thanks John, will do. You'll see some emails regarding Sendgrid in the 311-data email today. That's just me setting up the account.

[2020-06-14 18:38] #517 closed

[2020-06-14 18:38] #687 closed

[2020-06-15 00:28] #664 closed

[2020-06-16 00:27] danarchen commented on #653
@adamkendis Hi Adam! the new landing page has been added to our new figma file. Please let me know if you have any questions or if there's anything I can modify or do.

[2020-06-16 16:25] #684 closed

[2020-06-16 22:12] adamkendis commented on #653
@danarchen Thanks Dana! The mockup looks great. I'm going to reassign this ticket to frontend.

[2020-06-17 00:00] #656 closed

[2020-06-17 22:54] #663 closed

[2020-06-17 22:58] jmensch1 commented on #301
this is done

[2020-06-17 22:58] #301 closed

[2020-06-17 22:58] jmensch1 commented on #320
done

[2020-06-17 22:58] #320 closed

[2020-06-17 22:59] jmensch1 commented on #489
done

[2020-06-17 22:59] #489 closed

[2020-06-17 23:00] jmensch1 commented on #302
done

[2020-06-17 23:00] #302 closed

[2020-06-19 02:29] adamkendis opened #699 "Add legend/criteria to chart exports"
# Description
Legend/criteria are currently not included in individual chart exports. This makes the chart exports near-useless unless the user also screenshots the legend/criteria.

## Action Items
- [ ] Work with UI/UX re updated legend/criteria components.
- [ ] Add legend/criteria to all charts exports.

## Resources
- https://github.com/hackforla/311-data/issues/1378

[2020-06-19 06:32] johnr54321 opened #700 "Marketing Plan"
# Description
Draft Marketing Plan for 311-Data.  We need someone to do this.

## Action Items
- [ ] Draft Marketing Plan for Roll Out

## Resources

[2020-06-24 05:00] itsjoycelee opened #703 "[Revision] Home Page Hero Image App Mockups"
To revise the hero image to a white background and updated UI screen for 311 Data

![](https://files.slack.com/files-pri/T04502KQX-F015SHJ33KM/image.png)
 marketing materials.

[2020-06-25 00:49] itsjoycelee opened #704 "311 Data Educational Content Pages"
## Description
The NC has noted the need for additional help for users to understand and interpret the data. We will initially need the design and content for the FAQ and glossary pages.

## Action Items

- [x]  FAQ page UI

- [ ]  FAQ page content

- [ ]  Glossary page UI

- [ ]  Glossary page content

## Resources
Mockups will be in the 311-Data Figma.

[2020-06-25 01:20] itsjoycelee commented on #703
Updated Image attatched
![Digital Mockup HFLA v2](https://user-images.githubusercontent.com/59002767/85642833-62846b00-b647-11ea-8c4c-f0fa96d04e92.png)

[2020-06-26 02:29] pras4u opened #705 "Manage user logins"
### Dependency
Check with user feedback on value after v2 launch and widget integration with NC sites.

Create a new login
Validate user / email
Select preferences - NC , NC member or citizen
Custom dashboard for logged in members
Share individual charts in social media
Delete user /account

[2020-06-26 02:29] prasadh4u opened #706 "Create timeline based comparison tool - month-o-month / y-o-y across a max of 3 years"

[2020-06-26 02:30] pras4u opened #707 "Manage email subscriptions"
### Dependency
Check with user feedback on value after v2 launch and widget integration with NC sites.

Select email frequency
Create a email dashboard for selected NC
Trigger emails per frequency

[2020-06-26 02:40] pras4u opened #708 "Manage 311 requests"
Create a 311 request
Search for a request
View a request
Delete a request
Integrate with City’s back office / ERP tools to route incoming requests

[2020-06-26 02:40] pras4u opened #709 "Integrate with social media - next door / facebook - city websites / activist groups"
### Dependency
Address once v2 is launched.

### Description
Create a widget that can be integrated on external sites to utilize 311-Data's tooling.

### Actions
This ticket needs to be handled in 4 phases:
- [ ] Build widget to integrate with:
   - [ ] NC sites
   - [ ] City Council sites
   - [ ] Next Door
   - [ ] Facebook

### Widget Content
Dashboard for specific NC
Metrics - Time to Close
Vo

[2020-06-26 02:43] pras4u opened #710 "Identify Success Metrics"
### Overview
We need to be able to measure the success of our application with users, so that we know if when we make improvements it is serving our customers.

### Action Items
- [ ] Define the metrics
- [ ] Define the applications we are using
- [ ] Find or create write up for accessing
- [ ] Establish baseline
- [ ] Determine frequency of evaluation
- [ ] Provide instructions for evaluation inc

[2020-06-26 02:59] pras4u opened #711 "Create a favicon"
A favicon, also known as a shortcut icon, website icon, tab icon, URL icon, or bookmark icon, is a file containing one or more small icons, associated with a particular website or web page.

[2020-06-26 03:26] pras4u opened #712 "Create a mobile compatible site (not a native iOS app)"

[2020-06-26 03:40] pras4u opened #713 "Integrate hotjar or other behavior analytics tool"
Check with Bonnie for a free tool

[2020-06-26 05:38] pras4u commented on #680
Tag | Description | 311-data   content
-- | -- | --
og:url | The canonical   URL for your page. This should be the undecorated URL, without session   variables, user identifying parameters, or counters. Likes and Shares for   this URL will aggregate at this URL. For example, mobile domain URLs should   point to the desktop version of the URL as the canonical URL to aggregate   Likes and Shares acr

[2020-06-26 05:40] pras4u commented on #680
please refer last column in table above -- content for the open graph markup fields ( to enable social media share / link decoration). @johnr54321 Have done minor changes to description ( from the marketing one pager). Hope this is fine

[2020-06-26 17:20] 311-data opened #714 "Rotating Single question survey for sticky users"
# Description
We don’t have much of any way to interact with users.  We need to collect additional data from them as a part of the site journey.  If someone has been on the site for 5 minutes, we should be able to ask them a question like... What do you think could make this site better?
## Action Items
- Mock up look for modal / pop up
- build it so that it only appears for users that are sticky.

[2020-06-29 22:03] pras4u commented on #680
This ticket depends on #711

[2020-06-29 22:24] danarchen commented on #711
![311-favicon](https://user-images.githubusercontent.com/62914516/86061954-8c110e00-ba1c-11ea-952c-b66b78eaf908.png)

@adamkendis let me know if this icon will do or if its blurry! ty

[2020-07-01 02:08] #711 closed

[2020-07-01 02:09] danarchen commented on #654
check out the design here:
https://xd.adobe.com/view/2a0939f4-c4b7-4653-65be-83b2d8035d25-5c38/

[2020-07-01 02:13] adamkendis commented on #461
In progress - will be completed by end of week, 7/5.

[2020-07-01 02:14] adamkendis commented on #644
In progress - will be completed by end of week, 7/5.

[2020-07-01 02:30] #572 closed

[2020-07-01 03:12] pras4u commented on #680
@adamkendis We need to go ahead with the existing content in the table below. We will add the social media handles later on in a separate ticket. Request you to take this ticket up  next. Please let me know in case of questions. Assigning the ticket to you.

[2020-07-01 03:26] itsjoycelee opened #722 "[Ideate] Using multi-select Chips to enhance usability"
## Description
The request type selection can be enhanced to ensure better usability, updated aesthetic, and modern-feel.

## Action Items

- High fidelity Mockups

## Resources
Will be in [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5).

[2020-07-01 03:35] itsjoycelee opened #723 "[Fix UI] Alignment of Request Types"
## Description
The alignment for the request types (especially for Homeless Encampment [HLE] and Metal/Household Appliances [MHA]) in both the UI of the filter and legend in loaded Data Visualization page.

## Action Items

- [ ] UI mockup

- [ ] Front-end Fix

## Resources
Revision will be placed in Figma or Adobe XD.

[2020-07-01 03:38] itsjoycelee opened #724 "[Re-design] Partially Selected Radio Box UI"
## Description
In order to increase usability, the partially selected radio boxes will be re-designed to best practice.

## Action Items

- Create High-Fidelity Mockup of Element

## Resources
Will be in [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5).

[2020-07-01 03:41] itsjoycelee opened #725 "311 Desktop Re-design V. 2.0"
## Description
In order to evolve the brand of the 311 Data Project, the 311 tool will be re-imagined to be more modern, usable, and informative.

## Action Items

- [ ] Sketches

- [ ] Low Fidelity Wireframes

- [ ] High Fidelity Mockups

- [ ] Prototypes

- [ ] User Testing

## Resources
Will be in [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5).

[2020-07-01 03:45] itsjoycelee opened #726 "[User Interviews] Understanding what are the important things to put into informational content pages"
## Description
In order to understand what the users will want to know, need to understand, and may have confusion with, user interviews will need to be conducted to formulate the content to place into the FAQ, Glossary, and coming blog pages to educate users on data to enhance their ability to use the tool and be more data-savvy in general.

## Action Items

- [ ] Set up times with NC to intervie

[2020-07-01 17:55] #615 closed

[2020-07-01 18:06] #104 closed

[2020-07-01 18:07] #624 closed

[2020-07-02 18:41] #544 closed

[2020-07-03 02:58] danarchen commented on #680
![social-share(opt-1)](https://user-images.githubusercontent.com/62914516/86427183-62ffb000-bc9e-11ea-89dc-b83e2b4b4f39.jpg)
![social-share(opt-2)](https://user-images.githubusercontent.com/62914516/86427186-63984680-bc9e-11ea-81c5-89f37e491757.jpg)

[2020-07-08 00:30] adamkendis commented on #680
@pras4u
Feature implemented in #729 and working for **dev** site (http://dev.311-data.org). Our description is 250 characters while twitter documentation specifies a max of 200 characters. I made some minor changes to the twitter description (replacing 'Los Angeles' with 'LA') but we're still over the max. I will update the tag with a shorter description once drafted.

### Twitter
![Screen Shot 20

[2020-07-08 00:42] #680 closed

[2020-07-10 02:45] #683 closed

[2020-07-13 19:18] danarchen commented on #654
new iteration of sticky legend
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A2

will review at tomorrow's meeting (7/14)

[2020-07-14 02:06] danarchen commented on #654
prototype: https://xd.adobe.com/view/2503c1cd-0a4a-463d-86af-b395515e4fd6-7050/

[2020-07-15 02:13] adamkendis opened #738 "Update map attribution"
# Description
We are using two different Mapbox tilesets for the map: streets and satellite. Maps using Mapbox map designs or data must display the Mapbox wordmark and text attribution. While our map currently does have text attribution for Mapbox, it doesn't meet the Mapbox attribution requirements and the required wordmark is absent.

The text attribution is set via the `attribution` props in th

[2020-07-15 02:15] johnr54321 commented on #592
time to start dev work.  changing hands.

[2020-07-15 02:19] danarchen commented on #568
design:
https://xd.adobe.com/view/150e346e-ce58-47f7-5c87-dca9f696b893-633f/

@adamkendis let me know if you have any questions or anything regarding this issue.

[2020-07-15 02:20] johnr54321 commented on #704
@pras4u wanna take a first crack at content?  I can get you some as well.

[2020-07-15 02:23] johnr54321 commented on #558
@justin1j @adamkendis if nothing by eod, let's reassign.  Thx.

[2020-07-15 03:57] danarchen opened #740 "Combining the comparison tool to the map/data tool"
## Description
For the new home/splash page to work, we would need to come up with a design where the tool has all there function in one place.

Of course, we can keep it the way it is. But if we could combine it all together that be the ideal.
## Action Items

- [x] mock up

- [x] discuss

- [ ] iterate

- [ ] discuss with developer

## Resources
Jake's Prototype: https://311-data.vercel.app/

[2020-07-15 04:03] adamkendis opened #741 "Update navbar links, styling to improve flow"
# Description

Tweaking navbar to make user flow more intuitive. To discuss with @danarchen @pras4u on 7/16.

## Action Items

- [x] Add link for 311-data tool to navbar.
- [x] Update styling to make current selection more apparent.
- [x] Discuss re-wording navbar link text / adding tooltip or info icon to links.
- [ ] Discuss changes to about or splash page.

## Resources
[UX Update.pdf](https://

[2020-07-15 20:33] jmensch1 opened #743 "Explore mapbox potential"
### Dependency
Wait for post v2 launch and add to Roadmap

## Description

See how we can use mapbox features to facilitate data exploration and improve user experience in the map tool.

[2020-07-17 03:15] adamkendis opened #744 "Fix text alignment in request type selector"
# Description

Alignment of request type menu text for Homeless Encampment and Metal/Household Appliances is off. Text wrapping to a second line should be left-aligned with text on the previous line. For instance, the `[HLE]` should be left-aligned with `Homeless Encampment` on the previous line instead of appearing under the checkbox.

#### Current

![Screen Shot 2020-07-07 at 7 43 34 PM](https:/

[2020-07-17 03:27] pras4u opened #745 "Update pie chart legend"
After we do a comparison search (Pie Chart Type) , the resulting Pie Chart Legend does not name the selected districts. Currently it shows 'Neighborhood Council' ; instead it should show the values of the selected 'Neighborhood Council District (Set 1)' &   'Neighborhood Council District (Set 2)'

[2020-07-17 03:28] pras4u commented on #745
![Bug 1](https://user-images.githubusercontent.com/44175476/87745520-f1962600-c7a2-11ea-9448-c013e0b87211.JPG)

[2020-07-17 03:31] pras4u opened #746 "Update pie chart legend in export"
To be developed together with #745 [TBC if 745 auto fixes this issue]

Export of the pie chart also shows 'Neighborhood Council' ; instead it should show the values of the selected 'Neighborhood Council District (Set 1)' &   'Neighborhood Council District (Set 2)'

[2020-07-17 03:40] pras4u opened #747 "Update ghost text / placeholder text in district selection dropdown"
Two dropdowns to be updated

### 1. Single NC Search

Currently the text is 'search'

Update to 'Type Neighborhood Council'

### 2. Compare NCs

Currently the text is 'search'

Update to 'Type Neighborhood Council' when neighborhood is selected ; Update to 'Type City Council District' when City Council District is selected

Darken the text in both the dropdowns one level (Rightnow not very visible

[2020-07-17 03:41] pras4u commented on #747
![Bug 2 Ghost text](https://user-images.githubusercontent.com/44175476/87746135-ada42080-c7a4-11ea-9b12-d5e378c4f722.JPG)

[2020-07-17 06:04] johnr54321 commented on #630
I really love that we have this feature that tells the user when the data is current through.

[2020-07-18 00:25] pras4u opened #748 "Install 'Google Optimize' in all pages"
Optimize is installed by adding a small snippet of code to your website to display new experiences to your visitors. Add the following code to the top of the <HEAD> tag on every page you wish to optimize.

<script src="https://www.googleoptimize.com/optimize.js?id=OPT-WHKV393"></script>

[2020-07-18 00:25] pras4u opened #749 "Add 'Hotjar' tracking code snippet in all pages"
Paste the Hotjar code into the <head> of every page to track visitors and collect feedback on

<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1881395,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;

[2020-07-18 00:28] pras4u commented on #749
`
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1881395,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

[2020-07-18 00:28] pras4u commented on #749
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1881395,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</

[2020-07-20 06:13] adamkendis commented on #579
Functionality is good. Fixed linting errors, removed unused imports. I need to update styling for map NC tooltips and display names. ETA 7/28.

[2020-07-20 16:54] tan-nate commented on #738
Updated the text attribution and added a wordmark
<img width="370" alt="Screen Shot 2020-07-20 at 9 54 08 AM" src="https://user-images.githubusercontent.com/47701264/87964405-06a6d980-ca6f-11ea-80a9-df9365a923ed.png">

[2020-07-21 00:50] #738 closed

[2020-07-24 00:27] croor005 opened #753 "[FEAT]UI Tests: Map Filter and Email"
### Overview
UI Tests with Cypress: Map Filters and Email

### Action Items
Write some tests to exercise and confirm Map filters and Data Visualization work as expected
Write a test to exercise and confirm the Email contact form works as expected

[2020-07-24 00:28] croor005 commented on #753
The tests exist on the `ui_test` branch

[2020-07-24 00:28] #753 closed

[2020-07-24 00:49] croor005 opened #754 "Getting Cypress to run tests in Github actions"
# Cypress + GitHub Actions

## Using a YAML file get Cypress to run in CI

## https://github.com/cypress-io/github-action

[2020-07-24 01:15] pras4u commented on #559
FAQ content @ https://docs.google.com/document/d/15g8psA9-w6BCEj-JxSNuLgSf0BEqLvjXrlMFK2i8EGk/edit?usp=sharing

[2020-07-24 02:36] johnr54321 opened #755 "Address CC & NC Lookup"
# Description
Users should be able to type their address and know their city council and neighborhood council.

## Action Items

- [ ] Design unified simple entry for being able to pull up city council and neighborhood council based on address
- [ ] Build the above

## Resources

[2020-07-24 02:39] johnr54321 commented on #741
Logo should point to about 311
New link should be called: ...   button should be limited to 2-3 words if possible

[2020-07-24 02:39] johnr54321 commented on #741
Move to dev for review

[2020-07-24 02:41] johnr54321 commented on #559
@danarchen Please update this ticket with new design.

[2020-07-24 02:44] johnr54321 commented on #559
UX is located in: #704

[2020-07-24 02:45] johnr54321 commented on #559
waiting on design ETA Tuesday 7/30

[2020-07-24 05:03] pras4u opened #756 "Add project twitter & facebook handles in portal"
Twitter handle - @data_311
Facebook - 311-Data

UX team suggest layout

[2020-07-24 05:11] pras4u opened #757 "Update social media share image with H4LA logo"
Red square H4LA logo to find a place in the 311 rectangle image in social media share

[2020-07-24 05:15] pras4u opened #758 "Create a square 311 logo"
for use in our social media handles - currently twitter handle logo needs improvement ; Also needed for democracy labs site

[2020-07-24 23:12] croor005 commented on #754
https://github.com/hackforla/311-data/actions/runs/181773173

[2020-07-24 23:12] #754 closed

[2020-07-25 15:06] croor005 commented on #754
https://www.cypress.io/blog/2019/11/20/drastically-simplify-your-testing-with-cypress-github-action/

[2020-07-27 14:18] danarchen commented on #570
Journey map: https://drive.google.com/file/d/1u-6KCZeMTdD7nGpmyxUs96oVps6Bdq5e/view?usp=sharing

[2020-07-28 22:24] #579 closed

[2020-07-30 19:35] #745 closed

[2020-07-30 19:35] #746 closed

[2020-07-30 19:35] #747 closed

[2020-07-30 19:35] #748 closed

[2020-07-30 19:35] #749 closed

[2020-07-31 00:57] adamkendis commented on #461
Dev notes 7/30: This is still unresolved and in progress.

What has been done so far:

1. Dug into leaflet.markercluster source code. Attempt to obtain spiderfied marker's parent cluster in order to re-spread the cluster after the marker's popup data is updated with the 311 request info. See [this post](https://stackoverflow.com/questions/12701240/how-to-identify-leaflets-marker-during-a-popupopen

[2020-07-31 01:13] johnr54321 commented on #758
here is where we are thinking of putting it: https://twitter.com/data_311

[2020-07-31 01:17] johnr54321 commented on #757
When we put the link to our site up, needs to appear here.  @pras4u Can you find some samples that UX can use?

[2020-07-31 02:05] adamkendis commented on #756
Add twitter/facebook icons to bottom right corner of footer.

[2020-07-31 05:43] johnr54321 opened #761 "Google Form for UX Interview Signup"
# Description
We are going to be doing a lot more UX interviews.  We need a form for people to sign up because we don't want to tweet and put our email in the public space.

## Action Items
- [ ] Create Google Form for UX Signups

## Resources

[2020-07-31 06:12] johnr54321 commented on #740
@kevindperez Thank you very much for putting this together. It definitely helped us arrive at where we needed to go. @jmensch1 Here are a few notes from our conversation:
- Move Map / Data selection from top of page to the bottom options.  Default is map.
- Chart options can be taken off the menu because now we will load them all (even when comparing)
- Need the ability to export map to image. Ple

[2020-07-31 06:13] johnr54321 commented on #740
Jake, if you need more visualizations of the above, please contact Kevin.  Otherwise, please include the above in your next iteration.

[2020-07-31 06:15] johnr54321 commented on #740
@kevindperez Under resources in the description, please add the figma model so we can reference it. Thanks!

[2020-08-01 07:53] johnr54321 opened #764 "Create 311 Image for City Newsletter & Social Media Posts"
# Description
Need 1200 x 800 image with H4LA logo, 311 project title in order to use for City of LA newsletter, twitter post, and Facebook posts.

## Action Items
- [x] Create Image
- [x] Pass to John for coordination with City

## Resources
May want to start with base of background image used on our twitter account: https://twitter.com/data_311

[2020-08-01 17:19] danarchen commented on #758
Hi @pras4u, the logo has been created it. You can find the square logo on our figma file under style guide / components : logos or you can save the image here: https://drive.google.com/file/d/1RPx3Bcshe8dTnsmW2QYgFOAIGZPeMEWg/view?usp=sharing

[2020-08-01 17:39] danarchen commented on #757
Please see link for social media share image with H4LA logo.
I also added the empower LA logo, since we talked about it on Thursday.

Let me know what you guys think @johnr54321  @pras4u
I can also remove it or place it in the corner of the image if you do not like the current placement.

https://drive.google.com/file/d/1e_uxSHbenZfSAbx-S4c7D2Z80yeFgvRd/view?usp=sharing

[2020-08-01 20:18] johnr54321 commented on #632
@adamkendis If you want UX to mock up how this would look first, please assign to UX and add the label and message them here & in slack so they know.  Thanks.

[2020-08-01 20:19] johnr54321 commented on #613
fixed#613

[2020-08-01 20:20] #613 closed

[2020-08-01 20:20] johnr54321 commented on #593
fixed#593

[2020-08-01 20:20] #593 closed

[2020-08-01 20:22] johnr54321 commented on #674
this is not applicable.  We need to add any search terms to something visible in the page.

[2020-08-01 20:22] #674 closed

[2020-08-01 20:23] #499 closed

[2020-08-01 20:23] #527 closed

[2020-08-01 20:24] #576 closed

[2020-08-01 20:45] johnr54321 commented on #508
done.

[2020-08-01 20:45] #508 closed

[2020-08-01 20:48] johnr54321 commented on #592
@tan-nate @adamkendis I'd make sure you've coordinated with all the other devs on this.  I think there may be potential for overlap on this one: https://github.com/hackforla/311-data/issues/740.  Please ref work already done by jake here: https://311-data.vercel.app/

[2020-08-01 20:48] adamkendis commented on #632
@johnr54321
I believe this is resolved. The cookie notice is appearing on all pages on first page load. After clicking the "Got it!" button, the notice won't appear again in the same browser tab even if the page is manually refreshed. The notice re-appears if the site is visited in another tab/browser. Let me know if there's still an issue or if this can be closed.

[2020-08-01 20:50] #632 closed

[2020-08-01 20:55] johnr54321 opened #765 "Update footer link to "Powered by volunteers from Hack for LA""
# Description
Currently, it says powered by Empowerla.  The truth is we did the work, own the URL, wrote the code, etc.  We are proud of our partnership with EmpowerLA, but it is just that, a partnership.

## Action Items
- [x] Update to say "Power by volunteers from Hack for LA"
- [x] Should link to: https://www.hackforla.org/#projects

## Resources
Screenshot of existing footer:
![Screen Shot 20

[2020-08-01 20:56] johnr54321 commented on #765
![Screen Shot 2020-08-01 at 10 50 50 AM](https://user-images.githubusercontent.com/20999589/89110362-d3fdc900-d3fe-11ea-8dae-fef714e0fefd.png)

[2020-08-01 21:03] adamkendis commented on #592
@johnr54321
Thanks for the heads up. This issue was discussed with Jake on 7/30. It seems very unlikely that we'll be able to integrate the new map before launch, so we're going to mimic the smaller pin functionality in Jake's demo as closely as possible in the existing app (for now). Shifting to the new map will a large undertaking.

[2020-08-02 22:11] jmensch1 commented on #740
hi @kevindperez, do you have a link to your mockup for this? I was looking around in figma but didn't see it. Thanks

[2020-08-02 23:23] croor005 commented on #2
2. Extract environment variables from cypress code
I noticed a couple of magic strings in your code that would ideally be put into the environment. These are the ones I'm talking about (and I may have missed some):

CYPRESS_RECORD_KEY -- this can easily be put into a Github secret

MAILOSAUR_API_KEY -- I see this is in the config.js file. Not sure if there's a way cypress can read from the environ

[2020-08-03 15:07] kevindperez commented on #740
@jmensch1 Heres the link: https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A2
You can find what I currently have under the "Desktop Version" page and it'll be the last screens on the bottom under "New in Progress"

[2020-08-04 02:31] johnr54321 commented on #764
@danarchen @yuenyilam

Looking for background image to what is on twitter now with 311 but with:
Title: 311 Data Project
Subtitle: Visualization and Analysis for your Neighborhood
H4LA in bottom right hand corner

What's the ETA?  Hoping to get this to the city soon.  Thanks.

[2020-08-05 05:58] #756 closed

[2020-08-05 05:58] #765 closed

[2020-08-05 15:49] #744 closed

[2020-08-06 02:21] johnr54321 commented on #740
@jmensch1 Let us know if you need anything else.  Also just want to make sure you are aware of the work being done in #592 so you could coordinate with Nate on his piece.

[2020-08-06 06:58] johnr54321 commented on #764
Sent to City.  Attached image here.
![311-Data Dot Org Announcement4](https://user-images.githubusercontent.com/20999589/89501038-87f0b280-d777-11ea-9c77-caf006941785.jpg)

[2020-08-06 06:58] #764 closed

[2020-08-06 22:34] danarchen commented on #757
@johnr54321 here's another version

https://drive.google.com/file/d/1YIKDgoBM9cYZoYYqSwcKDeW6hriYohLH/view?usp=sharing

[2020-08-07 06:13] johnr54321 commented on #761
@danarchen Asked what we need on the form.

I'd say:
Name, Email, Representing (E.G. K-Town), General Availability, (E.G. M-F 3pm - 5pm)

[2020-08-08 19:35] danarchen commented on #761
Let me know if this will do:

https://forms.gle/Apt8qh4iYoZypAA57

[2020-08-08 22:49] #561 closed

[2020-08-14 03:24] johnr54321 opened #782 "EPIC: Analysis Tool Redesign"
# Description
We need to better understand how we can break our features into beginner / advanced features, make the site more responsive, less confusing, and easier to use.
- Segmentation of Users and features for them
- Increased Responsiveness (27k max)
- Combine Tools

## Action Items
- [ ] Get a list of all features and divide them up into beginner / advanced
- [ ] Design the initial user exp

[2020-08-14 04:29] adamkendis commented on #592
I'll pick this up this weekend.

[2020-08-19 16:40] tan-nate commented on #782
hey guys, I did a bit of work on this with the branch [compartmentalized-visualization](https://github.com/hackforla/311-data/tree/compartmentalized-visualization)

[2020-08-19 17:17] jmensch1 commented on #782
nice Nate!

here's a link to Nate's work: https://311-data-gcu3xwi6k.vercel.app

[2020-08-19 18:47] adamkendis commented on #757
Completed last week. Swapped out the social-media-card-image.png in production s3 bucket with the new image.

[2020-08-19 19:57] #758 closed

[2020-08-19 23:33] adamkendis opened #784 "FAQ Page"
# Description
Replaces #559.

New mockups in Figma:
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A2

Draft FAQ content here:
https://docs.google.com/document/d/15g8psA9-w6BCEj-JxSNuLgSf0BEqLvjXrlMFK2i8EGk/edit

## Action Items

**Priority:**
- [x] Implement list of FAQs that can be collapsed/expanded on mouseclick or via keyboard.
- [x] Text-only FAQs should be a sing

[2020-08-19 23:33] adamkendis commented on #559
Issue replaced by #784.

[2020-08-19 23:33] #559 closed

[2020-08-19 23:34] #757 closed

[2020-08-20 23:48] mattyweb opened #785 "[FEAT] Refactor server object caching"
# Description
There is a need to refactor the caching mechanism. There are currently a few different cache configurations: disk (picklecache) and redis. Redis infrastructure is stood up but not currently used. There are some redundant cache calls between getting the clusters and heatmap. The caching is also not threadsafe and could cause an issue if simultaneous writes were tried. Complicating thi

[2020-08-21 04:42] #581 closed

[2020-08-21 15:54] danarchen opened #786 "Redesign hero image on homepage"
## Description
Replace / redesign hero image.
New image should tell audience what our site does, and not just a view of Los Angeles. (Don't get me wrong, it looks awesome!)
## Action Items

- [x] Create/replace image

- [x] Provide image to frontend

## Resource

- image size: 1920 x 1080 (16:9)

[2020-08-22 18:57] mattyweb opened #788 "[FEAT] Enable database migrations"
### Overview
Currently there isn't a consistent way to manage changes to the database once it's in production. We will want to be able to add tables, columns, etc in a consistent way across environments that is in source control and tied to releases. This might also be useful in creating test fixtures for integration tests against a real database.

### Action Items
Since we're already (lightly) us

[2020-08-22 19:05] mattyweb opened #789 "[FEAT] Create integration tests and/or unit tests with data fixtures"
### Overview
Currently there are a few pytests, some API tests, and some UI tests in the project. These tests are good at ensuring that there are no errors and the major functions return 200 or otherwise don't bomb out, but I don't think there is anything that is validating that function is returning an expected value. We should have some tests to that effect. Perhaps integration tests with a stat

[2020-08-22 19:41] mattyweb opened #790 "[FEAT] Cluster pins by NC at highest zoom levels"
### Overview
At the moment we are using pysupercluster to group pins as the user zooms in towards the lower zoom levels. The problem is that these clusters don't really mean anything. They are just showing groups of pins that don't correspond to any geographic boundary. It would be better to cluster pins by NC at the higher zoom levels and then once the user had zoomed in far enough where they wer

[2020-08-22 21:57] adamkendis opened #791 "Investigate issues with NC boundaries"
# Description

This is an investigatory ticket to identify any potential issues with the most recent NC boundary data available on data.lacity.org. Any issues discovered should be documented here.

A site user informed us that the North Hollywood Northeast Neighborhood Council boundary on the map is incorrect. Our boundary data has Vanowen as the southern boundary of NoHo NE. The EmpowerLA council

[2020-08-24 00:43] jmensch1 commented on #366
we're using a AWS load balancer now that encrypts everything with a cert

[2020-08-24 00:43] #366 closed

[2020-08-24 00:44] jmensch1 commented on #622
this is done

[2020-08-24 00:44] #622 closed

[2020-08-24 00:50] jmensch1 commented on #789
Yep you're right, our current backend tests are basically smoke tests. They don't check return values, which would be way better.

Linking #360 which has some additional testing research.

[2020-08-24 00:52] jmensch1 commented on #788
Alembic certainly seems promising. Their docs look pretty good.

[2020-08-24 00:53] jmensch1 commented on #790
related to #791

[2020-08-24 00:57] jmensch1 commented on #785
Those libraries both look good. I like how beaker lets you choose between different backends (Redis, file, memory, etc.)

[2020-08-24 15:22] JRHutson commented on #790
@jmensch1 It looks like this could use the same logic that I added for the transition from tooltip on mouse-over to displaying all NC names. I think it's the "ZoomThresholdMet" state. If it needs to break at a different zoom level it would need a separate state.

Basically when zoomed out beyond a point you would want to switch the marker display to display a single marker for each NC with a count

[2020-08-25 03:50] jmensch1 commented on #790
ok cool, thanks. Sounds like Matt figured out the geopandas part. This will be useful when we get to the frontend.

[2020-08-25 19:57] danarchen commented on #755
Design is not set yet, it seems there will be iterations..
Please hold off. Thanks!

[2020-08-25 21:28] #789 closed

[2020-08-26 15:59] mattyweb opened #793 "DEV SITE: pin tools tips not working"
The pin tool tips are hanging.

The error is: "TypeError: datetime.datetime(2020, 6, 11, 0, 0) is not JSON serializable"

The react app is expecting the dates to be in epoch format:

"srnumber": "1-1603278781",
"createddate": 1587380195,
"closeddate": 1587995294,

The API needs to be refactoring all dates accordingly.

[2020-08-26 16:57] #793 closed

[2020-08-26 19:56] kevindperez commented on #714
The Nielsen Norman Group has some great suggestions on what to do and not to do with pop-ups and modals (https://www.nngroup.com/articles/popups/). The ones that seem most applicable to keep in mind for this is issue:

1) **Never** show a popup before users can glean value from your website
2) **Never** interrupt a user's task
3) Ask for feedback **after** critical tasks are completed or provide a

[2020-08-27 19:45] mattyweb opened #795 "Clicking pin near the top of the map causes a ton requests"
My GUESS at what is going on is:
* The app currently sends new cluster requests every time the map is moved.
* Clicking a pin near the top of the map causes the map to move to show the full pin and tooltip
* This moving happens pixel by pixel and thus creates dozens of API calls

Proposed Solution:
* Move map first (maybe center the pin?) before sending the cluster request

[2020-08-27 19:48] adamkendis commented on #795
Great catch. I was able to easily reproduce this as well.

[2020-08-27 20:00] mattyweb opened #796 "[FEAT] Refactor Backend API to fully utilize async and optimize ORM"
### Overview
The Sanic backend has lots of issues. We are using it since it theoretically should be faster as it is asynchronous but many of the underlying libraries are not. Sanic itself has poor documentation and seems to be under fitful development.

### Action Items
[ ] Create new optimized database views
[ ] Create new API engine to serve read-only data from views
[ ] Create compatibility rou

[2020-08-27 20:25] tan-nate commented on #782
hey guys, I added some rough features to [compartmentalized-visualization](https://github.com/hackforla/311-data/tree/compartmentalized-visualization) to allow toggling between open/closed requests and scrolling through the weeks, although the actual data isn't truly closed requests, it's just the data that's currently on the site

[2020-08-27 20:28] jmensch1 commented on #782
nice! i’ll push it to vercel this afternoon

On Thu, Aug 27, 2020 at 1:25 PM Nate Tan <notifications@github.com> wrote:

[2020-08-27 20:56] jmensch1 commented on #782
here's the link: https://311-data-2aovzttt2.vercel.app Looking good!

[2020-08-27 22:53] adamkendis commented on #786
Hey @danarchen , I neglected to consider the heights of the header and footer in regards to hero image dimensions when we last discussed this. Our combined header+footer height is 114 pixels. Could we try an image with dimensions of 1920 x 966 pixels?

[2020-08-27 22:56] adamkendis commented on #584
**Status 8/27**: Roughly 75% of frontend components completed.
**ETA**: Will be completed and on dev by 8/30.

[2020-08-27 23:02] adamkendis commented on #238
@johnr54321

Closing stale issue. This is now working properly as long as the pull request properly references the issue with `Fixes #<issue_number>`.

[2020-08-27 23:02] #238 closed

[2020-08-27 23:12] adamkendis commented on #562
@danarchen Can you confirm if this has been eliminated or redesigned?

[2020-08-27 23:41] adamkendis commented on #592
**Status**: Small circle pins rendering on the Leaflet map but render speed still isn't where I'd like it to be. ~5 sec for 25-30k pins, ~15-20 sec for 75k pins on local server. Pan/zoom performance is smooth. Working on an idea to improve perceived load time by progressively rendering subsets of pins split by request type. Rather than the map hanging for several seconds with all pins appearing at

[2020-08-27 23:48] tan-nate commented on #782
Thank you Jake!!

[2020-08-28 02:55] hannahlivnat commented on #582
@adamkendis I updated the checklist with some of the specific items missing for each page. The majority of content seems keyboard accessible apart from an element or two on each page!

[2020-08-31 15:50] hannahlivnat commented on #784
The current mockups in figma are with all-text content, would it be possible to get mockups incorporating the image / text layout for the faq that have one or multiple images? @adamkendis

[2020-08-31 23:02] adamkendis commented on #784
@danarchen
Any chance your team has bandwidth available to mock up a few of the FAQs that include images?

@hannahlivnat
Let's see what Dana says. If they're busy this week, feel free to move forward using your best judgment.

[2020-08-31 23:09] danarchen commented on #784
I'll ask Yuenyi to see if she can get something by this Thursday.
She didn't get access to the FAQ document till last week...

[2020-08-31 23:20] adamkendis commented on #582
@hannahlivnat Excellent, thanks! It looks like this ticket will be much easier than we thought.

[2020-08-31 23:21] danarchen commented on #786
@adamkendis let me know if resizing works.

![heroimage1920x966](https://user-images.githubusercontent.com/62914516/91777932-02112d00-eba6-11ea-9576-9512b04eb49a.png)

[2020-08-31 23:31] danarchen commented on #786
![heroimage1920x966](https://user-images.githubusercontent.com/62914516/91778479-70a2ba80-eba7-11ea-9935-16948c20bd27.png)

@adamkendis let me know if this one works better

[2020-09-01 00:09] adamkendis commented on #562
UI/UX will discuss possible redesign at this week's meeting.

[2020-09-01 00:13] adamkendis commented on #628
Related #791

[2020-09-01 01:02] adamkendis commented on #782
@danarchen @jmensch1 @tan-nate
It's looking very likely we'll have the required v1 features complete within the next two weeks or so. When these are complete, it would be great if we could have another all-devs + UI/UX meeting to go over the latest work on Nate/Jake's mapbox branch. Objectives for this meeting would be:

1. Identify concrete features for v2.
2. Get features to UI/UX for opinion an

[2020-09-01 02:52] mattyweb commented on #795
It actually looks like sometimes this behavior is crashing the app.

Now when I'm clicking on a point at the top of the screen I'm seeing some blank screens...

![image](https://user-images.githubusercontent.com/10199792/91789364-5f67a700-ebc3-11ea-9c52-bcf4a04472e9.png)

[2020-09-01 03:04] jmensch1 commented on #782
Two weeks? That’s great. Like the plan

On Mon, Aug 31, 2020 at 6:02 PM Adam Kendis <notifications@github.com>
wrote:

[2020-09-04 00:49] adamkendis commented on #592
**Status:** Wasn't able to complete ticket this week. Popups for circle pins are now working though there is a layer ordering issue with the NC boundaries layer. Need to fix this and finish up performance improvements this week.

[2020-09-04 02:30] adamkendis opened #801 "Identify v1 app issues (devs)"
# Description
This is a brain dump for any issues we've identified with the current app from the user's perspective. We'll compare notes with UI/UX on Thurs, 9/10. This will allow the team to design and develop v2 features that resolve v1 problems.

All devs are free to edit this ticket and add bullet points under Action Items.

## Action Items

- [ ] Too many clicks to view any data.
- [ ] Too ma

[2020-09-04 02:35] adamkendis commented on #562
New design:

https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A2

![Screen Shot 2020-09-03 at 7 35 10 PM](https://user-images.githubusercontent.com/40484278/92193222-9e446980-ee1c-11ea-956b-5e2e4847be4d.png)

[2020-09-05 01:46] mattyweb commented on #801
1. Should homepage start with About page? It's a bit dull. Might want to start with something more flashy.
2. Map filter overlay/menu is covers 40% of the map. Clicks seem to center behind it. Maybe it should collapse when the user hits submit? Could there be a collapsed mode that still shows the highlights of the filters (e.g. date range, a few councils, a few request types)? It could then expand

[2020-09-05 19:43] mattyweb opened #802 "Discussion: data quality / data handling issues"
Was running some API tests and was noticing some discrepancies between some results which started me digging into the 311 data where I saw some issues. Apologies if this ground has already been well-trod but would like to understand how the project has decided to handle problems with the quality of data coming from the 311 system.

First, a quick recap of the current data loading approach as I und

[2020-09-05 19:46] mattyweb commented on #802
Some more information about data quality issues...

The missing NCs:

- (2,"OLD NORTHRIDGE CC")
- (65,"BRENTWOOD CC")
- (117,"PACIFIC PALISADES NC")
- (122,"HISTORIC FILIPINOTOWN NC")
- (123,"UNITED FOR VICTORY")

[2020-09-05 20:57] jmensch1 commented on #802
Hey @mattyweb, thanks for starting this. It's an important discussion, and we should definitely address a lot of these issues in version 2. Adding other devs: @adamkendis @hannahlivnat @tan-nate @JRHutson

Your description of the process above is mostly complete. There's some minor data cleaning that happens in the staging table before we copy to the requests table. Also, the API calls are based o

[2020-09-09 19:52] hannahlivnat commented on #784
@danarchen @adamkendis -- The mockups with the expanded faqs look great! I had one question for the top menu bar images. The text within the mockup is different from the text that's on our live site.

Example: 'Explore My 311 Data' vs. 'Explore My Council's 311 Data', 'Compare Councils' vs. 'Compare Different Councils'

Should I stick with the text from the Figma or take a screenshot from the curr

[2020-09-09 19:56] adamkendis commented on #784
@hannahlivnat - Could you take new menu bar screenshots from the current site? We should keep the FAQs consistent with what we have live. We'll just need to remember to update the FAQs if we make any changes.

[2020-09-09 20:06] hannahlivnat commented on #784
@adamkendis will do, thank you!

[2020-09-09 23:28] hannahlivnat commented on #784
**Issue update:**
- Currently have basic q&a layout from figma and able to filter through questions by search.
![Screen Shot 2020-09-09 at 4 22 45 PM](https://user-images.githubusercontent.com/54752231/92664622-5197dd00-f2b9-11ea-915d-96161e0d3ba0.png)
![Screen Shot 2020-09-09 at 4 23 02 PM](https://user-images.githubusercontent.com/54752231/92664626-5361a080-f2b9-11ea-95a9-adb357351682.png)

**Wo

[2020-09-10 00:46] #584 closed

[2020-09-10 01:49] #653 closed

[2020-09-10 01:52] tan-nate commented on #786
another potential design: https://www.figma.com/file/sIeGaO3sMLA0zjIeLmHpmq/home-page?node-id=0%3A1

[2020-09-10 02:23] adamkendis commented on #653
Hey @tan-nate, was this closed in error?

[2020-09-10 02:38] tan-nate commented on #653
I just figured 786 supersedes this

[2020-09-10 02:42] adamkendis commented on #653
Got it, makes sense! Best to leave a closing comment if there's no linked PR.

Ticket replaced by #786

[2020-09-11 00:23] adamkendis commented on #592
**Status:**

**Layer ordering problem with small pins:** Made some progress on this. Fairly certain it's narrowed down to a z-index issue with the overlay panes.

**Small pins performance:** Unfortunately, the attempted improvements this past week haven't had a significant impact and the leaflet map still isn't on par with the mapbox map (vercel demo) in terms of initial render and smooth zooming.

[2020-09-11 00:28] jmensch1 commented on #801
Maybe instead of thinking of the app as two discrete categories -- the map and the visualizations -- we can think of it instead as a set of views on the underlying data. Some of them may involve a map, others might not. The views don't necessarily have to share a set of identical filters -- they can each have their own controls. We could just pick some of the coolest data-based UI's we can find an

[2020-09-14 18:49] johnr54321 opened #807 "Update NC Boundaries per City"
# Description
The department of Neighborhood Empowerment has updated boundaries that have not yet been translated to to some other departments.  In order to have the most updated NC Boundaries, we should update to the latest.

## Action Items
- Update our site to use the latest shape files.
- Test to ensure they don't break the site

## Resources
[New 2018 Maps files.zip](https://github.com/hackfo

[2020-09-15 17:12] alexchoiweb commented on #582
Hey everyone, I was able to get a few things checked off
-Filters menu skip navigation
-custom date range picker X
-District selector modal tab to +
-District selector modal tab to X

Will continue to work on the rest of the checklist.

[2020-09-15 19:56] JRHutson commented on #807
@johnr54321 I was able to convert the gdb file to a geoJSON. There is a small bit up around Edwards AFB that it tied to the Sunland NC. Need to do some editing to delete it. Then I'll push a branch with the updated boundaries.

[2020-09-17 17:19] danarchen opened #808 "Accessibility: Colorblindness Palettes"
### Dependency
- Waiting on this https://github.com/hackforla/311-data/issues/1157.

### Overview
We need to add a user toggle selection feature to the website so that users can select color pallets that meet their accessibility requirements

- Red / Green
- Blue / Yellow

### Action Items

- [x] Choose colors
- [x] Get [colors and palettes](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Da

[2020-09-17 17:29] adamkendis commented on #807
@jmensch1
Updated NC boundaries included in this ticket. Any thoughts on how we should reconcile this with the data on the back end - maybe during nightly ingestion?

[2020-09-17 17:46] jmensch1 commented on #807
@adamkendis
Hey, I'm not sure yet what kind of reconciliation will be necessary. If there aren't any changes to the NC id's we may not need to do anything on the backend. Let's discuss tonight.

[2020-09-17 18:25] adamkendis opened #809 "Map/chart additional screenreader support"
# Description
The map and charts currently provide no useful information for screen reader users. A written representation of what is displayed on the map/charts should be provided for screen readers.

### 1. Map
 - User selects:
   - Last Month
   - Arleta
   - Bulky Items, Metal/Household Appliances

 - User tabs to Submit button and hits space.

 - User tabs to the map (this should be the first

[2020-09-17 18:43] adamkendis commented on #807
@jmensch1
Might not be able to make tonight's meeting - unsure yet. I think we'll need to update some NC ids or the NC boundaries displayed on the map will be at odds with the data. Here's an example:

**North Hollywood Northeast and NoHo NCs**
Our site: southern boundary is Vanowen.
Updated boundary data: southern boundary is Victory (part of NoHo NC on our map).

See images below. It seems we'd

[2020-09-17 18:52] jmensch1 commented on #807
Ok, yeah I see what you’re saying. So right now the backend doesn’t assign
NC ids to individual requests — the city assigns the ids to the requests
(in socrata) and we just assume that the city is correct. So i guess we’re
talking about adding a step to the nightly update that assigns NC ids based
on the new boundaries. Plus I guess we’ll need to recode the existing
requests in the DB to reflect t

[2020-09-17 19:07] adamkendis commented on #807
Yeah, exactly what you said. This would add a step to the nightly update to check if the NC id for each request we get from Socrata is valid based on the new boundary files we received and update them accordingly before storing in our db. I'm guessing this could significantly increase the time it takes for nightly update.

Hoping the same as you re the city updating their own data with current bou

[2020-09-17 19:31] JRHutson commented on #807
I would agree that the city updating their data would be the ideal.

If that is not feasible currently and we wanted to update the data, it could be done with GeoPandas. We would need to decide how to handle the areas where there is overlap between NC's as well.

[2020-09-24 02:32] #558 closed

[2020-09-24 03:10] #562 closed

[2020-09-24 15:52] mattyweb opened #813 "Expanded pins at lowest level do not show tooltip the first time clicked"
**Describe the bug**
Little hard to describe but at the lowest level of the map (highest zoom...17?) there still may be a cluster of 2+ pins. Clicking the cluster expands the pins with lines connecting them to a transparent version of the cluster. However when the pins themselves are clicked the first time instead of showing the tooltip for the pin the pins just disappear into the cluster again. I

[2020-09-24 18:41] #784 closed

[2020-09-24 23:51] adamkendis commented on #592
**Status:** webGL layer is working and fast. I just need to fix an issue with jagged edges on the dots when zoomed far in and some code cleanup. ETA tomorrow if not completed by tonight's meeting.

[2020-09-25 00:42] mattyweb commented on #807
Did you guys discuss enabling GIS extensions for Postgres? If we did need to encode NCs from the service requests in bulk that'd probably be the fastest way to do it. Having geometries in the DB could open the door for other features in the app.

I also posted a bit about this in another ticket, but it becomes tricky if we can't treat these data sources as systems of record. It's hard to know what

[2020-09-25 00:57] jmensch1 commented on #807
We haven't discussed GIS extensions for Postgres but I think it's a great idea and would probably open a bunch of doors. There's some code in ballotnav that might be helpful. https://github.com/hackforla/ballotnav/blob/master/backend/db/create-postgis-extension.sql

[2020-09-25 01:10] mattyweb commented on #807
I did take a quick look at the new GeoJSON file and it doesn't look like it has the changes for the website file. The differences are pretty minor and I'm sure they can be handled manually, but the drift could get worse and worse over time. Would be good to have an idea on how frequently these files will be changing.

[2020-09-25 02:15] JRHutson commented on #807
@jmensch1 What functionality are you thinking of opening up with PostGIS? It seems like Mapbox is opening up a lot of new options from what was in the demo you shared. Ex. Calculating the total of each category within a radius of the address entered. Are there things that mapbox won't support or are there interfaces where we wouldn't want to use mapbox?

[2020-09-25 05:14] jmensch1 commented on #807
So the only specific functionality I had in mind was a location-based
search in regards to "version 2". Like finding all requests within a
certain radius of the user's location. I imagine there's other cool stuff
we could do with it, seems like cool tech I just haven't explored it very
much.

On Thu, Sep 24, 2020 at 7:15 PM Regan <notifications@github.com> wrote:

[2020-09-25 17:12] mattyweb commented on #807
Building on @jmensch1 here, what I'd really like to do as a user is set up an immediate area around me and "watch" it for new 311 calls. For instance, to get an alert whenever there's a new graffiti report on my block.

For me, and many people I suspect, the NC is still too big of an area. I live in DTLA but that doesn't mean I care about what's going on around the Staples Center which is 12 block

[2020-09-25 17:47] jmensch1 commented on #807
Ohh nice, that’s a great idea

On Fri, Sep 25, 2020 at 10:13 AM Matt Webster <notifications@github.com>
wrote:

[2020-09-25 20:35] JRHutson commented on #807
I agree.

If we don’t have user logins then there would have to be a way to unsubscribe.

Has there been discussion of supporting user accounts?

[2020-09-25 20:52] jmensch1 commented on #807
Accounts have been mentioned but it’s always been pretty vague. I don’t
think we’ve ever had a clear picture of what kind of user-specific
functionality we want to provide.

On Fri, Sep 25, 2020 at 1:35 PM Regan <notifications@github.com> wrote:

[2020-09-26 16:53] JRHutson commented on #807
@jmensch1 @mattyweb I'm going to open a separate issue for discussion of user notifications. I think there's a way it could be done.

[2020-09-26 17:14] JRHutson opened #816 "[FEAT] Enable Users to "watch" service requests or neighborhoods and get notifications"
### Dependency
Check with user feedback on value after v2 launch and widget integration with NC sites.

### Overview
@mattyweb suggested that users might want to be able to receive text or email alerts when there is a new 311 request near them.

### Action Items

1. Would require addition of PostGIS extension to the database to simplify spatial queries.
2. Would require a method of sending communi

[2020-09-26 17:35] JRHutson commented on #816
Using a service like Twilio would prevent having to identify someone's mobile carrier, but would have a cost. https://www.twilio.com

[2020-09-27 18:42] JRHutson commented on #816
@ExperimentsInHonesty Is there any relationship with Twilio that could be leveraged, or should we investigate setting something up that could be routed through gmail?

[2020-09-27 20:02] ExperimentsInHonesty commented on #816
@aws offer 62,000 sms messages a month on the their I am already paying for.  So I would use that

[2020-09-28 19:35] mattyweb commented on #816
Nice!

Would love to get direction from the User team as to how we think people would prefer to get notified (SMS, email, social media) and with what frequency (daily, weekly, etc.).

It's also important to keep in mind we currently only update data nightly...we probably don't want to be sending people texts at 3 AM...

[2020-09-28 21:47] JRHutson commented on #816
Great thoughts Matt. I can see interest in text and email, not sure about Social Media. Would be good to get end user feedback though.

Definitely need to have a delay before sending so that it is at a reasonable hour.

Should the logic be that users get a daily/weekly summary or that users get a notification when there is anything new?

I had been thinking about it as anything new but users may p

[2020-09-29 22:41] mattyweb commented on #816
I'm thinking that giving users the choice of a daily and/or weekly summary either for their NC (or a sub-area if we can figure out how to do that) makes the most sense. Maybe they could also choose which problem types they were interested in getting alerted about.

BTW, the other notification I can see users being interested in would be for service request status updates. That is, the pins could h

[2020-09-29 23:50] mattyweb opened #817 "[FEAT] Enable user authentication"
Using this as a discussion topic for us to look at what user authentication would look like in the context of 311 data. The outcome of this work would be the ability to uniquely identify a user coming to the website and offer some kind of a personalized experience.

Some key questions are:
1. What are examples of new features we could enable with user authentication?
2. What are the security impli

[2020-09-30 00:02] mattyweb commented on #817
I'm gonna respond to my own question by focusing on #2: the security implications.

I would *vastly* prefer a solution where authentication was done externally (e.g. using Facebook login or an equivalent). Bottom line is it would be great to avoid having to store usernames and passwords ourselves and deal with maintenance tasks like password resets.

Our user authentication system could be as simp

[2020-10-01 21:17] #592 closed

[2020-10-01 21:20] adamkendis commented on #644
Mooted by elimination of clusters.

[2020-10-01 21:20] #644 closed

[2020-10-01 21:20] adamkendis commented on #461
Mooted by elimination of clusters.

[2020-10-01 21:20] #461 closed

[2020-10-02 00:38] adamkendis commented on #582
Tweaking appearance/functionality of skip links and adding a few missing keypress handlers.
ETA tomorrow.

[2020-10-23 02:54] mattyweb opened #822 "[FEAT] Introduce pseudo-groups for service requests"
Was looking at the 311 website a bit and it feels like we might be lacking a bit of helpful fidelity to the 311 service request structure. To wit, if you look at the [create a request page](https://myla311.lacity.org/portal/faces/home/service/service-request) you see that most of the types are grouped by some kind of category or city department.

I was thinking that doing a similar grouping on 311

[2020-10-25 23:55] jmensch1 commented on #822
I like the grouping-by-color idea. Maybe the requests in the same group could have different shades of the same color so they'd still be distinguishable.

[2020-10-31 20:09] #809 closed

[2020-10-31 22:30] #582 closed

[2020-11-02 22:42] mattyweb commented on #822
Yeah, we could just as easily set our own colors for these such that all trash requests were shades of yellow, all repairs shades of blue, etc.

A combination of names and color palates should make it more obvious which of these items are related to one another.

[2020-11-03 00:07] adamkendis commented on #813
Clusters/old map markers eliminated.

[2020-11-03 00:07] #813 closed

[2020-11-03 01:18] adamkendis opened #828 "Request type selector (desktop/tablet)"
# Description

Desktop/tablet 311 request type selector.

## Action Items

- [x] Implement multiselect using SelectorBox component.
- [x] Selected values should be rendered as material-ui Chip components color-coded by request type color.
- [x] Deselect options by tapping 'x' on the chip.

## Resources

https://material-ui.com/components/chips/

[2020-11-03 01:19] adamkendis opened #829 "Create tri-state toggle switch component"
# Description

## Action Items

## Resources

[2020-11-03 01:21] adamkendis opened #830 "Date range selector"
# Description

## Action Items

## Resources

[2020-11-03 01:23] adamkendis opened #831 "Create reusable two-state toggle switch"
# Description

A two-state toggle switch will be used to switch between Basic and Advanced menus.

## Action Items
- [ ] Implement a ToggleSwitch component using material-ui (if possible). See link in resources.

## Resources
![Screen Shot 2020-11-12 at 5 50 07 PM](https://user-images.githubusercontent.com/40484278/99018695-92a5ab00-250f-11eb-8058-ed34febd3ef8.png)

Material-UI (see customized swi

[2020-11-03 01:33] adamkendis opened #832 "Collapsible filter menu panel (desktop)"
# Description

Gear icon #835
Basic/Advanced switch #831

This menu provides the primary map/visualizations controls.

## Action Items

Don't implement the actual filter/selector controls under this ticket.

- [x] Implement collapsible floating menu.
    - [x] Functional component using React Hooks strongly encouraged.
    - [x] Styling via one of material-ui's styling options.
    - [x] Collapsed

[2020-11-03 01:36] adamkendis opened #833 "Filter menu - bottom drawer (mobile)"
# Description

This menu drawer will provide the primary map/visualizations controls for mobile.

See #832 for desktop menu.

## Action Items

Don't implement the actual filter/selector controls under this ticket.

- [ ] Implement sliding bottom drawer menu using material-ui [Drawer](https://material-ui.com/components/drawers/) component.
    - [ ]  Functional component using React Hooks strongly

[2020-11-03 01:39] adamkendis opened #834 "Request type legend - map - collapsible (desktop/mobile)"
# Description

A collapsible map legend displaying request type names and colors.

## Action Items

**Standard stuff:**

  - Functional component using React Hooks strongly encouraged.
  - Styling via one of material-ui's styling options.

**Component stuff:**

1. Implement button to show map legend. Use material-ui.
    - [ ] Must be able to tab to the button. (desktop)
    - [ ] When button is f

[2020-11-03 01:43] adamkendis opened #835 "Settings/gear button - map (mobile/desktop)"
# Description

A settings/gear icon button will be used to show/hide a map settings menu.

## Action Items

- [ ] Implement a SettingsButton component using material-ui (see links in resources). This button will ultimately be used on the map to show/hide a map settings menu (but don't worry about that now!).
- [ ] The component should receive an onClick handler via props that will be passed to the

[2020-11-03 01:46] adamkendis opened #836 "Map settings menu - left drawer (mobile/desktop)"
# Description

Related to #835

On the map, a sliding side drawer containing map options can be activated/hidden.

## Action Items

Don't worry about the content of the menu. These options will be added to the menu as the map is integrated in.

- [ ] Implement a side drawer using material-ui [Drawer](https://material-ui.com/components/drawers/) component.
    - [ ] Functional component with [React

[2020-11-03 02:06] mattyweb commented on #785
- API version 2 is now on dev
- It includes Redis-based key-value caching
- The implementation is asynchronous using aiocache and aioredis
- There isn't much cache priming being done but more things can be added to cache as needed.

[2020-11-03 02:06] #785 closed

[2020-11-03 02:08] mattyweb commented on #788
- API version 2 is now on dev.
- It includes Alembic (SQL Alchemy) for database migrations.
- Alembic migrations will be run when new code is deployed.

[2020-11-03 02:08] #788 closed

[2020-11-03 02:11] adamkendis opened #837 "Integrate Dash reports into the app"
# Description

We have decided to use Dash from Plotly as the main reporting engine for 311 Data reports. The main benefit is flexibility and the authoring workflow. They are generated server-side with a dedicated server and the resulting interactive reports have their data cached nightly so they will be performant. The best plan seems to be to host the reports in iframes in the client. Some work

[2020-11-03 02:11] mattyweb commented on #796
- API version 2 is now on dev
- It uses gino and asyncpg for async database access
- It uses FastAPI for the REST endpoints
- There is a "shim" router that provides compatibility with old client
- New routes are optimized and use ISO dates and integer identifiers

[2020-11-03 02:11] #796 closed

[2020-11-03 02:12] adamkendis opened #838 "Setup front end testing frameworks"
# Description

## Action Items

## Resources

[2020-11-03 02:14] mattyweb commented on #790
Keeping this open for the time being in case we reach a breaking point trying to show all the data points at the same time on the city map. There is likely a point where we may not be able to show them all and might need to do some aggregation to the region or neighborhood council level.

[2020-11-03 19:05] mattyweb opened #839 "[FEAT] Allow users to "+1"
### Overview
REPLACE THIS TEXT -General overview of the feature

### Action Items
REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps can be divided into tasks for more than one person, we recommend dividing it up into separate issues, or assigning it as a pair programming task.

### Resources/Instruct

[2020-11-03 19:15] mattyweb opened #840 "[FEAT] Allow users to "+1" an existing service request"
We can start to support a workflow where users first check to see if an issue has already been reported before adding a new service request.

If an issue is already existing (e.g. graffiti on their building) they would simply add a "+1" to it rather than making a new request.

We could then generate reports that show the "most urgent" issues in each neighborhood or across the city.

[2020-11-03 19:21] mattyweb opened #841 "[FEAT] Enable Users to create a new Service Request"
### Dependency
This issue is dependent on user testing and surveying if SR creation support is a priority feature for our target customers. As of 2021-12-20, we have a link to creating an SR link on the FAQ page.

### Overview
In the simplest incarnation this could be a link to the My LA 311 page that allows users to make requests:

https://myla311.lacity.org/portal/faces/home/service/service-requ

[2020-11-05 22:54] adamkendis opened #843 "Update/clean up front end dependencies for v2"
# Description

## Action Items

Likely to be removed:

- [x] bezier-easing
- [x] bulma
- [x] bulma-checkradio
- [x] bulma-switch
- [x] gh-pages
- [x] leaflet
- [x] leaflet-pixi-overlay
- [x] leaflet.markercluster
- [x] pixi.js
- [x] react-leaflet
- [x] react-leaflet-choropleth
- [x] react-leaflet-control
- [x] react-leaflet-easyprint
- [x] react-leaflet-heatmap-layer
- [x] react-leaflet-markerclus

[2020-11-05 22:55] adamkendis opened #844 "Review and update webpack config for v2"
# Description

## Action Items

## Resources

[2020-11-13 01:32] adamkendis opened #846 "Identify theme colors"
# Description

When multiple components use the same colors, it would be best to store these theme colors together rather than using the same hex code in many places. This will allow quick and easy theme changes without having to dig into individual components.

## Action Items

- [x] Review Figma (Version 2_Desktop_Final) to identify theme colors that are used in multiple components. Some example

[2020-11-13 01:48] adamkendis opened #847 "Add Mapbox"
## Action Items

See https://github.com/hackforla/311-data/tree/compartmentalized-visualization/client/components/Mapbox

## Resources

[2020-11-13 02:05] #843 closed

[2020-11-13 02:28] danarchen opened #848 "Interviews + Usability Testing on V2"
### Dependencies:
Dependency: v2 needs to be completed.

https://github.com/hackforla/311-data/projects/10?card_filter_query=milestone%3A%22initial+v2+launch%22

Conduct interviews and usability testing on new designs, to see if there's any iterations needed.

- [x] Prototype designs
- [x] Create interview script
- [ ] Schedule interviews
- [ ] Perform Interviews
- [ ] Synthesize interviews

Other

[2020-11-13 03:22] mattyweb opened #849 "Add Business Improvement District (BID) Shapefiles to Map Search"
### Overview
We need users of the 311 data app to be able to find the data by multiple district types (city, county, neighborhood) to increase the reach of users within Los Angeles.

### Example
Business Improvement Districts can look up the 311 requests that are in their district boundaries.  BIDs would be treated in the app just like Neighborhood Council Districts and City Council districts.

##

[2020-11-13 03:59] mattyweb opened #850 "[FEAT] Create LA 311 Data infrastructure using Terraform"
Goal:
have the server infrastructure built with Terraform.

Benefits:
The benefits are that all the infrastructure would be stored as code and be visible to anyone working on the project. We could standardize on having all HackforLA projects use similar (though not identical) approaches with Terraform. This would allow anyone with Terraform experience to be able to support any of the projects (at

[2020-12-03 19:29] #835 closed

[2020-12-04 19:08] mattyweb opened #864 "[CMPT] Switch to hosted Contact web form"
# Description

Current approach is using GitHub issues as the repository for user contact form data. This requires a lot of both client and server-side code to maintain and a fair bit of configuration (project IDs, keys, etc.). The resulting solution is also difficult to change.

This probably doesn't make a lot of sense as a workflow either as the user is unlikely to give feedback in a way that w

[2020-12-10 18:15] adamkendis opened #869 "webpack-dev-server high CPU usage"
# Description

Webpack-dev-server has very high cpu usage with our current setup. Needs investigation.

## Action Items

- [ ] deleted node_modules and reinstalled
- [ ] installed fsevents to dev dependencies
- [ ] explicity ignored node_modules in webpack dev watchOptions

## Resources

[2020-12-18 01:20] adamkendis commented on #847
Basic mapbox map displaying open requests done #870

[2020-12-18 01:20] #847 closed

[2020-12-18 03:00] johnr54321 opened #877 "Create Style Guide for v2"

[2020-12-18 03:01] #877 closed

[2021-01-07 18:37] #836 closed

[2021-01-07 20:17] #832 closed

[2021-01-07 23:30] adamkendis opened #886 "Date range selector (mobile)"
### Overview
On mobile, the date selector is getting cut off.  We need to be able to select any day in the month.

### Details
Additionally, the way it looks now on the desktop and mobile are different from each other (see images below), and neither of them look like the Figma.  They are all pretty close

## Action Items
- [ ] Review the _Things you might look_ at section below
- [ ] review CSS or

[2021-01-08 00:14] adamkendis opened #887 "Request type selector (mobile)"
# Description

Mobile 311 request type selector.

## Action Items

- [ ] Implement multiselect using material-ui Select component. See native options as they may be better to use for mobile selector.
- [ ] Selected values should be rendered as material-ui Chip components color-coded by request type color.
- [ ] User should be able to deselect by tapping 'x' on the chips.

## Resources

https://mat

[2021-01-08 00:25] adamkendis opened #888 "Geocoder search box"
# Description

Address search box for basic user menu.

## Action Items

- [x] Add mapbox-gl-geocoder control to map for basic user menu
- [x] Map flyTo on successful geocode result.
- [x] Search by address.
- [x] Search by NC.
- [ ] Limit bounds to LA.

## Resources
https://docs.mapbox.com/mapbox-gl-js/example/mapbox-gl-geocoder/

<img width="340" alt="Screen Shot 2021-02-15 at 3 33 08 PM" src="h

[2021-01-08 02:32] adamkendis commented on #828
**Status**: Basic multiselect component implemented. Currently unstyled and without chip functionality.
**ETA**: Desktop selector to be completed over the weekend, 1/10.

[2021-01-12 06:45] rufataliy opened #890 "Add gap values to theme"
# Description
Create a `gaps.js`  file in `theme` folder and create an object with `xs, sm, md, lg` properties.
Assign values to the properties based on the sizes from the[ design guideline](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1597%3A18942).
Inspecting elements in [figma ](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1597%3A18942) shou

[2021-01-12 06:56] rufataliy opened #891 "Implement collapsible SelectorBox component"
# Description
Create a `SelectorBox `with `IconButton`that will toggle up or down arrow icons based on `expanded `state.
Have a collapsable section that could be expanded by clicking the arrow button.
Users should be able to pass down the default `expanded ` and `onToggle` props.
Should be reusable for most components. Consult [figma ](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXU

[2021-01-12 19:46] rufataliy opened #892 "Add atellier"
# Description
We need a [storybook](https://storybook.js.org/) to view and keep trackof our reusable components.

## Action Items
Add components into the commons folder to the storybook and create stories for each possible scenario based on props.
## Resources
[storybook](https://storybook.js.org/)

[2021-01-13 23:35] jevonmao commented on #887
@adamkendis I just wondered across this Hack For LA project. Very cool stuff going on! The mobile app seems to be in the designing stage. What platform is the mobile app on? Native iOS/Android or cross platform?

[2021-01-15 02:42] adamkendis commented on #828
**Status:** Selector 99% styled and functional - just need to customize the dropdown scrollbar. Pending some minor design questions for UI/UX and API casing change.
**ETA:** Tonight if style/API questions are resolved.

![Screen Shot 2021-01-14 at 6 38 13 PM](https://user-images.githubusercontent.com/40484278/104673995-aef0d000-5697-11eb-8959-bd1f5cf46794.png)

[2021-01-15 03:02] mattyweb opened #894 "[FEAT] Output API data as camelcase"
Currently, data is output as snake case and it would be easier to use in Javascript (i.e. our React client).

For instance, instead of the following snake case:
[
  {
    "type_id": 1,
    "type_name": "Animal Remains",
    "color": "#ECB800"
  }
]

We want to return the following instead:
[
  {
    "typeId": 1,
    "typeName": "Animal Remains",
    "color": "#ECB800"
  }
]

[2021-01-15 03:03] mattyweb commented on #894
@adamkendis  this look OK?

[2021-01-18 02:07] rufataliy commented on #837
I would like to take part in it and other visualization tasks.

[2021-01-20 22:37] mattyweb opened #896 "Add 2021 dataset"
# Description

Currently there is no 2021 data in the 311 Data app. The city added a 2021 dataset to data.lacity.org on 1/19 and we'd like this to appear in our app.

## Action Items

The Prefect data loading workflow needs to have the new dataset added to the config file so it can be added to the nightly data pull.

## Resources

https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA31

[2021-01-20 22:42] #896 closed

[2021-01-21 23:46] #891 closed

[2021-01-21 23:46] #846 closed

[2021-01-22 00:53] #890 closed

[2021-01-22 01:16] rufataliy opened #903 "Tabbing sticks on the gear button"
### Dependency
We are removing the gear from this layout.  Once that has been completed we can review this issue to see if tabing is still broken and update the steps to reproduce accordingly

### Overview
We need the site to work for screen readers you should be able t tab though all the navigation elements on the page from the top menu through the entire map nav

### Resources
#### Describe the

[2021-01-22 01:43] adamkendis opened #904 "Council Multiselect (advanced/desktop)"
# Description

NC/District multiselects for desktop/tablet advanced menu.

## Action Items

- [x] Implement reusable multiselect using `SelectorBox` component
- [ ] User should be able to enter search text into the multiselect input.
- [x] User-provided search text will filter matching councils in dropdown.
- [x] Selected values should be rendered as material-ui Chip components.
- [x] Tapping 'x'

[2021-01-22 01:52] adamkendis commented on #904
**Status:** Just started on this today - implementation will be very similar to the RequestTypeSelector components.
**ETA:** Should be able to complete this over the weekend 1/24-1/25 subject to feedback from UI/UX re some slight design changes.

UI/UX items:
- Combining searchable input with selected council chips could get messy. Instead, add a sticky standalone search bar at the top of the drop

[2021-01-22 02:05] mattyweb opened #905 "camelcase type count endpoints"
# Description

Both the citywide and council type count endpoints are returning snake case.

## Action Items

Change these to camel case. (They need to use a APIModel response model.)

## Resources

[2021-01-22 02:07] #905 closed

[2021-01-22 03:17] kevindperez commented on #848
UX Research recruitment request made on the UI-UX Repository

[2021-01-22 18:02] rufataliy opened #907 "Implement resuable Loader"
# Description
Implement a loader component that will take the `loading `prop and show `spinner` when it is true or the children when it is false. It **shouldn't wrap** children with any additional tags.

`<Loader loading={fetching}>`
      `anything you want to render`
`</Loader`

## Action Items

## Resources
[This could be an example](https://github.com/rufataliy/recippy/blob/master/src/views/Co

[2021-01-23 23:47] rufataliy opened #908 "Pre-commit hook"
# Description
Add linting pre-commit hooks to the git.

## Action Items
When changes are being committed first it will run a linting command and if it is successful then changes will be committed.

## Resources
https://www.npmjs.com/package/husky

Or

we can add it to git natively

[2021-01-26 20:50] kevindperez commented on #904
@adamkendis after talking with @danarchen, we have updated the design of the Council Selector on the Figma page titled "Version 2_Working Updates." I've added a light drop shadow to provide contrast with the dropdown menu and the top portion of the selector. We've also updated the text and incorporated the search bar within the dropdown. Before I push these updates onto the rest of the Figma file,

[2021-01-26 23:02] mattyweb commented on #904
@adamkendis I think it'd be a good idea to touch base on reporting again before starting this work. I'm hoping we can come up with a toolset where we don't have to build complicated reporting controls ourselves.

[2021-01-26 23:34] mattyweb opened #909 "[FEAT] Load council geometries and serve geojson from API"
# Description

Want to load the current GeoJSON into the database and create and endpoint that will serve it up from the API.

The immediate benefit is that the client won't need to bundle the (huge) file and we'll be able to update the GeoJSON without needing new client releases.

The longer term benefits are that we'll be able to do spatial queries in the app (e.g. calculate centroids, query for

[2021-01-27 18:36] #909 closed

[2021-01-28 18:35] danarchen commented on #808
@kevindperez provided new colors on Figma

[2021-01-28 18:49] danarchen commented on #848
Update: currently creating a training deck to recruit people to help interview w/ @kevindperez

Resource:
[https://docs.google.com/document/d/1W7_kTiGuoEWQ6IVFI8vDcdzzSqBpqKrr4FwJUj-OiaQ/edit?usp=sharing]

[2021-01-28 18:50] #534 closed

[2021-01-28 18:52] #569 closed

[2021-01-28 18:53] #291 closed

[2021-01-28 18:53] danarchen commented on #291
V2 mobile version is also ready on Figma.

[2021-01-28 19:14] #795 closed

[2021-01-28 19:18] mattyweb commented on #790
this is obsolete with new design

[2021-01-28 19:18] #790 closed

[2021-01-28 19:46] adamkendis commented on #904
@mattyweb sure, let's discuss at the meeting this evening.

[2021-01-28 19:55] adamkendis opened #913 "Update request types color palette"
# Description

UI/UX provided new ADA/AA compliant request types color palette. Colors need to be updated on the api.

## Action Items

- [ ] Update `color` column values in `server/api/alembic/seeds/request_types.csv`

## Resources
![image](https://user-images.githubusercontent.com/40484278/106191300-8b318d80-615f-11eb-8d8f-6bbc5abfba4f.png)

[2021-01-28 20:23] mattyweb opened #915 "Compare current geojson to new file"
Want to create a tool that compares the geojson currently on a 311 server against a new file or URL. Would like to do the comparison using geopandas or the like so we're actually comparing shapes.

[2021-01-29 00:46] #913 closed

[2021-01-29 00:48] adamkendis opened #916 "Map - fetch council geojson from API"
# Description

NC geojson has been moved from the client to the back end API. See #910
Refactor Map, BoundaryLayer, redux to fetch geojson and initialize BoundaryLayer.

## Action Items

Refactor client code to:
- [ ] Eliminate council geojson from client codebase.
- [ ] Send `GET` request to `/geojson` api endpoint on app load.
- [ ] Store `/geojson` response in redux store.
- [ ] Refactor `Map.j

[2021-01-29 01:16] tan-nate commented on #834
Still working on this, took a little while than I thought wrapping my head around Material UI. Got the expanded legend done and now just working on the collapsible feature.

[2021-01-29 03:05] captain-nimo opened #919 "Users should be able to search their own 311 requests (probably by service requests)."
### Dependency
This issue is dependent on user testing and surveying if supporting SR search on our site is a priority feature for our target customers. SRs can be searched on the LA City site.

### Overview

### Action Items

### Resources/Instructions

[2021-01-29 03:19] #916 closed

[2021-01-29 05:14] #908 closed

[2021-02-01 17:42] mattyweb opened #922 "Add Agency (owner) to database as entity"
The goal of this change is to store the city agency responsible for addressing the service request. We'd introduce a new table (agencies? owners?) which would store a list of possible request owners along with their full name (e.g. Department of Sanitation). We would also include the owner_id in the service_requests fact table.

We could then add an owners endpoint to request a list of all owners

[2021-02-02 19:33] mattyweb opened #924 "Fix CI build and test"
Currently the server CI is broken. It appears that the alembic migrations can't run because the API container cannot connect to the database container. The database container was switched to postgis recently. Also a new migration was added (for geojson data). But there have been a few cases where CI sporadically worked. Cause is unknown.

[2021-02-02 19:38] mattyweb opened #925 "Investigate alternative reporting technology and approach"
The V1 reporting solution involved using inputs from a custom UI, calling the API, running queries against the DB, processing/aggregating/calculating with pandas/numpy, before sending the output back to the client for rendering.

Ideally, we'd be able to have a data scientist-first approach where reports could be prototyped in Jupyter notebooks then included in the client with a minimum of develop

[2021-02-03 20:31] #924 closed

[2021-02-04 02:26] mattyweb commented on #922
This work should include roughly the following steps:

1. Create owners table (w/alembic)
fields: ( owner_id | owner_name | website | twitter | data_code )

2. Load data (w/alembic)
[owners.csv.zip](https://github.com/hackforla/311-data/files/5922731/owners.csv.zip)

3. Create owners model

4. Create /owners endpoint
Should return objects like this:
[
  {
    "ownerId": 0,
    "ownerName": "string

[2021-02-04 21:59] adamkendis commented on #869
Resolved via #926

[2021-02-04 21:59] #869 closed

[2021-02-05 01:35] adamkendis commented on #828
Status: A few refactor commits pushed today, 2/4. PR pending review.

[2021-02-05 02:16] adamkendis commented on #837
From @mattyweb :

Chart demos via jupyter notebook.
**Relevant libraries:** jupyter-dash, pandas, plotly (python)

https://colab.research.google.com/drive/1_22tL048ZfAGUt7Ftj4VtW5BzWQ6om7b?usp=sharing#scrollTo=dvy1IUS6F23x

[2021-02-05 02:26] adamkendis commented on #904
Status: Haven't started on the redesigned dropdown. A generic ChipList component has already been created for the selected councils.
ETA: 2/11

[2021-02-05 02:48] danarchen commented on #848
Kevin and I are in the process of creating a deck to onbard people that could help us interview users.

[2021-02-05 02:49] kevindperez commented on #877
Style guide is currently up to date and wrapped into the design system.

[2021-02-05 02:49] danarchen commented on #848
The script for the interview itself is ready.

[2021-02-05 03:50] rufataliy opened #929 "Box Selector bug on production bundle"
**Describe the bug**
`<BoxSelector/>` is rendered without static children on the production build.  It is because the component relies on the `name` prop of the children but names are uglified on production.

**Solution**
Added `displayName `prop to the static children components which is not uglified on the production bundle.

[2021-02-07 06:15] mattyweb opened #931 "Build flexible reporting endpoint"
This task is to add a simple reporting endpoint to the API. The endpoint can be used in many ways but especially Jupyter notebooks and Dash reports. The reports should aggregate by count of reported service requests. Counts can also be grouped and filtered.

Fields (dimensions) will be:

- created_year
- created_month
- created_date
- council_name
- type_name

Filters will be:

- created_date>=202

[2021-02-07 06:23] #931 closed

[2021-02-07 07:58] mattyweb commented on #850
Work is done. Change was made to merge dev and prod. These environments now share networks, ELB, bastion, and RDS. Costs are about 1/2 the previous levels.

[2021-02-07 07:58] #850 closed

[2021-02-07 07:59] mattyweb commented on #894
Seems to be working. Closing.

[2021-02-07 07:59] #894 closed

[2021-02-08 06:38] mattyweb commented on #925
First 3 reports are [posted here](https://dash-reporting.tofn9kh9mlm7g.us-east-1.cs.amazonlightsail.com/)
Prototype code is here: https://github.com/mattyweb/dash-poc

Dashboards are done with Plotly Dash: https://dash.plotly.com/
They use the new API /reports endpoint here: https://dev-api.311-data.org/docs#/default/run_report_reports_get

A good sample Dash report is here:
https://dash-gallery.p

[2021-02-08 16:50] mattyweb commented on #837
I finished the prototype version of this: https://dash-reporting.tofn9kh9mlm7g.us-east-1.cs.amazonlightsail.com/

Been tracking in a separate card: https://github.com/hackforla/311-data/projects/10#card-54099353

Next step is to figure out how to include in the client. I'm thinking there should be a menu that has those 3 reports/links and they should appear in an iframe...but there may be a more e

[2021-02-09 06:44] mattyweb commented on #925
Going to close. Remaining work to productionize:

1. Figure out how to include in React app (menu and iframe?)
2. Create file/endpoint in dash project that lists available reports and titles (for use by client)
3. Create job to recycle dash app every night (since data is cached and needs to be re-pulled)
4. Ideally get the dash app on a 311-data.org subdomain instead of Lightsail

[2021-02-09 06:44] #925 closed

[2021-02-09 18:58] mattyweb opened #933 "Add 'time to close' to the /reports endpoint as a measure"
Currently, only the count of requests is available as a reporting measure.

This feature would allow reports to be generated that use the amount of time it takes to close an issue. These could be aggregated by the existing dimensions (e.g. created_date, council_name, type_name).

Typically, this measure will need to be used in conjunction with the 'count of requests' in order to get an average tim

[2021-02-09 19:09] mattyweb opened #934 "Generate JSON for list of dashboards and titles"
Need a way for the client to download a list of the available dashboards from the dash server.

Most likely the dash server will detect reports and generate a JSON file with the reports and their titles. This can then be used by the client.

[2021-02-09 19:11] mattyweb opened #935 "Create job to recycle dashboards every night"
We need to create some kind of job to recycle dash app every night (since data is cached and needs to be re-pulled).

This could either be scheduled or more likely could be called from the prefect task.

[2021-02-09 19:18] mattyweb opened #936 "Create new production release builds"
We redid the GitHub actions for building the dev environment but need to do the same thing for the production environment.

Builds should run off of /release branches and create and tag the needed Docker images.

[2021-02-09 19:25] mattyweb opened #937 "Add Request Source to API reports and service requests (?)"
Currently, the request source is not available for reporting or on the service request detail page.

If we wanted to count the number of requests coming in from the mobile app vs the phone vs the web we'd need to include this.

NOTE: would like direction as to whether this would be used. Maybe the data team should first analyze whether source has an impact on time to close, etc.

[2021-02-09 19:26] mattyweb commented on #937
This would need to be added to the view and to several endpoints. We'd likely also need an entity for this (and API endpoint).

[2021-02-09 19:45] mattyweb opened #938 "Merge dash project into main codebase"
### Dependancy:
TBD: based on the conversation with Data Science

### Overview:
Currently the dash project is standalone. Need to include this in the 311 data project codebase and update the build tasks to create and publish the dash image.

[2021-02-09 19:46] mattyweb opened #939 "Add time-to-close reports to dash reporting"
Will probably include this in the Overview report

[2021-02-10 06:37] #933 closed

[2021-02-10 06:46] mattyweb commented on #933
After looking at this, in order to get a stats for the complete 6+M records it makes much more sense to generate these with Postgres on the API server. And given some data issues that need to be addressed and the specific functions that are used it made sense to do something specific to the request types.

Queries for the live data set still take 17s to run for all requests types, but this will ge

[2021-02-10 16:09] mattyweb opened #941 "Add reporting on city councils"
### Dependency
post v2
get District Types API from Data Science community of practice https://github.com/hackforla/data-science/issues/118

### Overview
The goal of this feature is for users to be able to report on service requests within their City Council districts.

## Assumptions

1. city will provide city council geometries in a single GeoJSON file
2. city councils will have a name and a shap

[2021-02-11 00:12] mattyweb commented on #935
A call to https://dash-reporting.tofn9kh9mlm7g.us-east-1.cs.amazonlightsail.com/reload will restart the reporting service and reload the dashboards with new data.

[2021-02-11 00:37] mattyweb commented on #935
Call works. Should probably be scheduled in prefect task.

[2021-02-11 01:43] mattyweb opened #942 "Requests endpoing default to last week's data if no limit provided"
Goal is to allow a detailed list of all service requests for the past week to be downloaded for use in reports.

https://github.com/hackforla/311-data/blob/5568d69ee76d099d233dc0dd755e6ea95963171f/server/api/code/lacity_data_api/routers/service_requests.py#L19-L19

[2021-02-11 02:06] mattyweb commented on #934
Probably fine to have this be manually edited for now:
https://dash-reporting.tofn9kh9mlm7g.us-east-1.cs.amazonlightsail.com/static/dashboards.json

[2021-02-11 06:02] #942 closed

[2021-02-11 23:44] #828 closed

[2021-02-11 23:48] adamkendis commented on #929
Resolved by #930

[2021-02-11 23:48] #929 closed

[2021-02-12 01:40] adamkendis commented on #837
Client rendering the dash prototype `/dashboards` endpoint in an iframe:
http://plotly-experimental.s3-website-us-east-1.amazonaws.com/plotly-serverside

Looking pretty good. I spent a little time translating the python plotly into client-side react-plotly. This isn't working yet and now seems like a poor use of time when the Dash app in an iframe works.

[2021-02-12 01:43] adamkendis commented on #837
Suggestion from @rufataliy
https://pivottable.js.org/examples/

The UI might be too confusing for basic users.

[2021-02-12 01:57] mattyweb opened #946 "Add configuration for Dash Report Server"
# Description
Currently URLs are all hard-coded. Would like to be able to configure them.

BTW, I'm currently thinking we'll only have 1 report server (not 1 dev and 1 prod). We can create reports and publish them but not include them in the configuration file that enables them in the client.

[2021-02-12 02:14] adamkendis opened #947 "[Map] Show service request details in popup"
# Description

We need a popup displaying service request information when a map dot is clicked. We could show more information as well as some actions that the user could do (like link out to various places or share or bookmark the item).

## Action Items

- [x] Decide on the design (new designs were shown)
- [x] Decide what data points should be displayed
- [x] Decide if there should be addition

[2021-02-12 02:15] adamkendis opened #948 "Map - hook tilesets, boundaries, color schemes to map settings menu"
# Description

Connect map modes, color schemes, and boundary selections to left drawer.

## Action Items

## Resources

[2021-02-12 02:16] adamkendis opened #949 "Map - heatmap/hotspot layer"
# Description

## Action Items

## Resources

[2021-02-12 02:22] adamkendis opened #950 "Map - comparison district overlays"
# Description

When a user is viewing two "comparison" district sets on the map, there should be a clear visual distinction between each set's councils.

## Action Items

Given the menu is toggled to `Advanced` and the user has selected two sets of councils/districts:

- [ ] The transparent fill for NC/CD boundaries in set1 and set2 should be different colors and visually distinct enough to avoid

[2021-02-12 02:23] adamkendis opened #951 "Map - exporting"
# Description

As a user of the 311-data.org website, I would want the ability to export an image of the map along with any queried 311 requests, map legend, and any other information necessary to understand what is displayed.

## Action Items

## Resources

[2021-02-12 02:24] adamkendis opened #952 "Info icon with tooltip"
# Description

## Action Items

## Resources

[2021-02-13 08:04] #946 closed

[2021-02-13 08:06] mattyweb commented on #939
Added /types/stats endpoint and report that uses it

[2021-02-13 08:06] #939 closed

[2021-02-15 21:03] mattyweb opened #954 "Add CORS checks"
Currently while CORS checks are technically in place they are set to * to receive traffic from all sources. Will want to limit this to just the web app in production. (Dev API can stay open to all.)

[2021-02-16 01:57] #922 closed

[2021-02-16 02:19] mattyweb opened #956 "Fix date bugs"
There are some issues with dates. Need a comprehensive review.

[2021-02-16 18:00] mattyweb commented on #822
We could still do this but since I added city Agency that seems like a fine way to sort things. I'm gonna close this.

[2021-02-16 18:00] #822 closed

[2021-02-16 20:56] mattyweb opened #957 "Support getting council from location (NC geocoding)"
Want to provide an endpoint that allows geocoding a neighborhood council from a latitude or longitude. The client could get the user's location as [described here](https://dev.to/codebubb/how-to-get-a-user-s-location-with-javascript-362o):

[code]

Will return 404 if there is no match.

[2021-02-17 01:19] mattyweb commented on #888
FYI, I created a ticket on the backend to get a lat and long and look up the NC from it. It's issue #957

I also think it would be great to use the browser location feature so users don't have to type in an address.

[2021-02-17 01:28] mattyweb opened #959 "Allow for "link to service request" in URL"
# Description
Basically, it would be great to have a permanent link to a service request. Some URL that had the sr number in the query string for instance. This would let people bookmark service requests, email them, etc. We could also link to them from reports!

## Action Items
Build something in the client that would parse the SR number out of the query string and show it on the map. Would just

[2021-02-17 19:48] #654 closed

[2021-02-17 19:49] #723 closed

[2021-02-17 19:49] #724 closed

[2021-02-17 19:50] #554 closed

[2021-02-19 01:58] #957 closed

[2021-02-19 02:03] adamkendis commented on #904
Status: Everything is working except the SearchBar. Filtering is working if a search term is manually coded in, but encountered an issue (?) where no input will accept text. Still trying to figure it out.

![councilselector](https://user-images.githubusercontent.com/40484278/108446702-65a21c00-7213-11eb-8086-87a50efa924e.gif)

[2021-02-19 03:46] adamkendis commented on #834
Moving ticket to prioritized backlog. In progress branch https://github.com/hackforla/311-data/tree/834-collapsible-legend

[2021-02-19 07:11] mattyweb commented on #941
Some commentary here: I'm not sure the value of including city councils is worth the confusion they cause. City councils do not share borders with Neighborhoods. That is, part of a Neighborhood A will be in City Council X and part will be in City Council Y. It's really a completely different way of mapping onto the data. Given more work to support both, supporting both would add confusion and our

[2021-02-19 07:14] mattyweb commented on #817
After thinking about this a bit, using a tool like [Autho](https://auth0.com/) or similar Identity-as-a-Service provider would save us from having to do a bunch of work and save us from the security risk of storing a bunch of person data. I'd recommend something along these lines.

[2021-02-22 02:33] mattyweb commented on #888
Question: what is the benefit of having the address search box be able to search by council name in addition to address? The neighborhood council names are not exactly easy to determine or remember. I would kind of assume that if someone knew the name of a council they'd know it's location on the map and it would be easier for them to click on it than type it in. do we have any data from v1 that s

[2021-02-22 02:40] mattyweb opened #960 "[PAGE] About 311 Data"
### Overview
Update the About us page to no longer be the landing page and will fit with the look and feel of the tool.

### Action Items / Open Questions
- [x] Is this the same content as v1? - NO
- [x] Is this the same design as v1? - NO
- [x] Define Changes
   - [ ] Add History
   - [x] Change look and feel to the new format
   - [x] Don't have giant image with arrow at the bottom.
   - [x] Und

[2021-02-22 02:42] mattyweb opened #961 "[PAGE] Help Center"
### Overview

We need a redesign of the page to look like the new tool.

## Action Items / Open Questions
- [x] Is this the same content as v1? - NO
- [x] Is this the same design as v1? - NO
- [x] redesign the Help Center page so that it fits with the new look and feel of tool and has less space wasted at the top, while being ADA compliant.

### Special note
When this page is live in the developme

[2021-02-22 02:44] mattyweb opened #962 "[PAGE] Contact Us"
### Overview

We need to redesign the Contact us page so that it fits with the new look and feel of tool

## Action Items / Open Questions
- [ ] Is this the same content as v1?
- [ ] Is this the same design as v1?
- [ ]  redesign the Contact us page so that it fits with the new look and feel of tool and has less space wasted at the top, while being ADA compliant.

### Resources
- https://311-data.

[2021-02-22 04:24] mattyweb commented on #837
To clarify, this task is really about exploring and finalizing the approach. I'll open another for building the report page.

[2021-02-22 04:31] mattyweb opened #963 "[PAGE] Reports Layout/Pages (Dash)"
# Description

- Should be the equivalent of this: https://311-data.org/comparison
- Should have menu item(s) in Header: probably a menu with a list of the available reports

[2021-02-22 04:36] mattyweb opened #964 "[CMPT] Global footer component"
### Overview

We need to have the footer display on all pages

## Action Items / Open Questions
- [x] Is it same as v1? - NO
- [x] Do we keep same footer split between map and everything else? - YES
  - [x] Document changes
    - [x] Create one footer that contains all information and trim down words as much as possible.
    - [x] Drop the version number

![Screen Shot 2021-03-11 at 7 32 49 PM](ht

[2021-02-22 04:37] mattyweb opened #965 "[CMPT] Cookies alert"
# Description

Need a message when new visitors arrive.

## Action Items / Open Questions

- [x] Is this the same? - VERY SIMILAR
- [x] Does the design change? - YES

[2021-02-22 04:39] mattyweb opened #966 "[PAGE] Privacy page"
### Overview

We need to know how the privacy policy will be displayed on V2 that is different from the current state

### Current State
There is a link to the PP on the footer on all pages except the tool
https://311-data.org/privacy

### Action Items
#### Open Questions for Design
- [x] Is this the same content as v1? - YES
- [x] Is this the same design as v1? - NO
- [x] Document changes
   - [x

[2021-02-22 04:40] mattyweb commented on #966
BTW, is there a legal/terms of service page?

[2021-02-22 04:45] mattyweb opened #967 "[CMPT] Implement integration libraries like web analytics/tracking"
# Description

- Should be the equivalent of whatever is in current v1

## Action Items / Open Questions

- [x] Is this the same as v1?
- [x] Are there any new ones?
- [x] Can we simplify it / remove items?

[2021-02-22 04:51] mattyweb commented on #951
Question: interested in understanding the purpose of this feature. What needs to be exported? The map? The other reports? I can't imagine that a print out of the map will legible with 30K+ dots. Maybe this feature was useful in v1 when there were clusters used? This feels like it could be obsolete.

[2021-02-22 04:56] mattyweb commented on #950
Question: would love to understand the goal of this feature too. Why would someone want to compare neighborhoods? And even more so why would someone want to compare more than 2 neighborhoods? If I were on a Neighborhood council I could see myself wanting to compare my neighborhood with the district average maybe. To see if I was under/over-performing somehow.

(Or maybe there would be a "similarit

[2021-02-22 04:57] mattyweb commented on #949
Question: do we still need the heatmap? Now that the map has switched from the clusters to showing the currently open data points this feature seems redundant and could be removed.

[2021-02-22 05:00] mattyweb commented on #947
This is the currently favored design:
![Iteration_5](https://user-images.githubusercontent.com/10199792/108664545-d6516e80-7487-11eb-897c-94d224f0042e.png)

[2021-02-22 05:04] mattyweb commented on #947
Here is the data we have for the SR:
{
"requestId": 1174673,
"srnumber": "1-1584096961",
"councilId": 58,
"councilName": "Mid City West",
"typeId": 6,
"typeName": "Illegal Dumping",
"agencyId": 2,
"agencyName": "Sanitation Bureau",
"createdDate": "2020-03-25",
"closedDate": null,
"address": "8670 W BURTON WAY, 90048",
"latitude": 34.0720201513,
"longitude": -118.381076886
}

We could easily show t

[2021-02-22 05:08] mattyweb commented on #864
Note that this work is for the component with the form in it. The page is tracked as a separate issue.

[2021-02-22 05:08] mattyweb commented on #952
What is this item? I don't understand.

[2021-02-24 19:34] mattyweb opened #968 "[FEAT] Add output/edge caching on API routes"
### Dependency
When we have enough traffic to warrant it

### Overview
We need to investigate cashing solutions so that our site is as fast as needed for the amount of users we have (and are going to have for the next 6 months).

#### Description
Currently, all client calls reach all the way to the API server. Many of the endpoints are RESTful GETs and provide underlying data that only changes onc

[2021-02-24 22:17] #954 closed

[2021-02-25 22:43] mattyweb opened #971 "Adding data code to councils data load (Alembic)"
Changing the councils load to use a data code. The main impact is that we can change the sorting of councils. I also changed the names of the councils to shorten them and make them more uniform. We also will be protected if the code of a nc changes (though that is unlikely).

[2021-02-26 02:10] adamkendis commented on #888
I don't know of  v1 data supporting council name search for the v2 basic user. A pure address search would definitely be easier.

[2021-02-26 02:16] adamkendis commented on #949
I'm in favor of removing the heatmap layer entirely. It seemed to cause more confusion than value in v1. If we absolutely want to keep a similar feature in v2, we should consider hotspot instead of heatmap.

[2021-02-26 02:22] adamkendis commented on #952
Here's a screenshot below. This is an info icon/tooltip on hover that provides some useful information or instructions. We have these attached to each selector in the v1 menu.

![Screen Shot 2021-02-25 at 6 19 50 PM](https://user-images.githubusercontent.com/40484278/109245884-1f5e3700-7796-11eb-8619-140114e27f3d.png)

[2021-02-26 02:22] adamkendis commented on #952
Need design for tooltip.

[2021-02-26 02:27] adamkendis commented on #962
related ticket #864

[2021-02-26 03:11] danarchen opened #972 "Request Type Descriptions"
## Description
Adding descriptions or renaming the request type to cause less confusion for users

## Action Items

- [x] Create an excel sheet of current type request terminology, terminology from the government site, what people prefer
(will need to conduct user interviews or survey to see how they would prefer it)
- [x] Adjust terminology or design
- [x] Discuss with frontend
- [ ] Frontend dev

[2021-02-26 03:11] mattyweb commented on #947
- add agency
- break add median 'days to close' into separate ticket (
- break Zoom into separate ticket (@pras4u ) and remove from this design

[2021-02-26 03:20] mattyweb commented on #949
we'll remove from v2

(we can always build this again if people miss it)

[2021-02-26 04:06] mattyweb commented on #950
- don't need the comparison ("advanced") filters for the map
- we will build the comparison logic into the Plotly dash charts
- will get a comparison report direction sample from product or UX and give to the data team to prototype
- we will iterate on the comparison reports with internal (and potentially external) stakeholders
- @adamkendis and @kevindperez will figure out what parts of the advan

[2021-02-26 04:13] danarchen commented on #966
- we can definitely update the design
- however, who wrote up the content? we're not sure what can be simplified and etc. so I guess we would need more info on this..

[2021-02-26 04:13] mattyweb commented on #967
Assumption is no changes we keep:
- mixpanel
- hotjar
- google analytics

Ready to estimate!

[2021-02-26 04:16] danarchen commented on #965
We will update the cookies design. It will be similar to what it is now; however, with the new colors.

[2021-02-26 04:17] danarchen commented on #964
Will update footer design

[2021-02-26 04:17] danarchen commented on #962
We will update v2 to include contact us in NAV and any other necessary links.

[2021-02-26 04:18] danarchen commented on #961
We will update v2 to include contact us in NAV and any other necessary links.

[2021-02-26 04:18] danarchen commented on #960
We will update v2 to include contact us in NAV and any other necessary links.

[2021-02-26 04:19] danarchen commented on #959
Suggestion: add sr link to popup?

[2021-02-26 16:00] mattyweb commented on #972
I like the idea of adding a description for each type. There might even be some existing language we can use from the different 311 systems. Overall, there is some inconsistency between the current mobile app, online and reporting and I think we can add value by helping users understand more how the 311 system works.

It would also give us a chance to describe any transformations/modifications we

[2021-02-26 16:19] mattyweb commented on #972
FYI, here is the current types file we are loading.
[request_types.csv.zip](https://github.com/hackforla/311-data/files/6050844/request_types.csv.zip)

If we agree on this approach, I would start by adding a description column to this file, loading it and exposing it in the /types endpoint. I think 100 characters is a good guess for length (e.g. "Air conditioners, dryers, refrigerator and more..."

[2021-02-26 16:38] mattyweb commented on #952
We would use Material-UI for this, right? So one of these: https://material-ui.com/components/tooltips/

Curious does UI/UX look at the options and pick their preference? (Placement, arrows, etc.) Or design something in codepen? Not sure if you already have a way of working here.

[2021-02-28 21:56] rufataliy opened #973 "onChange is not firing for SearchBar"
**Describe the bug**
It is not possible to type on SearchBar input field, onChange is not firing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '904-FRONT-council-multiselect'
2. run "npm run dev"
3. Open application on localhost and expand Filter Menu
4. Try typing on the SearchBar in CouncilSelector

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Brow

[2021-03-01 17:13] #971 closed

[2021-03-01 17:51] mattyweb commented on #949
Closing this issue as we decided we don't need heatmaps now that we have the new pin approach in v2.

[2021-03-01 17:51] #949 closed

[2021-03-01 18:04] mattyweb opened #976 "Add paging to /requests endpoint"
Should be able to specify an offset and limit when requesting data. Max items should be 100K. This will allow users to loop through multiple pages and get as many records as they want.

[2021-03-01 21:55] #937 closed

[2021-03-02 01:00] #956 closed

[2021-03-02 01:38] kevindperez commented on #965
Design has been updated. You can find it here: [https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1916%3A171](url)
![image](https://user-images.githubusercontent.com/63424114/109583504-db7c7200-7ab4-11eb-81e9-393994f9772f.png)

[2021-03-02 02:09] #976 closed

[2021-03-02 05:10] mattyweb opened #982 "Check the filtering logic on the /requests/updated route. Not sure it's correct."
https://github.com/hackforla/311-data/blob/30a95f77164d784a7eb5d57cf5897ebc551122a2/server/api/code/lacity_data_api/routers/service_requests.py#L50-L50

[2021-03-02 05:24] mattyweb commented on #972
@danarchen and @adamkendis,
I added descriptions and put it on dev. you can see it/use it here: https://dev-api.311-data.org/types
Best approach is probably to figure out where to put the tooltips, do the UI dev work, and attach to this ticket.

[2021-03-02 19:27] mattyweb opened #985 "Add new council_id to the GeoJson"
Currently it just includes the old nc_id. I'll keep that and add the council_id which is what should be used for matching.

[2021-03-02 19:27] mattyweb opened #986 "Investigate /requests performance"
Since adding new fields and paging this endpoint seems slower. Will try to speed this up.

[2021-03-02 23:53] shaswa opened #987 "Increase resolution of image on hackforla.org project page for 311 Data to 600 x 400 pixels or higher"
### Overview
All  project images on the [hackforla homepage projects section](https://www.hackforla.org/#projects) should have a 3:2 ratio and a standard resolution of 600x400 pixels or higher.

Current Resolution: 388 x 258 pixels
Current Ratio: 3:2

### Action Items
- [x] Increase resolution of image for 311 Data to 600 x 400 pixels or higher
- [ ] Update Status on hackforla/website#1105

### Re

[2021-03-03 04:09] #986 closed

[2021-03-04 00:05] mattyweb opened #990 "Tune performance (caching API status calls)"
Adding the last updated to the default cache

[2021-03-04 00:14] #990 closed

[2021-03-04 07:30] mattyweb commented on #985
Fixed along with performance

[2021-03-04 07:30] #985 closed

[2021-03-04 07:34] mattyweb commented on #934
This is obsolete. No need to generate these server-side.

[2021-03-04 07:34] #934 closed

[2021-03-04 16:43] mattyweb commented on #968
I think this is unnecessary for now. Redis caching is in place and performance looks OK.

Also, pretty sure Cloudflare would be better than CloudFront (which was a pain to configure). We should revisit once traffic gets going. Will move to icebox for now.

[2021-03-04 19:59] mattyweb opened #994 "Troubleshoot Gunicorn timeouts"
# Description

Doing load tests we sometimes see gunicorn workers restart: [1] [CRITICAL] WORKER TIMEOUT (pid:10)

Just made a change to **NOT** cache the open requests endpoint (as the 2+ MB object didn't seem to work well with Redis). This seemed to improve reliability noticeably.

## Action Items

Need to troubleshoot this. Using Gunicorn with Uvicorn workers. Have a 60 second timeout. Still se

[2021-03-04 20:04] mattyweb opened #995 "Upgrade Postgres to 13.1"
# Description

Currently we're on 11.X. Might get some performance benefits from the newer version.

## Action Items

Upgrade when possible.

## Resources

https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_UpgradeDBInstance.PostgreSQL.html#USER_UpgradeDBInstance.PostgreSQL.MajorVersion

[2021-03-04 20:24] adamkendis opened #997 "Fix RequestsLayer open requests rendering"
# Description

Map RequestsLayer is not rendering the response from `/requests/pins/open`.
RequestLayer `paint.circle-color` is still using hardcoded constants instead of the response from `/types`.

## Action Items

- [x] Fix pins render in RequestsLayer.
- [x] Update `paint.circle-color` to use types `color` field.
- [x] `init` RequestLayer after `GET_METADATA_SUCCESS` instead of on map load.

#

[2021-03-04 20:32] adamkendis opened #998 "[Map] Zoom to - Service request details popup"
Related to #947

# Description

Adds a "Zoom to" button on the service request details popup. This centers the selected SR pin and zooms to a fixed level.

## Resources

![108664545-d6516e80-7487-11eb-897c-94d224f0042e](https://user-images.githubusercontent.com/40484278/110026291-52984d00-7ce5-11eb-91fe-1de48cd199cd.png)

[2021-03-04 20:34] adamkendis opened #999 "[Map] Median days to close - service request details popup"
Related to #947

# Description

Adds median 'days to close' to service request details popup.

## Action Items

- [ ] Decide on design

## Resources

[2021-03-05 00:32] #997 closed

[2021-03-05 02:58] captain-nimo commented on #951
@pras4u will give us update on this.

[2021-03-05 03:03] captain-nimo commented on #952
@adamkendis and @kevindperez will talk about this later in detail, and make a decision about this.

[2021-03-05 03:09] captain-nimo commented on #999
Moving to Icebox for now, need to know the feature origin.

[2021-03-05 03:21] captain-nimo commented on #972
Assigning this ticket to UI/UX. UI/UX will re-assign to Frontend when they're done.

[2021-03-05 04:39] mattyweb opened #1001 "Add type stats per council to API"
# Description

We will provide a version of the current type/stats that shows citywide stats for a council. These give the caller the percentiles for each type for each council.

[2021-03-05 04:42] mattyweb opened #1002 "Create GET version of the /request/pins endpoint to get filtered pins"
# Description

Same as the v1 version. I think that was /map/pins. Except without the zoom/bounds. Basically, you can filter by start date, end date, council(s), and type(s). And it returns a list of pins (requestId, typeId, lat, long). Making it a GET request would help if we wanted to edge cache it in the future.

[2021-03-05 19:51] #1001 closed

[2021-03-05 20:23] mattyweb commented on #1002
@adamkendis
I looked at this and it's kinda a pain to do the GET with FastAPI. Gonna keep the POST approach.

Here is the endpoint to use for filtering pins:
https://dev-api.311-data.org/docs#/default/post_filtered_service_request_pins_requests_pins_post

[2021-03-05 20:23] #1002 closed

[2021-03-05 23:15] mattyweb opened #1004 "Add Spanish language support"
### Dependency
This issue is dependent on user testing and surveying if Spanish language support is a priority feature for our target customers.

### Description
We should have Spanish language support for the app. We could auto-detect from the browser setting, but then also let the user choose a preferred language.

### Action Items

Need to pick a library to do the translation. Need to create a

[2021-03-07 17:20] mattyweb opened #1006 "Embed a Google Streetview in the SR popup window"
### Dependency

[Post v2 launch](https://github.com/hackforla/311-data/projects/10?card_filter_query=milestone%3A%22initial+v2+launch%22), include in user interviews if this feature would be of value.

### Description

Would be useful to show users the physical location of the trash, graffiti, etc. Could help users know really where it was.

## Action Items

Need a Google dev account. Add using th

[2021-03-09 03:56] #786 closed, assigned to adamkendis, danarchen

[2021-03-09 03:56] #570 closed

[2021-03-09 03:56] #740 closed

[2021-03-09 03:59] #443 closed

[2021-03-10 06:52] mattyweb opened #1007 "Adding Type hotspots to API"
# Description

Adding hotspots per types. Starting by looking at the past year of data (to avoid seasonality) and finding locations where an average of at least 1 request was made per month. Using [DBSCAN](https://en.wikipedia.org/wiki/DBSCAN) to create clusters. Then finds the centroid for the points in each cluster. Tweaked the epsilon parameter to around 30m which seems to make good clusters. W

[2021-03-10 07:37] #1007 closed

[2021-03-11 19:00] #904 closed

[2021-03-11 19:00] #973 closed

[2021-03-11 19:06] adamkendis opened #1012 "Add agency to SR popup"
# Description

If an SR has a handling agency assigned, add agency to SR popup window with link to agency website.

## Action Items

- [x] Fetch agencies from `/agencies` on pageload.
- [x] Add agency name/website link to SR popup window.
- [x] Add source to SR popup.

## Resources
response from `/requests/1174673`

{
"requestId": 1174673,
"srnumber": "1-1584096961",
"councilId": 58,
"councilName"

[2021-03-11 19:17] adamkendis opened #1013 "[Bug] Unmounted Map calls setState"
**Describe the bug**
A clear and concise description of what the bug is.

Map component calls setState after unmount.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to localhost:3000
2. Quickly click on `Reports` and make any selection.
3. See error:

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Map unsubscribes when unmounted and does no

[2021-03-12 00:35] #950 closed

[2021-03-12 01:53] danarchen commented on #959
@adamkendis has feasibility been evaluated?

[2021-03-12 01:55] danarchen commented on #907
There is UIUX label on this issue, does development or product need a mockup for this? And at what point was this determined to be a requirement?

[2021-03-12 01:58] danarchen commented on #837
@adamkendis could you detail what the requirements are for the UX/UI team?

[2021-03-12 02:00] #741 closed

[2021-03-12 02:01] danarchen commented on #726
Done

[2021-03-12 02:01] #726 closed

[2021-03-12 02:02] danarchen commented on #722
Duplicated issue

[2021-03-12 02:02] #722 closed

[2021-03-12 02:04] #714 closed

[2021-03-12 02:04] #704 closed

[2021-03-12 02:05] #703 closed

[2021-03-12 02:06] #314 closed

[2021-03-12 02:07] #198 closed

[2021-03-12 02:07] #498 closed

[2021-03-12 02:07] #398 closed

[2021-03-12 02:07] #376 closed

[2021-03-12 02:08] #207 closed

[2021-03-12 02:10] danarchen commented on #588
Has not come up in any user research feedback

[2021-03-12 02:10] adamkendis commented on #907
We're going to use the material-ui [spinner](https://material-ui.com/components/progress/#circular). UI/UX label removed.

[2021-03-12 02:12] #497 closed

[2021-03-12 02:14] #435 closed

[2021-03-12 02:14] adamkendis commented on #959
@danarchen No design work is needed for this ticket. I've removed the UI/UX label.

[2021-03-12 02:15] #257 closed

[2021-03-12 02:16] adamkendis commented on #837
@danarchen The reports have been merged in and can be viewed on dev.311-data.org. Let's discuss this at tonight's meeting.

[2021-03-12 02:17] danarchen commented on #972
Meet with Bonnie and will update issue with notes

[2021-03-12 02:18] adamkendis commented on #964
Removing frontend label because this ticket (if needed) is not ready for development.

[2021-03-12 02:19] adamkendis commented on #965
Ticket ready for development. Moving to Prioritized Backlog.

[2021-03-12 02:21] adamkendis commented on #966
The privacy policy was borrowed from https://www.codeforamerica.org/privacy with some modifications.

[2021-03-12 02:22] adamkendis commented on #963
Closing as duplicate of #837

[2021-03-12 02:22] #963 closed

[2021-03-12 02:45] danarchen commented on #972
[govt site](https://www.lacity.org/myla311)

[2021-03-12 02:59] danarchen commented on #966
Our current privacy content is approved by Code for America. So it should not be changed or modified as it will need to be approved again.

[2021-03-12 03:21] ExperimentsInHonesty commented on #966
That the PP footer needs to be visible on every page including the tool.  See issue about the footer for details #964

[2021-03-12 04:06] adamkendis opened #1017 "NC and CC lookup"
# Description
Related #888

Display enclosing NC/CC information when an address is searched OR NC/CC is manually selected by clicking on the map.

## Action Items

- [ ] Implement information panel displaying NC/CC for address or selected council.
- [ ] If NC/CC have website, include link.

## Resources
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=2375%3A0
<img width="59

[2021-03-12 04:16] ExperimentsInHonesty commented on #999
Will not be done.

[2021-03-12 04:16] #999 closed

[2021-03-12 04:27] adamkendis opened #1018 "[BUG] Sticky footer on reports page (Chrome)"
**Describe the bug**
Footer sticks to bottom of iframe after scrolling to bottom of reports dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to dev.311-data.org
2. Click on Reports
3. Choose any report
4. Scroll to bottom of page
5. Scroll up

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**Smart

[2021-03-12 05:12] mattyweb opened #1019 "Add Sentry error tracking to the React Client"
Want to be able to see all the errors in one place. A user account will be set up in 1Password so that we can all see the client errors.

[2021-03-12 05:18] mattyweb commented on #1019
BTW, this is already set up for the API and python. We'll end up with both in the same organization.

[2021-03-12 06:13] #1019 closed

[2021-03-12 17:29] mattyweb commented on #947
@adamkendis the work looks great, but there were a few things from the discussion thread that were not resolved so I'm reopening. @kevindperez, can you help us out?

Here's a current example (from https://dev.311-data.org/map):
![image](https://user-images.githubusercontent.com/10199792/110974589-8857ba00-8313-11eb-82f9-1be2f81c2381.png)

The fields we are missing are:
1. Agency name: the city age

[2021-03-12 19:04] #935 closed

[2021-03-12 19:20] mattyweb commented on #938
Should also understand this as probably deploying on our ECS cluster. This means a domain (https://reports.311-data.org) too. And a task definition file. (Maybe a good opportunity to move to Docker Compose CLI?)

[2021-03-12 21:27] mattyweb commented on #864
I'm gonna add the formspree form and the code. Then someone else can add the design and the fine details in the other issue.

[2021-03-13 16:49] mattyweb commented on #994
Gonna keep this open for now, but changing the ALB healthcheck timeout threshold to 30s seems to have solved the 504 errors we were seeing. The app is currently CPU bound. We may want to run some more locust tests and/or change the CPU setting in production (currently we're at 0.5 vCPUs).

The other consideration is getting better telemetry in place. We've got Sentry in place for errors, but the p

[2021-03-15 20:27] mattyweb commented on #959
@adamkendis, Was thinking about this a bit. It might be good to create the shareable links like this:
https://dev.311-data.org/srnumber/1-1865751831

This would then pull up/redirect to the map with that request in the popup.

My thinking is:
1. That sharing by SR number makes sense since these are in the 311 system and are known to users
2. That we might want to show something other than the map

[2021-03-16 01:28] mattyweb opened #1025 "Add Contentful as base content management solution"
# Description

Implementing Contentful (www.contentful.com) as the backing headless CMS for the project.

Why Contentful:

1. License is non-profit/start-up friendly: we get 1 space and 5 users and more content items than we can use for free.
2. Has good content management workflows: flexible content models, approvers, previews, publish/unpublish, publish in the future
3. Supports localization: Ea

[2021-03-17 19:48] mattyweb commented on #1025
Quick note: after doing POCs for both approaches, I decided that using markdown was preferable to using the Contentful Rich Text approach. Our content authors are likely already familiar with markdown and the additional flexibility of Rich Text isn't worth the implementation hassles. Actually given that Contentful is now beta testing a new authoring tool, I wouldn't be surprised if Rich Text gets

[2021-03-18 02:19] #568 closed

[2021-03-18 02:20] danarchen commented on #597
Social media was created: Facebook and twitter

[2021-03-18 02:20] #597 closed

[2021-03-18 02:20] #614 closed

[2021-03-18 16:52] kevindperez commented on #964
Finished updating the footer.
![image](https://user-images.githubusercontent.com/63424114/111664989-930cc600-87cf-11eb-97ca-2ceaab1202ac.png)
[https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1842%3A4684](url)

[2021-03-19 01:02] #1025 closed

[2021-03-19 02:00] pras4u opened #1028 "Address Bug in Infrastructure #935"
Bug ticket to handle #935

[2021-03-19 02:16] captain-nimo opened #1030 "Create reports out of API endpoints"
### Overview
We need to ideate and create reports for UX testing with 311-data customers to determine value of specific kinds of data analysis.

### Action Items
- [ ] Grab data from API endpoints
- [ ] Wrangle (cleaning and reorganizing) the data
- [ ] Generate report

### Resources
[Includes all the useful endpoints to extract the data](https://dev-api.311-data.org/docs#/default/get_all_service_

[2021-03-19 02:39] danarchen opened #1031 "Recruiting New UI Designers"
### Overview
The 311 Data project is in need of one or more UI designers.

### Action Items

- [x] Attend UX/UI meeting to recruit UI designers
- [x] Walk them through current UX/UI issues on Github

### Resources

[2021-03-19 04:16] mattyweb commented on #1025
This task is closed out now. Note that there are separate issues for each of the items. The links in the header and the designs are all intended to be placeholders. Hoping UX and Frontend developers can take it from here!

There are 3 types in the content model implemented in Contentful:

1. Simple Page (used for Privacy Policy)
2. FAQ (question-answer pairs)
3. Blog Post

The space in Contentful

[2021-03-19 04:53] pras4u opened #1032 "Followup with Voices NC regarding postcard campaign details"
### Overview

Followup with Voices NC - Vice Chair - Albert Farias regarding 311 Data provided by 311Data team ; Find out usefulness of data & details about postcard campaign

### Action Items
[] Email Albert Farias regarding subject requesting details of postcard campaign
[] Share details of campaign with 311 DataScience team & ask them to do a pre & post data check

### Resources
[] (https://dri

[2021-03-19 06:02] mattyweb commented on #982
Did a little more looking. Seems OK.

[2021-03-19 06:02] #982 closed

[2021-03-20 06:12] mattyweb commented on #1018
This is semi-fixed. Removing the min-height and the absolute positioning seemed to have fixed it in most places. However, the map currently doesn't show the footer at all.

[2021-03-20 06:14] mattyweb commented on #1001
This would best be used in some kind of comparison reports. It's probably the best way we have of looking at whether some councils have their issues fixed more quickly than others.

[2021-03-20 06:15] mattyweb commented on #1007
This is pretty cool. We would need to figure out where to use this. Maybe on the map itself? Or we could also use it on a dashboard. The behavior most likely would be to pick a type and show the hotspots for it.

[2021-03-20 07:46] mattyweb commented on #837
I think this one is done. For this version we'll just include the Dash reports using the menu of the React app. I don't think we need to worry about linking between reports and the map in v2. But we should look into that in a follow-on release.

[2021-03-21 18:05] mattyweb opened #1034 "[FEAT] Create "hotspot" reports"
# Description

I added a density-based clustering (DBSCAN) endpoint that get the clusters by type for the past year:
https://dev-api.311-data.org/geojson/hotspots?type_id=2&start_date=2020-03-21

It returns a GeoJson feature which can be mapped like this:
    {
      "type": "Feature",
      "properties": {
        "council_name": "Woodland Hills-Warner Center",
        "council_id": 98,
        "

[2021-03-21 18:08] #837 closed

[2021-03-21 18:09] mattyweb commented on #837
I added a responsive layout to the reports. They now look at least tolerable on mobile.

[2021-03-21 18:47] mattyweb commented on #817
Just learned about the [FastAPI Users](https://frankie567.github.io/fastapi-users/) project. If keeping costs down takes precedence (as it likely will) this might be a good solution. Downside is more work (obviously) and more responsibility (ie. as opposed to having a 3rd party manage credentials).

[2021-03-21 18:56] mattyweb opened #1035 "[Planning] Look at refreshes to data access stack"
None of this is especially urgent but there are a few things to track with out data access stack. Using this ticket as a way to keep an eye on them.

The biggest issue is probably with async access to Redis. The maintainer of aioredis seems to have been replaced and that project is taking a new architecture direction. These are probably good changes, but who knows how long they will take to play o

[2021-03-22 17:16] kevindperez commented on #987
![311mockup_600x400](https://user-images.githubusercontent.com/63424114/112030606-ab465300-8af7-11eb-9d39-71da4303f76d.png)
Completed.

[2021-03-22 19:54] mattyweb commented on #1028
For a little more detail, the issue here is that the call to reload the cached report server reports needs a client that can run Javascript.

[2021-03-22 19:59] #1028 closed

[2021-03-22 20:17] captain-nimo commented on #987
Hi @shaswa,

Please find the image @kevindperez uploaded in the ticket. We hope this helps.

[2021-03-22 20:21] shaswa commented on #987
@captain-nimo @kevindperez Thank you! Though this ticket is for this particular image. Sorry about not being clearer. Could you update this image too?
https://www.hackforla.org/assets/images/projects/311_data.png

[2021-03-22 21:14] captain-nimo commented on #987
@shaswa, what resolution do you want this image? 600 x 400?

[2021-03-22 21:17] captain-nimo commented on #987
@kevindperez, could you please update the following image too?
https://www.hackforla.org/assets/images/projects/311_data.png

[2021-03-22 21:50] kevindperez commented on #987
Done.
![311mockup_2-02](https://user-images.githubusercontent.com/63424114/112063011-fa06e380-8b1d-11eb-9b54-8fd8a6f32a31.png)

[2021-03-22 22:15] captain-nimo commented on #987
Thanks a lot @kevindperez .
@shaswa ,please check out the image that Kevin has attached.

[2021-03-23 17:38] mattyweb commented on #968
To clarify a little further, the call that would really benefit from this is the one that gets the open pins. I've seen this call takes any where from 5-8 seconds.

This is only an issue during initial load as the data stays cached on the client subsequently. There are typically 40K of these and due to the object size it is inefficient to store in Redis cache. Storing this in edge cache should get

[2021-03-24 15:07] shaswa commented on #987
@kevindperez @captain-nimo Thank you! I'll create a new issue in the website to use the new image. This issue can be closed.

[2021-03-24 22:56] #987 closed

[2021-03-24 23:12] mattyweb commented on #1012
Should probably have source in there too. Might want to do it in this ticket while you're working on agency.

[2021-03-24 23:16] mattyweb commented on #1028
Was able to get Chrome to install in Docker and run against the report server. Needed to wait for the "Reloading..." message to appear.

[2021-03-24 23:27] mattyweb commented on #938
Thinking this through...definitely want to both merge code and deploy on the cluster. This means some Terraform work. Gonna resize the ticket accordingly.

[2021-03-24 23:29] mattyweb commented on #968
Assuming this is done in Cloudflare. We should probably set it up in Terraform. We'll also need to integrate the Cloudflare API such that at the end of the data load there is a task that clears the Cloudflare edge cache.

Gonna resize this work accordingly.

[2021-03-25 20:26] adamkendis opened #1048 "Style Contact Us form"
# Description

The webform on the Contact Us page has transitioned to a hosted Formspree form. Following new Contact Us page mockup (#962), the form will need to be styled.

## Action Items

- [ ] Confirm new Contact Us page design.
- [ ] Style form to match new design.

## Resources

[2021-03-25 20:27] #864 closed

[2021-03-25 20:31] #1012 closed

[2021-03-25 23:45] #1013 closed

[2021-03-26 00:20] adamkendis commented on #964
@kevindperez Just wanted to confirm if this footer should be fixed and visible at the bottom of the browser viewport even if the user scrolls down (like in v1). Is that correct?

[2021-03-26 00:25] #844 closed

[2021-03-26 00:25] #838 closed

[2021-03-26 00:34] adamkendis opened #1053 "[BUG] Disappearing NC Boundaries"
**Describe the bug**
BoundaryLayer is losing map context on subsequent renders. When navigating back to the map after visiting a non-map page, NC boundaries don't render.

Probably a good opportunity to improve map performance:
- Instantiate shared mapbox instance outside of Map lifecycle methods.
- follow v1 implementation for map/visualizations pages. Map never unmounts - visualizations page is

[2021-03-26 01:15] adamkendis commented on #959
@mattyweb

`That sharing by SR number makes sense since these are in the 311 system and are known to users`
`That we might want to show something other than the map in the future for these. Like we might create a request detail page with additional information that wouldn't fit in a popup.`

- Makes sense and sounds good to me.

`We should expect these links to be shared in emails, Twitter, FB, et

[2021-03-26 01:19] adamkendis commented on #888
Address search bar redesigned to allow toggling between address and council search. See contemplated redesigns in Figma:
https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=2375%3A0

[2021-03-26 01:30] adamkendis commented on #947
@mattyweb

Added agency (w/ link) and source to popup in #1049. Good ideas on tweaking the council styling and day count. I'll drop these quick changes in.

[2021-03-26 01:39] #907 closed

[2021-03-26 01:57] captain-nimo commented on #1030
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-03-26 02:00] danarchen commented on #1031
Attended 03/22's UXUI meeting and recruited a new UI designer. She will be onboarded tomorrow with @kevindperez. We will attend again next Monday's to see if we can recruit more, if not attend Tuesday's onboarding around 7 to recruit directly!

[2021-03-26 02:08] captain-nimo opened #1054 "Document the onboarding process for new data scientists"
# Description

We need to be able to grow our data science practice. Therefore we need to make documentation on onboarding

## Action Items

Create doc in the google drive and populate the doc with the resources provided by @mattyweb

## Resources

[2021-03-26 02:43] captain-nimo opened #1055 "List all the inactive `311-data` slack channels and archive them"
### Overview

There are so many `311-data` channels in slack. We don't use most of them anymore. We need to list all the inactive channels and archive them.

### Action Items
- [x] List all the 311 slack channels
- [x] check off all the inactive (`311-data`) slack channels on the list below - Mahmudul
- [x] Save the list of people on the channels to a spreadsheet - bonnie
- [x] Archive the inactiv

[2021-03-26 02:51] ahdithebomb opened #1056 "Update the Wiki"
### Dependency
- Wiki updating can begin once #1132 Google Drive Migration is complete and Onboarding documents have been confirmed with Team Leads.
   - While #1132 is complete enough to begin processing current documents for completeness

### Description
We need to update the Wiki, so that new team members can have all the necessary information to get started as soon as they can.

### Action Ite

[2021-03-26 02:52] captain-nimo opened #1057 "Assign the new data scientists to `#1054` after they are added to GitHub project"
# Description

Need to add new data scientists of the project to `311-data` and assign their first ticket.

## Action Items

- [ ] Provide `dplem`, `karinalopez19`  and `zhao-li-ucla` github ids to `Admin` slack channel, so that they get added to `311-data` GitHub project
- [ ] Assign [1054](https://github.com/hackforla/311-data/issues/1054) to `dplem`, `karinalopez19`  and `zhao-li-ucla` github i

[2021-03-26 03:02] ahdithebomb commented on #1056
@ExperimentsInHonesty will share links to the example wikis here.

[2021-03-26 03:03] pras4u commented on #1032
Pitch for 311-Data’s Custom Extract Services [https://docs.google.com/document/d/1YF5sAMJFdhDzCqIqbxYQtliDguBt31qxLPIkw7Wqwqk/edit#](url)

[2021-03-26 03:12] pras4u commented on #1032
Custom Data Extracts Delivery Tracker
[https://docs.google.com/spreadsheets/d/14B16g3dsPjGrkbpN9TGyjWJc-Tnom2BXp22TyAcaOQM/edit#gid=0](url)

[2021-03-26 03:16] ExperimentsInHonesty commented on #1055
![Screen Shot 2021-03-25 at 6 37 01 PM](https://user-images.githubusercontent.com/37763229/112571214-d5706d00-8da4-11eb-943c-8f4ff106e0c3.png)

[2021-03-26 15:20] #1018 closed

[2021-03-27 18:31] #938 closed

[2021-03-28 20:13] mattyweb opened #1060 "Make a sample cloropleth map"
Mostly want to validate that cloropleth maps will work in Dash and come up with a preferred pattern for how to develop them.

Also, want to make sure that we can style them in a way that fits with the other graphs.

And would like to make sure the rest of the team is aware of this capability and see if the product team feels like these are a good fit for various comparison functions.

[2021-03-28 20:18] #1060 closed

[2021-03-28 23:10] mattyweb commented on #1060
Basic map of requests by type is now live. There is some formatting on mobile that needs to be fixed. I'll file a bug after we review this.

![image](https://user-images.githubusercontent.com/10199792/112771314-143e3700-8fe0-11eb-9d14-649a38c788f1.png)

[2021-03-29 23:31] danarchen commented on #1031
UX/UI designers: Dhwani and Sim were successfully onboarded.

[2021-03-31 01:31] captain-nimo commented on #1055
@ExperimentsInHonesty, I've checked out all the inactive channels in the description.

[2021-03-31 17:32] danarchen commented on #1031
Will be onboarding Elizabeth either tonight (3/31) or tomorrow.
New UX team: Nina, Sim, Dhwani, Liah, and Sharifa.

[2021-04-01 16:37] mattyweb opened #1064 "Use Type colors in Dash reports"
# Description

There are colors specified for Types in the 311 Data API. Currently, there is a standard palate used for all Dash reports.

The goal is to use the color for each Type in Dash reports so this is consistent everywhere.

[2021-04-01 22:34] #1053 closed

[2021-04-01 23:26] mattyweb opened #1067 "Add Request Type Map report option to header"
Want to include this in the report dropdown

[2021-04-01 23:47] #1067 closed

[2021-04-02 01:12] AdelSadro commented on #1030
Some new dashboards are created here:
https://colab.research.google.com/drive/1u3yhuYCiAJ6Vw4c4B7D9sdw7ObF7hAbC

[2021-04-02 01:30] adamkendis commented on #888
**Status:** Geocode address to lat/lng and fetching enclosing council id from API working. Still need to:
- Style
- Handle map flyTo on geocode result
- Push to history on geocode result - `map/nc/:nc_id` or something similar.
- NC localGeocoder
- Switching between address/NC search

**ETA:** This weekend.

[2021-04-02 01:43] pras4u commented on #1032
@ExperimentsInHonesty Please review

[2021-04-02 01:44] dplem commented on #1054
Here are our notes for creating the 311-data onboarding process documentation: https://docs.google.com/document/d/1Kjd_6ACuUWf0vkBD5-Q5IoXTzwGNuKWF0ZnxMDEwPjg/edit?usp=sharing

We are meeting this Friday to coordinate putting the documentation together. WIll provide update with google doc in 311-data google drive.

[2021-04-02 02:15] pras4u commented on #831
Obsolete due to redesign

[2021-04-02 02:15] #831 closed

[2021-04-02 02:51] pras4u commented on #951
In place of the v1 Map export feature (with the requests as dots), we are going to use the Plotly Dash's Choropleth Map in v2.

[2021-04-02 02:51] #951 closed

[2021-04-02 23:16] dplem opened #1069 "Create Pandas Profiling Report for Onboarding"
### Overview
Create Pandas Profiling Report for Onboarding

### Action Items
Review pandas profiling report and decide on where to put it (Google Drive, Onboarding doc, wiki)

[2021-04-02 23:22] dplem opened #1070 "Create Google Form for identifying onboarding pain points"
### Overview
Create Google Form for identifying onboarding pain points in relation to the data analyst and data scientist journey

### Action Items
Submit for Bonnie to review.

### Resources/Instructions

[2021-04-02 23:56] dplem commented on #1070
Here is the first draft of the Google form to identify onboarding pain points: https://docs.google.com/forms/d/e/1FAIpQLSexa0ZZ6UihIN95cxzcIYcggsig6YBidW79cVlJ3aHJq5FPuw/viewform

[2021-04-02 23:58] dplem commented on #1070
@bonnie @mattyweb thoughts on the google form?

[2021-04-03 16:22] Rishabhraghwendra18 commented on #1048
Hi @adamkendis  May I work on this issue ? 😃

[2021-04-03 17:44] mattyweb commented on #936
Not quite ready to move forward with this one. Actually, this is a bit of a placeholder issue. I think we might decompose this into separate production deploy tasks for API and Report Server. Also, originally I had conceived of having semver versioned releases, but not sure that makes sense anymore. Let's keep this in backlog for now.

[2021-04-03 18:32] dplem commented on #1069
See Pandas Profiling Jupyter Notebook [here](https://drive.google.com/file/d/147-eEbZQBDhWGZR4T5TL_PTL5_CVIMQn/view?usp=sharing)

[2021-04-03 19:40] mattyweb opened #1071 "Remove Postman tests"
These are obselete now that we have pytest coverage expanded.

[2021-04-03 19:45] mattyweb opened #1073 "Get Dash project set up for new developers"
Need to get this project ready for the data team. Work will consist of:

1. setting up autopep or black to do formatting.
2. getting docker instructions in place to map local drive

[2021-04-03 20:04] adamkendis commented on #1048
Hi @Rishabhraghwendra18 ! It looks like the new design for the `Contact Us` page (#962) is in progress and not ready for frontend yet. If you're looking for some frontend tickets to work on, message me on Slack (@ Adam Kendis) and we can connect to get you started. Thanks!

[2021-04-04 17:51] kevindperez commented on #1031
Everyone has been onboarded as of 4/4/21.

[2021-04-04 17:51] #1031 closed

[2021-04-06 00:38] dhwanirparekh commented on #972
This [spreadsheet](https://drive.google.com/file/d/18ppFaAaqcJ-tXk71rSXcUpdFaG0coGgp/view?usp=sharing) has the list of request types as per the [gov site ](https://www.lacity.org/myla311). Gov site has 12 main request types and each of that has several sub-categories. And the [311-data ](https://311-data.org/data) website seems to be showing only 11 **sub-categories**, I have following questions:

[2021-04-06 02:00] mattyweb opened #1074 "Add CSV and Gzipped CSV output of Service Requests"
Currently there isn't a good way to get all the service requests out of the database. While it's technically possible to iterated through all the data from the /requests endpoint this isn't a very efficient approach for 6+ million records.

Being able to efficiently pull all the requests into pandas will be hugely useful for reporting and AI/ML activities.

[2021-04-06 07:00] #1071 closed

[2021-04-06 07:04] #1074 closed

[2021-04-07 02:18] pras4u commented on #1032
Sent a followup email on 4/2/2021. No response yet from NC.

[2021-04-08 23:24] simrandhaliw commented on #960
Added the initial design idea to Figma (design studio section). Will discuss the idea with other designers and add it for review next week.

[2021-04-09 00:28] zhao-li-github commented on #1054
Completed a first draft for onboarding following the template:
https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?usp=sharing

Not sure if more screenshots should be added (like the nice work by
Karina), as the links look sufficient to me. A question I have (since I
missed last week's meetings): is this just for the data team of 311-data
project, or for all teams

[2021-04-09 01:10] #947 closed

[2021-04-09 01:17] dplem commented on #1069
Completed the Pandas Profiling report with data from the last 3 years. Coordinating with Matt on how to get a csv file with 311 submissions going back 5-6 years. To view the report, download the HTML file to your local computer and open in your preferred web browser. See [here](https://drive.google.com/file/d/1LzYIDPiGmnDapDfp0kLtKBSFOKLIeLCC/view?usp=sharing)

[2021-04-09 01:18] adamkendis commented on #888
**Status**: Wasn't able to finish up this past week. Address search merged to dev via #1081. Working on localGeocoder for searching by NC name.
**ETA**: By next meeting.

[2021-04-09 01:48] dplem commented on #1069
This Pandas Profiling report uses the requests_2021.csv and provides more detail: See [here](https://drive.google.com/file/d/1Fb9GQ0xs8wuHZSeHxeJUSF7Gy0qkbhn6/view?usp=sharing)

[2021-04-09 01:55] captain-nimo commented on #1055
@captain-nimo will give draft message.

[2021-04-09 02:06] captain-nimo commented on #1070
Form will need to have 311 look and feel.
Here's the figma link: https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1%3A5

[2021-04-09 02:15] captain-nimo commented on #961
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-04-09 02:16] captain-nimo commented on #962
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-04-09 02:28] captain-nimo commented on #962
Hi @nswiderski, it looks like you're assigned to multiple issues (#962, #966, #848). We generally do 1 issue per person, and leave all extra issues in the backlog. So that new team members can grab issues from there.

Could you please unassign yourself from 2 issues.

[2021-04-09 02:28] captain-nimo commented on #966
Hi @nswiderski, it looks like you're assigned to multiple issues (#962, #966, #848). We generally do 1 issue per person, and leave all extra issues in the backlog. So that new team members can grab issues from there.

Could you please unassign yourself from 2 issues.

[2021-04-09 02:28] captain-nimo commented on #848
Hi @nswiderski, it looks like you're assigned to multiple issues (#962, #966, #848). We generally do 1 issue per person, and leave all extra issues in the backlog. So that new team members can grab issues from there.

Could you please unassign yourself from 2 issues.

[2021-04-09 02:29] dplem commented on #1069
This profiling report uses the data from [MyLA311 Service Request Data 2021](https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2021/97z7-y5bt) See [here](https://drive.google.com/file/d/1-6macaLzwuBqLMYVskMXhXrhPr_LtZVM/view?usp=sharing)

[2021-04-09 02:39] ExperimentsInHonesty commented on #1056
https://github.com/hackforla/.github is where the new default wiki is
Some good examples are:
[Civic Tech Index](https://github.com/civictechindex/CTI-website-frontend/wiki)
[100 Automations](https://github.com/100Automations/website/wiki)

[2021-04-09 02:46] captain-nimo commented on #571
[311 Data User Journey & Key Features Mapping](https://docs.google.com/document/d/1DU6tN1xrBimskMpmKaCGntfJA6UxVwVaq0wa2lniqB0/edit)

[2021-04-09 02:49] captain-nimo commented on #1064
@mattyweb, if you think this issue still needs to be addressed. Could you please confirm whether it's UI/UX or Frontend?

[2021-04-09 02:51] elizabeth-ux commented on #961
UI/UX team will work together (initially) on designs (suggestion from Kevin). Team will meet at 6:30 p.m. on Wednesdays beginning April 14. Will have mockup for April 15 meeting.

[2021-04-09 03:39] danarchen commented on #962
Danielle will be working on this issue moving forward.

[2021-04-09 05:05] mattyweb commented on #1064
It's mine. I'm not sure how to assign colors to a series but I'm sure there's a way to do it. The colors are already in the API. I just need to pull them and assign them to the charts.

[2021-04-12 21:26] mattyweb opened #1083 "Add auto-formatting, import reodering and pre-commit to dash project"
Adding some tools to ensure consistency in changes made to the dash project.

[2021-04-12 21:38] #1083 closed

[2021-04-13 16:08] #1073 closed

[2021-04-13 19:07] zhao-li-github commented on #1054
Feedback from Apr. 8th meetings:
-- From Matt: ask Mahmudul to check the tutorial to see if there's any logistic step missing?
-- From Bonnie: she wants us to transfer to wiki (using the new Wiki format); we need to get someone transfer the new wiki to the 311-project
-- From Ryan: perhaps we can add more specific resources for the project?

[2021-04-14 16:18] captain-nimo commented on #1055
Please find the list of all people in the inactive channels are in following spreadsheet.

https://docs.google.com/spreadsheets/d/1ytzXsoGrZJ76-AR-I8opZf3P7sI6ExK6VLkiF_lx3AA/edit?usp=sharing

[2021-04-15 17:08] daniellerubio commented on #962
**Progress:** on-going
**Blocks:** missing some foundational items in the design system, but will be creating those
**Availability:** will work on this weekend and next week
**ETA:** 4/25

**My actions from UI/UX team meeting on Wed (4/14):**
- [ ] - Determine break points for desktop, tablet, mobile; share with team
- [ ] - Finalize grid (columns, spacers, grid system for buttons/components); sha

[2021-04-15 21:02] elizabeth-ux commented on #961
- UI on Help Center is ongoing for consistency with other pages being redesigned by the UX/UI Team.
- Reviewing content of FAQs for consistency/clarity (e.g. Neighborhood Councils, neighborhood councils, NCs).
- Getting examples to add to certain requests to What do each of the 311 'Request Type' mean? (e.g. E-waste such as computers,  TVs, printers,...)

@ExperimentsInHonesty, @pras4u, @captain-n

[2021-04-15 23:14] #888 closed

[2021-04-16 00:26] adamkendis commented on #1017
**Status:** In progress. Unstyled panel displaying selected address (if on address search) and ncId on dev. ncId will be replaced with NC name and link to website.
**Blockers:** Need city council district boundaries for portion of panel.
**ETA:** NC info will be on dev tomorrow, 4/16.

[2021-04-16 01:23] AdelSadro commented on #1030
Hi @pras4u - The latest version of the reports and dashboards are shared here:
https://drive.google.com/drive/folders/1bUmwMWG8Im_S8__wIpIScT8q6D5Wf4Vz?usp=sharing
I appreciate it if you give me feedback on this. Thank you.

[2021-04-16 01:28] captain-nimo commented on #1055
The draft message could be `Since the this channel is inactive, we're archiving the channel. Please let us know if the channel is needed in future.`

[2021-04-16 01:41] ahdithebomb commented on #1056
Update: Nothing to share at this point
Blockers: Work, hackathon last week
ETA: I will ping relevant stakeholders this week and circle back with a list of areas that need to be refreshed  for the next meeting

[2021-04-16 01:47] KarinaLopez19 commented on #1030
Google Colab ([installation tutorial linked here](https://docs.google.com/document/d/1r3hM4eEWvckeX1qk5n_LVwGIEi5S3X_6oz2tenn5jus/edit?usp=sharing)) that can be used to view and share feedback on reports

[2021-04-16 01:49] zhao-li-github commented on #1054
-- Mahmudul checked the tutorial;
-- On 04/15/2021 data meeting, Matt suggested we use a Google invitation for the data meeting; needs to follow up;
-- Updated Ahdithan Uthayakumar (he's working on transfer the new wiki to the 311-project) about this progress.

Marie

[2021-04-17 20:01] dhwanirparekh commented on #972
It's still a work in progress - presented one of the ideas in the last meeting, adding request type descriptions to a modal that would pop out when clicked on the info icon next to the "Request Type" label. Another idea is to replace the multi-select dropdown for Request Type with a group of checkboxes as in version 1 and have a service type description be right below each of the service names. Th

[2021-04-22 02:12] daniellerubio commented on #962
Will be able to do work on this on Friday 4/23

[2021-04-22 19:03] elizabeth-ux commented on #961
-  Made some minor design changes to Help Center.
- Adding "Collapse/Expand All Questions" option so users can see all answers rather than clicking each individual question.
- Adding examples to for "What do each 311 Request Type mean?" question. Will mirror request order on main page.

Shifted focus this week to create a usability test with Maze to test out check box or chips for requests, as wel

[2021-04-22 21:22] daniellerubio commented on #962
For 4/22 Review:

- When I started on this issue (design contact page for v2 version), I discovered some needs for some design system basics, which should probably be turned into their own issues:

1. Determine break points for desktop, tablet, mobile; share with team - **REVIEW TODAY**
2. Finalize grid (columns, spacers, grid system for buttons/components); share with team - **REVIEW TODAY**
3. U

[2021-04-22 21:44] daniellerubio commented on #962
Work done so far:

Design system:
- Recommended break points
- Recommended grid
- Updated header nav component as per dev site (wordmark, nav list, typography)
- New update to header nav component: changed active page state from background to underline (accessibility)

Contact us page:
- Grid
- Copy/content updated (someone else did this before I got to it)
-

[2021-04-22 23:39] #1017 closed

[2021-04-22 23:42] adamkendis commented on #1017
Added NC and address in #1089. CC info split into ticket.

[2021-04-22 23:56] adamkendis opened #1090 "Check for dead NC websites"
# Description

Since we're linking out to NC websites, we should verify the urls pulled from Socrata are good. Maybe add this process to the nightly update (pyppeteer?).

## Action Items

- [ ] Check all NC websites to identify any dead urls.
- [ ] Decide what to do with dead urls (null them out in the db?)

## Resources
Dead nc website:
[code]

[2021-04-23 00:09] adamkendis opened #1091 "Add map marker on address search"
## Action Items

Per discussion with UI/UX 4/21:

- [x] Add marker on successful address search.
- [x] Remove circle and keep NC borders on address search.
- [x] Match zoom behavior from council search/click.

## Resources

[2021-04-23 01:05] pras4u opened #1092 "Setup 311Data Arcgis account & support Echo Park"
Echo Park Illegal Dumping for 2019

Last comment - 'shoot, it says the data set is too large to import into arcgis free version and that i'd have to upgrade.'

[2021-04-23 01:08] pras4u commented on #1092
Worked with Admin to create a 311Data Arcgis account
Created a pwd & added credentials to 1password
Next Steps - Test large imports into arcgis & communicate to NC

[2021-04-23 01:31] KarinaLopez19 commented on #1054
Wasn't able to prioritize this during the week, but I plan to add a HOW-TO segment on using Google Colab to communicate findings with non-data scientist colleagues (e.g., how-to use markdown effectively, how-to present visuals communicating relevant findings).

[2021-04-23 02:02] adamkendis commented on #1090
Will manually check NC urls from Socrata against spreadsheets in this issue: https://github.com/hackforla/community-survey-nc-websites/issues/15

[2021-04-23 02:02] #1090 closed

[2021-04-23 02:21] #1055 closed

[2021-04-23 02:42] dplem commented on #1092
Uploaded 2019 and 2020 Echo Park Illegal dumping files to arcgis.com.

2019: https://lahubcom.maps.arcgis.com/home/item.html?id=95b900cec72d4da1b64290d81ecd3d9c
2020: https://lahubcom.maps.arcgis.com/home/item.html?id=11b54d0089594c75baad36ae8e881bcb

[2021-04-23 03:29] daniellerubio commented on #962
Prioritized list based on convo w/ Adam and Elizabeth today:

**v2**

- Determine break points for desktop, tablet, mobile; share with team - DONE

Desktop: 960px and up
Tablet: 600-960px
Mobile: 600px and below

- Finalize grid (columns, spacers, grid system for buttons/components); share with team

**v2.1**
Changes that should be done eventually

- Set typography scale and update type styles (8:

[2021-04-23 19:03] elizabeth-ux commented on #972
Created user testing for Menu and Request Type descriptions [](https://t.maze.co/35584517) Sent to #admin in Slack for release to users.

[2021-04-28 20:35] daniellerubio commented on #962
- Grids - finalized and documented in figma design system
- contact page - ready for review

[2021-04-30 00:10] #1091 closed

[2021-04-30 01:10] elizabeth-ux commented on #961
Completed usability test for menu design and request descriptions. Discussed design changes at UX/UI meeting on 4/29. Design will be similar to V. 1 using new header and footer with default (light) mode.

[2021-04-30 01:32] #1069 closed

[2021-05-05 00:09] mattyweb opened #1094 "[FUTURE] [FEAT] Add a "stuck" service request indicator for things that have been open a long time"
### Dependency
This Issue can be addressed post v2 for feasibility if the SR resolutions are still over due.

### Overview
Browsing through the pins I'm seeing a few SRs that have been open for more than a year(!). I think it would be helpful to have some kind of indicator to highlight these issues for council members so they can follow up with the city on them.

For instance, the "stuck" pin coul

[2021-05-05 14:38] Rishabhraghwendra18 commented on #1048
@adamkendis ok..no problem

[2021-05-14 00:50] adamkendis commented on #948
Status: This ticket is just about done. Map tileset changes complete, just need to link boundary layers to side drawer.
ETA: Will be pushed Fri 5/14.

[2021-05-14 01:30] elizabeth-ux commented on #961
Pages have been edited with new header (similar look to Contact Us page). Need to update screen shots and request descriptions.

[2021-05-14 01:37] pras4u commented on #1030
@AdelSadro Refer our review couple of weeks back & my comments on the sheet. Please let me know in case of questions.

[2021-05-14 01:42] pras4u commented on #962
@elizabeth-ux As discussed work with UX team & reassign this ticket.

[2021-05-14 01:45] pras4u commented on #1032
No response from NC after our followups. Closing this issue.

[2021-05-14 01:45] #1032 closed

[2021-05-14 01:46] adamkendis commented on #972
Status: @elizabeth-ux conducted user test for Request Type descriptions preference. Users preferred a single modal displaying all req. type descriptions. @dhwanirparekh to prepare mockup.

[2021-05-14 01:48] pras4u commented on #1054
@KarinaLopez19 As discussed please update as required - with advanced features.

[2021-05-14 01:50] adamkendis commented on #960
Status: New mockups https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=2775%3A7702

[2021-05-14 01:54] pras4u commented on #1070
Reassigning to @dplem ; please review & close if complete

[2021-05-14 02:05] ahdithebomb commented on #1056
Update: Nothing to share at this point
Blockers:  End of Quarter Work/Interviews
ETA: I need to follow up with some key stakeholders to see what needs to be updated for the wiki by end of next week.

[2021-05-14 05:07] KarinaLopez19 commented on #1054
Additional updates have been provided to the [onboarding document](https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?usp=sharing). Updates include an overview of ongoing data tasks in the 311-project team, as well as outlined steps for getting involved. Should be ready for feedback from Bonnie and others.

[2021-05-16 20:27] #1070 closed

[2021-05-16 20:35] dplem opened #1097 "ArcGis Data Exploration and Report"
# Description

Use Illegal dumping, homeless encampments, elementary schools location data in Echo Park to perform data exploration, visualization and provide a report to stakeholders.

## Action Items

1. Import csv datasets
2. Data Exploration
3. Data Visualization
4. Build report in Storymap (arcgis)

## Resources

[2021-05-16 20:46] dplem commented on #1097
Created ArcGis folder in 311-data Google Drive: [link](https://drive.google.com/drive/folders/11-mShAm8zVeQtJWcFeEGCv_39YbTW6OX?usp=sharing)

[2021-05-16 20:48] dplem commented on #1097
Storymap Report: [link](https://drive.google.com/file/d/1HED0fTM4FKiNS906_RM5DFJC-tZvT0ky/view?usp=sharing)

[2021-05-21 01:43] pras4u commented on #1097
@dplem please share the PDF in 311-data slack channel & request feedback

[2021-05-21 01:54] pras4u commented on #960
@adamkendis  per @simrandhaliw this ticket is ready for Dev

[2021-05-28 01:21] adamkendis commented on #948
Status: Been slammed the past 2 weeks and wasn't able to touch this since last update. TIme set aside this weekend to complete the boundary layers portion.

[2021-05-28 01:40] adamkendis opened #1098 "Research flood data/respond to UCI researcher"
# Description

Received email from UCI researcher re flood-related 311 requests:

[code]

## Action Items

- [ ] Look into availability of flood-related 311 requests.
- [ ] Draft response to Jo Schubert

## Resources

[2021-05-28 01:42] adamkendis opened #1099 "v1 - Contact Us form not working on live site"
# Description
We need to fix the Contact Us form on the v1 website because it allows users to communicate with the team directly.

After filling in all form fields and clicking on the Submit Button, the action does not complete loading. It appears that the process is stuck in an infinite loop. I let for the loading for about 10 minutes with no change.

## Action Items
- [ ] Investigate why the Con

[2021-05-28 01:52] pras4u commented on #1097
@dplem @pras4u  Continue to work on developing additional data insights.

[2021-05-28 01:52] adamkendis commented on #1098
@adamkendis will send response.

[2021-05-28 01:56] pras4u commented on #972
@dhwanirparekh please link the final mocks here

[2021-05-28 02:04] pras4u commented on #962
mocks ready. lined up for FE

[2021-05-28 02:05] #962 closed

[2021-06-04 00:40] elizabeth-ux commented on #961
No new updates. Figma [file](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=3461%3A59)

[2021-06-04 00:51] adamkendis commented on #1054
Onboarding doc added to wiki: https://github.com/hackforla/311-data/wiki/Resources-Home#data

[2021-06-04 01:35] dhwanirparekh commented on #972
![RequestTypeDescription](https://user-images.githubusercontent.com/38696871/120732588-330eed00-c4ab-11eb-84b9-ed9bdcfb9c0c.png)
![RequestTypeDescription_PopUp](https://user-images.githubusercontent.com/38696871/120732594-3609dd80-c4ab-11eb-88ce-ba950b2d3f2e.png)

[2021-06-08 22:54] dhwanirparekh opened #1103 "[REPORTS] Overview"
# Description
Evaluate and update the reports for them to be user-friendly and match v2 style

## Action Items

## Resources

[2021-06-08 22:55] dhwanirparekh opened #1104 "[REPORTS] Recent"
# Description
Evaluate and update the reports for them to be user-friendly and match v2 style

## Action Items

## Resources

[2021-06-08 22:56] dhwanirparekh opened #1105 "[REPORTS] Neighborhood"
# Description
Evaluate and update the reports for them to be user-friendly and match v2 style

## Action Items

## Resources

[2021-06-08 22:58] dhwanirparekh opened #1106 "[REPORTS] Neighborhood Recent"
# Description
Evaluate and update the reports for them to be user-friendly and match v2 style

## Action Items

## Resources

[2021-06-08 22:58] dhwanirparekh opened #1107 "[REPORTS] Request Type Map"
# Description
Evaluate and update the reports for them to be user-friendly and match v2 style

## Action Items

## Resources

[2021-06-11 00:58] elizabeth-ux commented on #961
![image](https://user-images.githubusercontent.com/20293568/121615286-5c80c900-ca15-11eb-95d5-74b40aee4332.png)

[2021-06-11 01:28] adamkendis opened #1109 "[bug] Request Types metadata"
# Description

Broke something in last PR. App is properly fetching request types metadata, rendering components that require that metadata, but then requestTypes in the redux store is reset to an empty array. This is causing the app to crash when request dots are clicked.

## Action Items

## Resources

[2021-06-11 01:29] adamkendis commented on #1109
Bug surfaced after today's pull request. Expecting to fix it this evening.

[2021-06-11 01:39] captain-nimo commented on #966
@jeffmorrowuxd, could we have a quick update on this please?

[2021-06-11 01:46] captain-nimo commented on #1056
@ahdithebomb,
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-06-11 02:12] ExperimentsInHonesty opened #1110 "Test the project designs against the relevant tools for Accessibility compliance"
### Dependencies:
Dependency: v2 needs to be completed.

https://github.com/hackforla/311-data/projects/10?card_filter_query=milestone%3A%22initial+v2+launch%22

### Overview
There are more than 100 accessibility testing tools.  Figuring out which ones to use can be a black hole.  For guidance we recommend this article:  [Which accessibility testing tool should you use?](https://medium.com/pulsar/

[2021-06-11 15:33] jeffmorrowuxd commented on #966
Hey @captain-nimo  - This is completed to a point where @adamkendis said he would put get it live.  There are a few things that need to be discussed with the UX team as a whole, like Line and Paragraph spacing, but the main design is complete and ready for dev.  It can be found in the v2 Design studio.

[2021-06-17 22:56] #964 closed

[2021-06-17 23:00] elizabeth-ux commented on #961
Issue can be closed. Will add new issue to update screenshots for How do I search for 311 requests in my Neighborhood Council? once filter look is finalized.

[2021-06-17 23:02] elizabeth-ux opened #1112 "Update screenshots in FAQ"
### Dependencies:
Dependency: v2 needs to be completed before FAQ can be completed.

https://github.com/hackforla/311-data/projects/10?card_filter_query=milestone%3A%22initial+v2+launch%22

Update screenshots for "How do I search for 311 requests in my Neighborhood Council?" in FAQ once filter look is finalized.

**Special note**
When this page is live in the development environment take new scree

[2021-06-18 01:26] adamkendis opened #1115 "Routing, shareable URL"
# Description

- [x] Add Submit control (modal on filter change)
- [x] Add query string to url on query submit.
`?ncid=1&rid=1,2,3,4,5&open=true&closed=false`
- [x] Add 'share' icon to map page for copying shareable url.
- [x] Fix routing for charts dashboards to allow direct linking to each dashboard.

## Action Items

## Resources

[2021-06-18 01:28] adamkendis commented on #1109
Fixed by #1113

[2021-06-18 01:28] #1109 closed

[2021-06-18 01:29] adamkendis commented on #1115
Status: Working on query string builder for shareable url.
ETA: Saturday 6/18
Blockers: None

[2021-06-18 01:36] dhwanirparekh commented on #1107
ready for dev

[2021-06-18 01:36] adamkendis commented on #966
Ready for dev.

[2021-06-18 01:37] pras4u opened #1116 "Test v2 Dev Site: Internal"
### Dependency
#1110

### Overview
We need to test v2 dev site internally before we do final usability testing and then launch so that we don't waste the time of our usability testers.

### Action Items

Make the following issues:
- [ ] Write usability script for testing
- [ ] Make an appointment with each member of the team
- [ ] Synthesize results into recommendations
- [ ] Prioritize changes an

[2021-06-18 01:39] #961 closed

[2021-06-18 01:39] captain-nimo commented on #961
Closing the issue, since this is done and another ticket was created!

[2021-06-18 02:06] KarinaLopez19 opened #1117 "311-data report improvements"
# Description
Improving existing data reports to make them more accessible and meaningful to users.

## Action Items
- [ ] Review existing reports and identify pain-points for users less comfortable with data (e.g., Add plot descriptions)
- [ ] Identify points of improvements to make plots more meaningful to different audiences (e.g., features helpful for neighborhood council members, neighbor, ac

[2021-06-18 02:29] pras4u commented on #1097
The report created by Derek will be used for any future custom data requests from NCs as a reference.

[2021-06-18 02:29] #1097 closed

[2021-07-02 01:33] adamkendis commented on #1115
Status: Completed all except dashboards routes.
Blockers: Was in Yosemite all last week, started new fulltime job this week.
ETA: Will 100% be completed over the weekend.

[2021-07-08 21:30] adamkendis commented on #1115
Completed all except routing for charts dashboards. Per meeting with @dhwanirparekh and @elizabeth-ux , reports dashboards/charts will be reviewed to determine which (if any) should be eliminated, re-ordering the charts on page and possibly moving some around to different dashboards. Since the dashboard urls are currently hardcoded, the reports routing will be done after finalizing reports UI/UX w

[2021-07-08 21:49] adamkendis commented on #972
Just picked this ticket up. Adding modal to map page.

[2021-07-09 01:21] dhwanirparekh opened #1120 "User Testing Feedback"
### Overview
We need to create issues for front end and UI/UX from the user feedback

### Action Items
- [ ]  Issues that need to be made front end
   - [ ] Make Selector responsive
      - [ ] The selector box was clipped for me on my 13" screen and there was no way to scroll down the page or the selector box, so I had to resize in my browser to get the full controls.
   - [ ] Change selection de

[2021-07-17 00:26] KarinaLopez19 commented on #1117
Assigned issue to @chelseybeck. [Here](https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?usp=sharing) is the onboarding data science document for the 311 project. Under the resources section of this issue, you will also find a slide deck and notes that may be helpful to review.

[2021-07-25 17:24] #278 closed

[2021-07-25 17:24] #280 closed

[2021-07-25 17:24] #318 closed

[2021-07-25 17:24] #321 closed

[2021-07-25 17:24] #360 closed

[2021-07-25 17:24] #404 closed

[2021-07-25 17:24] #528 closed

[2021-07-25 17:24] #539 closed

[2021-07-25 17:26] mattyweb commented on #1099
hey @adamkendis just saw this. you need something from me here?

[2021-07-25 17:47] mattyweb opened #1121 "Migrate to aioredis 2.0"
# Description

We've been stuck on older versions of Python and Redis due to the spotty maintenance of the aioredis library--the last official release of which was Dec 2019. It only supports Python 3.7 and Redis 5. Neither is an emergency at this moment but to ensure the long-term viability of the project we'd want to upgrade aioredis to 2.0.X, Python to 3.8 or later, and Redis to 6.

## Action It

[2021-07-25 17:47] mattyweb commented on #1121
Just to clarify, aioredis 2 does not exist yet. I'm guessing will be another month or two before 2.0.1 is available.

[2021-08-06 01:46] captain-nimo commented on #833
@adamkendis
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-08-06 01:47] captain-nimo commented on #571
@dhwanirparekh
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-08-06 01:59] captain-nimo opened #1122 "We need to update existing reports in V2"
### Overview
We need to update the current reports in V2

### Action Items

- [ ] Remove `NEIGHBORHOOD WEEKLY REPORT` and `REQUEST TYPE MAP`.
- [ ] Update content of `Overview`, `Recent` and `Neighbourhood` reports (contents and layouts).
### Resources

[2021-08-06 02:03] captain-nimo opened #1123 "Need to update default color mode for V2"
# Description

Currently, the default theme is dark, we need to change the default color theme/mode.

## Action Items

- [ ] Make light color as the default mode.
- [ ] Users should be able to change color mode to dark mode (if they want to).

## Resources

[2021-08-08 21:50] elizabeth-ux commented on #848
Found V2 usability [testing script](https://docs.google.com/document/d/1TmNUgahYILzQAuH_0-Ge-JA6NiH-sErC/edit?usp=sharing&ouid=115969779390102088313&rtpof=true&sd=true) in Google Drive UX Research folder. Updating script with current V2 features and saving as a revised version (to not lose original)

[2021-08-13 01:43] adamkendis commented on #833
Progress: Started a week ago.
Blocks: Have been blocked by work.
Availability: Will be working on it this weekend.
ETA: By next week.

[2021-08-13 02:14] dhwanirparekh commented on #571
Above doc [311 Data User Journey & Key Features Mapping](https://docs.google.com/document/d/1DU6tN1xrBimskMpmKaCGntfJA6UxVwVaq0wa2lniqB0/edit) captures the stakeholders and features very well. We would be discussing the relationship between stakeholders in the next meeting.

[2021-08-13 02:58] chelseybeck commented on #1117
Reaching out to Matt Webster to review prototypes and will update when more info becomes available.

[2021-08-20 01:35] captain-nimo commented on #965
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-08-20 01:36] captain-nimo commented on #834
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-08-20 01:36] captain-nimo commented on #1117
Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-08-20 01:53] ExperimentsInHonesty commented on #571
New miro board.  ask to be added https://miro.com/app/board/o9J_l1AapbU=/

[2021-08-25 02:14] dhwanirparekh commented on #1107
No longer needed?

[2021-08-25 02:17] dhwanirparekh commented on #1106
No longer needed?

[2021-09-02 22:38] funbunch commented on #965
In progress.
Need some more styling guidance.
Available to finish this asap after that.

[2021-09-03 01:35] chelseybeck commented on #1117
Still in research phase and am improving documentation of the process so that entry level data analysts can easily onboard to this project.

[2021-09-03 01:36] captain-nimo commented on #848
@elizabeth-ux Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

[2021-09-03 01:59] captain-nimo commented on #1117
@chelseybeck, can you please add the size of the ticket?
https://github.com/hackforla/311-data/labels?q=size

[2021-09-03 02:22] captain-nimo commented on #1122
We're not removing the reports we've built. We need to make the reports more intuitive.

[2021-09-03 02:26] captain-nimo commented on #1122
@dhwanirparekh, can you please add the size of the ticket?
https://github.com/hackforla/311-data/labels?q=size

[2021-09-10 01:01] KristenDLR commented on #834
Progress: In progress, material-ui button to show map legend.
Blocks: Need some guidance on functionality, will discuss a scheduled meeting for this upcoming week.
Availability: Wednesday anytime after 2pm, Friday anytime after 2pm

[2021-09-10 01:20] chelseybeck commented on #1117
Working w/ @KarinaLopez19 to update documentation

[2021-09-10 01:44] captain-nimo commented on #848
@elizabeth-ux Please provide update:

1. Progress
2. Blocks
3. Availability
4. ETA

Also, can you please add the size of the ticket?
https://github.com/hackforla/311-data/labels?q=size

[2021-09-10 01:57] ExperimentsInHonesty commented on #848
@elizabeth-ux About 14 days ago, I put the following note

 Since we did not hear from you on this issue for two weeks we are assuming you are not working on it.   If you have specific questions please put them in this issue.

[2021-09-10 02:19] ExperimentsInHonesty commented on #848
sent you a message on slack
@danarchen @kevindperez  it looks like there are two documents referenced in this issue but I can't access either of them.  Can you both check to see if you have access to either and then make sure they are located in the 311 folder.

Dana provided this link [Script document](https://docs.google.com/spreadsheets/d/1ueibPcAseB8wck_UyXkBn7J61r8MF5J76DObcwtVJdU/edit?usp=sh

[2021-09-14 02:42] elizabeth-ux commented on #848
Came up with a few questions for the [script](https://docs.google.com/document/d/1umm0Jawq6_Ejkrd2DGA7LjsyshAiYg2qF_DaZEQPsik/edit?usp=sharing), but it's a bit difficult since the dev site isn't complete so I can't really test the tasks. This is the general idea. Have the user test the main menu and settings and then move along to the reports to see if they can find certain reports, etc.

[2021-09-17 00:53] dhwanirparekh commented on #1120
Points 4 & 6 needs action from UI/UX team - has to figure out colors to meet the contrast requirements, rest are for the frontend team

[2021-09-17 01:43] ExperimentsInHonesty commented on #571
Snow from the open community survey project and I met with Lissa who is helping us work on this.

[2021-09-17 02:20] ExperimentsInHonesty commented on #713
Project currently uses HotJar GA Mixpanel

[2021-09-17 02:20] #713 closed

[2021-09-17 02:21] ExperimentsInHonesty commented on #712
happening via v2

[2021-09-17 02:21] #712 closed

[2021-09-17 02:28] ExperimentsInHonesty opened #1125 "Project Cleanup of extra boards"
### Description
We need to clean up the project management so its easy to understand where we are and what needs to be done next

### Action Items
- [ ] Sort vision board into done and undone columns
   - [ ] review each item in the undone
      - [ ] determine if there is any related issues
        - [ ] If yes, should we keep the current undone issue or close it
           - [ ] if closing, clos

[2021-09-17 02:45] ExperimentsInHonesty commented on #708
We cannot do this.  It may be feasible but it would greatly upset our stakeholder.  If you reopen this issue or another like it, you will be met with deep scorn and derision.

[2021-09-17 02:45] #708 closed

[2021-09-17 02:51] elizabeth-ux opened #1126 "Menu contrast"
### Overview
"Filters" and "Council" tabs on the query panel need greater contrast to meet tier 2 standards. Most of the text seems okay but I'd still run it past a color contrast checker to make sure since there are a lot of greys used.

Notes:
- tab color is #[insert]
- Darker color is #0F181F
- Medium grey tones are often tricky as a backdrop to text.
- Area around the input box for "Address"/"

[2021-09-17 02:52] elizabeth-ux opened #1127 "Navigation hover contrast"
When hovering over the navigation bar on top of the page, it is difficult to see the hover color when the mouse hovers over the text due to the lack of color contrast.

## Action Items

## Resources

[2021-09-17 02:54] elizabeth-ux opened #1128 "[CLOSE THIS] Request type colors"
The chartreuse single is indistinguishable from the mint green background on the safari iPhone 7. There's little difference between the homeless green and the single chartreuse. I would suggest using indigo instead. Or heliotrope or bright blue to distinguish it from the animal turquoise.

## Action Items

## Resources