[2021-09-18 21:20] ExperimentsInHonesty commented on #516
Identify
- what the value to doing this is
- if there is already a resource
- the reliability of the data sources

[2021-09-18 21:51] ExperimentsInHonesty commented on #1092
Follow up with everyone involved to find out if this was helpful for them.

[2021-09-22 19:48] chelseybeck commented on #1117
Review existing reports and identify pain points for users less comfortable with data.

# Recommendations

- [ ] include a high-level description for each report page (e.g., The below charts represent 311 requests over the past 30 days. Charts are interactive. Hover over the data points for more information. Select or deselect request types by clicking on them in the legend.
- [ ] include a high-l

[2021-09-23 21:06] ExperimentsInHonesty opened #1129 "Document 311 Data team meeting times and who Must/Should/Can attend"
### Overview
The Civic Tech Jobs team needs accurate meeting time information from the 311 Data team to help match your project with available volunteers.

### Action Items
- [ ] provide details about the each meeting in a comment by using a copy of the check boxes below
- [ ] post a link to this issue on https://github.com/hackforla/CivicTechJobs/issues/35 in a comment letting the civic tech jobs

[2021-09-24 00:09] pras4u opened #1130 "Walkthrough 311 Data Features to 'Access the Data' Team"
Walkthrough
311 Requirements Survey for NC
JAM Session Notes
Hotjar Feedback
User profiles & Features
Site Walkthough
Hatjar & GA Walkthrough

[2021-09-24 00:10] pras4u opened #1131 "Create Current Version Features vs Next Iteration Features"
List current version features
Compare against next iteration features

WIP Link below

https://docs.google.com/spreadsheets/d/1KWPIoo0skY4I_Xi7bFTPbyjQ6QiyVq4RML_t3IViAqs/edit#gid=0

[2021-09-24 01:22] pras4u commented on #1125
Vision board cleaned up; Moved issues to project board; Need to work on the product requirements of individual items when prioritized for a milestone.

[2021-09-24 02:08] ExperimentsInHonesty commented on #504
Bonnie put a note on the ds review board

[2021-09-24 02:33] EchoProject opened #1132 "311-Data Drive Migration"
### Overview
We need to move files from My Drive system to the new 311 Shared Drive so we do not lose files when team members leave the project.

### Action Items

- [x] Recreate folder structure in new Shared Drive
- [ ] Reach out to existing PM team (Pras & Bonnie)
- [x] Add column to roster and add check box to those with files
- [x] Add column to roster to indicate files have been moved

### R

[2021-09-24 02:59] chelseybeck commented on #1117
# Identify points of improvements to make plots more meaningful to different audiences

[2021-09-24 04:38] EchoProject commented on #1132
Initial folder recreation has been completed. Get confirmation that all folders exist.

[2021-09-24 04:41] EchoProject commented on #1132
Columns [Has File Ownership in Google Drive | Google Drive Files Have Been Moved] have been added to the 311-Data team roster and those with files have a checkmark in their cell.

[2021-09-27 03:11] elizabeth-ux commented on #1129
Sorry. Accidentally clicked Closed on this issue. Moved back to Review

[2021-09-27 04:21] elizabeth-ux commented on #1126
FILTERS word on menu does meet contrast standards for large text. Address/Council and Open/Closed tabs should look like this
![Frame 22](https://user-images.githubusercontent.com/20293568/134844945-5a700972-8736-482f-88b8-e88e3e730605.png)
with darker color being #0F181F.
Also, area around input box for Address/Council should be #29404F so that it looks like Date Range, Request Types and Request S

[2021-09-28 17:35] EchoProject opened #1134 "Missing Labels From Issues"
### Description
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

- #1407

### Action Items

- [x] Filter for issues missing feature label
- [x] Filter for issues missing size label
- [x]  Filter for issues missing role label
- [x]  Filter for issues milestone label

#### Check back periodically to check on the below links and confirm Iss

[2021-09-28 18:13] ExperimentsInHonesty commented on #1129
This meeting Thu 7:30 pm, 1 hour, Management Meeting gets replaced with Tuesday 11am, 1 hour

[2021-09-28 18:13] ExperimentsInHonesty commented on #1129
Thu 6:30 pm, 1 hour, Team Meeting

[2021-09-28 18:18] EchoProject commented on #1132
During folder check with Bonnie, discovered following missing folders:
1. Data Analysis - Users (Adel, Adrianna), Working Files (ArcGis),
2. UI/UX - Interviews (Past), UX Research (Recordings of Interviews)
Eric will add folders to new Drive.
https://drive.google.com/drive/folders/1ObUz4mTQmSCwND_WQcOXAuCeKpCwNzmz

[2021-09-28 18:28] EchoProject commented on #1129
Submitted issue to VRMS to issue update on meeting times.

https://github.com/hackforla/VRMS/issues/769

[2021-09-28 18:31] ExperimentsInHonesty commented on #1129
@EchoProject I add the issue to the vrms board and put it at the top of their prioritized backlog.

[2021-09-28 18:48] ExperimentsInHonesty opened #1135 "Define district types"
### Overview
We need to have a definition of District types so that we can identify which projects intersect which districts.

## Action Items
- [ ] Identify large groups
- [ ] identify links for groups
- [ ] research how we will create a data set out of this info that will be self updating (meaning are there apis for these groups)
- [ ] ...

## Resources
#### Initial Identification of District ty

[2021-09-29 05:39] EchoProject commented on #1132
Completed adding missing folders to the [New Shared Google Drive](https://drive.google.com/drive/folders/1ObUz4mTQmSCwND_WQcOXAuCeKpCwNzmz).
Count of total folders == 34 (as of 2021-09-28).

Next steps: Reach out to active and inactive team members to move files from the [Old Shared Google Drive](https://drive.google.com/drive/u/2/folders/10_KYe3pbZqiq6reeLA8zDDeIlz-4PxWM) to the new one.

[2021-09-29 05:58] EchoProject commented on #1134
Completed filtering issues for missing feature and size labels.
Next step: Report to the team to have active members resolve missing labels.

Issues missing feature label == 14
Issues missing size label == 0

2021-09-28

[2021-09-29 16:38] EchoProject opened #1136 "311: PM Team Meeting Agenda and Notes"
### Overview
Meeting Agendas for PM/Org meetings

### Action Items

#### To create a new agenda
- [ ] Copy the template below into a new comment
- [ ] Edit the text you pasted with new items for your agenda
- [ ] Add the link to the new comment with its date under Resources/Instructions

### Resources/Instructions
- #1407
The prework should be done before the meeting so that it can be discussed du

[2021-09-29 17:12] EchoProject commented on #1136
2021-09-28

1. Bonnie and Eric reviewed the Shared Google Drive migration issue. Found subfolders missing from the [New Drive](https://drive.google.com/drive/folders/1ObUz4mTQmSCwND_WQcOXAuCeKpCwNzmz) within the Data Analysis and UI/UX folders. Next step: Eric will complete the folder recreation.
2. Updated [311-Data team meeting schedule](https://github.com/hackforla/VRMS/issues/769) issue and se

[2021-10-01 01:01] EchoProject commented on #1129
I received a message from David Rubenstein that the meeting times have been changed as requested, [viewable here](https://www.hackforla.org/events/).

David Rubenstein moved this from Prioritized Backlog to Users Acceptance Testing in [VRMS v0.3 Development](https://github.com/hackforla/VRMS/projects/2#card-69714536).

Nest step: 1) Confirm changes to be accurate. 2) Notify David Rubenstein that c

[2021-10-01 01:17] funbunch commented on #965
I have been blocked this week by interviews/prep. Design is done, and hope I can get to completing the functionality by tomorrow or this weekend.

[2021-10-01 01:20] adamkendis commented on #1099
Status: Blocked by work the past week. Getting CORS error on POST to `/feedback` but it also looks like the error isn't being properly handled in the client, causing the button to spin endlessly without any useful feedback for the user. Will be resolving the CORS error this Saturday, 10/2. Will also see if there's a low LOE improvement/fix for providing feedback in the UI on a failed `Contact Us`

[2021-10-01 01:54] EchoProject commented on #1120
UX team made issues:
#1126
#1128
#1127

[2021-10-01 01:55] pras4u commented on #1130
Walkthrough complete.

[2021-10-01 01:55] #1130 closed

[2021-10-01 01:55] EchoProject commented on #1120
Hi @adamkendis . Do you need us to make the dev tickets from this issue?

[2021-10-02 21:56] EchoProject opened #1137 "Project Issues: Clean Up, Sorting, and Prioritization (311-Data Team or Data Science Team)"
### Dependency
Dependent on confirming that all required v2 feature issues are in the prioritized backlog and well documented.

### Description
We need to sort all issues on the Project Board to be within the scope of either the 311-Data team or the Data Science team so we can drive lingering issues that have no current outlet and focus on the prioritization of clearing issues on the Project Board

[2021-10-05 18:36] elizabeth-ux commented on #1127
Navigation hover contrast
![Screenshot 2021-10-05 113050](https://user-images.githubusercontent.com/20293568/136082591-e4b25e6f-4c4d-405e-8be1-075215dcd1b3.png) should have yellow underline (#FFB100 per file in Design System) instead of gray hover color.
![Top Nav](https://user-images.githubusercontent.com/20293568/136082757-1e57db44-4edf-4e70-9ee7-1f5db3d9859b.png)

[2021-10-07 23:49] chelseybeck commented on #1064
I agree that this should be updated, so I'm keeping it open and assigning it to myself for now.

[2021-10-08 01:22] EchoProject commented on #1129
David Rubenstein confirmed the completion of the change request to VRMS. The issue has been closed on their end.

Next steps: 1) I need access to 311-Data's HFLA email address. 2) I will create recurring meetings via Zoom and create recurring events on Google Calendar.

[2021-10-08 01:55] EchoProject commented on #1137
Adam will look through Ice Box column and label/ move appropriate Issues.

[2021-10-12 18:32] ExperimentsInHonesty commented on #1115
@adamkendis Is is possible to create a markdown or YAML file where we list out all the routes and the application looks to that file?

[2021-10-12 18:47] ExperimentsInHonesty opened #1139 "Make Selector responsive"
### Overview
We need all selector box feature to be responsive on the website.

### Details
 The selector box was clipped for me on my 13" screen and there was no way to scroll down the page or the selector box, so I had to resize in my browser to get the full controls.

### Action Items
- [ ] Replicate issue
- [ ] Figure out why it not responsive
- [ ] Propose changes
- [ ] Get Approval for Propo

[2021-10-12 18:57] EchoProject opened #1140 "Date Range Navigation Design Change"
### Overview
We need to fix the "date range" drop-down with the calendar feature as it overlaps with the "request type" causing difficulty when reading and navigating.

### Action Items

- [ ] Recreate issue
- [ ] Propose changes
- [ ] Get Approval for Proposed Changes
- [ ] Submit PR

### Resources/Instructions
![Point_3](https://user-images.githubusercontent.com/38696871/125009344-027e1e00-e02a-

[2021-10-12 18:57] ExperimentsInHonesty opened #1141 "Change Map Selection default and options"
### Overview
We need to make the request type selection more flexible so that users don't have to spend more time clicking than is necessary to get exactly what they want.

### Details
Would also be nice to have the ability to select one request type or deselect all (or start uninitialized with a select all option) since I know users like to look at one specific request type at a time more often t

[2021-10-12 18:59] #1120 closed

[2021-10-12 23:53] EchoProject commented on #1136
2021-10-12

1. The automated feature of "Stale" posts was requested to be removed from the Project Board.
2. Bonnie and Eric reviewed "In Progress" Issues on the Project Board and commented for an update on Issues past 7 days without any update.
3. Bonnie closed the "Document 311-Data Meeting Times ..." Issue.
4. Bonnie updated the Project Board automation setting to move Issues to the "Done" colu

[2021-10-14 03:13] elizabeth-ux commented on #1126
From the Sept. 30 meeting I attended and in which this issue was discussed, I think this was going to frontend. Not sure if I was supposed to reassign or PMs.

[2021-10-14 18:43] EchoProject commented on #919
Adding this Issue to items for review for the product roadmap.

[2021-10-14 18:44] EchoProject commented on #588
Adding this Issue to items for review for the product roadmap.

[2021-10-14 18:45] EchoProject commented on #829
Adding this Issue to items for review for the product roadmap.

[2021-10-14 18:47] EchoProject commented on #808
Adding this Issue to items for review for the product roadmap.

[2021-10-14 18:54] EchoProject commented on #1094
Adding this Issue to items for review for the product roadmap.

[2021-10-14 18:57] EchoProject commented on #1110
Get an update from UI/UX on accessibility testing. Consider how we approach testing for future iterations.

[2021-10-15 01:19] EchoProject commented on #1140
Get Design recommendation on how to change the design of the date range.

[2021-10-15 01:30] chelseybeck commented on #1117
@ExperimentsInHonesty - no. I'm breaking this down into multiple issues for the data science team so I need to move everything over before I close. Will be done tonight.

[2021-10-15 01:52] EchoProject commented on #994
Feedback is that this is not a priority with our current user base. Adding milestone to Technical Debt.

[2021-10-15 02:00] EchoProject commented on #1034
Matt has made an endpoint on the API which returns the geojson. Current plan is to create new mapbox layer that renders the geojson feature. Should be toggleable at bottom right of map.

[2021-10-15 02:14] EchoProject commented on #1107
https://github.com/hackforla/311-data/issues/1117#issuecomment-943928180

[2021-10-15 02:14] #1107 closed

[2021-10-15 02:19] EchoProject commented on #802
@adamkendis what role should be responsible for leading this discussion?

[2021-10-15 02:22] EchoProject commented on #1035
@adamkendis  Are the technologies APIs to build the product? How should label this Issue?

[2021-10-15 02:38] EchoProject commented on #1092
Next steps:
1. Interview Pras
2. Write up a history of this service delivery
3. Make a research plan

[2021-10-15 02:51] #965 closed

[2021-10-15 18:43] chelseybeck opened #1228 "Create timeline based comparison tool"
### Overview
The 311-data team has requested a report feature for dashboards that compares request data from month to month and year over year (last 3 years)

### Action Items

- [ ] Create a new report/dashboard using a plotly dash python file ([existing dashboards](https://github.com/hackforla/311-data/tree/dev/server/dash/dashboards) are a great starting point) with timeline charts showing mont

[2021-10-15 18:45] chelseybeck commented on #706
@EchoProject I have created a [new issue](https://github.com/hackforla/data-science/issues/125) in the Data Science repo and am closing this issue.

[2021-10-15 20:18] chelseybeck opened #1234 "Replace column chart with stacked bar chart on the reports overview page"
### Overview
Replace column chart with stacked bar chart to improve visualization

### Action Items

- [ ] Edit existing dashboard - [overview](https://dev.311-data.org/reports/dashboards/overview) to replace column chart w/ stacked bar chart

### Resources/Instructions

[311-data project onboarding](https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?pli=1#heading

[2021-10-15 21:23] chelseybeck opened #1233 "Add a high-level description for each 311-data app dashboard"
### Overview
Add a high-level description to each report/dashboard on the 311-data app to add more context for viewers.

### Action Items

- [x] add high-level description to [overview dashboard](https://dev.311-data.org/reports/dashboards/overview)
- [x] add high-level description to [recent dashboard](https://dev.311-data.org/reports/dashboards/recent)
- [ ] add high-level description to [neighb

[2021-10-15 22:10] chelseybeck opened #1229 "Research incorporating population data into 311-data reports/dashboards"
### Overview

Comparing neighborhoods by the number of requests when each neighborhood council differs widely in population size can be misleading.

### Action Items

- [ ] Research ways to join 311-data requests with population data

### Resources/Instructions
[311-Data Project Onboarding](https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?pli=1#heading=h.c8tc614

[2021-10-19 18:12] #1106 closed

[2021-10-19 18:15] EchoProject commented on #967
Discuss with @adamkendis and @pras4u which web analytic libraries we're using.

[2021-10-19 18:42] EchoProject commented on #959
@adamkendis if this work hasn't been started yet, is there any objection to moving this issue into v3 scope?

[2021-10-22 01:39] #1117 closed

[2021-10-22 02:15] chelseybeck opened #1232 "Identify points of improvements to make 311-data dashboards more meaningful to different audiences"
### Overview
The 311-data dashboards display data about 311 requests but right they aren't answering key questions that neighborhood council members might have or need to answer to make informed decisions. Here are some examples of interesting questions that might produce more meaningful dashboards:

- How does my neighborhood council compare to another council in terms of the type of request or d

[2021-10-28 21:04] elizabeth-ux opened #1147 "Reports drop down menu"
### Overview
We need to update the navigation color scheme to match the rest of the site so that we have consistency.

#### Details
- The dev site at the time of this comment is using the wrong color palette. [This comment](https://github.com/hackforla/311-data/issues/1147#issuecomment-962811934) indicates the correct "dark" color and yellow hover color. The information is also located in Figma.

[2021-11-02 18:07] EchoProject commented on #1127
Hi @ezhou0! Let us know what discussion items you would like to review regarding this issue. Thanks!

[2021-11-02 18:57] ezhou0 commented on #1127
I wasn't sure what color to change the hover to, so I defaulted to red. If a UI/UX person had more of a vision for a better contrast color I can change it to that. Otherwise it's ready to be merged

[2021-11-02 22:57] EchoProject commented on #801
Line items taken from above to work through and group together.

- [ ] Heat map appears uniformly red if there are many data points (Why were other map types were taken away?)
   - look into hot spot map vs heatmap

UX
- [ ] Too many clicks to view any data.
- [ ] Too many calls to action upon first loading map
- [x] No data displays upon map load
- [x] Menu takes up large portion of the page
- [

[2021-11-02 23:07] EchoProject commented on #1136
2021-11-02

1. Quick run-through of the Review column on the Project Board. Made a note to discuss with the team the PR review process. Commented on a FrontEnd issue for additional discussion details in the comments.
2. Reviewed line items from https://github.com/hackforla/311-data/issues/801#issue-692620071 mainly regarding some UX notes from v1.
3. Based on one of the line items from the above:

[2021-11-03 00:17] EchoProject opened #1150 "Add "How To Submit A Service Request" answer to the FAQ"
### Overview
We need to add a question and answer to the FAQ that addresses how one might submit a request so that users requiring this information will have a clearer path.

### Action Items

- [x] Get login credentials for Contentful
- [x] Add Q&A to FAQ page

Question: "How can I submit a service request?"
Answer: "The most popular City services can be requested by calling 311 or (213) 473-3231

[2021-11-05 01:58] EchoProject commented on #1127
Hi @elizabeth-ux! Is the underline actually the hover state, and if it is, what is the state when you're on the page?

[2021-11-05 02:09] EchoProject commented on #959
Closing this issue after team discussion for lack of feasibility.

[2021-11-05 02:09] #959 closed

[2021-11-05 02:14] EchoProject commented on #801
@adamkendis will add notes to the check boxes.

[2021-11-05 02:50] ExperimentsInHonesty commented on #1134
Issues missing feature label = 1
Issues missing size label = 0

[2021-11-05 05:35] EchoProject commented on #1150
Per the team meeting, I can get Contentful CMS login info from 1Password and add this question and answer to the FAQ myself.

[2021-11-05 05:39] EchoProject commented on #808
Hi @elizabeth-ux I wanted to see if this issue was still relevant to the v2 launch. It looks like there was some discussion and work done, but there are no additional notes/ comments on what happened next. Could you share what you know regarding the accessibility color palette?

[2021-11-08 04:54] elizabeth-ux commented on #1147
Change the background color on menu dropdown to #0F181F and change hover to yellow underline #FFB100
![Reports Menu](https://user-images.githubusercontent.com/20293568/140686273-88ab4f7c-adea-4713-b916-d045ad5e8ded.png)

[2021-11-09 19:40] ExperimentsInHonesty commented on #817
The only use case we are thinking about for authentication is campaign management/data analysis.  And the authentication will be discussed when we do product requirements for that new version of the app.

[2021-11-09 19:40] #817 closed

[2021-11-09 19:45] ExperimentsInHonesty commented on #915
ask adam if he know what this issue is about

[2021-11-09 23:53] EchoProject commented on #1056
Making a note to include Peer Review process:
1. Two devs to PR a pull request before Sr. Dev review.
2. A dev may submit a review if they have completed an issue of the same size (i.e. size pt1 can be reviewed by any dev, pt2 can be reviewed by devs that have completed at least a pt2, once completing pt8 can review all others).
3. Add screenshots and videos to pull request comments.

[2021-11-12 00:45] EchoProject commented on #1150
Q&A has been added to the test site and can be found here: https://dev.311-data.org/faqs

[2021-11-12 00:59] EchoProject commented on #1136
2021-11-09

1. Discussed having a suggestion box for new features that are not derived directly from research. We can possibly create a new label that states if the Issue is research-based. We can create a spreadsheet that maps ideas and research.
2. The Peer Review documentation will be added to the Wiki once the Wiki is ready to be worked on. At this time, we are waiting for the completion of th

[2021-11-12 02:53] EchoProject commented on #808
Make Issue for backend, request data, names, abbreviations (stored). To extend color options, backend needs small changes and frontend creates controls.

- [ ] Get colors and palettes from UX - Request type color issue already created
- [ ] Update backend (create new issue)
- [ ] Update frontend (control/toggle)

Wait until colors are implemented and send for user testing.

[2021-11-12 02:54] EchoProject commented on #1127
@ezhou0 see https://github.com/hackforla/311-data/issues/1147 for example.

[2021-11-12 03:06] EchoProject commented on #915
This will get handled by district-type API that Data Science team is building.

[2021-11-12 03:06] #915 closed

[2021-11-12 03:10] EchoProject commented on #675
Circle back to @chelseybeck on downloading reports/ maps.

[2021-11-12 03:44] adamkendis opened #1154 "NC boundaries not rendering on dev site"
### Overview
When visiting dev.311-data.org, the boundaries do not render and the following error is logged in the console.
`Error {message: 'Input data is not a valid GeoJSON object.'}`

### Action Items
 - Update with valid geojson.

[2021-11-12 03:47] adamkendis opened #1155 "Address searching crashes app"
### Overview
Address searching crashes app

### How to reproduce bug:
1. Visit dev.311-data.org
2. Enter `1025` in the address search input
3. Select `1025 Venice Blvd`
4. App crashes - see errors in console

### Action Items
- [ ] Reproduce bug
- [ ] Inspect runtime to see what errors it might be throwing, and troubleshoot from there
- [ ] While working on this ticket, also limit the address sear

[2021-11-12 03:52] alexulven opened #1156 "Update copyright message"
### Overview
We need to update the copyright message at the bottom of the map to better explain how the map can be used and link to the license.

### Action Items

- [x] Change the copyright message in the footer to the following: "311Data License | Privacy Policy | Powered by volunteers from Hack For LA"
- [ ] The text 311Data License should link to the license on the wiki: https://github.com/hac

[2021-11-12 04:01] elizabeth-ux opened #1157 "Desktop Menu redesign"
### Overview
Redesign desktop menu to remove filters/settings option and include those options as part of the menu

### Action Items
- [x] Remove Filters cog
- [x] Incorporate filters/settings options into menu as accordion
- [ ] Incorporate a District tab
- [ ] Remove boundary drop-down from Address tab
- [ ] Add boundary drop-down to District tab
- [ ] Omit information box
- [ ] Make council sea

[2021-11-16 19:24] EchoProject commented on #675
Hi @chelseybeck please provide a link to the new ticket here.

[2021-11-16 19:55] EchoProject commented on #1140
Requested a review from Arnold on the changes.

[2021-11-16 20:01] EchoProject commented on #1154
Hi @adamkendis should we keep this issue in the Icebox, or can we do an issue approval?

[2021-11-16 22:16] EchoProject commented on #1147
@elizabeth-ux can you provide a link to the Figma where this was worked on? We were trying to see the inconsistency between this and the current state of the dev-site.

To us, it seems the above background color is more black and the yellow is slightly more orange here.

[2021-11-16 22:23] #1150 closed

[2021-11-16 22:25] EchoProject commented on #1136
2021-11-16

1. PM Team meeting will be changed to Tuesdays at 3 pm.
2. 311-Data Team meeting Zoom link has been updated and the host key is available in the 311-Data 1Password vault.
3. Bonnie set up a meeting request with Dana to discuss Google Drive and Figma migrations.
4. Updated the #808 to include further details on dependency, dev tickets, and testing.
5. Moved #1154 and #1155 to the Review

[2021-11-19 02:52] #1140 closed

[2021-11-19 02:56] chelseybeck opened #1231 "Show source information on file exports"
### Overview

Currently, when someone exports an image, csv, or PDF, the source information isn't there. We should be including a reference to our site, to the data source, and information regarding the query like the date it was generated, NC, request type, etc.

### Action Items

- [ ] PNG Export (contains all these items visible at the bottom
- [ ] CSV Export (contains info towards the top of t

[2021-11-19 02:58] #675 closed

[2021-11-19 03:13] #1125 closed

[2021-11-19 03:19] EchoProject commented on #1131
Next steps as discussed in meeting:
"Yes" to any feature already in v2
The issue number if it hasn't been added to v2
If it's not there and there's no number, then add missing
If it's in v2 but not in v1 add it to the list of features

[2021-11-19 03:21] EchoProject commented on #1134
2021-11-18
Issues missing feature label = 0
Issues missing size label = 0
Issues missing role label = 0
Issue with no milestone = 26

[2021-11-21 17:57] alexulven opened #1158 "Fix report page url"
**Describe the bug**
When navigating to the reports page, if you type the address directly, the result is a blank page. To get to the reports page, you have to go to the map first and then click on the reports tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Type in the address https://dev.311data.org/reports/
2. View the blank screen.

**Expected behavior**
A clear and concise descripti

[2021-12-03 02:42] adamkendis commented on #801
I will add notes to the checkboxes on Saturday, 12/4.

[2021-12-03 02:43] adamkendis commented on #1099
Need to dig into AWS. Will look into this before next Thursday's meeting.

[2021-12-03 02:45] adamkendis commented on #833
I have an in progress branch. Will push it up and pull in another dev to complete if I'm not able to in the next week or two.

[2021-12-03 02:45] adamkendis commented on #1115
I have an in progress branch. Will push it up and pull in another dev to complete if I'm not able to in the next week or two.

[2021-12-03 02:50] adamkendis commented on #1155
While working on this ticket, also limit the address search just to Los Angeles.

[2021-12-07 00:08] ExperimentsInHonesty commented on #1134
Audit 2021-12-6
Issues missing feature label = 21
Issues missing size label = 53
Issues missing role label = 7
Issue with no milestone = 74

[2021-12-07 00:12] ExperimentsInHonesty commented on #1134
We should edit this issue so that it clearer what to do.  Here is an example of an issue that is for another project
https://github.com/hackforla/internship/issues/93

Here is the text of their issue (obviously the links are different for them and would need to be replaced)
### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

##

[2021-12-10 00:34] adamkendis commented on #1115
Update: Going to hold on to this ticket for now. My in-progress branch would need a ton of cleanup for a new dev to easily pick it up. Will be able to finish and push this feature before Christmas.

[2021-12-10 00:38] adamkendis commented on #1099
I haven't been able to resolve this yet. Thoughts on a band-aid fix by replacing the v1 form with "send us an email at 311-data@hackforla.org" or something along these lines?

[2021-12-10 00:47] elizabeth-ux commented on #1157
This is what I have so far.
![9EE87F98-07BF-4E29-ABAE-7952AAF85DE5](https://user-images.githubusercontent.com/20293568/145498235-556508a6-bcc4-4f95-a162-cbf37a0f4cf4.jpeg)
Need to add the colors to the requests and fix spacing on the menu. I alphabetized the requests as well.

[2021-12-10 00:52] adamkendis commented on #1099
Just had a thought: this might be failing due to a change in the Github API. Will investigate over the weekend.

[2021-12-10 02:43] EchoProject commented on #634
See if the issue is still true.

[2021-12-10 02:45] EchoProject commented on #699
Will be handled in Plotly Dash. Find requirements for the reports.

[2021-12-10 02:54] EchoProject commented on #1127
Adam is looking into why the checks aren't passing on the PR.

[2021-12-10 02:58] EchoProject commented on #998
@roz0n
Please update:
1. Progress:
2. Blockers:
3. Availability:
4. ETA:

[2021-12-10 02:59] EchoProject commented on #1064
@chelseybeck
Please update:
1. Progress:
2. Blockers:
3. Availability:
4. ETA:

[2021-12-10 03:00] ExperimentsInHonesty commented on #571
still meeting with Snow and Lissa every week on thursday on this.  Just added Bernard from the Open Community Survey project to help us move it to figma

[2021-12-10 03:02] KristenDLR commented on #834
Progress: Issued pull request, collapsable legend. After the meeting and PR received suggested changes. Will be working on it this week, for next week's review.

[2021-12-11 00:00] EchoProject commented on #1136
2021-12-6
1. Changed PM Team meeting scheduled for Dec. and Jan. 12/17 will be on Friday at 4pm. 12/20 and 12/27 will be on Monday at 3pm. Starting in January, the meetings will remain on Fridays at 4pm.
2. Reviewed label audit issue #1137 and added another set of links for auditing.
3. Discovered [311 MVP ](https://github.com/hackforla/311-data/projects/4) project board that has been closed. Went

[2021-12-11 00:08] EchoProject opened #1160 "[FUTURE] Footer tooltip for "Data updated through""
### Overview
We need to provide a tooltip for the "Data updated: [date]" item in the footer to provide further explanation of what the date represents to mitigate friction.

### Action Items
- [x] Write a brief explanation of what the "Data Updated Through" date/time in the footer represent. Specifically we get data from LA City Data Portal automatically and that is when we last refreshed the data

[2021-12-11 00:09] EchoProject commented on #630
- This issue is being closed as it pertains to v1 launch. A new issue has been created for v2 #1160

[2021-12-11 00:09] #630 closed

[2021-12-11 00:14] EchoProject commented on #1137
- We are tracking missing labels for issues on the project at issue #1134. We need to drive this number down weekly.
- Issues in the Icebox have dependencies added to them.
- We need to get updates for In Progress column issues weekly.

[2021-12-16 19:38] adamkendis commented on #1115
Update: same as last week!

[2021-12-17 02:23] EchoProject commented on #1134
2021-12-16
Report how many issues are missing labels for each type:
   - [ ] Features: 18
   - [ ] Size: 56
   - [ ] Role: 7
   - [ ] Milestone: 75

[2021-12-17 02:36] EchoProject commented on #1147
The dev site at the time of this comment is using the wrong color palette. The above comment is using the correct "dark" color and yellow hover color and is located in Figma.

[2021-12-17 03:31] EchoProject commented on #1158
Ask Adam if we can redirect the "reports" url link to the 311-data.org while we consider the following:

Reports: create a reports home page that displays all reports with educational information.

[2021-12-18 00:10] alexulven opened #1161 "Agenda and Minutes 2021-12-17"
### Overview
This issue tracks the agenda for the PM/Org meetings for the 311-data project

### Resources
Add a link to each comment below (each one being an agenda and meeting minutes

### Past
[2021-12-17](https://github.com/hackforla/311-data/issues/1161#issuecomment-997103445)

[2021-12-18 00:16] ExperimentsInHonesty commented on #1161
## Agenda and Minutes 2021-12-17

### Prework
- [ ] label audit #1134

### Roll Call
Bonnie, Lexi, Eric

#### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/311-d

[2021-12-18 00:23] ExperimentsInHonesty commented on #1134
Date (Year-Month-Day):
Report how many issues are missing labels for each type:

 Features: 18
 Size: 57
 Role: 7
 Milestone: 76

[2021-12-18 00:46] ExperimentsInHonesty commented on #634
@adamkendis whose token are we using?  And also we are using a mapbox key that CfA got us, will we need to change that out as well?

[2021-12-18 00:50] ExperimentsInHonesty commented on #699
@chelseybeck are you able to estimate size on this?

[2021-12-18 00:57] ExperimentsInHonesty commented on #1137
next steps
- [ ] review the issues related to plotly dash that might be on the data science repo now
- [ ] find any that are on our repo
- [ ] talk to Chelsey to figure out her status on each and where she has put the documentation

[2021-12-20 22:55] EchoProject opened #1162 "post v2 Roadmap"
### Dependency
Waiting for clean project board and eta on v2 launch.

### Overview
We need to develop and roadmap based on user research for the next iteration of the 311-Data product post v2 so that we can prioritize requirements from customers.

### Action Items

### Resources/Instructions
[OCS Roadmap](https://docs.google.com/spreadsheets/d/163RPNWPhkeah2OvGCqjByMukYduXk66XY7ZpcpLCzXU/edit#gid=

[2021-12-20 23:08] ExperimentsInHonesty commented on #1161
## Agenda and Minutes 2021-12-17

### Prework
- [ ] label audit #1134

### Roll Call
Bonnie, Eric

#### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)
 - [ ] Accountability and Support Check
    - [ ] Review assignments for each PM
       - [ ] [Bonnie](https://github.com/hackforla/311-data/is

[2021-12-20 23:14] EchoProject commented on #1134
2021-12-20
Report how many issues are missing labels for each type:
 Features: 19
 Size: 44
 Role: 8
 Milestone: 25

[2021-12-20 23:27] ExperimentsInHonesty commented on #571
Lissa could not meet with us for the last few weeks and Snow is going to reach out to her to find out if we need to postpone till jan

[2021-12-20 23:29] ExperimentsInHonesty commented on #228
This is not feasible because the city will not release the images

[2021-12-20 23:29] #228 closed

[2021-12-20 23:29] ExperimentsInHonesty opened #1163 "Get the photos"

[2021-12-20 23:33] ExperimentsInHonesty commented on #1137
@alexulven Were you able to reach Chelsey? Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-12-20 23:38] ExperimentsInHonesty commented on #829
@adamkendis Do you remember what this issue was about?

Was it in reference to the Request status (see this new design vs the two status toggle on the current dev)

![image](https://user-images.githubusercontent.com/37763229/146846752-5cb1c187-99cc-4ae4-aaed-866eb8cfa294.png)

[2021-12-20 23:40] ExperimentsInHonesty commented on #829
If Adam says that is what this issue is about, then product will look to see if this is already covered by another issue, and
if no, revise this issue
if yes, close this issue

[2021-12-20 23:44] ExperimentsInHonesty commented on #1161
## Agenda and Minutes

### Prework
- [ ] label audit #1134

### Roll Call

#### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)
 - [x] Accountability and Support Check
    - [x] Review assignments for each PM
       - [x] [Bonnie](https://github.com/hackforla/311-data/issues/assigned/Experiment

[2021-12-20 23:50] ExperimentsInHonesty commented on #1136
## Agenda and Minutes 2021-12-17
(this was original posted on 12-17 on another issue https://github.com/hackforla/311-data/issues/1161#issuecomment-997103445

### Prework
- [ ] label audit #1134

### Roll Call
Bonnie, Lexi, Eric

#### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)
 - [ ] Accou

[2021-12-20 23:52] ExperimentsInHonesty commented on #1136
## Agenda and Minutes 2021-12-20
(this was original posted on 12-20 on another issue [#1161 (comment)](https://github.com/hackforla/311-data/issues/1161#issuecomment-998336109)

### Prework
- [x] label audit #1134

### Roll Call
Bonnie, Eric

#### Recurring items:
 - [x] review any issues that are in the [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)

[2021-12-20 23:53] ExperimentsInHonesty commented on #1136
## Agenda and Minutes

### Prework
- [ ] label audit #1134
- [ ] Review the icebox to make sure that if dependencies have been met, the issue is moved to new issue approval column

### Roll Call

#### Recurring items:
 - [ ] review any issues that are in the
   - [ ] [new issue approval column](https://github.com/hackforla/311-data/projects/10#column-15704782)
   - [ ] Icebox review
      - [ ] [i

[2021-12-20 23:54] ExperimentsInHonesty commented on #1161
This issue has been closed because we have combined it with an older agenda issue which has all Erics notes from our PM meetings, which we did not want to lose track of.

[2021-12-20 23:55] #1161 closed

[2021-12-21 02:48] johnr54321 commented on #228
For the record… city of SF 311 has their images available online.  Not sure if it works for this, but thought I should add that.

Sent from my iPhone

[2021-12-27 03:44] elizabeth-ux commented on #1157
I've completed the menu redesign. I made a copy of the dark color styles used and placed it in the Design Studio so it's easier to see where the request type colors came from. [https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=2775%3A7702](url)

[2022-01-07 02:24] chelseybeck commented on #699
I've researched and haven't found a way to do this within the plotly dash framework.

[2022-01-07 02:42] ExperimentsInHonesty commented on #998
@roz0n Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-07 02:42] ExperimentsInHonesty commented on #1048
@ezhou0  Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-07 02:43] alexulven commented on #1137
Chelsey told me that her other project has taken up a lot of her time. She said she would comment on #699 to answer the question, but she didn't find a way to add a legend to chart exports in plotly. Chelsey think #1064 could be done by updating the plotly configurations, but she doesn't have the time to do it right now.

[2022-01-07 02:44] ExperimentsInHonesty commented on #834
@KristenDLR Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-07 02:48] ExperimentsInHonesty commented on #1099
@adamkendis Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-07 02:50] pras4u commented on #1131
Update 1/6/2022

Progress - WIP
Blockers - None
Availability - No change
ETA - ~2 -3 weeks

[2022-01-07 02:52] ExperimentsInHonesty commented on #699
@to be discussed with Adam and entire team.  We may need to get off plotly.

[2022-01-07 02:53] ExperimentsInHonesty commented on #1137
@alexulven following up with Chelsey to find out what documentation she has added to project.

[2022-01-07 02:54] ExperimentsInHonesty commented on #1115
@adamkendis Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-07 02:55] ExperimentsInHonesty commented on #1132
@EchoProject where is the spreadsheet that details our progress on this?

[2022-01-07 03:01] ExperimentsInHonesty commented on #1134
2022-01-06
Feature 20
Size 44
Role 8
Milestone 25

[2022-01-07 03:05] alexulven commented on #1137
The documentation is in this issue in the data science project: https://github.com/hackforla/data-science/issues/126

[2022-01-07 03:06] ExperimentsInHonesty commented on #571
Lissa and Snow did not show up to the meeting today and she has been veeeeerry unavailable, and I don't see that changing, I will update again next week after talking to Snow.

[2022-01-07 03:16] ExperimentsInHonesty commented on #1137
We need to take a look at our wiki and the resources Chelsey has provided in issue https://github.com/hackforla/data-science/issues/126 and figure out how we are going to onboard new people

Dependency on this is if we are going to continue to use plotly
see chelsey resources for this - to help us build out the plotly dash

[2022-01-07 03:19] pras4u commented on #700
Marketing plan below
https://docs.google.com/document/d/1vYEwPfVP77ar4kHsdo1T23oWwJ1paFsN_D88dwnRSvc/edit#heading=h.ukxg5r8acvsq

[2022-01-07 03:19] #700 closed

[2022-01-10 22:42] EchoProject commented on #1132
[Here is the link](https://docs.google.com/spreadsheets/d/1T-B6IVZ0pBrM42ooDrHvCqevF80vt1itiX2vP8aGsI4/edit#gid=0) to the Google sheet with contact details of file holders. I've also included the link under Resources.

[2022-01-10 22:47] EchoProject commented on #1134
2022-01-10
Feature: 20
Size: 43
Role: 8
Milestone: 25

[2022-01-10 23:13] EchoProject commented on #1163
Has been replaced by #228

[2022-01-10 23:13] #1163 closed

[2022-01-10 23:26] EchoProject commented on #1136
## Agenda and Minutes 2021-01-10

### Prework
- [x] label audit #1134
- [] Review the icebox to make sure that if dependencies have been met, the issue is moved to new issue approval column
  - [] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
Eric
Bonnie
Lexie

#### Recurring items:

[2022-01-10 23:43] EchoProject commented on #1132
Bonnie has sent out an email to the remaining contacts that have not completed the file transfer during today's PM meeting.

[2022-01-10 23:45] ExperimentsInHonesty commented on #1132
I sent this to all today

[2022-01-10 23:46] ExperimentsInHonesty commented on #571
We will give an update on this next week.

[2022-01-10 23:54] alexulven commented on #710
I've been looking through documents in the drive for additional context and work that has already been done. I found a requirements document that may be an example from another company: https://docs.google.com/document/d/1vVyRVfe9PIkDMPREp_3IFONZWrpgtl5NeqGpm3ldTOY/edit#heading=h.hd4768e1vmu8

I plan to define metrics per feature that are listed in this product requirements sheet: https://docs.goo

[2022-01-11 00:33] EchoProject opened #1164 "Current v1 map page not completely rendering for some users"
### Overview
We need to investigate and fix rendering errors with v1 website because some users are landing on the map page without the page completely rendering.

### Action Items

- [ ] Try to replicate the problem (not rendering) or examine points from which errors are being returned.
- [ ] Identify why/ where the page is broken
- [ ] Fix the problem

### Resources/Instructions
![image](https:/

[2022-01-11 00:39] EchoProject commented on #1056
I'll be creating a Sheet to list current Wiki title pages with their descriptions to narrow or widen the scope from which to begin processing relevant material.

[2022-01-12 02:07] alexulven commented on #710
I added some ideas for metrics by feature in the requirements [document](https://docs.google.com/spreadsheets/d/1KWPIoo0skY4I_Xi7bFTPbyjQ6QiyVq4RML_t3IViAqs/edit#gid=0). I think it would be worthwhile to update this sheet and the google doc [here](https://docs.google.com/spreadsheets/d/1KWPIoo0skY4I_Xi7bFTPbyjQ6QiyVq4RML_t3IViAqs/edit#gid=0).

These success metrics rely on the ability to gather we

[2022-01-14 02:37] pras4u commented on #1131
Update 1/13/2022

Progress - WIP
Blockers - None
Availability - No change
ETA - ~2 -3 weeks

[2022-01-14 03:33] EchoProject opened #1165 "Data Pipeline Not Pulling in New Service Request Data for 2022"
### Overview
We need to fix the data pipeline that gets 311 data because our users are not seeing any data starting in 2022.

After looking through the API, the Live Site is not pulling in new data for 2022. The tests below show a get request for January (test 1) 2021 and (test 2) 2022. We need to resolve this issue immediately so that we have a working tool for the NCs.

### Action Items

- [ ] C

[2022-01-14 03:38] EchoProject commented on #1165
@adamkendis @roz0n
We were made aware of the data problem from another PM on another project looking to use our tool for workshops. Could we make this a priority fix as we may lose EmpowerLA web placement if our tool is not working?

[2022-01-14 04:22] ryanmswan commented on #1165
@EchoProject  @adamkendis @roz0n

I can't test the backend integration and I don't want to break anything but in [config.toml](https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab5f77/server/prefect/config.toml) I think you need to add:

`2022 = "i5ke-k6by"` at line 31

and

`2022`

at line 43

[2022-01-22 01:20] EchoProject commented on #1134
2022-01-21
Feature: 19
Size: 44
Role: 7
Milestone: 24

[2022-01-22 01:22] EchoProject commented on #1136
## Agenda and Minutes 2021-01-10

### Prework
- [ ] label audit #1134
- [ ] Review the icebox to make sure that if dependencies have been met, the issue is moved to new issue approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
Eric
Bonnie
Lexie

#### Recurring items:

[2022-01-22 01:43] EchoProject commented on #1056
Completed compiling page tree and description to [this Google Sheet] (https://docs.google.com/spreadsheets/d/1kKnTjLAlVe6fJ0QxvhqcaY5s2JIihn5asc6o7PZbGr4/edit#gid=0).

[2022-01-22 01:44] ExperimentsInHonesty commented on #571
Currently being worked on, with Bernard from Open Community Survey.  He is adding all the NC logos and we need to add to the figma the names of the NCS we have had relationships with and link a document with details to the figma

[2022-01-22 01:44] alexulven commented on #710
No update this week. I still need look at the google analytics data and see what data we've collected so far.

[2022-01-22 01:45] ExperimentsInHonesty commented on #1048
@ezhou0 Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2022-01-22 01:49] ExperimentsInHonesty commented on #998
@roz0n Please provide update
Progress
Blockers
Availability
ETA

[2022-01-22 01:53] ExperimentsInHonesty commented on #834
@KristenDLR Please provide update
Progress
Blockers
Availability
ETA

[2022-01-22 01:54] ExperimentsInHonesty commented on #1099
@adamkendis Please provide update

Progress
Blockers
Availability
ETA

[2022-01-22 01:55] ExperimentsInHonesty commented on #1115
@adamkendis Please provide update
Progress
Blockers
Availability
ETA

[2022-01-22 01:56] ExperimentsInHonesty commented on #1132
Worked with Karina.

[2022-01-22 01:57] ExperimentsInHonesty commented on #1132
Mon, Jan 10, 3:58 PM
Hi Bonnie,

Thanks for the reminder. I tried to move the file when someone else contacted me about previously, I got an error that said I don’t have access to the file in question. Figured action wasn’t needed after all, but I’ve just requested access. Hope that helps.

I’m a product designer at Madewell, working remotely from Silver Lake while my team is based in NYC.

How’s

[2022-01-22 01:57] ExperimentsInHonesty commented on #1132
Tue, Jan 11, 8:41 AM
Hi Bonnie,

Let me know how I can help to move files.

Thank you,
Roberta

[2022-01-22 01:58] ExperimentsInHonesty commented on #1132
Fri, Jan 14, 4:40 PM
Hey Bonnie,

Happy New Years!

I'd be happy to touch base with you for a couple of minutes sometime next week.

Would Wednesday at 1 pm or 2 pm work for you?

[2022-01-22 01:59] ExperimentsInHonesty commented on #1132
Next steps are for me to respond and send calendar inivites
And for us to figure out why rose can't access he own files

[2022-01-27 07:30] ExperimentsInHonesty commented on #1136
FYI for next meeting
I updated this card, its still had the old PMs name on it. https://github.com/hackforla/engineering/projects/2#card-54125928,

Item for meeting
we should look over all the open roles posts we have and make sure they are up to date

[2022-01-28 01:53] EchoProject commented on #841
A post was added to the [FAQ page ](https://dev.311-data.org/faqs) for directing users where to go to submit service requests.

[2022-01-28 01:53] #841 closed

[2022-01-28 01:56] EchoProject commented on #1134
2022-01-27
Feature: 16
Size: 43
Role: 6
Milestone: 22

[2022-01-28 02:10] EchoProject commented on #807
Closing this issue because it was moved to the done column on 10-31-2020.

[2022-01-28 02:10] #807 closed

[2022-01-28 02:16] EchoProject commented on #829
- The only other related issue I found is [this issue that built the two toggle switch](https://github.com/hackforla/311-data/issues/831).

[2022-01-28 02:31] EchoProject commented on #1136
## Agenda and Minutes 2021-01-21

### Prework
- [ ] label audit #1134
- [ ] Review the icebox to make sure that if dependencies have been met, the issue is moved to new issue approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call

#### Recurring items:
 - [ ] review any

[2022-01-28 02:36] EchoProject commented on #1165
Message sent to Pras:

" Hi Pras, The descriptions of how 311 data loading works is here https://github.com/hackforla/311-data/blob/dev/docs/data_loading.md and the code is here https://github.com/hackforla/311-data/tree/dev/server/prefect. LA creates a new data source for every calendar year.

If 2022 is ready then it needs to be added to the prefect config and a new release needs to go out. The

[2022-01-28 02:37] EchoProject commented on #1165
Bonnie will bring this to Data Science team to see if we can make a quick fix.

[2022-01-29 01:15] EchoProject commented on #743
We need know who is best fit to evaluate (frontend, data science).

[2022-01-29 01:17] EchoProject commented on #608
Next steps:
- Clean up the issue
- Define, generally, how it would work for the user
- Consult with engineers on the feasibility and lift

[2022-02-01 22:29] ExperimentsInHonesty commented on #1136
next meeting
https://github.com/hackforla/access-the-data/issues/34#issuecomment-1027350641

[2022-02-04 02:27] pras4u commented on #1131
@EchoProject This is complete. We can review today.

[2022-02-04 03:59] pras4u opened #1167 "Create FAQ page design"
### Overview
We need the FAQ on the new site to be at least as good as the old FAQ, so that we don't disappoint users by taking away features.

### Action Items
- [x] Refer to the current site FAQ page & understand features
- [x] Review figma to see if there is a design for v2 FAQ
   - [x] If yes, add link to the figma page below under resources
     - [x] review design and see if you are signing

[2022-02-05 00:35] EchoProject commented on #1136
## Agenda and Minutes 2021-02-04

### Prework
- [ ] label audit #1134
- [ ] Review the icebox to make sure that if dependencies have been met, the issue is moved to new issue approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
Eric

#### Recurring items:
 - [ ] Revie

[2022-02-05 00:37] EchoProject commented on #1134
2022-02-04
Feature: 13
Size: 42
Role: 6
Milestone: 19

[2022-02-05 01:10] EchoProject commented on #710
Hi @alexulven! Please update:
1. Progress:
2. Blockers:
3. Availability:
4. ETA:

[2022-02-05 01:34] EchoProject commented on #960
@pras4u Do you remember what happened with this issue? The above says it was ready for dev, but we're unsure which of the About pages is the final version.

[2022-02-05 01:42] EchoProject commented on #887
This needs to be reviewed by design to see how it fits within our schema.

[2022-02-10 01:39] ExperimentsInHonesty commented on #1165
@KarinaLopez19 @salice
It looks like data is still missing from Jan 5th to Jan 20

@pras  says you are trying to figure out how to backfill the data now during the period that the tool was not updating data.  We look forward to an update when you are ready for us to look at it again  Please tag @snooravi when you are.

[2022-02-10 02:25] yibarra15 commented on #1167
Hi Team, there's a design for [the V2 FAQ page](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=3461%3A0)

It doesn't need any changes

[2022-02-10 02:25] #1167 closed

[2022-02-11 01:23] EchoProject commented on #1164
We received feedback that the map not rendering was caused by using the URL 311data.com, with no "-". From the homepage, clicking on the Let's Get Started button takes you to the map visualization page; however, the graphic of the map doesn't render. Users ARE capable of using the filtering features to submit requests for data. Under some circumstances, data does not complete loading.

We should d

[2022-02-11 01:50] EchoProject opened #1170 "[CLOSE THIS] Create Accessibility Icon/ Button"
### Overview
We need to create an Accessibility icon/ button that provides Map, Visualization, Keyboard information so that users have a source to refer to while navigating the website.

The below images are from the v1 site. As of 2022-02-10, this feature does not exist on v2.

### Action Items
UI/UX - Design, please provide actions:
- [ ]

### Resources/Instructions
![Snip20220210_19](https://us

[2022-02-11 01:57] EchoProject opened #1171 "Pin Header Navigation For All Pages"
### Overview
We need to pin the Header Navigation for all pages so that menu options remain visible as a user scrolls down the site.

### Details
As of 2022-02-10, the Header Nav is only pinned on the Map and Reports (including sub-pages) pages.  And is not pinned on FAQ, Blog, Privacy and Contact pages

### Action Items
- [ ] Review code and identify the coding differences between the pages where

[2022-02-11 01:59] EchoProject commented on #1171
Need clarification on the following statement that was taken from the [Feature Comparison Sheet found here](https://docs.google.com/spreadsheets/d/1KWPIoo0skY4I_Xi7bFTPbyjQ6QiyVq4RML_t3IViAqs/edit#gid=0):

"Additonally there is no hamburger menu for the top nav, menu items just start disappearing"

Clarify and add to the Issue Description.

[2022-02-11 02:06] EchoProject opened #1172 "NEEDS WORK: No Submit Button?"
### Dependency
Dependent on getting the below compeleted.
- #1155
- #1165 (complete for 2022)

### Overview
Create a submit button when requesting searches on the filtering menu so that users can explicitly take action on their query.

Auto requesting after each selection is made requires many API calls. We should reduce this burden.

### Action Items

### Resources/Instructions
![Snip20220210_24]

[2022-02-11 02:06] EchoProject commented on #1172
Need to get clarification on the issue request from the [Feature Comparison Sheet found here](https://docs.google.com/spreadsheets/d/1KWPIoo0skY4I_Xi7bFTPbyjQ6QiyVq4RML_t3IViAqs/edit#gid=0).

[2022-02-11 02:16] EchoProject opened #1173 "Locate Previous Beta Usability Testing"
### Overview
We need to find the research from the Usability Beta Testing so that we can determine if we are missing any potentially key features like grouping NCs and creating comparison reports was a requested feature.

### Action Items
- [ ] Search project [Wiki](https://github.com/hackforla/311-data/wiki) and [Google Drive](https://drive.google.com/drive/folders/1ObUz4mTQmSCwND_WQcOXAuCeKpCwNz

[2022-02-11 02:29] EchoProject commented on #1165
Pras [Feb 8th at 9:41 AM](https://hackforla.slack.com/archives/CJY4R382X/p1644342083067539)
"Hi Everyone, Happy to inform that [@Matt Webster](https://hackforla.slack.com/team/URLNVEEB0) & [@jake mensch](https://hackforla.slack.com/team/ULJAWB8M8) worked together for the last week & have fixed the data pipeline issue for 2022. You should be able to see data flowing from 2/7 in our production site.

[2022-02-11 02:31] pras4u opened #1174 "Change the Blog to be an about page"
### Overview
We need move the info from home page of V1 to a new about page, which will replace the blog page in V2, so that its easy for people to find out about the project

### Action Items
- [x] Attach final copy here
- [ ] rename on menu
- [ ] format content to look like the old about section (see below), with a reduced height version of the header image (maybe half the size)

### Resources/I

[2022-02-12 00:52] EchoProject commented on #1134
2022-02-11
Feature: 13
Size: 45
Role: 6
Milestone: 19

[2022-02-12 00:56] EchoProject commented on #1136
## Agenda and Minutes 2021-02-11

### Prework:
- [x] label audit #1134
- [x] Review the Icebox; if dependencies have been met, then issue is moved to the New Issue Approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
- [x] Bonnie
- [x] Eric
- [ ] Lexie
- [ ] Pras

###

[2022-02-19 00:45] EchoProject commented on #1136
## Agenda and Minutes 2021-02-18

### Prework:
- [ ] label audit #1134
- [ ] Review the Icebox; if dependencies have been met, then issue is moved to the New Issue Approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
- [x] Bonnie
- [x] Eric

#### Recurring items:
 - [

[2022-02-19 01:14] EchoProject commented on #571
Bonnie found the [spreadsheet](https://docs.google.com/spreadsheets/d/1UDabNBE1kUPDGNtNdySXbL15qZOm64RJQ9eq8K28VXc/edit#gid=0) and sent it to Lissa.

[2022-02-19 01:21] EchoProject commented on #1056
Use this [Wiki page](https://github.com/hackforla/guides/wiki/Joining-the-Team) as a guide.

[2022-02-25 03:12] EchoProject opened #1175 "Update Contact Us Form Fields to Match v1"
### Overview
We need to update the v2 contact us form to match the fields from the v1 contact us form so that the messages are captured by our tracker.

### Action Items
- [ ] {Developer to expand}
- [ ] Add helper text to each field

### Resources/Instructions
v1 - https://311-data.org/contact
![Snip20220224_2](https://user-images.githubusercontent.com/20729686/155646239-b7d9b926-2ca9-4f3b-b129-9

[2022-02-25 03:17] EchoProject opened #1176 "Auto Create Issues of Contact Us Form Messages"
### Overview
We need to automatically create issues for the project board to track inbound Contact Us form messages.

Note:
- As of Feb. 24, 2022, the v1 contact us page Send function does not work. Existing issue #1099.

### Action Items
This is a rough estimate of the work. Essentially, there are two pieces: the contact form itself, and the redux changes to execute the feedback request to our se

[2022-02-25 03:23] EchoProject opened #1177 "FAQ Search Functionality and Auto-Suggest"
### Overview
We need to add a search and auto-suggest functionality to the FAQ (Help Center in v1) so that users can find answers to their questions faster.

### Action Items
- [ ] {Developer to expand}
- [ ]

### Resources/Instructions
v1 - https://311-data.org/faq
![Snip20220224_3](https://user-images.githubusercontent.com/20729686/155647664-e45d7a3c-9262-4732-b482-72becc2913f0.png)

v2 - https:

[2022-02-25 10:14] shehjad-dev commented on #1175
Hey there, I would love to work on this. ASSIGN this to me. I am available

[2022-03-02 00:07] akhaleghi opened #1235 "Improve Key on 311 Data Dashboard Neighborhood Report"
### Overview
The Neighborhood Report on the 311 Data Dashboard needs a more descriptive key for the first chart.

### Action Items
- [x] Visit https://dev.311-data.org/map and navigate (through the top menu) to Reports-> Neighborhood
- [x] The key for the first chart (circled in the attached image) needs a few bug fixes.
   - [x] 'count' should be 'Counts' to match the text in the keys that follow

[2022-03-02 00:17] akhaleghi opened #1230 "Fix Incorrect Data on 311 Data Dashboard"
### Overview
The Neighborhood Weekly Report on the 311 Data Dashboard shows an incorrect city name.

### Action Items
- [ ] Visit https://dev.311-data.org/map and navigate (through the top menu) to Reports-> Neighborhood Weekly
- [ ] See that first line of text below the drop-down menu says 'Arleta weekly report (dates)' remains the same as you change to different cities in the drop-down menu.
- [

[2022-03-02 02:56] amnak1284 commented on #1156
Hi, I would like to work on this.

[2022-03-16 19:47] ExperimentsInHonesty commented on #1136
Please add to our next agenda
Let's discuss you adding this [CTA](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview) to your team agenda

[2022-03-18 23:40] EchoProject commented on #1134
2022-03-18
Feature: 13
Size: **48** (Went up by 3)
Role: 6
Milestone: 19

[2022-03-18 23:41] EchoProject commented on #1136
## Agenda and Minutes 2021-02-18

### Prework:
- [ ] label audit #1134
- [ ] Review the Icebox; if dependencies have been met, then the issue is moved to the New Issue Approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
- [x] Bonnie
- [x] Eric

#### Recurring items:

[2022-03-25 02:23] ExperimentsInHonesty commented on #1160
@melissahermes99 welcome to the project.  Please specify what your probable ETA is for completion of this issue

[2022-03-25 02:49] melissahermes99 commented on #1160
Thank you! I'm glad to be here! My estimated time of completion is Monday, March 28th. I would like to take some time to look through the project to get a feel for how things are formatted and to gain some understanding of the style guide so I can incorporate this addition well :)

[2022-03-25 23:34] EchoProject commented on #1136
## Agenda and Minutes 2022-03-25

### Prework:
- [ ] label audit #1134
- [ ] Review the Icebox; if dependencies have been met, then the issue is moved to the New Issue Approval column
  - [ ] [All issues that are not marked as being post V2](https://github.com/hackforla/311-data/projects/10?card_filter_query=-milestone%3A%22post+v2%22)

### Roll Call
- [ ] Bonnie
- [x] Eric

#### Recurring items:

[2022-03-25 23:35] EchoProject commented on #1134
2022-03-25
Feature: 13
Size: 48
Role: 6
Milestone: 19

[2022-03-25 23:38] EchoProject commented on #1056
Reviving this issue.
Next steps:
- [ ] Delete blank pages from Wiki
- [ ] Inventory broken links
- [ ] Draft topology of relevant pages and note information we'll need to provide successful onboarding

[2022-03-25 23:41] EchoProject commented on #1173
Reviving this issue.
Next steps:
- [ ] Reorganize folders into relevant team sections
- [ ] Organize folders within team sections with date in the title
- [ ] Rename folders to express contents clearly
- [ ] Inventory files that will be useful for relevant teams and the project broadly

[2022-03-28 18:49] melissahermes99 commented on #1160
![tooltip](https://user-images.githubusercontent.com/97048386/160465626-33251e77-e3fb-4422-94b3-329d4f5cf268.PNG)
This is the tooltip I've come up with for the "Data updated through" footer. It follows the design guidelines and the formatting that Selena has been using. I opted to not include an "x" to close out of the tooltip, rather, it should disappear when a cursor stops hovering.

[2022-04-01 02:21] ExperimentsInHonesty commented on #1171
@EchoProject I reviewed the comment copied here:

I think that it needs to be on a separate issue where we address the fact that the menu and page is not responsive at all, on phone it does not fit the screen.  You can hide this comment and the one above when you move it to another issue

[2022-04-18 19:14] EchoProject commented on #1136
## Agenda and Minutes 2022-04-18

#### Items to Discuss at This Meeting:
**Problems that need to be fixed:**
  1. We are at zero velocity with no clear objective
  2. We don't spend meeting time productively (we do things rather than make decisions; update non-essentials)
  3. Emphasis on prioritizing backlog when we don't have a defined product vision
  4. 4 months with no Dev Team

**Product Str

[2022-04-18 20:57] ExperimentsInHonesty commented on #960
@EchoProject will re write using the image on the far right (white background) and add in another step (city publishes the data), and make it clear who owns each step

1. You the citizen inputs into city
2. City distributes to departments for action
3. city published data
4. our website uses the data the city publishes
5. you use our site to understand the nuances of the data

[2022-04-18 21:06] ExperimentsInHonesty commented on #960
@EchoProject some of the text that was linked, is also not linked in the mockups (Neighborhood Councils) and some of the text that was there before is no longer there (e.g., Open Data Initiative, [Report Tool Alpha](https://hackforla.github.io/311-report/, etc).  So we are still going to need an audit of what is there and what is missing and make a decision about if we want to re add it, or it can

[2022-04-22 02:29] EchoProject commented on #1132
Please update @ExperimentsInHonesty :
1. Progress:
2. Blockers:
3. Availability:
4. ETA:

[2022-04-29 00:49] EchoProject commented on #960
I've updated the requirements to include:
   - [ ] Under "How It Works"
     - [ ] Re-organize the steps to include "City  publishes data"
     - [ ] Specify who owns each step
       - [ ] A service request is reported to the City of LA
       - [ ] The City distributes request to appropriate department for action
       - [ ] City publishes data service request data
       - [ ] 311-Data.org pro

[2022-04-29 00:59] EchoProject commented on #966
Footer displays Privacy Policy link and the link works. Closing this issue, and will create another issue to handle potential design changes to the PP page itself.

[2022-04-29 00:59] #966 closed

[2022-04-29 01:02] EchoProject commented on #1030
@pras4u can you provide insights into whether this Issue was completed or if we still need to move this into development?

[2022-04-29 01:13] EchoProject commented on #1126
@melissahermes99 can you discover which colors specifically need to be changed and add that to the requirements above.

[2022-04-29 01:22] EchoProject commented on #1147
@melissahermes99 can you look into this and double-check we have the correct color information above? Please add in the exact color requirements into the requirements text.

[2022-04-30 00:16] EchoProject opened #1180 "Tech Lead Onboarding"
### Overview
Provide first steps for the new Tech Lead to ramp up on the v2 project so they have context on immediate priorities.

### Action Items

### Resources/Instructions
[Hack for LA/ Engineering Open Roles board](https://github.com/hackforla/engineering/projects/2#card-54125928)

<details>
<summary>open role listing</summary>

<img src="https://www.hackforla.org/assets/images/projects/311_d

[2022-04-30 00:20] ExperimentsInHonesty commented on #1180
Immediate need for Tech Lead.

Responsibilities will include:
Decoding how we have our data pipeline between the 311 city data
Fixing the gap in our data from when it was down earlier in the year
identifying how to keep it working from year to year, when they move to the new dataset

[2022-04-30 00:22] EchoProject commented on #936
This may be tied to Adam needing to fix the build pipeline for some PR tickets found [here](https://github.com/hackforla/311-data/pull/1148#issuecomment-996122163).

[2022-05-02 17:51] melissahermes99 commented on #1170
The accessibility icon and instruction sheet have been added to the [Version 2_Design Studio on Figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/?node-id=2775%3A7702).

[2022-05-04 18:03] nichhk commented on #1165
If I understand correctly, we are getting data from 2022 now. I manually verified this on the production site by selecting the "last week" time range.

We are, however, missing data from 1/5-1/20 (manually verified on prod site). We might be missing data from other date ranges as well, but I'm not sure how to check this right now.

It seems like this bug has technically been fixed, but we should p

[2022-05-05 00:48] nichhk opened #1181 "CI_Frontend Action fails due to build error"
**To Reproduce**
Steps to reproduce the behavior:
1. Currently, all of our Actions jobs have the same name, so rename the specific CI_Frontend `build` job to something distinct.
2. If you don't already have [act](https://github.com/nektos/act), install it: `brew install act`
3. run `act -j <distinct job name>`
4. You'll see it fail, referencing an issue with node-sass.

**Expected behavior**
We ex

[2022-05-05 22:40] nichhk opened #1184 "State Node version in client/package.json"
### Overview
We should specify in [client/package.json](https://github.com/hackforla/311-data/blob/dev/client/package.json) that we're using Node v12. This will make it easier for future developers to set up correctly and use the proper dependencies.

### Action Items
Add an `engines` block to the package.json file ([example](https://stackoverflow.com/a/42806087)).

[2022-05-05 22:41] nichhk commented on #1184
Note that the `engines` block won't actually enforce anything; it's just the standard way for Node repos to state their version requirement.

[2022-05-06 02:13] #1181 closed

[2022-05-06 02:17] EchoProject commented on #1155
@nichhk This is the issue for the search request not working and an additional comment about limiting search parameters to Los Angeles. We may want to consider leaving this open for US address searches in the event we want to expand service request data to other metros.

[2022-05-06 02:21] EchoProject commented on #1099
@nichhk This is the issue with the contact form on the v1 site not working. I just tried testing again, and when the submit button is clicked, there is a circle-loading image that does not resolve. Fixing this is a priority because we have users that still use the v1. Let me know if you have any questions.

From previous comments:
"Getting CORS error on POST to /feedback but it also looks like the

[2022-05-06 02:30] #1184 closed

[2022-05-06 02:35] EchoProject opened #1190 "Backfill Missing Data That Wasn't Addressed by Data Pipeline Hotfix"
### Overview
We need to backfill data from Socrata so that there are no missing data ranges when querying a custom date range.

NOTE: It would be useful to have the data pipeline automatically update the new dataset at the beginning of the year. Currently, the new dataset needs to be added manually (see original issue).

### Action Items
- [ ] See comment [below](https://github.com/hackforla/311-d

[2022-05-06 02:36] #1127 closed

[2022-05-06 02:44] nichhk opened #1191 "Fix other frontend Actions to use Node v12"
**Describe the bug**
We fixed one of the CI frontend Actions, but we need to do the rest now. See how [Deploy_Frontend_Dev](https://github.com/hackforla/311-data/actions/runs/2279382265) is failing.

See #1181 for reference on how to fix this. This should be very straightforward.

[2022-05-07 00:01] EchoProject commented on #1136
## Agenda and Minutes 2022-03-25

#### Updates:
1. Josh is working on a first draft of the Reports Dashboard on BI Tool because of the load on his system to run Plotly and the complexity of writing the code. Need to create an issue for this so we can track progress and have history.
2. May run into scaling issues using pandas library given dataset size. We'll need to revisit this with Nich before

[2022-05-08 01:38] nichhk opened #1192 "Change all Actions filenames to be lowercase"
### Overview
Most code style guides suggest to use all lowercase characters for filenames (e.g., see [Google style guide](https://developers.google.com/style/filenames)). The actions in .github/workflows/ do not follow this.

### Action Items
Simply change the filenames to be lowercase. Some of these files also contain the filename within the file itself, so make sure to check for/update that as w

[2022-05-08 03:10] #1191 closed

[2022-05-08 03:24] nichhk commented on #1190
If I'm reading the code correctly, the fix may be quite simple. The data pipeline will determine the time of the last update. Then, it will ask socrata for all the data since that update, and then load that data into the postgres DB. When it loads the data into postgres, it will load it in two ways:
1. Insert new rows (i.e., if the rowkey to load does not exist in postgres, insert it)
2. Update ex

[2022-05-09 15:34] nichhk opened #1194 "v2 was pushed to v1 prod site"
I attempted to rollback the change in S3, but bucket versioning hadn't been enabled. So we just need to push something to master to force a prod redeployment.

For context, I was testing the CI/CD Actions since they were broken (see #1181). I accidentally configured the CD for prod to run on pull requests, since that seemed like the only way to test it, and the pull request was for the dev branch.

[2022-05-09 16:09] nichhk opened #1196 "Set up bucket versioning on S3"
### Overview
We need to set up bucket versioning on S3 so that we can rollback quickly to an older version if necessary.

### Action Items
Follow [instructions](https://docs.aws.amazon.com/AmazonS3/latest/userguide/Versioning.html).

[2022-05-09 16:36] #1194 closed

[2022-05-12 21:36] melissahermes99 commented on #960
The updated About Us page is located on [Version 2_Design Studie](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=2775%3A7702) Under Sim's name to the far right. This is the updated white variant. Dhwani made a comment regarding the decision to exclude imagery on the page. I am not sure if that has been resolved yet. She also made note that the header was not consistent wit

[2022-05-12 23:50] nichhk commented on #1099
I repro'ed this on the prod site, and the server logs showed a NoneTypeError [here](https://github.com/hackforla/311-data/blob/master/server/api/src/services/github.py#L38). I think it's saying that ISSUES_URL is not being provided. This makes sense--it looks like the ".env" config file is not being properly created in [Continuous_Deployment_Backend_Prod.yml](https://github.com/hackforla/311-data/

[2022-05-13 01:07] EchoProject opened #1197 "v2 Reports Dashboard (First Draft)"
### Overview
We need to create a first draft Reports Dashboard with summary statistics and basic analytics so that we can create an active version using Ploty Dash.

Additional note:
Then we will show users how they can derive insights to create Service Request-based initiatives. Finally, we can get feedback on improving the dashboard feature set.

### Action Items
- [x] Draft a "wireframe" model

[2022-05-13 01:14] EchoProject commented on #1064
@joshuayhwu, when you have time, can you look into this Issue?

[2022-05-13 01:21] EchoProject commented on #849
Reviving this Issue and moving from Icebox to New Issue Approval.

[2022-05-13 03:12] nichhk commented on #1197
Thanks for working on this Josh!

I think it would be interesting to show the distribution of time-to-close for each request type. E.g., if the distribution is bimodal, this can mean that a certain request type may have two subtypes, where one is easier to fix than the other. It might also capture that issue Bonnie mentioned where certain issues are closed after a while without actually being reso

[2022-05-13 03:18] nichhk opened #1198 "API server in `master` is not building"
When I run the [install](https://github.com/hackforla/311-data/blob/master/server/install.sh) script, I get an error when it's building the API server:

[code]
The version of numpy that's in the API's [requirement.txt](https://github.com/hackforla/311-data/blob/master/server/api/requirements.txt#L21) is too old. We should be able to upgrade it and get past this build error.

[2022-05-13 04:27] joshuayhwu commented on #1197
Thanks for the suggetion Nich!

I think adding comparison would be extremely helpful - will put that as a feature to incorporate!

[2022-05-13 06:01] nichhk commented on #1099
I was able to bring up the `master` versions of the client and the server, after resolving a dependency version issue (see [PR](https://github.com/hackforla/311-data/pull/1199)).  The Contact Us functionality works as expected--the UI shows an error message saying that it wasn't able to send the message, which is expected because the GITHUB_SHA is not real.

This makes me question whether the prod

[2022-05-13 21:13] EchoProject opened #1200 "v2 Background Color Continuity Across All Pages"
### Overview
We need to match the background color (currently seen as black side panels on FAQ, Blog, Privacy, and Contact pages) to be the same as the background color on the Reports-Overview page so that the user experience is visually seamless (color inconsistencies) across all of the existing pages.

Note: It looks like the Reports pages load in black first before rendering the final color. Is

[2022-05-13 21:14] EchoProject commented on #1200
@melissahermes99 can you please provide the hex color for the background color on the Reports-Overview page and include it above?

[2022-05-13 21:27] EchoProject opened #1201 "[FUTURE] UI/UX Onboarding Documentation Improvement"
### Overview
We need to improve the onboarding experience for new designers joining the program so that they have a baseline understanding of design guidelines, Figma tool, current state, and design decisions.

The goal is to have a new designer functional (1 Issue completed, and 1 Issue in Progress) within the first full week.

### Action Items
- [x] Onboarding Docs - Create a step-by-step plan f

[2022-05-13 21:31] EchoProject commented on #1056
Met with Elizabeth and Melissa to discuss design onboarding improvements [tied to this issue](https://github.com/hackforla/311-data/issues/1201).

[2022-05-13 22:26] EchoProject opened #1202 "v2 Add About Page"
### Overview
We need to add an about page to the v2 site to provide background and context of the 311-Data project.

### Action Items
- [x] Add page
- [ ] Use design panel in Figma as content
- [ ] Ensure all hyperlinks are used
- [x] Add "About Us" to header navigation

### Resources/Instructions
Design work was completed [here](https://github.com/hackforla/311-data/issues/960).

Page design foun

[2022-05-13 22:37] EchoProject commented on #960
- Closing this issue since the design work has been completed and a new Issue for frontend has been created. https://github.com/hackforla/311-data/issues/1202

[2022-05-13 22:37] #960 closed

[2022-05-14 00:03] EchoProject opened #1203 "Add District Type Selection to Map Menu [INCOMPLETE]"
### Overview
We need to add a selection feature for choosing a district type so that users can search queries beyond neighborhood councils.

### Action Items
- [ ] [Design Team INSERT]
- [ ] [Design Team INSERT]
- [ ] [Design Team INSERT]

### Resources/Instructions

[2022-05-14 00:04] EchoProject commented on #1136
## Agenda and Minutes 2022-05-20

#### Updates:
1. Eric met with Design Team on Figma housekeeping and [onboarding improvements](https://github.com/hackforla/311-data/issues/1201)
2. New Issue for the frontend to create https://github.com/hackforla/311-data/issues/1202
3. New Issue for the frontend to create https://github.com/hackforla/311-data/issues/1200

#### Needs to get done today:
- [ ] 1.

[2022-05-18 03:35] nichhk commented on #1099
I'm still not sure, but it seems possible that the prod server is running off `dev`, based on the GitHub action [create_release_dev.yml](https://github.com/hackforla/311-data/blob/dev/.github/workflows/create_release_dev.yml#L41): you can see that we are buillding/pushing new docker images based off the `dev` branch, and restarting the prod ECS tasks. I'm not sure why this set up--making the prod

[2022-05-18 03:47] nichhk opened #1204 "v2 "Contact Us" says "Thank you for signing up" upon success"
This should say something like "Thanks for contacting us instead." We can change the text [here](https://github.com/hackforla/311-data/blob/dev/client/components/main/ContactForm.jsx#L61).

[2022-05-20 00:28] joshuayhwu commented on #507
- It seems like the time-to-close issue is not specific to the graffiti removal issue, but rather an issue relevant to all types of requests. Based on discussions and feedback from DS community of practice, I propose two solutions:

1) Feature Engineering Perspective: Flag the records of requests that have absurd time-to-close (e.g. 10 minutes, 1 day, 3 days ...etc). Display such data on plotly da

[2022-05-20 00:37] joshuayhwu commented on #1197
- "Wireframe" with Power BI to gather feedback
1) Neighborhood Council Summary
![plotly_mvp1](https://user-images.githubusercontent.com/77765986/169425512-190354c4-4147-4500-932b-2fe86a89d305.PNG)

- Filter by name, date-range, and request type
- Indicator visuals for total number of requests, average time-to-close requests (days), maximum time-to-close requests (days)
- Pie chart for share of req

[2022-05-20 00:46] joshuayhwu commented on #1197
- Feedback from 311-Data Team

1) Incorporate distribution of time-to-close for each request type
2) Flag requests that have absurd time-to-close (Ignored Requests?)

[2022-05-20 00:54] joshuayhwu commented on #1197
- Feedback from DS Community of Practice

1. Incoporate text-based descriptions (i.e. context) for each statistic
2. As pandas won't scale, use dask instead
3. Use monthly data only to prototype how dashboard would look like

[2022-05-20 01:01] joshuayhwu commented on #1197
- Plotly MVP Dashboard (Unfinished)

![plotly_mvp3](https://user-images.githubusercontent.com/77765986/169427573-44b798f6-1b6e-4b6e-8014-e21c0b4d494c.PNG)

- Filter by NC
- Time series of 311 Request overtime
- Pie chart for share of request type
- Histogram for distribution of request time-to-close

![plotly_mvp4](https://user-images.githubusercontent.com/77765986/169427670-ceda408b-3fa6-4152-a64

[2022-05-20 01:15] nichhk commented on #1154
This might be related to #1155--in order to do address searching, it seems like we need to be able to get the NC using the latitude and longitude of the address. I will try to fix this first before #1155.

[2022-05-20 01:41] joshuayhwu commented on #213
- compute average time-to-complete for a NC for a given time range

SELECT AVG(closedate-startdate)
FROM <Table name>
WHERE ncname = <ncparam> AND createdate >= <start_date param> AND closedate <= <closedate param>;

- compute number of requests for a NC for a given time range
SELECT COUNT(srnumber)
FROM <Table name>
WHERE ncname = <ncparam> AND createdate >= <start_date param> AND closedate <= <c

[2022-05-20 02:00] pras4u commented on #1131
All issues emanating from the v1 & v2 analysis have been created in Project board. Closing this issue.

[2022-05-20 02:00] #1131 closed

[2022-05-20 02:54] nichhk opened #1205 "Update client/README.md to tell devs to use Node 12"
This has been causing issues for new/returning devs. Node 12 is pretty old, so most people have a newer version of Node installed; however, the dependencies require Node 12. So tell devs to install Node 12 using `nvm`.

[2022-05-20 03:56] joshuayhwu commented on #213
After consulting Ryan, this issue should be closed instead.

[2022-05-20 03:56] #213 closed

[2022-05-21 00:21] nichhk commented on #1196
I enabled bucket versioning for both 311-data.org and dev.311-data.org.

[2022-05-21 00:21] #1196 closed

[2022-05-21 01:03] nichhk commented on #1099
The prod server is indeed running off the 'dev' branch, AFAICT. The config for the AWS ECS task `prod-la-311-data-server` shows that we are executing a `gunicorn` command to bring up the server, and `gunicorn` is only used in 'dev', not 'master'. This is very confusing, TBH--we should have merged the 'dev' server changes into 'master' if we are using it for the prod server. I imagine there are a l

[2022-05-21 18:36] mattyweb commented on #1099
Hey, I'm the last person to release the API in production so I can hopefully clarify things a bit. The last API release to production as far as I know was a year ago in January from the [release/v1.5.0 branch](https://github.com/hackforla/311-data/tree/release/v1.5.0).

That was branched from dev since we've got a monorepo and the frontend code was getting repeatedly redesigned. There's some shims

[2022-05-23 19:43] nichhk commented on #1099
Thanks for chiming in Matthew! I'm new to this project, but I believe we want to fix the feedback mechanism on v1 before we fix the dev site--we still have users on v1, and we want to make sure to collect their feedback. In any case, I don't think one depends on the other--e.g., fixing the dev site won't fix the feedback mechanism on v1.

Good to learn about v1.5.0. I took a look, and I don't see

[2022-05-23 20:08] nichhk commented on #1197
The team took a look at Josh's updates on Thursday, here's what I remember discussing for the record:
* being able to select arbitrary sets of request types, like you can on the site, would be useful (e.g., "bulky items" is almost half of the data, but "bulky items" is generally not a quality-of-life issue, so NC members might want to filter those out)
* "Ignored Requests" might not be worth surfa

[2022-05-24 21:12] mattyweb commented on #1099
The create_release_dev workflow creates and publishes a new Docker image for the API from the dev branch then refreshes the ECS cluster. The production API is just using the dev Docker image. The actual task definition for the cluster are all in Terraform.

I think I deployed using some version of the last line of the action like this (it was more than a year ago though so I forget):

[code]

Anyw

[2022-05-25 02:00] nichhk commented on #1099
Thanks for the clarification regarding the API versions.

I've been able to get the v1 feedback mechanism to mostly work locally. It fails on the last step, which is sending an email to the user using SendGrid, and it's failing because the SendGrid key isn't provided (it's not on the 1pass, so I don't know what it is). But it is able to make an issue and add it to the project.
![v1-contact-success

[2022-05-25 21:27] nichhk commented on #1198
We're not using the server in `master` anymore, so let's not fix this.

[2022-05-25 21:27] #1198 closed

[2022-05-25 23:14] #1205 closed

[2022-05-26 04:07] nichhk commented on #1099
I do feel like a separate GHA action would be helpful here. I think we need to have different .env configurations for prod and dev, at the very least for API_ALLOWED_ORIGINS. And since the .env is built into each Docker image, we'd need to have separate Docker images for prod and dev. I guess this would need changes in Terraform as well.

[2022-05-26 05:29] #1099 closed

[2022-05-28 21:31] ExperimentsInHonesty commented on #1136
Please open a [new issue on hackforla website repo](https://github.com/hackforla/website/issues/new?assignees=&labels=P-Feature%3A+Project+Info+and+Page%2C+role%3A+back+end%2FdevOps%2C+role%3A+front+end%2C+Size%3A+Small%2C+size%3A+0.5pt%2C+time+sensitive&template=project-profile-card-review-and-update.md&title=Update+Project+Profile%3A+%5BProject+Name%5D) to update the hack for la website with the

[2022-05-30 15:21] joshuayhwu commented on #1064
Below are the color mappings based on the request types listed on the API (note that Multiple Streetlights and WaterWaste has same color), which I define as DISCRETE_COLORS_MAP dictionary in the design.py file. For all visualizations that involve requestTypes, simply add the color_discrete_map=DISCRETE_COLORS_MAP argument in the plotly express visualizations.

DISCRETE_COLORS_MAP = {
    "Graffiti

[2022-05-30 15:31] ExperimentsInHonesty commented on #1136
We need to ask Nich to create a doc like this
https://github.com/hackforla/tdm-calculator/wiki/Software-Architecture-and-Development
And also include a list of all the technologies used.

[2022-05-30 21:14] nichhk commented on #1099
So the deployments worked as expected, but once the new API images were live, CORS was not working on either v1 or v2. Apparently this is a common bug with FastAPI, with many people [commenting](https://github.com/tiangolo/fastapi/issues/1663) that it doesn't work as expected. I submitted several PRs trying to fix the CORS issues. The two that mattered:
1. #1215: For whatever reason, we can't use

[2022-06-01 01:10] nichhk opened #1218 "Hot-reloading not working with Docker+Dash"
I'm not sure if we can actually make this functionality worth it. It seems like we'd need to get hot reloading to work through three different layers: docker, gunicorn, and dash.

Alternatively, we can try invoking the python file directly (which allows us to avoid docker and gunicorn), as @joshuayhwu described:

It might be easiest to get our dashboards set up with the changes mentioned above for

[2022-06-01 01:13] nichhk opened #1219 "`npm run setup` failing in client"
@ardada2468 noted that setup is failing due to the postinstall (more details [here](https://github.com/hackforla/311-data/pull/1207#pullrequestreview-985535659)). I dug into it, and I think we can just remove the postinstall ([background](https://github.com/hackforla/311-data/pull/1207#issuecomment-1137923083)).

[2022-06-01 01:16] nichhk opened #1220 "Consider bringing v1 feedback functionality into v2"
The current v1 feedback mechanism:
* creates an issue on GitHub
* adds it to the [311-data-support project](https://github.com/hackforla/311-data-support/projects/1)
* sends an email to the user, saying that we've received your feedback

Currently, the v2 feedback mechanism just sends an email to 311-data@hackforla.org.

What do the PMs think about this? I'll assign it to @EchoProject for now.

[2022-06-01 01:28] nichhk commented on #1154
I've checked some of the GeoJSON files in client/v1/data, and they are indeed not valid GeoJSON files. geojsonlint.com points out several issues; however, even after using https://mapstertech.github.io/mapster-right-hand-rule-fixer/ to fix the issues (and now passing the linter), `Error {message: 'Input data is not a valid GeoJSON object.'}` persists.

[2022-06-01 01:38] joshuayhwu commented on #1218
Slack has some problems with typing literal underscores, so I will repeat the steps below:

0)  Add  the following code block at the top of the file - this is necessary as you need the color configs from parent directory
```import sys ```

``` sys.path.append('../')```

1)  Specify the following at the top of the file  - for the dash app to run locally
 ```app=Dash(__name__)```

2) Replace layout

[2022-06-01 02:15] nichhk commented on #1154
I see now that the GeoJSON files might be getting [pulled](https://github.com/hackforla/311-data/pull/917) from the server? It is confusing because the client still references GeoJSON files from client/v1/data, but maybe we also need to update the GeoJSON files on the server-side.

[2022-06-01 22:45] nichhk opened #1222 "Use flake8 linting for all python code"
### Overview
Currently, it looks like we're only running flake8 for the [api](https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab5f77/.github/workflows/build_test_backend.yml#L28), but we should run it for all the python code.

### Action Items
- [ ] update build_test_backend.yml to call `docker-compose run <project> flake8` for all python projects.

[2022-06-01 22:46] nichhk commented on #1219
@ardada2468, I'm assigning this to you for now. I know you're busy, so no rush!

[2022-06-01 23:11] joshuayhwu opened #1223 "Finding new Request type color for multiple streetlights or waterwaste color"
### Overview
Based on the hex code of request type colors here: https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab5f77/server/api/alembic/seeds/types.csv , both multiple streetlights or waterwaste color has the same color: #EDAD08. Need to change the DISCRETE_COLORS_MAP config for one of those color

### Action Items

- [x] Figure out a new color for either one of the

[2022-06-02 00:58] #1064 closed

[2022-06-02 05:05] #1154 closed

[2022-06-02 05:21] nichhk commented on #1197
Thanks for these updates Josh!

Re: remove one or more request types: I think it might be more intuitive to make this the opposite, i.e., _select_ one or more request types. This will better align with the map functionality as well.

Re: Data Quality Toggle: This looks super useful! May I ask how you chose the thresholds for "bad"? This might be a situation where we might have to combine some stat

[2022-06-02 16:57] joshuayhwu commented on #1197
Thanks for the feedback Nich!

- I have implemented the selection by requests type functionality, but unfortunately I discover another bug. In order to implement the dependent drop-down (the type dropdown only shows the types available in a particualr NC), he visuals wouldn't update when only the NC drop down is selected. Surprisingly, visuals are updated when only type dropdown is selected. This

[2022-06-02 22:29] joshuayhwu commented on #1218
Since I don't understand how gunicorn works, I am making my assumptions based on my understanding on docker and dash.

Dash would automatically enable hot reload if debug=True (as in the code). Docker should allow this functionality process within the container as long as we mount the current working directory to the volume, which essentially is a file-sharing system between current directory and

[2022-06-03 00:25] EchoProject commented on #1136
@ExperimentsInHonesty
@nichhk and I were just talking about something similar in that the team should spend time, moving forward, improving the code quality of our codebase.

As of now, the soft plan is to have devs work on documentation of certain parts of the system while they complete tickets. I agree that having a single source of truth document for our architecture and system design is valuab

[2022-06-04 00:04] EchoProject commented on #1136
## Agenda and Minutes 2022-06-03

#### Updates:
1.

#### Needs to get done today:
- [ ] Issue transfer from DS to 311

#### Needs to get done sooner than later:
- [ ] Review and revise, if necessary, DS issue related to Plotly
- [ ] Schedule tutorial/ Q&A with Matt Webster to fill knowledge gaps for the Eng team. Target date: Late June - Waiting for response
- [ ] Eric will prepare a user-research

[2022-06-04 22:17] nichhk commented on #1218
Josh and I discussed this offline, and he stated that stopping/rerunning the container takes 2-4 minutes. This is pretty slow, so I tried avoiding Docker and just using gunicorn+dash. If we simply provide `--reload` to the gunicorn command, we can get hot-reloading to work. The developer does need to manually hit the refresh button, but I feel this is an acceptable workaround. I'll work on updatin

[2022-06-07 02:20] elizabeth-ux commented on #1203
@EchoProject Is this what you were looking for to add District type to the menu?

![Filter Menu with Districts](https://user-images.githubusercontent.com/20293568/172281733-8c07c9f6-7ccf-4e3f-9bd1-d4cc48085064.png)

[2022-06-08 01:51] #1218 closed

[2022-06-08 01:53] nichhk commented on #1220
I also think it will be helpful to have a centrally accessible place to check for feedback.

I'll assign this to @ardada2468 since he expressed interest in working on the frontend. The server side already supports all of these actions, but currently, the frontend does not invoke them.

[2022-06-09 01:18] nichhk opened #1239 "Querying is failing on v1 site"
The v1 code was previously deployed from [release/v1.5.0 branch](https://github.com/hackforla/311-data/tree/release/v1.5.0). When I was working on updating the v1 site to make the "Contact Us" functionality work, I made my fixes on `dev` and pushed a new API image from `dev`. `From release/v1.5.0` to `dev`, the API code changed enough to make queries to the existing prod database fail. Specificall

[2022-06-09 01:19] nichhk opened #1240 "Describe what 311 Data site does in README.md"
Currently, the README does not really describe anything that the site actually does. This is important context for anyone reading the README.

[2022-06-09 04:37] piotrsan commented on #1235
Created pull request with the updates to neighborhood.py dashboard:

https://github.com/hackforla/311-data/pull/1242

[2022-06-09 06:58] joshuayhwu commented on #1230
This is an issue with the <NC name> below the drop down. being assigned as a global variable, while the filtering mechanism of the drop down utilize dash call backs that is separate from this variable.

 All the filtering functionality work on the dashboard (i.e. data is correct). To avoid adding additional complexity, I removed the duplicate <NC name> on the line below the drop down.

![Incorrect

[2022-06-09 07:28] joshuayhwu commented on #1240
Draft based on my understanding:

LA 311 provides a call center service that connect residents, businesses, and visitors on issues individuals face everyday, such as graffti, homeless encampments, and bulky items occupying public areas. The 311 Data Project aims to utilize data generated from this call center service to build applications to aid local Neigborhood Councils on their community initia

[2022-06-09 07:44] joshuayhwu commented on #1197
@ExperimentsInHonesty thanks for clarifying the context for the dashboards MVP last week. Would love some feedback from you on this version. Please note the following:
- Plotly dash doesn't support pre-defined groups in the dropdown lists (i,.e. cannot select 1 region, but must select individual NCs in the region). It is possible to select multiple NC at the same time, but for now I'm keeping thin

[2022-06-09 07:52] joshuayhwu commented on #1235
@piotrsan If you follow the [docker setup documentation](https://github.com/hackforla/311-data/blob/dev/docs/server_setup.md), you should be able to get the 4 containers running in docker with multiple years of data (defined in step 3). From there, follow the [dashboard documentations](https://github.com/hackforla/311-data/tree/dev/server/dash/dashboards) and you should be able run the dashboard w

[2022-06-09 21:34] nichhk commented on #1240
Thanks for taking a stab at this Josh! I actually already created #1241 for this, mostly copying from 311-data.org itself. Feel free to leave any comments on the PR if you have any suggestions.

[2022-06-09 21:59] nichhk commented on #1235
It looks like the API intentionally limits the data returned to cover the current month and the previous month only: https://github.com/hackforla/311-data/blob/dev/server/api/code/lacity_data_api/routers/reports.py#L28. It looks like this was added to speed things up, see issue #986 and PR #989.

Let's discuss tonight whether we want to make the /reports API take a parameter for # of months.

[2022-06-10 00:55] EchoProject commented on #1203
Let's sync up on this during the meeting tonight.

[2022-06-10 14:46] #1230 closed

[2022-06-11 07:53] piotrsan commented on #1229
@ExperimentsInHonesty , I found this census data from 2010 by neighborhood council. According to this data, there is quite a large spread in population size of the different neighborhood councils. You  mentioned that they are supposed to serve ~40k people, do you know if this is something that changed after 2010? It is not clear to me what neighborhood council boundaries were used in the analysis

[2022-06-12 04:35] joshuayhwu commented on #1197
See my [public repo](https://github.com/joshuayhwu/311-Data-Dashboard) for integrated dashboard file and instructions that could be run locally. I only used new version of dash and docker.

Currently looking to integrate the code into 311 Data Code Base. There are some issues with the newer versions of Dash / gunicorn interface that none of the callback functions work with the newer version of das

[2022-06-13 19:49] #1204 closed

[2022-06-13 20:27] joshuayhwu opened #1246 "Plotly Dash Versioning Issue"
### Overview
Existing plotly dashboards versions are from v1.x while the current plotly dash is on v2.x. There is no longerr any documentation available for older versions of Dash and an upgrade is necessary.

Currently, I have succesfully upgrade the code and tested in a separate directory with new dashboard incorporated in there. However, then repeating the process in 311 Code base, none of the

[2022-06-14 20:05] nichhk commented on #1197
Thanks Josh! In your repo, can you put in the unzipped files instead of the zip so that people can browse the code without downloading? Let me know if you need help with debugging the interaction issue.

[2022-06-14 20:06] nichhk commented on #1246
In the next team meeting, can you and the team try to figure out which of the existing dashboards we want to maintain, and which we can get rid of? Independent of that, I think we can merge the "long" and "recent" versions of each dashboard into a single dashboard.

Then, we can start to perform the upgrade.

[2022-06-14 20:24] nichhk opened #1248 "Implement continuous deployment for dash server"
### Overview
Currently, the dash server is running on AWS Lightsail from a Docker image. We are using this GitHub [Action](https://github.com/hackforla/311-data/blob/dev/.github/workflows/dash-reports-deploy.yml) to build new changes into the Docker image, but we also need to restart the Lightsail instance when this happens.

I think we can use a command like this: https://github.com/hackforla/311

[2022-06-15 00:23] joshuayhwu commented on #1246
Sounds good. We will get a vote on those and see which ones we could combine.

[2022-06-15 00:32] joshuayhwu commented on #1197
Thanks, I put in the unzipped files in the public repo. Would appreciate some help whenever you're available, but I'll continue working on it and see if I could replicate error.

[2022-06-17 00:41] priyakalyan opened #1250 "311 request types with no council (councilId=0) assigned to it"
### Overview
We need to take a look at all the 311 request type data with no council id or council name assigned to it. In the 311 data server, the councilId has been assigned as 0 and the councilName as 'No Council' for such request types.

### Action Items

- [x] Determine if all of the 'No Council' request types fall outside of the NC boundary.
- [x] Check the pattern for the other years.
- [x]

[2022-06-17 01:12] EchoProject commented on #829
The tri-toggle will be addressed in the menu redesign. Closing this issue.

[2022-06-17 01:12] #829 closed

[2022-06-17 01:14] EchoProject commented on #1160
I'll create an issue for a front-end ticket to be in the prioritized backlog.

[2022-06-17 01:16] #1165 closed

[2022-06-17 20:18] ExperimentsInHonesty commented on #1134
@EchoProject it looks like you have not done this issue in a while, and now there are a bunch of issues that have not been added to the board.  Please do an audit

[2022-06-17 20:20] ExperimentsInHonesty commented on #1136
https://github.com/hackforla/311-data/issues/1134#issuecomment-1159201206

[2022-06-20 02:37] joshuayhwu commented on #1197
I have summarize some of the feedbacks I received for the current version of the dashboard:

1) Regarding data quality issue, Bonnie had a wonderful insight for implementing one possible decision rule. When the requestSource is driver self report, and the time-to-Close of such request is 0, then it is likely the driver simply close the request instantly, then proceed to work on the request (or not

[2022-06-20 04:29] elizabeth-ux commented on #1203
@EchoProject. Can probably close this issue as this subject matter was added to issue [Menu redesign #1157](https://github.com/hackforla/311-data/issues/1157). Any further menu updates will be posted to issue #1157

[2022-06-20 04:29] elizabeth-ux commented on #1157
Per discussion with @EchoProject made following changes to the menu.

I added a scroll bar, expanded the menu to also include request type when users first see and information box is separate from menu - can be a pop-up.
District can be an option under boundaries.
![scroll expanded](https://user-images.githubusercontent.com/20293568/174524655-a8aec1c4-50e9-416f-aa3c-6578442d41cc.png)
![Menu](https

[2022-06-22 02:46] nichhk opened #1251 "Dash not working on dev site"
I checked the logs for the server, and it gives an error like this:

[code]

Looking at `git blame` for "neighborhood_recent.py", it looks like PR #1221 is the most recent change for line 70.

[2022-06-22 02:57] #1155 closed

[2022-06-22 05:32] joshuayhwu commented on #1251
Replicated locally with requestTypeColors branch.
[code]

After checking the column names of the dataframe, the column name seems to exist but dataframe is empty given current date ranges. Not sure if it is related.
[code]

Seems like [order of argument](https://stackoverflow.com/questions/67528061/keyerror-column-name-updating-plotly-dash-figure) matters. No clue yet - will take a look in the nex

[2022-06-22 23:20] #1220 closed

[2022-06-22 23:24] nichhk opened #1252 "Date Selector not working"
Currently, if you try to select a date range on dev.311-data.org, nothing happens.

It looks like there has been a lot of work to manage the startDate and endDate for the DateSelector in Redux, see PR #1108. However, it seems like the RequestsLayer is not listening for updates on the startDate and endDate. E.g., if the ncBoundaries are updated, the Map will [reinitialize](https://github.com/hackfo

[2022-06-22 23:26] nichhk opened #1253 "Request Type Selector not working"
Currently, if you try to select/deselect certain request types on dev.311-data.org, nothing happens.

It looks like request type handling was commented out in PR #1118. Let's see if we can simply uncomment the request type handling code to fix this problem.

[2022-06-22 23:27] nichhk commented on #1172
This blocked by #1252 and #1253.

[2022-06-22 23:42] nichhk opened #1254 "Status Selector not working"
Currently, if you try to select a status (open, closed, or both) on dev.311-data.org, nothing happens.

Similar to issue #1152. It looks like there has been a lot of work to manage state in Redux, see PR #1108. However, it seems like the RequestsLayer is not listening for updates on the state.

[2022-06-22 23:43] nichhk opened #1255 "Frontend is not compatible with Redux Devtools"
### Overview
Redux Devtools makes debugging and viewing redux state much simpler. We should make our frontend compatible with this extension. See this [post](https://codeburst.io/redux-devtools-for-dummies-74566c597d7) for instructions.

It looks like we've installed and activated Redux Devtools two years ago (PR #289), but the extension is greyed out when I'm on the dev site.

### Action Items:
-

[2022-06-23 00:41] nichhk commented on #1253
Actually, it looks like PR #1118 was disabling the fetching of request type colors from the server. it's possible that selecting and deselecting request types never worked on the dev site.

[2022-06-23 00:57] joshuayhwu commented on #1251
Turns out it's unavoidable some councils have insufficient request for more recent requests (i.e. current week). Instead, I copied and pasted the query code and simply reload the query from 3 weeks ago if the dataframe for this week filters down to an empty table. This seems to work locally.

[2022-06-24 03:58] nichhk opened #1258 "Failing to pull data from Socrata since 6/16"
@EchoProject noted that the city has changed the 311 request form, changing/adding/deleting different request types, and also adding sub-request types. Designers @melissahermes99 and @elizabeth-ux are concerned about how to represent all of these different request types color-wise.

On the backend, we have been failing to get data from Socrata since 6/16. The dev site says it last pulled data on 6

[2022-06-24 18:34] nichhk opened #1259 "Make 311 Data's request data easily accessible for data scientists"
### Overview
Currently, we have no way of providing our clean request data to our data scientists. @priyakalyan is working on PR #1257, but this script takes a long time to execute to get all the data.

I see two solutions to this:
1. Make our SQL DB accessible to data scientists + create Python methods that read from the DB and produce dataframes.
2. During our nightly Prefect runs, add a step th

[2022-06-24 18:34] nichhk commented on #1259
@joshuayhwu , who might be interested in working on this.

[2022-06-24 21:25] joshuayhwu commented on #1251
Solution reccomened by Nich:
- Added dummy data to empty tables within callback function in the event when there is no data. When there is no data, it'd look something like this:
![plotlyDash](https://user-images.githubusercontent.com/77765986/175691084-e2ccb605-a99b-4c5a-9632-4ed74c419110.PNG)

- Will have to wait for Piero's PR to merge before any upgrade. Let me know if this is viable solution.

[2022-06-27 16:48] melissahermes99 opened #1260 "Light Theme Interface"
### Overview
We need to replace dark-themed pages and assets with a light theme in order to improve accessibility and readability across the website. Currently, the dark theme presents problems with printing end-result data due to the amount of ink that the current dark theme would require. Our goal is to create a light-themed interface more centered around optimal readability and sharing data.

#

[2022-06-27 18:54] nichhk commented on #1251
Thanks Josh! I was envisioning this graph still including the full legend, with all the request types, and that we would fill the dataframe with 0's for each day x request_type.

[2022-06-27 21:18] nichhk commented on #1258
This was an interesting error message that I somewhat misinterpreted. In the logs above, it seems like we "successfully" completed the steps to download data from Socrata--it just so happens that there was nothing to download for this particular day. That seems unusual to me, since we typically get >1000 requests a day.

But anyway, it seems like the true error logged above is that we failed to re

[2022-06-27 21:18] #1258 closed

[2022-06-27 21:30] nichhk opened #1261 "Prefect nightly task regularly times out waiting for dashboard to say it's reloading"
### Overview
See prior [context](https://github.com/hackforla/311-data/issues/1258#issuecomment-1167911599) here. This isn't high priority now that we are aware of this bug, but we'd like to have confidence in our error reporting (i.e., if our logs indicate an error, it's actually an error).

[Here](https://github.com/hackforla/311-data/blob/456d03754c169b1ecae5f0bb1683db871e311299/server/dash/ind

[2022-06-27 21:32] nichhk opened #1262 "Dev site says its data hasn't been updated in ~10 days"
### Overview
We are successfully pulling data every night according to the nightly pull logging. But the dev site says "Data updated: 06/15/22", which is almost 10 days ago.

The frontend code to display the date is [here](https://github.com/hackforla/311-data/blob/7cbb445aae2053b68168e36a460294c0d0e5d9ab/client/components/Footer.jsx#L66).

The backend code to retrieve the lastPulledLocal timestam

[2022-06-29 21:13] nichhk opened #1264 "Make all request types selected by default"
In PR #1149, we changed all the request types to be unselected by default. I think that is a bit unintuitive--when a user first visits the site, they will not see any requests, and then they will have to check some types to see them. I think it's more user friendly to start with seeing all the requests, and then the user can filter from there if they'd like.

We'd want to change all [these](https:

[2022-06-29 21:33] nichhk commented on #1262
This seems very related to #1261. We finally had a successful nightly Prefect run on 06/28, including waiting for the dashboard to say it's reloading, and now the dev site says its data was updated on 06/28. Today is 06/29, and the 06/29 Prefect run failed, so the dev site doesn't say it was updated on 06/28.

[2022-06-29 22:49] nichhk commented on #1254
This in an interesting state right now. Currently, the app will get all of the open requests only ([code](https://github.com/hackforla/311-data/blob/3946ef5046464f7bf093bf1e33c84b729a375bb4/client/components/Map/index.js#L54)). So we're going to have to update the app to get both open and closed requests, using this [API](https://dev-api.311-data.org/docs#/default/get_all_service_requests_requests

[2022-06-29 22:55] nichhk commented on #1254
Since the date selector isn't even working right now, I will focus on just getting the last week of both open and closed request data, and making the status selector work. Then we can focus on getting the date selector to work (efficiently).

[2022-06-30 00:45] #1253 closed

[2022-06-30 00:57] nichhk commented on #1264
@funbunch : I think this is a good small task to work on related to React/Redux. Let me know if you have any questions!

[2022-06-30 01:43] joshuayhwu commented on #1251
![plotlyDash3](https://user-images.githubusercontent.com/77765986/176574510-adcc4f57-b173-4936-991d-dcb381866f90.PNG)

A colorful alternative...

[2022-06-30 02:50] joshuayhwu commented on #1259
I was taking a look at the lacity API [config](https://github.com/hackforla/311-data/blob/6e2c070285ff729a8ca7d9ec8e663db7aa7583ab/server/api/code/lacity_data_api/config.py#L5) and attempting to connect to postgres locally. I was wondering what's the passcode for the database, if any? (the code said it defaults to none but psycopg2 said db refused connection)

[2022-06-30 20:48] nichhk commented on #1259
Please take a look at this [section](https://github.com/hackforla/311-data/blob/dev/server/terraform/README.md#developer-access-with-ssh-and-bastion-server) of the Terraform README. Basically, we cannot directly access our DB right now because it's in a virtual private network (or cloud?). It can only be access through the bastion server, but we don't have the SSH key from Matt yet :(

[2022-06-30 21:06] joshuayhwu commented on #1259
Interesting. What are your thoughts on directly accessing the Socrata API and building a separate db?

[2022-06-30 21:19] nichhk commented on #1259
Hmm I think that would help us get a solution faster, but we'd have to maintain another component in an already too-complicated system.

If we think that this task is highest priority, I would go with option 2 listed in the first comment.

[2022-06-30 21:40] joshuayhwu commented on #1259
Sounds good. We can discuss more tonight.

[2022-07-01 00:19] joshuayhwu commented on #1251
![plotlyDash4](https://user-images.githubusercontent.com/77765986/176798812-629a807c-7567-4e5d-aa54-ba13ec8056e9.PNG)

Set to 0

[2022-07-01 00:55] nichhk commented on #1251
LGTM! The pie chart is somewhat misleading, but we can think about that later.

[2022-07-01 03:38] nichhk commented on #1264
I would also say that we should default the request status open to be "true" [here](https://github.com/hackforla/311-data/blob/b9b4cb45970c0fe2a937797014364d68d604b798/client/redux/reducers/filters.js).

[2022-07-01 03:59] nichhk commented on #1252
I thought about this issue more [here](https://github.com/hackforla/311-data/issues/1254#issuecomment-1170569205).

Extracting the relevant bits:

[2022-07-01 20:04] nichhk opened #1266 "Get a week's worth of requests by default on dev site"
In PR #1265, we are changing the dev site to pull not only open but also closed requests. In that PR, we are only getting the 1000 most recent requests. We should get all requests for the past week. This means that we might need to make the API call multiple times, using `limit` and `skip`, similar to PR #1257.

[2022-07-02 22:42] #1254 closed

[2022-07-03 20:42] joshuayhwu commented on #1197
# Updated Overview Dashboard Pt 1
![PlotlyCombined1](https://user-images.githubusercontent.com/77765986/177056628-362ea4e3-bbcf-4bcd-bf92-a17dd23dea30.PNG)

# Updated Overview Dashboard Pt 2
![PlotlyCombined2](https://user-images.githubusercontent.com/77765986/177056639-848cfcdb-e1a8-4887-be40-8bca8f4d4d2b.PNG)

[2022-07-07 01:20] nichhk opened #1270 "Enable ESLint on all js files"
### Overview
Many of our javascript files say `/* eslint-disable */` at the top, preventing the linter from running on them. This is a bad idea since the linter helps to identify readability issues and bugs.

Find the full list of places where we're disabling ESLint here: https://github.com/hackforla/311-data/search?q=%22%2F*+eslint-disable+*%2F%22. **Note that we do NOT care about code in client/

[2022-07-07 01:30] nichhk opened #1271 "Parallelize API calls on the frontend"
When the frontend gets 311 request data from the sever, it breaks the request up into multiple calls, each getting 5000 items currently. By default, the frontend displays data for the past week, which is typically 25-30k 311 requests, meaning that we are making 5 API calls sequentially. This takes around 5-10 seconds for me, running on a local frontend. We can parallelize these calls to make the r

[2022-07-07 07:05] #1266 closed

[2022-07-08 21:24] nichhk opened #1277 "Investigate the relationship between crime and 311 requests"
### Overview
It would be interesting to see if crime is positively correlated with 311 requests--i.e., as crime increases, there are more quality-of-life issues to report. It's also possible to see the reverse, a negative correlation--perhaps more 311 requests are indicative of a more engaged/active community, and crime is lower. And of course, maybe there's no relationship at all.

@Michaeldavidn

[2022-07-08 21:33] nichhk opened #1278 "Investigate relationship between NC socioeconomic class and 311 requests"
### Overview
This can be an interesting data science deep dive.

* Do wealthier or more socioeconomically advantaged NCs make more 311 requests?
* Do wealthier or more socioeconomically advantaged NCs have their 311 requests handled more quickly?

### Action Items
- [ ] Find data on socioeconomic class per NC, or other appropriate proxies
- [ ] Find correlation between class and number of 311 requ

[2022-07-08 21:50] nichhk opened #1279 "Identify addresses with significantly more 311 requests"
### Overview
This can be very useful information for NCs and city agencies. Basically, we can identify addresses or small areas that could benefit from more signage, increased community assistance, or other actions.

This was actually one of the original goals of 311 Data (see [Use Case Feasibility Report](https://drive.google.com/file/d/1ejmlRwezaJn-j5Gb4BDPyNWZiHfe-9pd/view?usp=sharing)).

[Upda

[2022-07-08 23:41] EchoProject commented on #1136
## Agenda and Minutes 2022-06-23

#### Updates:
1. v2 menu will have two surfaces depending on whether Address or District Type tab is selected
2. Prod site is still down. Eng is waiting on Matt Webster to send SSH keys and config files
3. New data scientist - Susan Kolim

#### Needs to get done:
- [ ] https://github.com/hackforla/311-data/issues/1134#issuecomment-1159201206
- [ ] Review Issues tr

[2022-07-08 23:44] EchoProject commented on #1134
2022-07-08
Feature: 12 (-1)
Size: 48
Role: 6
Milestone: 18 (-1)

[2022-07-08 23:47] EchoProject commented on #1136
## Agenda and Minutes 2022-06-23

#### Updates:
1. v2 menu
2. Prod site is still down. Eng is waiting on Matt Webster to send SSH keys and config files
3. New data scientist - Susan Kolim

#### Needs to get done:
- [ ] https://github.com/hackforla/311-data/issues/1134#issuecomment-1159201206
- [ ] SSH Key and config files from Matt Webster - Bonnie

#### Needs to get done sooner than later:
Vision

[2022-07-11 20:11] #1252 closed, assigned to nichhk

[2022-07-13 20:49] joshuayhwu commented on #1279
At least at the NC level, we have visualization on the total number of requests over the years.

[2022-07-14 00:37] nichhk commented on #1279
Thanks Josh! Yes, ideally, I think we'd want to get as granular as address-level, and then one notch above that, block-level. I think an individual NC would like to see if, e.g., 50% of their NC's 311 requests are coming from a single address.

[2022-07-14 19:42] #1271 closed

[2022-07-14 20:20] nichhk opened #1282 "ReactDayPicker updates date ranges when only start date is selected"
### Overview
We would want the ReactDayPicker to wait until the end date is selected as well before trying to update the Redux store with the new date range.

### Action Items
- [ ] I believe we can just move the call to `UpdateStartDay` from its current location in [`SetFromDay`](https://github.com/hackforla/311-data/blob/16523a78594e7ee7eb4c9c8a02ee08c4d85ad30b/client/components/common/ReactDayP

[2022-07-14 20:23] nichhk opened #1283 "Date range selector should display the date range for the past week by default"
### Overview
In PR #1268 , we changed the dev site to get data from the past week by default. However, this is not reflected in the DateSelector--it just says "Select a date range". This should be updated.

### Action Items
- [ ] I'm not quite sure where this change is supposed to go right now, but it would be somewhere in [here](https://github.com/hackforla/311-data/blob/7cbb445aae2053b68168e36a4

[2022-07-14 20:24] nichhk opened #1284 "Map should display a loading modal when it's retrieving new data"
### Overview
Currently, it can take up to 25s for the dev site to pull data for the past month. We should display a loading modal in these situations.

### Action Items
- [ ] Design a loading indicator.
- [ ] Display it when the client is retrieving data, and hide it when the client finishes retrieving data

### Resources
- https://github.com/hackforla/311-data/issues/1380
- https://github.com/hac

[2022-07-15 00:55] #1251 closed

[2022-07-19 05:19] piotrsan commented on #1229
To adjust the data by population, I intersected the census block 2020 data from LA county ARCgis with the neighborhood councils boundaries to obtain population estimates for each neighborhood council. The analysis yielded table NC_pop_2020.csv, which was used to adjust 311 requests number by population in neighborhood.py dashboard.

[2022-07-19 05:30] piotrsan commented on #1262
Hi Nich, here is a screenshot of the missing data, week of 6/12 is the most affected one.

<img width="1650" alt="image" src="https://user-images.githubusercontent.com/15342705/179672263-8c61417c-914c-4c42-9495-c68b1b6be1f1.png">

[2022-07-19 20:16] nichhk commented on #1229
To recap, Anupriya and Piero have both been working on ways to get more up-to-date population data per-NC.

Action items for @priyakalyan and @piotrsan:
- [ ] Explain why getting population counts is a difficult problem (new NCs? other things? I don't quite remember).
- [ ] Create write ups of your methodologies to get the population data. You can post them on this issue for now.
- [ ] Post the re

[2022-07-21 19:09] nichhk commented on #1278
The LA Times recently published an [article](https://www.latimes.com/california/story/2022-07-18/thousands-homeless-sears-boyle-heights-opposition) about a plan to make Boyle Heights' Sears building into a homeless services hub. Some Boyle Heights residents don't like this plan:

It would be great to investigate this using 311 Data.

[2022-07-22 02:51] EchoProject opened #1287 "Connect with Someone in the City of LA"
### Overview
We need to connect with someone in the City of LA to build a relationship with their data engineers in order to keep up to date with changes to data collection/ distribution and to build more robust products.

### Action Items

- [x] Provide, in writing, why we want to speak with someone at the City of LA
- [ ] Bonnie will forward the message to her contact
- [ ] Her contact will conn

[2022-07-22 06:26] EchoProject commented on #1136
## Agenda and Minutes 2022-07-21

#### Updates:
Desktop and mobile menu designs are being created.

6. We can begin alpha testing (dogfooding) the website before beta testing with real users. (Lucky Parking DS contact)
7. Product offering - DS deep dive: Our DS team will conduct an analysis for partnered NCs (and other districts) and provide a report (via blog) with the findings. The blog reports

[2022-07-22 23:11] nichhk commented on #1277
Michael has shared his work on a Tableau [dashboard](https://public.tableau.com/app/profile/michael.david.ng/viz/LAhasProblems/Dashboard3
) over the past couple weeks. @Michaeldavidng, could you share what sort of analyses you ran, and what your findings were? As well as the next steps?

[2022-07-22 23:20] nichhk opened #1289 "Develop a 311 request forecasting model"
### Overview
It would be interesting to see whether we can accurately forecast the number of created 311 requests for a future date.

### Action Items
- [ ] Train a basic forecasting model.

[2022-07-22 23:21] nichhk commented on #1289
@susanklm: Could you write a comment here describing what you've tried, what the results were, and next steps, if any?

[2022-07-22 23:33] #1200 closed

[2022-07-22 23:33] #1264 closed

[2022-07-23 00:38] Michaeldavidng commented on #1277
Hello:

Day 1:
one the first day, I ran a regression between the amount of crime that happened in each precinct and the amount of the 311 request in each precinct.

analysis indicated that the crime and regression was not correlated.

was requested to focus the area as the location might have been to broad.
was requested to filter out "bulky items" category

Day 2:
re-ran the regression from day 1

[2022-07-23 20:35] nichhk commented on #1234
Let's hold off on this issue until Josh checks in PR #1288. We are getting rid of the Overview dashboard there.

[2022-07-23 20:38] nichhk commented on #1030
I'm not quite sure how this is different from our existing dashboards, which already get their data from the API endpoints.

I'm closing this for now.

[2022-07-23 20:38] #1030 closed

[2022-07-23 21:04] nichhk opened #1291 "[EPIC] Data Science Insight Discovery using 311 Data (Research) H1 2023"
## This is the Epic for all Data Science Research Projects
All data science team members may feel free to add your projects to the ongoing task list, below! If you have a project repo or public link you'd like to use to share your project work, make sure that link is referenced in your project's issue.

### Overview

To generate impact, I (Nich) think there are a two main ways of thinking about th

[2022-07-23 21:08] nichhk commented on #1291
Tagging all our data scientists: @joshuayhwu @susanklm @piotrsan @priyakalyan @Michaeldavidng @JACKIEKWON @lgewirtz @yn2191

[2022-07-24 17:18] joshuayhwu commented on #1279
Power BI Demo:
![image](https://user-images.githubusercontent.com/77765986/180658664-72f277d5-398c-4e96-b313-1389e82b1452.png)

Next Steps:
- Decide on the specific granularity
- Generate a list of top 10 address/specified granularity for each NC
- Think of how to implement this as a feature into existing dashboard

[2022-07-24 17:44] joshuayhwu opened #1292 "Identify the regions to set up LA Metros Bike Share Stations to help mitigate "First/Last Mile Problem""
### Overview
LA is notorious for its traffic volume and public transport is one way to mitigate the issue. However, the lack of adequate city planning means that citizens often face the "First Mile / Last Mile Problem" when trying to access the public transit - it is often difficult to reach/exit the public transport system without first driving to/from the transportation system because LA is not

[2022-07-24 17:54] joshuayhwu opened #1293 "Investigate the relationship between car parking meter utilization, number of trees, and 311 Requests"
### Overview
LA has so many cars and demand of parking outweights supply. Let's try to investigate if there is a relationship between street parking meter utilization, the number of trees, and 311 requests data. My hypothesis is that the more trees means more shade and more parking utilization; alternatively, more 311 requests means lower parking utilization.

### Action Items
- [ ] Build temporar

[2022-07-24 18:04] joshuayhwu opened #1294 "Investigate relationship between air quality data and 311 requests"
### Overview
LA's air quality is not the best. I wondering if there is any relationship between air quality and the different 311 requests.

State of California has divided the state into multiple Air Quality Management Districts. LA (barring Orange County) is under the jurisdiction of South Coast Air Quality Management District.

### Preliminary Steps (High-level)
- [ ] Reach out to South Coast A

[2022-07-25 23:46] Michaeldavidng commented on #1277
7/25/2022
Attempted to utilize the code given by other 311 member.

the specific code merging the two dataset on the shared column had an issue: the merged dataset only provided column headers with no data in the table.

Spent most of the afternoon, writing up code and exploring other python codes to merge the two datasets.
encounter issue where the joining the two column causes issue with data ty

[2022-07-26 03:06] priyakalyan commented on #1277
Hi Michael, when I looked at the rough script that I shared with you on Friday- I realized that the I missed c on 'PolicePrecinct'. That is why the merge was not working out. I sent you updated script. So pd.merge() works now.

Also, when I looked at the 'PolicePrecinct' column in crime data- the string is title case. Where as the same string in 311 data is upper case. So you will have to work on

[2022-07-26 17:45] nichhk commented on #1283
This task ended up being more complicated because many of our date-related components were using local React state instead of the Redux store. So I had to go through these components and remove the local date state, while replacing it with the Redux dates where appropriate.

[2022-07-26 19:28] melissahermes99 opened #1297 "Redesign FAQ page to include color legend and category explanations."
### Overview
We need to reformat the FAQ page to include a section dedicated to a detailed color legend. In previous versions of the map menu, we included an information pop-up that provided more details on the categories used for the map. In order to use our space more efficiently, we will need to relocate this information to the FAQ page.

### Action Items
UI/UX - Design, please provide actions:

[2022-07-26 20:07] susanklm commented on #1289
For the 311-data time series analysis, I used Auto Arima to make monthly forecast of the 311 requests number and Facebook Prophet to make daily forecast of the 311 requests number. Both Auto Aurima and Prophet gave a decent forecast.

Root Mean Square Error (RMSE) of the Auto Arima is 14,808.68. This tells us that our model was capable of forecast the average monthly total request in the test set

[2022-07-27 01:11] #1283 closed

[2022-07-27 21:34] susanklm commented on #1289
For the time being, I am not sure how to improve the model. Therefore, I won't continue working with this project anymore.

[2022-07-27 23:00] Michaeldavidng commented on #1277
7/26/2022
Note: even though I'm writing this on 7/27, it really took place yesterday.
Got correspondence back from fellow 311 member (Anupriya). Was told the issue was a spelling error in the code. Also told of additional issue that because the the merging columns (i.e. PolicePrecinct) had differences that results in NaN values.
However, I fixed both issues yesterday on 7/25.

the 311 member sent

[2022-07-28 03:08] JACKIEKWON commented on #1278
I am using [311 Request Data](https://data.lacity.org/City-Infrastructure-Service-Requests/MyLA311-Service-Request-Data-2022/i5ke-k6by) to get the request count and request completion time for each NC.

I was planning to use [Census Population/Demographic Data by NC](https://data.lacity.org/Community-Economic-Development/Census-Data-by-Neighborhood-Council/nwj3-ufba), using the in-poverty populati

[2022-07-28 04:05] piotrsan commented on #1229
There is no available table of population broken down by neighborhood council. The only data available is derived from 2010 census data using old NC boundaries (when there used to only be 97 NCs instead of the current 99).

We have preliminary data from acrGIS derived by intersecting current 99 NC boundaries with 2020 census block population data. It is not clear how this is done in the background

[2022-07-28 05:44] priyakalyan commented on #1229
Here is a [notebook](https://github.com/priyakalyan/Updated_NC_pop/blob/main/NC_pop_recent.ipynb) detailing the calculation to determine the updated LA neighborhood council population using geospatial analysis.

This [notebook](https://github.com/priyakalyan/Updated_NC_pop/blob/main/NC_updated_pop_comparison.ipynb) compares the 2 methods (arcGIS and geopandas)  that were used to evaluate the recen

[2022-07-28 17:19] #1282 closed

[2022-07-28 21:57] #1289 closed

[2022-07-28 22:35] nichhk commented on #1229
@priyakalyan have you seen [this](http://www.laalmanac.com/population/po24la.php)? It's an approximation of population by neighborhood for LA, but the neighborhoods that they are using are different (and more granular) than actual Neighborhood Councils. At the bottom, they explain their methodology. They are taking a winner-take-all approach, meaning that they are not attempting to split census tr

[2022-07-28 22:40] nichhk commented on #1278
Yeah that data looks really unreliable. I see that there's a way to contact the dataset owner on the [website](https://data.lacity.org/Community-Economic-Development/Census-Data-by-Neighborhood-Council/nwj3-ufba). Could you share your findings with them and see if they respond?

[2022-07-28 22:57] melissahermes99 opened #1300 "Mobile Menu Redesign"
### Overview
We need to redesign the mobile menu to streamline the mobile experience while preserving all features of the desktop version.

### Action Items
- [x] Redesign map to fit a mobile screen
- [x] Experiment with menu prompts in order to find one that functions well without interrupting user flow
- [x] Relocate the information tooltip to the FAQ page [reference issue #1297](https://github.

[2022-07-28 22:59] nichhk opened #1301 "Improve map performance over long date ranges (month+)"
### Overview
Currently, the frontend will get up to 10k 311 requests/day for each day in the selected date range. If we select the past month, our server does not even work reliably--our frontend makes ~30 requests in parallel, one for each day, and 5-6 requests fail on the server side.

This is to say nothing of a browser's ability to render 100k+ requests in the first place. We'll need to measur

[2022-07-28 23:04] nichhk opened #1302 "Date Range selector not working"
### Overview
There is a bug from PR #1299--selecting a different date range using DateRanges will not trigger a new data download because of the way that we're checking the Redux store.

### Action Items
- [ ] In [index.js](https://github.com/hackforla/311-data/blob/8b1f70adc25fe11cff7ce1bca33ce7203bfc4385/client/components/Map/index.js), we should setData() if the startDate changes as well.

[2022-07-28 23:24] melissahermes99 commented on #1300
I've created three different versions of possible menus. However, after discussion during a team meeting, we will be going with the clickable pop-up in order to save screen real estate.

-  **Horizontal Scroll**
![image](https://user-images.githubusercontent.com/97048386/181652327-231fd89a-f304-4caa-88e8-c29c698534eb.png)

- **Vertical Scroll**
 ![image](https://user-images.githubusercontent.com/9

[2022-07-29 00:28] melissahermes99 commented on #1300
I've created a four-step tutorial for the mobile menu which includes the following :
- Start by entering an address
- Tap here to adjust filters and settings
- To adjust distance and location, swipe, pinch, or tap your screen
- Tap points to see details

[Click here to view prototype](https://www.figma.com/proto/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=5024%3A14165&scaling=scale-down&page-id=3

[2022-07-29 00:39] melissahermes99 commented on #1260
I've created an alternate version to the design system which houses a light version of the website interface. Initially, we had decided to create a light version in order to create a more printer and presentation-friendly version of the Plotly data. Because this seemed to be the root of our issue, the light version may not be necessary aside from the backgrounds of pages used to house data and cha

[2022-07-29 01:05] priyakalyan commented on #1229
@nichhk I did see that long time back when I was extensively searching for pop details. But I did not explore it further back then. I can take a look at it. Thanks for the feedback!

[2022-07-29 01:58] piotrsan commented on #1229
Here is the 2020 estimates for Los Angeles from the Census Bureau.

https://www.census.gov/quickfacts/fact/table/losangelescitycalifornia/PST045221

[2022-07-29 02:19] Michaeldavidng commented on #1277
7.28.2022
https://public.tableau.com/app/profile/michael.david.ng/viz/311correlationwithcrime/Sheet4

I shared my finding with in the official meeting.
overall, the group agreed with my data.

Conclusion: there is no discernable relationship or correlation between 311 request and crime.

normally, I would have closed this issue but another 311 member has expressed interested in finding other addit

[2022-07-29 02:25] nichhk commented on #1278
Jackie to focus on social aspects and Michael on economic aspects for now.

[2022-07-30 02:07] joshuayhwu commented on #1277
Wanted to add some thoughts for some ways to explore this issue. Feel free to ignore all of this if there are other approaches you think works best.

Before that, let's clarify some of the objectives of this deep dive from my understanding:
- Investigate the relationship between crime and 311 requests; attempt to reveal any pattern between the two datasets
- If there are any relationships, what ar

[2022-07-30 03:06] joshuayhwu commented on #1278
Wanted to add some thoughts on some ways to explore this issue, feel free to ignore this if you feel there are other approaches that you think work best.

Before that, let's clarify the objective of this deep dive from my understanding:
- Investigate the relationship between NC socioeconomic status and 311 requests; attempt to reveal any pattern between the two "datasets"
- If there are any relati

[2022-08-01 17:34] nichhk commented on #1301
@EchoProject what do you think about the first checkbox in the comment above? How important is it to render all the requests for a particular date range in the map?

[2022-08-01 18:05] #1302 closed

[2022-08-01 18:48] nichhk commented on #1284
@elizabeth-ux and @melissahermes99, could you design a loading indicator for the map?

On the eng side, I've gotten a material-ui [CircularProgress](https://mui.com/material-ui/react-progress/#circular-indeterminate) component to load, but it doesn't look good.

![bad-loading-modal](https://user-images.githubusercontent.com/6537426/182221771-a49605b7-a627-4a7b-ab88-7e182f4233d7.png)

[2022-08-02 01:15] nichhk commented on #1270
@funbunch and @ardada2468, feel free to work on this issue if you have extra time. Please note the files that you'll be fixing before starting on them here, so that we can avoid duplicate work!

[2022-08-02 19:33] nichhk opened #1305 "UXD - Clarify regions that are not part of LA city on Map"
### Overview
We need to clarify when a user is hovering over an area that is NOT a neighborhood council because users are getting confused about what they are selecting, leading to a bad and confusing experience with our app.

### Releases
- [ ] https://github.com/hackforla/311-data/issues/1585

### Action Items

- [x] Address the problem overview with possible design solution(s) in a comment
- [x

[2022-08-02 19:41] nichhk opened #1306 "Make council searching more user-friendly on Map"
### Overview
Currently on the map, the NC search is a plain text box that will show suggestions after a user starts typing. I think it's a bit hard to use, especially if users don't know the names of their NCs.

I think we discussed making this a dropdown before, but I'm not sure if there are other ideas.

### Action Items
- [ ] Determine how to make this more user-friendly

[2022-08-03 21:26] melissahermes99 commented on #1284
I've come up with two test loading indicators for the map. The first indicator utilizes the logo and the second is just a simple loading bar. If neither of these is what we're looking for I can keep experimenting to find something that works. For now, you can find the UI for both indicators under the [Map Loading Screen Test](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=

[2022-08-03 23:33] susanklm commented on #1294
@joshuayhwu
On August 2, 2022 Zoom Meeting with Josh Wu, we discussed some steps which are needed for this project. Below are the steps which was discussed.
* Use the API from EPA Air Quality Data to get the AQI of PM2.5, O3, PM10 from the monitoring stations which are located within the Los Angeles NC area.
* Draw an appropriate circle around each monitoring station.
* Plot 311-requests data with

[2022-08-03 23:58] susanklm commented on #1294
@joshuayhwu
Today, on August 3, 2022, I used the API from the EPA Air Quality Data to get some air quality data, but found out that some stations don't have the needed data. For example the station in West LA and North Hollywood only have O3 and N02 data. (We don't need NO2).

I have reached out to South Coast Air Quality Management District to ask for the API to get the air quality data from thei

[2022-08-04 02:31] joshuayhwu commented on #1294
@susanklm
Thanks for the update!

If SCAQMD doesn't reply anytime soon, you can use O3 and N02 as depend variable instead of AQI. The current process looks good!

[2022-08-04 03:09] #1197 closed

[2022-08-04 18:07] susanklm commented on #1294
@joshuayhwu
OK. If SCAQMD doesn't reply, I will use O3 and NO2. However, there is a station in Long Beach (Hudson) which only has PM10 and  a station in Long Beach (Route 710) only has PM2.5 and NO2. I will ignore these stations and use the information from the nearby stations which have O3 and NO2.

[2022-08-04 19:05] nichhk commented on #1294
Have you thought about using [PurpleAir](https://map.purpleair.com/1/mAQI/a10/p604800/cC0#11/34.029/-118.4005)? They have a ton of sensors in LA, as well as an [API](https://api.purpleair.com/#api-welcome).

[2022-08-04 19:15] nichhk commented on #1301
Another idea is to retrieve a limited number of requests on a city-level, but get all NC-level requests when a user selects an NC.

[2022-08-04 19:19] nichhk commented on #1284
Thanks Melissa! They look great. I prefer the first one, but would appreciate feedback from others! @elizabeth-ux @EchoProject any thoughts?

[2022-08-04 19:21] susanklm commented on #1294
@nichhk
Thanks for the suggestion! I will look into it.

[2022-08-05 01:03] EchoProject commented on #1284
I also like the first. @melissahermes99 Is it possible to have the shimmer go in the other direction (from left to right)?

@nichhk The darkened state of the page while loading isn't currently a feature, correct? Are we building this in?
So every time the screen is loading it darkens? Makes sense for predictably long loads, but I feel like it'll be eye straining if the load happens quickly and pos

[2022-08-05 01:35] melissahermes99 commented on #1284
I've updated the first loading indicator to move to the left.
![image](https://user-images.githubusercontent.com/97048386/182982858-19baa15e-b598-4997-8772-94864bc475a0.png)

[2022-08-05 22:12] nichhk opened #1307 "Implement caching for get_filtered_requests"
### Overview
[`get_filtered_requests`](https://github.com/hackforla/311-data/blob/ecf4ce422dbf1d8389e3b0e2586533d9c92eb104/server/api/code/lacity_data_api/models/service_request.py#L165) is the API that we use to get requests on the map, and it's very slow right now, probably because we're not caching the results.

You can play around with the API [here](https://dev-api.311-data.org/docs#/default/

[2022-08-05 22:14] nichhk commented on #1307
Killen will work on this. I'll assign it to him explicitly once he gets added to the repo.

[2022-08-05 22:33] nichhk opened #1308 "Prevent users from selecting date ranges longer than 3 months"
### Overview
We need to limit the date ranges that a user can select so that the map is reasonably fast. The map is not very useful once it gets saturated with request dots anyway.

### Action Items
- Remove all options greater than 1 month from [options.js](https://github.com/hackforla/311-data/blob/bd7a2f51fb93b76e253b8c4b0a35bde9a17f2b4e/client/components/DateSelector/options.js)
- Add an optio

[2022-08-06 01:35] susanklm commented on #1294
@nichhk @joshuayhwu
I have looked into the PurpelAir. The PurpleAir sensor only measure **airborne particulate matter** (PM) data, and the data comes from many individuals. We can [purchase](https://www2.purpleair.com/) our own PurperAir sensor, connect it to the Wifi and share our data with the public. The measurement of PurpleAir is a [little different](https://www.kqed.org/science/1969271/makin

[2022-08-06 01:41] EchoProject commented on #1287
Here is a short paragraph on why we're looking to connect with someone at the City of LA.

We would like to connect with someone at the City of Los Angeles that manages data. As a partner of EmpowerLA, we use the City's 311 service request data to provide data visualization and analytic dashbaords for local gonverments and community members. We would like to build a relationship with the City's da

[2022-08-06 01:42] EchoProject commented on #1287
Hey @nichhk, can you take a look at the comment above and see if there's anything you would like to change before I send to Bonnie to forward? This is regarding connecting with a data manager at the City of LA.

[2022-08-07 17:29] nichhk commented on #1287
Looks great, thanks Eric!

A couple comments:
- There is a typo--"gonverments".
- might help to specify that we're looking for per-NC population data.
- not sure what "aggregation level" means, maybe that can be clarified.

[2022-08-07 17:44] nichhk commented on #1261
I took a closer look at this. When you manually tell the dashboard server to reload (i.e., visit `dashboard_url/reload`), it happens almost instantaneously, and we get the result that we're expecting.

So I'm less confident that extending the timeout will solve our issue here. There is probably a bug in the way that we are verifying the reload's success. Currently, prefect opens a browser and navi

[2022-08-07 18:04] nichhk commented on #1261
Actually, according to #1028, we need to run a browser. There is very little detail in the bug. But apparently they tried using my approach in the previous comment first, but it didn't work. So I will continue investigating the existing solution.

[2022-08-08 22:01] Michaeldavidng commented on #1278
Found a good, reliable source for demographic data. Only problem is that the data is somewhat on the old side, seems like 2008 numbers. Better than nothing though.

[2022-08-08 22:18] Michaeldavidng commented on #1278
Working on a spreadsheet that list the median income for each neighborhood council. I'm putting a column of the URL of where i got the data from and another column that list the relevant date (i.e. Median income as of 2008 dollars).

Will put on google sheets by Thursday.

[2022-08-09 01:14] nichhk opened #1309 "Run unit tests for Prefect"
### Overview
We need to be able to run unit tests for Prefect. Currently, `docker-compose run prefect pytest` is failing.

We can follow the unit test infra setup that the `api` is using. Prefect does seem to have a few unit tests, but we cannot use docker to run them right now.

### Action Items
- [x] Add `pytest` to Prefect's requirements.txt file. `pytest` is already in the Pipfile, but we are

[2022-08-09 01:18] nichhk opened #1310 "Deprecate requirements.txt in favor of Pipfile"
### Overview
Currently, we are maintaining both requirements.txt and Pipfile for each of our Python packages. We should use [Pipfile only](https://jonathanmeier.io/advantages-of-pipfile-lock-over-requirements-txt/) so that we don't need to maintain two separate dependency specs.

### Action Items
- [ ] Make sure that each Pipfile is in sync with the requirements.txt file
- [ ] In our Dockerfiles,

[2022-08-09 01:33] nichhk commented on #1279
Apparently we have an API endpoint that can produce "hotspots", see #1034. I'm not sure if this is helpful, or changes how we do things, but it's worth looking into.

[2022-08-09 01:33] nichhk commented on #1034
Closing this as a dupe of #1279.

[2022-08-09 01:33] #1034 closed

[2022-08-09 01:36] nichhk commented on #972
This is something that we still need to implement for v2.

[2022-08-09 01:45] nichhk opened #1311 "Write up system design doc"
### Overview
We need to write up a system design doc so that we can explain our current architecture to the DevOps team. Currently, 311 Data infra is running on its own private AWS account, but it should be moved under the H4LA AWS account. We cannot even modify the existing infra on our private AWS account since we don't have the Terraform configs.

Hopefully, once this is all written up, we can

[2022-08-09 04:21] priyakalyan commented on #1229
@nichhk I emailed LA times last week requesting them to get back to us with their methodology in calculating the LA city population. Still waiting for their response.

Here is an updated [notebook](https://github.com/priyakalyan/Updated_NC_pop/blob/main/NC_pop_recent.ipynb) to calculate the population of the LA city NCs after adding area and population filter. In this recent version, the total pop

[2022-08-09 17:19] nichhk commented on #1306
Closing this since it will be addressed as part of the menu redesign.

[2022-08-09 17:19] #1306 closed

[2022-08-09 17:20] #1180 closed

[2022-08-09 17:57] Michaeldavidng commented on #1278
Found other good sources for demographic data.
https://www.pacificurbanism.org/publications/neighborhood-council-census-data
the link above is good because it obtain its data from the 2015 US census. While a little bit old, at least the source is reliable.

other sites are:
https://www.weichert.com/search/community/neighborhood.aspx?hood=61301

I think others might be interested in the link below

[2022-08-09 18:13] nichhk commented on #1278
Hey Michael thanks for looking for these data sources! I agree that the Pacific Urbanism source looks pretty reliable. It does look like it only has data for 97 NCs--there are actually 99 now. But I imagine that their data would be a good starting point. It's interesting that the PDF says it was prepared for "the City of Los Angeles Department of Neighborhood Empowerment"--if I'm not mistaken, we

[2022-08-09 22:29] nichhk commented on #1311
I wrote up the architecture section in the doc, and I will work on the core processes later. @EchoProject and @joshuayhwu, please take a look and let me know if there's anything to add re: architecture!

[2022-08-09 23:00] Michaeldavidng commented on #1278
https://docs.google.com/spreadsheets/d/1iw-8FvFrlTpcD2s7yiqiBQLBqhxvPOLGjpy6G5aHyFc/edit?usp=sharing

created spreadsheet listing Median Household Income per Neighborhood council.

Majority of data came from: https://www.pacificurbanism.org/publications/neighborhood-council-census-data which itself drew the data from the US census and governmental survey; in other words, the data is reliable. Prob

[2022-08-09 23:15] susanklm commented on #1294
@joshuayhwu
After a closer look at the [AirNow data](https://gispub.epa.gov/airnow/?tab=loops&monitors=ozonepm&contours=none&xmin=-13460178.259432074&xmax=-12873141.882202204&ymin=3935536.951413152&ymax=4181052.6862650192) and [EPA AirData](https://epa.maps.arcgis.com/apps/webappviewer/index.html?id=5f239fd3e72f424f98ef3d5def547eb5&extent=-146.2334,13.1913,-46.3896,56.5319). It seems that these tw

[2022-08-11 17:16] nichhk commented on #1278
Yeah, try pulling 2015 311 request data if possible. Looks good!

[2022-08-11 23:30] melissahermes99 commented on #1297
![image](https://user-images.githubusercontent.com/97048386/184258805-c3d63feb-d91b-4a1a-a3b1-69569f88ab7f.png)
![image](https://user-images.githubusercontent.com/97048386/184258931-28f35cd6-6e1e-447e-b580-1b96254f948a.png)

Elizabeth and I have decided one of these methods can work for redirecting the user to the FAQ page. The first option is more broad for all questions and concerns and the seco

[2022-08-11 23:32] melissahermes99 commented on #1297
Elizabeth has added a section in the FAQ to include information about each category in the map key. You can find this change on the Version 2_Design Studio page.
![image](https://user-images.githubusercontent.com/97048386/184259284-1ebbfc73-1ddf-4f77-90fc-0ce0bf7acd95.png)

[2022-08-11 23:34] melissahermes99 commented on #1284
I have created a progress bar. I am not sure if looping it is a good idea, so I've slowed down the speed of it's progression. You can view it [**here.**](https://www.figma.com/proto/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=5166%3A23042&scaling=min-zoom&page-id=2375%3A0&starting-point-node-id=5166%3A21377)

![image](https://user-images.githubusercontent.com/97048386/184259547-969ec32d-af6e-4b0d

[2022-08-11 23:37] melissahermes99 commented on #1157
Elizabeth and I have developed two new versions of a horizontal bar map key.

![image](https://user-images.githubusercontent.com/97048386/184259670-27d5236f-bccf-4be4-b599-40890f35649b.png)

[2022-08-12 00:54] joshuayhwu commented on #1294
@susanklm

Thanks for taking the time to explore the different resources!

From your notes, it seems like the AQI is simply the maximum value of the 5 measures and the government resource is the most reliable. Moving forward, I think we will need call the API and grab whatever value is available (best if there is AQI directly from the API), then select the maximum value from the 5 measures in our

[2022-08-12 01:27] EchoProject commented on #699
@nichhk and @joshuayhwu
This Issue addresses including a legend and search criteria when exporting. According to the above, Plotly may not support this feature. Can one of you guys, or a new volunteer, explore this and other options? This shouldn't be needed for the Map, but exported reports should clearly show labels.

[2022-08-12 02:37] Michaeldavidng commented on #1278
Did overview analysis comparing wealth to 311 request.
https://public.tableau.com/app/profile/michael.david.ng/viz/Wealthvs_311request/Story1
https://youtu.be/BlekqoSABcs
on the youtube presentation there is slight error. the date difference column was created using "created date" and "close date" which was done correctly in the presentation but I mentioned a different date rather that "created da

[2022-08-12 03:15] melissahermes99 commented on #1305
@elizabeth-ux , @EchoProject , and I discussed this during the meeting tonight and we thought a good way to work around this issue could be muting the areas that are not a part of LA. For example, lightening the names of surrounding cities or removing the names altogether, and removing geographical features such as mountains and roads. I am not sure how feasible this solution is but I can work on

[2022-08-12 03:18] EchoProject commented on #634
@nichhk Are we using mapbox API? Have there been any issues with generating tokens? Not sure if this Issue needs to be addressed or if it's no factor.

[2022-08-12 06:50] susanklm commented on #1294
@joshuayhwu

I think it is better to grab Ozone, PM2.5 and PM10 (instead of grabing all five including NO2, CO) since I think it is a more common method. For exampe the site which you just posted, [OEHHA](https://oehha.ca.gov/calenviroscreen/report/calenviroscreen-30#:~:text=CalEnviroScreen%20is%20a%20screening%20tool,go%20to%20the%20OEHHA%20website.)  only mention Ozone and PM2.5. Similarly [AirN

[2022-08-12 18:04] nichhk commented on #1307
Hey @jekijo, please open a PR linking this issue and add me as a reviewer. Thanks!

Also, please share the stats for latency here in a comment.

[2022-08-12 18:10] nichhk opened #1312 "Set up Sentry to monitor API performance"
### Overview
We need to monitor API performance since our website is quite slow, and we want to track how well our improvements are working. See #1307 for example.

We already use Sentry on the [front](https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab5f77/client/index.js#L16) and [backend](https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab

[2022-08-12 18:15] nichhk opened #1313 "Audit site performance using Lighthouse"
### Overview
We need to audit the site's performance (particularly the map and the reports) using Lighthouse so that we can quantify our performance improvements to the site.

### Action Items
- [x] Add documentation on how to do this in the client [readme](https://github.com/hackforla/311-data/tree/dev/client#readme)
- [x] Run an initial audit on dev.311-data.org
- [x] Think about how we want to

[2022-08-12 18:27] nichhk commented on #1190
Note that unit testing this is blocked by #1309.

[2022-08-12 18:36] nichhk commented on #1284
Thanks Melissa, this looks good to me! Was there any discussion last night about which loading indicator to go with?

[2022-08-12 21:49] nichhk commented on #699
I'll share this with our new engineers and see if anyone is interested in working on it.

[2022-08-12 21:52] nichhk commented on #634
Yeah, we are using Mapbox. The token we are using has worked fine, but it would be a good idea to follow the Action Items. I can work on this.

[2022-08-14 22:51] #1219 closed

[2022-08-14 23:16] nichhk commented on #1311
Josh and I added the core processes. There are a couple small fixes to make, but we can get the ball rolling with DevOps folks now. @EchoProject could you start that conversation?

[2022-08-16 01:39] nichhk opened #1315 "Update documentation for local client and server setup"
### Overview
We have more people onboarding to the project, and they have identified some issues with the instructions.

### Action Items
- [ ] Note the URL for the local server in the client setup instructions
- [ ] Add local client to allowed API origins in server/.env.example

[2022-08-16 18:23] Michaeldavidng commented on #1278
8/16/2022 - zyzz
I've gone ahead and updated the above tableau link with additional tabs in accordance to the previously provided feedback. Still in rough draft stages but hoping to polish it by Thursday.

Found a good demographic source from the American Community Survey. I'm thinking about using it for when I analyze the social aspect of socioeconomic whatever.

https://drive.google.com/drive/fo

[2022-08-16 20:12] akhaleghi commented on #1229
@priyakalyan were you able to hear back from the LA Times?

[2022-08-16 20:27] priyakalyan commented on #1229
@akhaleghi I did not hear back from them yet. It has been more than 10 days. I wrote a follow up email today.

[2022-08-17 00:40] EchoProject commented on #1311
I'll reach out to the DevOps Team (Dean Church and Jason Ebung) regarding the next steps. Is it preferred to make the switch before or after launching v2?

Also, great job on this document, @nichhk and @joshuayhwu !

[2022-08-17 00:45] EchoProject commented on #1284
I think we landed with the bar at the top, below the nav, would prompt as orange and then turn teal during the loading. The color change would not loop, and the background would not darken. @melissahermes99 am I missing anything?

[2022-08-17 00:52] joshuayhwu commented on #1311
@nichhk Updated with your feedback. Super grateful for the comprehensive overview!

[2022-08-17 02:13] EchoProject commented on #1305
@melissahermes99 Nich thinks we should be able to put an overlay over parts of the map. He's going to look into it further, and I think we can start mocking up designs for what this might look like. He mentioned we should consider cases like Beverly Hills and Culver City that are not a part of LA and look like they are within the city boundary.

[2022-08-17 04:16] melissahermes99 commented on #1284
Sounds good! I did have to make a slight adjustment to the canvas to lower to bar just a bit. I had previously had it overlapping the header on accident. I've updated the color transitions as well to make the flow of the loading bar more smooth.

[2022-08-17 04:21] #1315 closed

[2022-08-17 23:12] Michaeldavidng commented on #1278
8/17/2022
_Social aspect_
found 2010 census data that list demographics into each neighborhood council.
https://data.lacity.org/Community-Economic-Development/Census-Data-by-Neighborhood-Council/nwj3-ufba

unlike the other datasets like those I posted yesterday, they aren't based on estimates and the data is fitted to each neighborhood council specifically.

I'm going to compare the 2010 census da

[2022-08-18 00:49] edwinjue commented on #1270
ran the following to find places where /* eslint-disable */ is located (excluding v1, node_modules directories and the compiled code bunde.js):

`grep -Rin --exclude-dir={v1,node_modules} --exclude=bundle.js eslint-disable`

here are the locations and line numbers. hope this helps

client/components/main/Reports.jsx:1:/* eslint-disable react/self-closing-comp */

client/components/main/Reports.jsx

[2022-08-18 00:56] joshuayhwu commented on #1294
@susanklm thanks for the update! Apologies for the delay. I agree with using the Ozone, PM2.5/10.  Given the government data coverage is not much, should we focus on using Purple air instead to have more granular data?

After you have play around with the API (if available), let's try to do some exploratory analysis on the dataset we have.

[2022-08-18 01:14] joshuayhwu commented on #1278
@Michaeldavidng thanks for the update! I notice there is also 2020 census data available [here](http://www.laalmanac.com/population/po24la.php). Would it be possible to use 2020 311 data instead?

Thanks for the estimate!

[2022-08-18 01:16] susanklm commented on #1294
@joshuayhwu I have contacted purpleair at [contact@purpleair.com](mailto:contact@purpleair.com) since last Thursday to request the API key. However, I have not received any reply until now. Moreover, I tried to call them several times but always got disconnected after waiting for a certain period of time. I will try to call them again.

[2022-08-18 01:23] Michaeldavidng commented on #1278
@joshuayhwu that is good idea. I actually initially tried to use the data set but what I noticed is that the almanac dataset has neighborhoods that aren’t in the neighborhood council list.

additional some neighborhood councils aren’t on the almanac dataset.

this led me to conclude that it’s not 1-to-1.

to make it work, I would have to find how the almanac neighborhood geographically fits into t

[2022-08-18 01:46] priyakalyan commented on #1278
@Michaeldavidng @joshuayhwu Michael is right, the census data [here](http://www.laalmanac.com/population/po24la.php) does not correspond to LA NCs. Here is the [map](https://geohub.lacity.org/datasets/d6c55385a0e749519f238b77135eafac_0/explore?location=34.020320%2C-118.410084%2C10.43) with the cities for which they have determined the population using the census 2020 data. This map is totally diff

[2022-08-18 13:28] joshuayhwu commented on #1278
@Michaeldavidng @priyakalyan thanks for the clarification! I was wondering if the census data was using the older versions of the boundaries? If so, would 2019 311 requests be more appless to apples?

[2022-08-18 16:24] priyakalyan commented on #1278
@joshuayhwu @Michaeldavidng This resource -https://drive.google.com/drive/folders/1uupIXEGEC8UlFOCQiyIPH9q7JmETn_Cx posted by Michael is really very useful. The population and other demographics related analysis has been compiled by EmpowerLA.org using the census 2020 data and recent LA NC boundary (99 NCs).

I have been trying to reach the person who put together the sheet- Julien Antelin. He got

[2022-08-18 21:28] melissahermes99 opened #1319 "[FUTURE] Mobile Menu Tooltips"
### Overview
We need to look into using tooltips for the mobile map menu. In order to aid the use of the map and filters on the mobile site, we have discussed using tooltips as a guide.

### Action Items
- [x] Create brief instructions that appear upon loading the map
- [x] Use the tooltip format from the design system to create the tooltip instructions.

### Resources/Instructions
Information on

[2022-08-18 21:29] melissahermes99 commented on #1319
I've created a four-step tutorial for the mobile menu which includes the following :
- Start by entering an address
- Tap here to adjust filters and settings
- To adjust distance and location, swipe, pinch, or tap your screen
- Tap points to see details

[Click here to view prototype](https://www.figma.com/proto/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=5024%3A14165&scaling=scale-down&page-id=3

[2022-08-18 23:47] melissahermes99 commented on #1305
I created some concepts of what the map could look like. Since I'm not sure if we'll be able to remove geographical features, I figured these maps would be a good place to start as far as ideas go.

![option 3](https://user-images.githubusercontent.com/97048386/185513979-afbb6ff9-af96-4773-8ee9-73d8ffa9406f.png)
![option 2](https://user-images.githubusercontent.com/97048386/185513983-e191d7bd-01b7

[2022-08-19 01:55] EchoProject opened #1320 "Issue Creation Demo"
### Overview
We are creating a demo issue for demo purposes.

### Action Items
- [x] Create Issue
- [x] Go through each step of labeling
- [x] Add to project
- [x] Leave comment

### Resources/Instructions

[2022-08-19 01:59] EchoProject commented on #1320
I'm to close this issue because the demo is done. @EchoProject @hworthen

[2022-08-19 02:00] #1320 closed

[2022-08-19 02:36] EchoProject commented on #1305
I'm prefer the bottom one. We want to be sure that the map doesn't become too abstract such that a user wouldn't know it's the City of LA right away. The borders seem a little rough to me in black. Not sure if there's a solution. @melissahermes99 is there a way to soften the borders a little? Maybe make the darkened terrain not as dark?

[2022-08-19 20:34] edwinjue commented on #1313
Took a first stab at the lighthouse documentation. Since Lighthouse is a dev tool that helps bring to light issues regarding improvements to front end performance/design, it may be a good idea to run it on a discretionary basis by any developer working on the front-end as a best practice to address/highlight/log potential issues whenever new changes are made to the front end? Upon first run on the

[2022-08-19 22:01] Michaeldavidng commented on #1278
8/18/2022
Presented my findings concerning feedback to Josh and Liz's concerns.
You can see my findings here: https://youtu.be/k-fdW0x_V5Y
My internet kind cra**ed out at the end of the video. Below is the image I was refering to at the end of the video.
![image](https://user-images.githubusercontent.com/105311370/185712000-55cbb86a-c03c-4055-a09a-2b09a14236dc.png)

Additionally,
i've decided to u

[2022-08-20 00:16] jekijo commented on #1307
@nichhk here are the stats for latency I recorded for six days:

08/06/22: 0.0783 - 0.0472
08/07/22: 0.1887 - 0.1089
08/08/22: 0.2802 - 0.2302
08/09/22: 0.3380 - 0.2867
08/10/22: 0.4722 - 0.4167
08/11/22: 0.7949 - 0.5709

the time reduction ranged from about 12% to up to about 40%

[2022-08-20 03:00] edwinjue opened #1323 "Update documentation for editing a dashboard locally"
### Overview
Identified an issue with the documentation related to setting up a dashboard locally.

When the server is up and running and user visits `http://localhost:5500/dashboards/overview`, a blank page appears. Visiting `http://localhost:5500/dashboards/overview_combined` shows the overview report.

Also, prior to running the server, command `docker images` revealed several different version

[2022-08-20 16:06] Michaeldavidng commented on #1278
8.20.2022

Currently making a spreadsheet version of https://drive.google.com/drive/folders/1uupIXEGEC8UlFOCQiyIPH9q7JmETn_Cx
https://1drv.ms/x/s!AvjCnhN3AazXli_aGOAE7PZnRfKG?e=xYnJNz

I'm halfway done. It's just very manually intensive. I plan to merge it onto 2018 MyLa311 request data.
Following the merge, will put it on Tableau.

[2022-08-21 03:46] edwinjue commented on #1309
added `pytest==7.1.2` to the end of /server/prefect/requirements.txt
ran `docker compose build` to rebuild
then `docker compose run prefect pytest` works and returns the following:

[+] Running 2/2

 ⠿ Network 311_data_default  Created                                                            0.1s

 ⠿ Container 311-postgres    Created                                                            0.2

[2022-08-21 03:57] joshuayhwu commented on #1294
@susanklm thanks for the update! If there is still no response from them let's start with the government data instead? I would recocomend doing the following exploratory analysis:

1. What are the attributes available for the dataset? What are the date ranges? What are the distribution of values?
2. How big should the boundary be for each monitor to capture any meaningful insight? (i.e. how big sh

[2022-08-21 04:23] joshuayhwu commented on #1278
@Michaeldavidng Thanks so much for your updates! Regarding the video update:

1. This video is incredibly useful - thanks for recording that!
2. Based on your findings, what are the particular requests types we should focus on and why?
3. For the aforementioned requests types, which neighborhood councils should put more work into resolving those requests types? What are their request time to close

[2022-08-21 16:39] nichhk commented on #1307
Thanks Killen! Could you note the method that you used to measure latency here in the comments?

Let's see how the caching affects performance on the dev site after merging your PR.

[2022-08-21 16:44] #1323 closed

[2022-08-21 16:48] nichhk commented on #1309
Thanks for taking a look at this @edwinjue!

Could you make a PR with your changes? You can delete `test_last_updated`-- it looks like `get_last_updated` is not a function anymore.

[2022-08-21 16:49] nichhk commented on #1313
Thanks @edwinjue. Could you share the results of the Lighthouse report here?

[2022-08-21 17:21] nichhk commented on #1270
Thanks for this list Edwin! I will claim everything in "client/components/Map/controls/".

[2022-08-21 22:23] joshuayhwu commented on #1279
The API use the clustering algorithm to identify hotspots. It is definitely useful if we want to implement it as a future feature.  However it's not that useful for analysis purposes.

Wrote a quick function that basically round the longitude latitude pair by 2 decimal places and count the number of request in a neighborhood council. We can use this function for the 311 requests available every ye

[2022-08-22 01:54] edwinjue commented on #1313
Sure, not a problem.

I just ran the audit again on the map page. I noticed a significant improvement from when I ran it yesterday. Google explains why scores may [fluctuate](https://web.dev/performance-scoring/#fluctuations)

**Domain:**
https://dev.311-data.org/map

**Results**
Per Google, the metrics scores and the perf score are colored according to these ranges:

0 to 49 (red): Poor
50 to 89

[2022-08-22 17:46] Michaeldavidng commented on #1278
_Question 2_:
To be honest, which request type I would focus on would depend on the context. if, let's say, we are concerned about environment, electronic waste and water waste would be a priority.

For me, if I was governor of California, I would prioritize all of them except graffiti removal due to low count, feedback (which isn't a request type), Other. Below are my reasons why. Bulky items, el

[2022-08-22 22:01] susanklm commented on #1294
@joshuayhwu I just received the API Key from PurpleAir after posting questions on their forum and calling them today. I will get their data and try to do exploratory analysis.

[2022-08-23 01:57] joshuayhwu commented on #1294
@susanklm Thanks so much for the update! Looking forward to the EDA and what you find there!

[2022-08-23 04:00] edwinjue commented on #1270
Glad I could help! However, I notice branch `1270-enable-eslint-on-all-js-files` is 100 commits behind dev. Should we still checkout this branch to make the changes or should we go off a new branch?

[2022-08-23 19:19] Michaeldavidng commented on #1278
So, I've made a prototype of sorts:
https://public.tableau.com/app/profile/michael.david.ng/viz/Demographicsvs_LA311request/Agetotal

it's just a rough draft though. I have some concerns because the numbers seem a little strange so I'd like for us to talk about it on Wednesday during the meeting.

As a side snide comment, I'm not really liking how the meeting were shifted earlier to Wednesday.

[2022-08-23 21:08] jekijo commented on #1307
For measuring latency I used a curl-format.txt file and curl -w "@curl-format.txt" -o /dev/null -s "localhost" to show the time of each request. I had also used curl -v --trace-time. Both of these were from the stackoverflow link in the issue card.

[2022-08-23 21:37] edwinjue commented on #1270
Since I'm already working on the contact form, I'll lint everything in `client/components/main/`

[2022-08-24 00:57] nichhk commented on #1279
I'm not sure if two decimal places is small enough--1 degree of latitude/longitude is 69 miles, so two decimal places would be 0.69 miles, which is quite considerable. We can fine tune the number of decimal places as necessary.

Those target request types look good to me! I would also add illegal dumping and animal remains. Both are issues that might be concentrated in certain areas, and could be

[2022-08-24 01:00] nichhk commented on #1294
Sorry I'm a bit late, but I saw that you can download PurpleAir data as a CSV [directly](https://www.purpleair.com/sensorlist) from the map. Does that look easier to use?

[2022-08-24 01:13] nichhk commented on #1278
FYI, Jackie is no longer working on the project since she's starting a new job.

Thanks for all these artifacts, Michael! I watched your video, and I noticed that some of the income values were really high, 210M in one case. Could you share how the income value was obtained?

I'll also add that controlling for population should give us more confidence in these analyses. E.g., it's possible that so

[2022-08-24 01:33] nichhk commented on #1313
Thanks Edwin, this is super interesting!

It's interesting that Lighthouse recommends enabling text compression--I'm see that almost everything that we retrieve from the server is already compressed using `gzip`. You can see that we are using [`GZipMiddleware`](https://github.com/hackforla/311-data/blob/d616bdbf4cd7ed16cdd5e3a1c7c1921fcf509c07/server/api/code/lacity_data_api/main.py#L50) in the se

[2022-08-24 01:42] nichhk opened #1327 "Haven't pulled any request data from Socrata since 8/14"
### Overview
I checked our dev site today, and noticed that no requests showed up. I tried pulling data for an earlier time range, and found that our most recent data pull is from 8/14. The prefect logs on AWS reflect this. E.g., see the logs from today:
[code]

### Action Items
- [ ] Manually check the Socrata API to see if any data has been published in the past week

### Resources/Instructions

[2022-08-24 02:04] nichhk commented on #1327
I tried manually reading the request data directly from the API using this URL: https://data.lacity.org/resource/i5ke-k6by.json?$where=updateddate%20%3E%202022-08-13T22:39:18.000. I figured out how to form this URL by looking at the Socrata [docs](https://dev.socrata.com/foundry/data.lacity.org/i5ke-k6by) for the 2022 LA 311 dataset.

This gets requests that have been updated since 8/13/22. The AP

[2022-08-24 02:25] #1309 closed

[2022-08-24 02:39] edwinjue opened #1328 "Build and Test #540 (Failed)"
### Overview
Syntax error in .github/workflows/build_test_backend.yml causing Build and Test to fail

### Action Items

- [x] group the `run` commands under `Run unit tests` similar to other multi-line run commands in the file

### Resources/Instructions
https://github.com/hackforla/311-data/actions/runs/2916066726
https://github.com/hackforla/311-data/blob/aafd47b185f3d1097e64fccba90813cac046dd6c

[2022-08-24 16:45] #1328 closed

[2022-08-24 21:34] Michaeldavidng commented on #1278
I know the slide your talking about. For the second video, I accidently left it as Sum of Median income rather than Average Median income.

I should mentioned that either way the overall conclusion for each slide in the 2nd video hasn't change. The conclusions of the non regression slides on the 2nd video were not based on income but rather observations of problems that I notice. i.e. which neighb

[2022-08-24 22:17] susanklm commented on #1294
@nichhk Yes, I see that we can download some data as a CSV. But I think there are some data which can be obtained only through the API. I think maybe I will get the data through both the CSV and API.

[2022-08-27 04:26] joshuayhwu commented on #1278
Hey Michael, thanks so much for your hard work both on this particular issue and the regular updates!

Do feel free to take your time on this. Regarding the feedback on the length of the presentation, I reccomend focusing on a couple relevant points / visuals you want to present as that can help consolidate the main question you are trying to answer. In doing so, you help the audience perceive the

[2022-08-27 04:44] edwinjue commented on #1270
Linted everything except the following:
`client/components/Map/*
client/redux/tempTypes.js:1:/* eslint-disable */
client/components/common/MultiSelect/GroupedMultiSelect.jsx:39: // eslint-disable-next-line
client/utils/checkEnv.js:1:/* eslint-disable no-console */`

Will try to take a look at some of the other Map files when I find more free time

[2022-08-29 18:50] nichhk commented on #1278
+1 to what Josh said. Your work here is exemplary, Michael--I really like your updates, and I can tell how much effort you're putting into them.

Like Josh said, please take your time. At the end of the day, your health and wellbeing is the most important thing, and I want everyone to feel comfortable prioritizing those!

[2022-08-30 04:32] joshuayhwu commented on #1279
Thanks for the review!

[code]

Really rough function that generates corresponding dataframe for each request types. Still using 2 decimal points right now, but could be fine tuned now. Next step is to figure out a way to present this, or just send the list as is.

[2022-08-30 21:31] Michaeldavidng commented on #1278
Here's the first video concerning population: https://youtu.be/X2wmNFJvk40

again, i'm trying to make a video for each demograhpic factor, excluding income, so it might take a while.

the first video is noob friendly, meaning I designed it so that even non-data analytical people can understand it if they watch it.

I'm hoping to do age by the end of today.

[2022-08-31 01:25] Michaeldavidng commented on #1278
Here's the 2nd video concerning the age demographic: https://youtu.be/tiumfg_s6YQ
Most videos will be similar to the age demographic video because I won't repeat the details of where I got my numbers or what certain jargon means like in the population video.

[2022-08-31 02:06] EchoProject opened #1332 "[EPIC] User Research H1 2023 Plan"
### Summary
This is Epic will keep track of all Issues related to User Research for the H2 2023 Roadmap that needs to be completed.

### Required Issues
- [x] #1333
- [x] #1173
- [x] #1421

### Resources/Instructions
[H2 2022 Product Roadmap](https://docs.google.com/spreadsheets/d/1H5KMz4pgKCalLSnPIHqDqkW0_viVzLnt3OgYklpoadk/edit#gid=0)
[H2 2022 UX Research Planning Slide Deck](https://docs.google

[2022-08-31 03:17] EchoProject commented on #1332
Hi Team! Here is the Epic we'll use to track all the Issues related to our roadmap research. We may not get to all of these issues, but we should work down the list.

The first Issue needs to be created; however, the actual slide deck frame is already created. The link is in the resource section and can also be found [here](https://docs.google.com/presentation/d/1UQA2tvO6Gx4GRGnvFouoT0Ypi8YMDmjHJV

[2022-08-31 17:00] akhaleghi commented on #1229
Hi @priyakalyan, are there any updates on this issue?

[2022-08-31 19:27] hworthen opened #1333 "H2 2022 Research Plan Document"
### Overview
We need to do X so that Y ...

### Action Items
To-do's for research plan document:

- [ ] -Background section
- [ ] -Methodology
- [ ] -Define participants
- [ ] -Create script and tasks

### Resources
[311-Data Research Roadmap](https://docs.google.com/document/d/1dmtwTkiNj1pSycZqpn7S_Uk6vStUlS1-n_-rSq9IoEU/edit)
[TDM Calculator - Usability Testing Overview](https://github.com/hackf

[2022-08-31 23:09] susanklm commented on #1294
@joshuayhwu This is the [repository](https://github.com/susanklm/Investigate_relationship_between_air_quality_data_and_311_requests) without the large files.

[2022-08-31 23:15] priyakalyan commented on #1229
I have incorporated the changes to [updated_NC_pop repo](https://github.com/priyakalyan/Updated_NC_pop) based on the feedback given by @salice. I will be creating a PR and add it to the 311 repo by this week.

[2022-08-31 23:52] susanklm commented on #1294
@joshuayhwu Tableau seems to be able to plot the requests map better. [Here](https://public.tableau.com/app/profile/susan.kolim/viz/Investigaterelationshipbetweenairqualitydataand2021311requests/RequestsSensors?publish=yes) is the link.

[2022-09-01 05:09] edwinjue opened #1334 "Implement an automated front-end testing framework for React components"
### Overview
We need to implement automated React components tests so that non-working code does not accidentally get introduced to the production website.

### Action Items

- [x] Update /client/package.json to install jest, react-testing-library and other dependencies
- [x] Configure jest.config.js
- [ ] Ensure testing environment can access redux store
- [ ] Enable code coverage for all compone

[2022-09-01 05:19] edwinjue opened #1335 "Sanitize/Validate input fields on Contact Form"
### Overview
Whitelist an agreed upon list of characters for each input field on the contact form and apply other input validation best practices to prevent unexpected behavior

### Action Items

- [ ] Review best practices and recommendation per OWASP
- [ ] Determine whitelist character-set ([info](https://cheatsheetseries.owasp.org/cheatsheets/Input_Validation_Cheat_Sheet.html#allow-list-vs-bloc

[2022-09-03 19:06] edwinjue opened #1337 "TyperError: Cannot read properties of undefined (reading 'status') in action GET_METADATA_FAILURE"
**Describe the bug**
The error appears in the browser console:
  `TyperError: Cannot read properties of undefined (reading 'status')`

**To Reproduce**
Steps to reproduce the behavior:
1. Turn off your network connection (or place in airplane mode)
2. Start the client locally (per [instructions)](https://github.com/hackforla/311-data/blob/dev/client/README.md)
3. Open the site in Google Chrome and

[2022-09-06 01:00] Michaeldavidng commented on #1278
3rd video concerns race: https://youtu.be/VL1kriRq918
I purposely avoided making hypothesis for this video because there's always some idiots looking to cancel people they don't agree with.

[2022-09-07 01:47] Michaeldavidng commented on #1278
4th video related to education: https://youtu.be/gJDc8wP0YNU

admittedly not my best work. I blame the heat wave but its tedious making videos too.

[2022-09-07 03:27] #1176 closed

[2022-09-07 04:37] edwinjue opened #1340 "Contact form submit button does not show up when screen resolution height <= 690px"
**Describe the bug**
Contact form `submit button` does not show up when screen resolution height <= 690px. Need to account for fixed height footer, which is blocking the submit button when there is not enough vertical real-estate to display the entire contact form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dev.311-data.org/contact
2. Zoom into the page until the submit but

[2022-09-07 23:47] Michaeldavidng commented on #1278
5th video related to language: https://youtu.be/0xgE7CDR-JM

Will do one more video afterwards i.e. a 6th video, it doesn't concern itself with a specific demographic factor. It will be more of a general overview. Also, it will be much less formal as will just walkthrough general observation.

[2022-09-08 01:02] Michaeldavidng commented on #1278
Here's the last video: https://youtu.be/fgK1NDyFLaA

Again it was an informal video that just explored neighborhoods with interesting demographics.

[2022-09-08 01:43] edwinjue opened #1345 "Request to update .gitignore to include __test__ related subdirectories"
### Overview
We need to update .gitignore to ignore __snapshots__ and /coverage/ directories from getting added to the repo since they are not relevant to the public

### Action Items

- [ ] Create a new PR with update to .gitignore

### Resources/Instructions

[2022-09-08 02:45] melissahermes99 opened #1347 "Thematic Coloring of Content Pages"
### Overview
We need to change the background colors of content pages (Reports, FAQ, About, Blog Privacy, Contact) to white to create a default white mode for the website.

### Action Items
- [x] Finalize[ theme.js](https://github.com/hackforla/311-data/blob/dev/client/theme/theme.js) to support light theme (this includes changing the background colors of content pages to #FFFFFF White among other

[2022-09-08 03:36] nichhk commented on #1347
@melissahermes99 , do you have a suggestion for the color of text against a white background? We have some colors [here](https://github.com/hackforla/311-data/blob/dev/client/theme/theme.js#L33), but not sure if we want to use any of these.

[2022-09-08 03:39] #1345 closed

[2022-09-08 04:02] edwinjue opened #1348 "Verify the bottom of each page displays content as expected and is not affected by recent change to footer position: sticky"
### Overview
Recently, the footer component updated it's positioning from `fixed` to `sticky`. Verify the bottom of each page displays content as expected and is not affected by this recent change. This means confirm each 311 page does not utilize bottom padding that is no longer needed and ensure there are no pages on the site where the footer area is overlapping and covering content unexpectedly

[2022-09-08 04:29] melissahermes99 commented on #1347
Let's try #29404F for the text and if that appears too light against the background we can switch it to #0F181F. I do have some frames on Figma that are using #29404F for the text already so it should be a good option!

[2022-09-08 16:17] edwinjue commented on #1348
Noticed the footer does not stay pegged to the bottom of the page and is "sticking" to the bottom of the content. So when you zoom out, the footer rises. May need to revert back to `position: fixed`

[2022-09-08 17:03] Michaeldavidng commented on #1278
So, I'm finished with the project and would like to close the issue but I forgot how to close it.

[2022-09-08 18:42] joshuayhwu opened #1350 "Reports Dropdown Menu inconsistent with existing summary dashboards"
### Overview
The current dropdown menu of "Reports" is outdated as we combined our previous dashboards. Expected behavior is to have two items on the dropdown (Overview, Neighborhood), which links to the two new dashboards (overview_combined, nc_summary_comparison) respectively.
![Dev Website](https://user-images.githubusercontent.com/77765986/189200455-62f689a6-1971-4658-91ad-49c99981d7a7.PNG)

C

[2022-09-09 18:46] #1348 closed

[2022-09-09 19:59] #1340 closed

[2022-09-09 19:59] edwinjue opened #1352 "Contact form submit button does not show up when screen resolution height <= 690px"
**Describe the bug**
Contact form `submit button` does not show up when screen resolution height <= 690px. Need to account for fixed height footer, which is blocking the submit button when there is not enough vertical real-estate to display the entire contact form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dev.311-data.org/contact
2. Zoom into the page until the submit but

[2022-09-09 21:26] nichhk commented on #1350
@jekijo @edwinjue This should be a pretty straightforward task if either of you wants to take it on!

[2022-09-09 21:32] nichhk opened #1354 "NC summary comparison dashboard not working"
### Overview
This dashboard is not working.  Chrome dev tools shows several errors like this (it's best to just navigate to the [dashboard](https://dash-reporting.tofn9kh9mlm7g.us-east-1.cs.amazonlightsail.com/dashboards/nc_summary_comparison) and see for yourself, though):
[code]

### Action Items
- [ ] determine what's causing these errors
- [ ] fix the cause of the errors
### Resources/Instruct

[2022-09-09 21:52] joshuayhwu commented on #1354
According to [this](https://stackoverflow.com/questions/62484218/how-to-fix-the-children-property-of-a-component-is-a-list-of-lists-instead-of) post it seems like I might have mistakenly included nested list in the layout. Let me check the code for req_type_pie_chart and get back to you.

[2022-09-09 23:18] #1352 closed

[2022-09-10 01:30] edwinjue commented on #1350
sure, sign me up

[2022-09-10 04:30] joshuayhwu commented on #1354
I was taking a look at the code and there seems to be some issues with nested list in Dash based on the error. I used the nested divs primarily to align the visuals. As far as I can tell, the structure for the pie chart look something like:
[code]
[This](https://community.plotly.com/t/must-be-a-list-not-a-list-of-lists/56394) post also points out that it may actually be a missing / extra comma som

[2022-09-10 15:02] joshuayhwu commented on #1294
@susanklm I took a look at the notebooks and I really like the exploratory analysis! Thank you for putting the work into visualizing the information!

For next steps, let's hypothesize that the air quality station with more 311 requests have worse air quality as measured by AQI/PM2.5/PM10 (dependent variable). The goal is to 1) generate some features to predict that dependent variable, and 2) cons

[2022-09-10 15:55] joshuayhwu commented on #1278
@Michaeldavidng Thank you so much for making these videos! They are extremely helpful for people to digest and understand. I think this is are some interesting patterns that we could patterns based on the summary. Please correct me if I'm wrong:

1. More populus neighborhoods have a higher number of 311 requests
2. More populus neighborhoods have doesn't mean request takes longer to close
3. Neigh

[2022-09-10 16:04] nichhk commented on #1354
@joshuayhwu , if you're stuck, feel free to make a branch and push your current changes, and I can try debugging on my end.

[2022-09-10 16:08] nichhk commented on #1350
No worries I am happy to do this now then.

[2022-09-10 16:19] joshuayhwu commented on #1354
@nichhk thanks so much. I have created PR #1355 but will continue to look at why the dynamic dropdown not showing up at all. My first thought was the Dash/Gunicorn issue causing callback functions to fail and not run at all. But it seems more like a react/dash issue based on the error message?

Will continue look into this.

[2022-09-10 16:25] nichhk commented on #1354
Sure! Do you remember if at any point this dashboard was working correctly? If so, we can try to find the corresponding commit, and then check the diff between that commit and the current state to track down the bug(s).

[2022-09-11 17:24] #1350 closed

[2022-09-11 22:37] susanklm commented on #1294
@joshuayhwu In the past few days I have been combining the data from Purple air 10 sensors with the 311 requests data. From purple air API, we only have daily average AQI. On the other hand, from the 311 requests data, we have minute- by-minute basis requests. So in order to combine them, I took the 311 request data and 1) calculated the average distance from the requests to each sensor in a day,

[2022-09-12 17:47] #1307 closed

[2022-09-12 19:57] Michaeldavidng commented on #1278
@joshuayhwu
_**Conclusions about the data**_
When it comes to 311 resolution speed, most demographic factors, if not all, were either not correlated or the results were inconclusive due to a high p-value.

I think my hypothesis might have caused some confusion, so I apologize for that. Here's the conclusions I came up with based on the data

1. population is correlated with 311 request count.

2.

[2022-09-13 04:19] melissahermes99 opened #1357 "Establish Typography, Margins, and Padding"
### Overview
It has been brought to attention, that throughout the creation of version two, not all text or spacing has followed the guidelines in the design system. This has made it more challenging to develop consistent pages. We need to adjust the most recent versions of each page in the file to follow the guidelines laid out in the design system.
### Action Items
- [x] On each page, ensure the

[2022-09-13 17:29] nichhk commented on #1284
Update for Killen: we already have an ugly loading indicator on the dev site, but we want to upgrade it to the one that Melissa [designed](https://github.com/hackforla/311-data/issues/1284#issuecomment-1212591656). You can see how I added the ugly loading indicator [here](https://github.com/hackforla/311-data/pull/1304).

[2022-09-14 00:33] edwinjue opened #1360 "Unable to select a start date prior to current month on the map date range filter"
### Overview
The current date picker on the map date range filter does not allow the end user to go back to prior months to select a starting date ([image](https://drive.google.com/file/d/1QuApYYBYh10wvJpGGaVXO6qMIQJNOL4l/view?usp=sharing))

### Action Items
- [ ] Update the date picker to allow the end user to go back to a prior month to select a custom start date

### Resources/Instructions

[2022-09-14 01:12] susanklm commented on #1294
@joshuayhwu I have posted an updated GitHub repository [file](https://github.com/susanklm/Investigate_relationship_between_air_quality_data_and_311_requests/blob/main/finding_corelation_part_c.ipynb) which contains my linear regression analysis.

[2022-09-15 00:53] EchoProject commented on #1278
@Michaeldavidng This is all such amazing work, thank you! If you're up for it, It would be great for the team to see/ hear the tl;dr of your work (5-10min demo) at the meeting tonight. Let me know!

[2022-09-15 01:07] edwinjue commented on #1313
Hi Nich, apologize for the delayed response but if you are seeing `content-encoding: gzip` in the response headers, the content is being compressed. However, here are some [step-by-step instructions](https://developer.chrome.com/docs/devtools/speed/get-started/#compression) provided by an engineer at Google on how to enable compression in case something may have been overlooked.

[2022-09-15 01:22] EchoProject commented on #886
@nichhk putting this on your radar. This issue should be resolved when the menu re-design is built. Once the new ticket gets created, we can close this out. Let me know if there's a reason to keep this one. Thanks!

[2022-09-15 01:24] EchoProject commented on #936
@nichhk I think we talked about this some time ago, but I can't remember where we landed. Is this still relevant or will it be addressed in the ops migration or something else?

[2022-09-15 01:41] EchoProject commented on #1297
@melissahermes99 per last weeks discussion, we can call the design work for this issue complete and pass off to engineering for development. @nichhk let us know if you require further specs to help write the user story. If not, you can close with comment. Thanks, all!

[2022-09-15 01:42] EchoProject commented on #1311
Closing this issue as the work has been completed. [Here is a link to the document. ](https://docs.google.com/document/d/1hgJyxs45aZv1mVOPnbBm783KBiHVjI0zWIX1jOxz-3s/edit)

[2022-09-15 01:42] #1311 closed

[2022-09-15 01:47] EchoProject commented on #1173
Passing this over to our UXR team @hworthen and @yingli73.

[2022-09-15 01:55] EchoProject commented on #1157
@elizabeth-ux @melissahermes99 @nichhk
Confirming that this iteration is the final decision (at least until post-launch) menu re-design. Once confirmed, we can close this issue and eng can take over for dev.

[2022-09-15 01:58] EchoProject commented on #1333
I went ahead and updated the Labels. Let's get this added to the project board via the options on the right. Let me know if you're stuck.

[2022-09-15 01:59] Michaeldavidng commented on #1278
Hey Eric @EchoProject

Can we do it next week? I wasn't expecting tonight.

@joshuayhwu Josh told me that it would be 2-3 weeks. Today is much too soon for me to be honest.

I need some time to prep what I'm going to say, that way it doesn't come out as an incoherent mess.

So, yeah I'll do the live presentation of all this demographic stuff but probably next week 9/21.

[2022-09-15 17:56] susanklm commented on #1294
@joshuayhwu After looking at the NC Map, I don't think it is possible to get at least 1 sensor per NC because the **circles will be overlapping**. Even we reduce the radius, the circles will still be overlapping. From the current map of the sensor, I think probably I can add 5 - 10 more sensors without making the circle overlapping. Or, I can reduce the radius of the circles to 1.5 mi or 1 mi to g

[2022-09-15 23:10] nichhk commented on #1157
@elizabeth-ux @melissahermes99 , could you share a figma link for the final decision? Thanks!

[2022-09-15 23:12] nichhk commented on #936
This still needs to be worked on. We can work on this closer to when we're ready to launch, and I expect it to be pretty straightforward--just changing a couple lines of configuration code.

[2022-09-15 23:14] melissahermes99 commented on #1157
Of course! The final version of the map is located on [the Version 2_Iterations page](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1009%3A1004) at the very bottom. I believe this is the finalized version for now. I'll reach out to Elizabeth directly on Slack to verify.