[2022-09-15 23:22] melissahermes99 commented on #1157
![image](https://user-images.githubusercontent.com/97048386/190525202-174b6974-9b47-4b9a-b0df-45b7dea8b18a.png)
We've agreed that is the final version for now.

[2022-09-16 17:53] akhaleghi commented on #1229
Hey @priyakalyan could you provide a brief update on this issue? (I know you're waiting for a review but we just want to keep the status up-to-date here)

[2022-09-17 03:13] priyakalyan commented on #1229
Hi @akhaleghi, sure. I have created a [PR](https://github.com/hackforla/311-data/tree/NC-population/updated_NC_pop) to address the NC population issue. Waiting for the review process.

[2022-09-17 17:17] edwinjue opened #1364 "Selecting an ending date on map calendar date picker before a starting date results in a backwards range and no results"
### Overview
Selecting an ending date on map calendar date picker before a starting date results in a backwards range and no results

### Action Items

1. Open the calendar date picker on the map
2. Select Sept 17 as starting date
3. Select Sept 10 as the ending date
4. Notice the `Date Range` shows `9/17/2022 - 9/10/2022` and results on map are empty

![image](https://user-images.githubuserconten

[2022-09-17 17:32] edwinjue opened #1365 "Request Status: Open still displays "Closed" requests"
### Overview
Request Status: Open still displays "Closed" requests

### Action Items

1. Open `https://dev.311-data.org/map` in chrome
2. Press Ctrl + Shift + J to open developer tools (or right-click > Inspect)
3. Go to the `Network` Tab and clear
![image](https://user-images.githubusercontent.com/1448719/190869062-221bd1ef-20d2-4344-9664-0c639ac678ac.png)
4. Keep the `Network` Tab open and go to

[2022-09-17 19:44] joshuayhwu commented on #1278
@Michaeldavidng I think the team would apprecaite a live presentation as they'd likely have follow up questions.

The bike share data should be available in the [data source documentation](https://github.com/hackforla/311-data/blob/dev/misc/DataSources.md).

[2022-09-17 20:13] joshuayhwu commented on #1294
@susanklm Thanks so much for the comprehensive updates!

For the overlapping sensors, it seems like it'll be hard to fix a particular sensor per NC. Given the constraints mentioned in your updates, I'm leaning towards taking the a random sample of 10-15 non-overlapping sensors multiple times (regardless of NC) and test the correlation between air quality and the surrounding 311 requests. That way,

[2022-09-17 23:07] susanklm commented on #1294
I think I will start figuring out how to sample the sensors first. Our first sample was found using brute force since at that time I ddn't have a complete access to the API (PurpleAir didn't allow me to get the historical data from the API at the begining). So for this week I will create a function to find the sensors with complete daily PM2.5 and PM10 data, then I will create a function to sample

[2022-09-21 03:09] nichhk opened #1367 "[EPIC] DevOps Migrate infra to shared H4LA AWS account (H1 2023)"
### Summary
We want to move our infra off our private AWS account onto the shared H4LA AWS account. This will help us to be aligned with H4LA best practices. Additionally, we cannot modify our existing infra because SSH keys and configs to the private AWS account have been lost.

### Required Issues

- [ ] Get AWS secrets host and key access from Chelsey
- [ ] Add AWS secrets host and key to GitHu

[2022-09-21 04:38] ajmachado42 commented on #1279
Hey Josh and Nich. I started digging in a little to familiarize myself with the 311 data around locations and request type. I'll bring questions I have from this initial exploration to the project meeting. I think you could do some clustering on past data to maybe predict types of requests in the different granular areas to help allocate resources but need to figure out how to do API calls to coll

[2022-09-21 22:33] nichhk commented on #1279
Hey Dri, thanks for taking a look at this! To get all the requests for a certain date range, you can use this [tool](https://github.com/hackforla/311-data/tree/dev/server/utils). Feel free to reach out to @priyakalyan if you have any questions about using it.

Re: the clustering: not sure if you saw this already, but we already have one [implementation](https://github.com/hackforla/311-data/blob/b

[2022-09-21 22:53] joshuayhwu opened #1369 "Dash Callback Functions Error with Gunicorn Deployment"
### Overview
The plotly dash app have callback functions that controls the interactivity of the dashboards. However, none of these functions get fired after running the dash app via gunicorn. Nich and I have tried waitress and gunicorn separately but to no avail. We are currently looking at alternative methods of deployment.

The particular dashboard that we're trying to fix here is [this](https:/

[2022-09-22 01:19] EchoProject commented on #1132
Closing this issue as the migration has been completed.

[2022-09-22 01:19] #1132 closed

[2022-09-22 02:28] Michaeldavidng commented on #1278
9.21.2022
did presentation as requested by Eric.
was told to indicate proportion out of total population, kinda wish that people told me earlier before I uploaded all those videos but whatever. too late now i guess.

[2022-09-22 03:02] EchoProject commented on #1157
@nichhk it looks like we're good to go with the above design and the figma link is in the comment above the design. Let us know what you need from on our end.

[2022-09-22 03:09] EchoProject commented on #801
Closing this issue as we're no longer working on v1.

[2022-09-22 03:09] #801 closed

[2022-09-22 03:10] nichhk opened #1370 "Implement desktop menu redesign"
### Overview
Our designers have redesigned the desktop menu design in #1157, so we need a frontend engineer to implement it.

### Action Items
- [ ] Take a look at the [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1009%3A1004) and implement the changes

### Resources/Instructions
This fits in nicely with Edwin's work on switching to a light theme in #1362, so Edwi

[2022-09-22 03:10] nichhk commented on #1157
Thanks! I'm closing this issue, and opened #1370 for Edwin to implement the redesign.

[2022-09-22 03:10] #1157 closed

[2022-09-22 03:11] EchoProject commented on #1170
@nichhk this issue is available for one of the devs to work on when they have time. I imagine this is a quick build. Let us know if there's something you need.

[2022-09-22 03:11] nichhk commented on #1170
Sweet! @funbunch , does this look interesting to you?

[2022-09-22 03:13] EchoProject commented on #1305
@nichhk what are your thoughts on the above three options? This might be low-hanging fruit to get built.

[2022-09-22 03:13] EchoProject commented on #1160
@nichhk here's another issue that can move to eng for development.  Let us know if you have any questions.

[2022-09-22 03:14] EchoProject commented on #1128
@melissahermes99 @elizabeth-ux is this issue still relevant? iPhone 7 seems to be pretty dated at this point, but I want to be sure our colors align with our design system.

[2022-09-22 03:18] nichhk commented on #1160
@funbunch, here's another one for you if you're interested!

[2022-09-22 03:57] funbunch commented on #1170
Yes, I think so. Thanks!

[2022-09-22 03:59] funbunch commented on #1160
Got it!

[2022-09-23 20:00] Michaeldavidng commented on #1278
9.23.2022
updated the tableau workbook to reflect proportion out of total population.
the new, updated workbook is saved separately, see link
https://public.tableau.com/app/profile/michael.david.ng/viz/Demographicsver2/Story1

results were not good. most had r-squared too small to indicate correlation. Highest correlation was around 25% at best.
Since the results were uniformly bad, I won't make a

[2022-09-27 09:41] edwinjue commented on #1347
@melissahermes99 hope all's well. Just wanted to get your feedback on the latest update per the updated screenshots in the first screenshot. @nichhk and I would like your feedback on whether they resemble the V2 figma designs enough to move these changes into the dev branch. Please let us know. If there are any changes you'd like us to make, please let us know too. Looking forward to your feedback

[2022-09-28 01:54] ajmachado42 commented on #1279
I made some pretty decent headway on the EDA and identifying hot spots by neighborhood council in this [notebook](https://github.com/ajmachado42/Hack-for-LA-311-Data/blob/master/I-1279/01_api_clean_eda.ipynb).

I'm still figuring out breaking LA into small hot spot chunks and then mapping out the data points there but I started going down a rabbit hole about geopandas so the research is taking a l

[2022-09-28 22:20] melissahermes99 commented on #1347
@edwinjue The progress is looking great! I'm not sure if it's just how the colors are presented on my screen but the primary color on the header space should be #29404F. We also did away with the secondary titles on each page aside from the FAQ page where the header space is filled with a search bar; So on the Privacy Policy page we can remove the secondary "Privacy Policy title". Other than that,

[2022-09-29 01:14] lgewirtz commented on #1277
I didn't mean to open this pull request as a way to close the entire issue - just to add analysis to backup the hypothesis that work crews were seeing graffiti and cleaning it on the fly, which led to the 16% of records where the Service Date was before the Create date.

[2022-09-29 01:39] lgewirtz commented on #1277
9/28/2022

Decided to look at crime and call data from 2019 since the year is before lockdown and it's a good starting point to compare to.

- Filtered date for year 2019 using DATE OCC column and dropped Date Rptd column and columns that don't seem relevant.
- Dropped 4773 duplicate rows

Cleaned up Call data from 2019
- Dropped irrelevant columns
- Dropped rows that had nulls in PolicePrecinct (

[2022-09-29 01:54] EchoProject opened #1378 "[EPIC] Data Science Analytics Dashboard (Reports) H1 2023"
### Summary
This epic will keep track of issues related to the development of the [Analytics Dashboard](https://dev.311-data.org/reports/dashboards/overview_combined) for the v2 launch.

### Required Issues
- [x] Analytics Dashboard -  https://github.com/hackforla/311-data/issues/699
- [x] Analytics Dashboard - Descriptive and diagnostic statistics (#1197)
- [ ] #1495
- [ ] #1468

### After v2
- [

[2022-09-29 01:58] EchoProject commented on #1378
Need to link all existing issues related to the analytics dashboard to this epic.

[2022-09-29 02:01] EchoProject opened #1380 "[EPIC] UI/UX Design Map Page H1 2023"
### Overview
This epic will keep track of all design work related to the [map page](https://dev.311-data.org/map) required for the H1 2023 roadmap.

### Required Issues
- [ ] Menu Redesign
- [x] https://github.com/hackforla/311-data/issues/1284
- [ ] https://github.com/hackforla/311-data/issues/1305
- [x] https://github.com/hackforla/311-data/issues/1126
- [x] https://github.com/hackforla/311-data

[2022-09-29 02:25] nichhk opened #1381 "get_request_data_csv.py is limited to collecting 20k requests"
### Overview
We need to fix this bug so that our data scientists can perform their analyses.

### Action Items
- [ ] on this [line](https://github.com/hackforla/311-data/blob/dev/server/utils/get_request_data_csv.py#L28), `skip` should be `REQUESTS_BATCH_SIZE`

[2022-09-29 02:39] EchoProject commented on #1380
Add all design issue links to the required issues list.

[2022-09-29 03:03] #1381 closed

[2022-09-29 03:11] nichhk commented on #1278
Hey Michael, thanks for working on that! I just got around to looking at it now.

If it's not too much trouble, could I make one more suggestion? I think it would be really interesting to change the y-axis to be "number of requests per person". That way, we can control for population even more effectively. To do this, you can use Anupriya's population data and for each NC, set `num_requests_per_pe

[2022-09-29 04:47] edwinjue opened #1383 "Need to update `contentful.com` to mirror the content in figma (e.g. - remove the `Privacy Policy` heading from the content area)"

[2022-09-29 04:52] edwinjue opened #1384 "Need to add the search feature to header of FAQs page (refer to v2 figma design - FAQs)"
### Resources ###
https://www.contentful.com/help/content-search/

[2022-09-29 04:53] edwinjue opened #1385 "Need to create expandable/collapsible sections per v2 figma design"

[2022-09-29 05:19] edwinjue commented on #1347
@melissahermes99 thanks for the feedback!

I've updated the screenshots to reflect the new header space color #29404F (check first post).

Regarding your other concerns, I went ahead and logged each as a new issue so we can address them as soon as the pull requests successfully merge with dev:

- [ ] [Need to update contentful.com to mirror the content in figma (e.g. - remove the Privacy Policy he

[2022-09-29 16:10] melissahermes99 commented on #1347
Everything checks out with me, it's looking great! Thanks for going ahead and creating the new issues, I really appreciate it!

[2022-09-30 17:40] priyakalyan commented on #1229
Here is an update- second round of review done. The review process is still going on.

[2022-09-30 23:59] #1369 closed

[2022-10-01 14:52] joshuayhwu commented on #1294
@susanklm as per our discussion during team meeting, we'll probably wrap this issue up and make a demo on the analysis methodology on Oct 12. It would be great if you could select a few notebooks and show a demo for 10-15 mins if you're comfortable with it?

[2022-10-01 15:05] joshuayhwu commented on #1279
@ajmachado42 Thanks so much for the comprehensive update! The notebook is very clear and comprehensive.

1. I like the idea of breaking them into 100ths. I initially did 2 decimal place of each lat/lon but I figured it would be not granular enough. It would be great to see the distribution of counts after you break them down into .69 miles each. If there are too many "hot spot blocks", we can take

[2022-10-01 15:35] joshuayhwu commented on #1277
@lgewirtz Hey Liz, thanks for the updates! A couple questions come into mind:

- What is the percentage of duplicate rows? And which columns did you use to determine duplicate rows?
- What are the columns that you kept?
- Are there police precinct that exist on requests that doesn't exist on the crime data? Or vice versa?
- What's the reasoning for dropping rows with ClosedDate in 2017/18/19?

I t

[2022-10-01 18:37] ajmachado42 commented on #1279
@joshuayhwu Thank you, Josh! I'll work on this this week.

Anupriya shared some Census resources for mapping files that breaks LA into the official city blocks and I think her and Nich fixed the [API bug](https://github.com/hackforla/311-data/pull/1382#issuecomment-1261688081) after the meeting. I'm going to be visiting family in Florida this week but will have time to update my notebook with the

[2022-10-01 19:41] edwinjue commented on #1370
@melissahermes99 @elizabeth-ux
I was taking a look at the final v2 design for the desktop menu in [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=5711%3A20866) and noticed the dimensions  for the new design are `417x838px`.

Although taken from a high resolution display, as you can see from the screenshots, the new dimensions you propose may take up quite a bit of r

[2022-10-01 23:12] melissahermes99 commented on #1370
I definitely see what you mean, it does take up a lot of space. I much prefer the current design that's in development's dimensions. I am not entirely sure what happened here because I do not think it was the intention to make it that large, going back to our Design Studio page, the previous dimensions of our map menu should've been smaller. I think what might've happened was that while Elizabeth

[2022-10-02 03:56] edwinjue commented on #1370
Thanks for the quick response @melissahermes99 and for adjusting the design. I will continue to work in the original dimensions and focus on small changes until you check in and confirm with Elizabeth.

[2022-10-04 00:12] susanklm commented on #1294
@joshuayhwu When you said demo, you mean presentation of the project right? OK, I will clean up few notebooks and present the steps which I took. It probably will take less than 10 minutes.

[2022-10-04 13:41] joshuayhwu commented on #1294
@susanklm thanks! letme know if youhave any questions / want to do a run through before presentation.

[2022-10-05 16:45] melissahermes99 commented on #1370
@edwinjue Elizabeth has confirmed that it looks right and everything is good to go!

[2022-10-05 17:44] Michaeldavidng commented on #1278
here. I updated it based on your specifications.

[2022-10-06 02:27] lgewirtz commented on #1277
Anupriya figured out that the memory error is occurring because, when merging on the Crime Data_column "AREA NAME' and the 311 Calls column "PolicePrecinct", the 'AREA NAME' values are repeating and the merge is trying to create too many rows.

I tried to fix this by merging on 2 columns.  The second merge column was created by using Crime Data_column "Date Rptd' and 311 Calls column "DateCreated"

[2022-10-07 05:22] edwinjue commented on #1347
hi @melissahermes99

Thanks to the help of @nichhk, @jekijo and @funbunch the folks at engineering were able to update the content pages to the v2 design in a timely fashion. When you have time, feel free to take a look and let us know what you think.

@melissahermes99 I may have mentioned that pull request #1394 would have addressed your [comment](https://github.com/hackforla/311Idata/pull/1342#i

[2022-10-07 20:23] EchoProject commented on #1305
@nichhk I think once we understand what the frontend capabilities are for this change, we can make a decision and move to development. Is there someone that can take over ownership of this issue?

[2022-10-07 20:31] EchoProject opened #1395 "[EPIC] UI/UX Design Navigation & Content Pages H1 2023"
### Overview
This epic will keep track of all design work related to the navigation and content related work required for the H1 2023 roadmap.

### Required Issues
- [x] https://github.com/hackforla/311-data/issues/1297#issue-1318665292
- [x] [Top Navigation Highlight ](https://github.com/hackforla/311-data/issues/1147)
- [x] https://github.com/hackforla/311-data/issues/1347
- [ ] FAQ Layout Re-de

[2022-10-07 20:41] EchoProject commented on #1380
Hi Team! @melissahermes99 @elizabeth-ux
When you have time, please do the following:
- [ ] Link existing design issues related to the Map page to the Required Issues section
- [ ] IF an issue is complete, please check mark it here, and close that issue with a comment.
- [ ] Link THIS epic to each of those issues in the Resources section, please.
- [ ] Take an inventory of issues that don't fall in

[2022-10-07 20:41] EchoProject commented on #1395
Hi Team! @melissahermes99 @elizabeth-ux
When you have time, please do the following:
- [ ] Link existing design issues related to Navigation and Content pages to the Required Issues section
- [ ] IF an issue is complete, please checkmark it here and close that issue with a comment.
- [ ] Link THIS epic to each of those issues in the Resources section, please.
- [ ] Take an inventory of issues that

[2022-10-07 20:46] EchoProject commented on #1378
Hi Team! @joshuayhwu @susanklm
When you have time, please do the following:
- [ ] Link existing design issues related to the Analytics Dashboard to the Required Issues section
- [ ] IF an issue is complete, please check mark it here, and close that issue with a comment.
- [ ] Link THIS epic to each of those issues in the Resources section, please.
- [ ] Take an inventory of issues that don't fall

[2022-10-07 20:56] EchoProject commented on #1202
@funbunch checking to see if this issue can be closed. It looks like the changes have been pushed.

[2022-10-07 20:57] EchoProject commented on #998
@nichhk this issue may no longer be relevant. I'm adding to the Eng Epic for now, but feel free to remove and close if we're past this.

[2022-10-07 20:57] EchoProject commented on #1164
Closing this issue since we're no longer working on v1.

[2022-10-07 20:57] #1164 closed

[2022-10-07 20:59] EchoProject commented on #1147
@melissahermes99 is this issue waiting for dev support? Let @nichhk and I know if this still needs to be implemented or if we can close this issue. I'm adding it to the Design Epic for Map page for now.

[2022-10-07 21:02] EchoProject commented on #833
@nichhk here's an issue related to the Map Menu for mobile. this may not be relevant with the menu re-design change coming. Please feel free to close if not needed, else we can add to the epic.

[2022-10-07 21:04] EchoProject commented on #1139
@nichhk while this specific issue may not be super pressing, we should definitely take screen responsiveness into account during dev. I'm going to close this issue, and I'll make a note to bring this up at the next team meeting to be kept in mind across frontend issues.

[2022-10-07 21:04] #1139 closed

[2022-10-07 21:06] EchoProject commented on #1126
@melissahermes99 I think you completed the task from the comment above. Can you confirm?

[2022-10-07 21:11] EchoProject opened #1396 "[EPIC] Engineering Maps Page H1 2023"
### Overview
This epic will keep track of all engineering work related to the [map page](https://dev.311-data.org/map) required for the H1 2023 roadmap.

### Required Issues
- [x] https://github.com/hackforla/311-data/issues/1370
- [x] https://github.com/hackforla/311-data/issues/1403
- [x] https://github.com/hackforla/311-data/issues/1284
- [x] https://github.com/hackforla/311-data/issues/998
- [

[2022-10-07 21:13] EchoProject commented on #1396
Hi Team! @nichhk @edwinjue
When you have time, please do the following:
- [ ] Link existing frontend issues related to the Map page to the Required Issues section
- [ ]  IF an issue is complete, please checkmark it here and close that issue with a comment
- [ ]  Link THIS epic to each of those issues in the Resources section
- [ ]  Take an inventory of issues that don't fall into any of the Design

[2022-10-07 21:25] funbunch commented on #1202
Yes! Good to close.

[2022-10-07 21:42] #1202 closed

[2022-10-08 05:16] melissahermes99 commented on #1297
I've gone ahead and added this to the EPIC as a completed issue for just documentation. This issue is complete on our end!

[2022-10-08 05:23] melissahermes99 commented on #1147
@EchoProject Yes! This issue still needs to be implemented. We need to change the background color on the reports menu dropdown to #0F181F and change the yellow underline #FFB100. Should I go ahead and make a separate issue for dev?

![image](https://user-images.githubusercontent.com/97048386/194690095-0dd87721-62c6-4577-a007-e6aebe6601ee.png)
![image](https://user-images.githubusercontent.com/970

[2022-10-09 15:51] joshuayhwu commented on #1234
Deprecated overview dashboard. No longer relevant.

[2022-10-09 15:51] #1234 closed

[2022-10-09 15:53] joshuayhwu commented on #1246
Fixed with #1249

[2022-10-09 15:53] #1246 closed

[2022-10-09 15:57] joshuayhwu commented on #1354
fixed with #1387

[2022-10-09 15:57] #1354 closed

[2022-10-09 15:58] joshuayhwu commented on #1235
Combined dashboard render this redundant.

[2022-10-09 15:58] #1235 closed

[2022-10-09 16:05] joshuayhwu commented on #1233
Combined dashboard and updated title names render this issue redundant.

[2022-10-09 16:05] #1233 closed

[2022-10-09 16:07] joshuayhwu commented on #699
Updtaed version of plotly dash exports automatically include legends. Criteria filter is shown using title of charts. Will close this issue.

[2022-10-09 16:07] #699 closed

[2022-10-09 16:09] joshuayhwu commented on #1232
Combined dashboard answer first two bullets, #1228 covers last bullet.

[2022-10-09 16:09] #1232 closed

[2022-10-09 16:12] joshuayhwu commented on #258
Completed with plotly dashboard #1378

[2022-10-09 16:12] #258 closed

[2022-10-09 16:15] joshuayhwu commented on #507
Basically issues were closed because of driver self-report (service request > create request > close request)

[2022-10-09 16:15] #507 closed

[2022-10-09 16:16] joshuayhwu commented on #1378
Inventory of non-epics:
- #184
- #239
- #438
- #791
- #802

Non-Epic but related:
- #1259

[2022-10-09 16:19] joshuayhwu commented on #1378
Met with design team in August and we reached a consensus that UI/optimization is only possible with downstream user feedback. For now, it's mostly just maintaining color consistency with the rest of the website.

[2022-10-09 22:54] EchoProject commented on #1367
Some notes from my conversation with Jason:

- Hack for LA currently has 3 AWS accounts. Jason owns and manages 1 AWS account that hosts 9 projects.
- He doesn't know who the other owners are, and it's possible that 311-Data's current instance is one of the accounts.
- 311-Data has outgrown (traffic and underlying AWS infra) participation in being hosted with Jason's AWS account.
- The major chall

[2022-10-10 03:55] melissahermes99 commented on #1128
@EchoProject I just discussed this with Elizabeth. Apparently, this issue originated from user feedback after some H4LA community testing on the new map menu design. While the iPhone part of the issue is now becoming outdated, this issue also relates to the "single streetlight" color as a whole being difficult to distinguish from the "homeless encampment" green. I've run some of Elizabeth's sugges

[2022-10-10 04:04] melissahermes99 commented on #1126
Yes! This task has been completed on Figma. @nichhk could we double-check that the darker color on the map menu is #0F181F, it's picking up as #192730 for me. Thank you!

[2022-10-10 04:04] #1126 closed

[2022-10-10 04:11] melissahermes99 commented on #1347
@edwinjue I've looked at all the changes and everything looks great! Would it be possible to change "Los Angelenos" to "Angelenos" on the About page? It's the third word in the beginning of the paragraph. Thanks, everyone so so much for all the help with these issues!

[2022-10-11 03:17] nichhk commented on #1126
Hmm I'm not seeing that color in our codebase. @edwinjue , could you take a look at this?

[2022-10-11 03:19] nichhk commented on #1147
Yes, @melissahermes99, please make an issue for dev! Thanks! I will close this issue since the design portion is complete.

[2022-10-11 03:19] #1147 closed

[2022-10-11 03:21] nichhk commented on #1139
Tagging @edwinjue for visibility.

[2022-10-11 03:22] nichhk commented on #833
Hmm this looks like a pretty useful design for mobile. I'm not sure how compatible it is with the current design though. @melissahermes99, do you think this is helpful?

[2022-10-11 03:23] nichhk commented on #998
Don't think this is needed since we are already zooming and centering to the NC.

[2022-10-11 03:23] #998 closed

[2022-10-11 03:28] nichhk commented on #1365
Edwin, does this still need to be open?

[2022-10-11 19:57] edwinjue commented on #1365
Yes, we can close

[2022-10-11 19:57] #1365 closed

[2022-10-12 04:32] ajmachado42 commented on #1279
Updated with DBScan cluster model (ran on smaller sample of full dataset; not final but the code is there) and Folium choropleth maps with geospatial analysis on Neighborhood Council level and block-by-block level (taken from Census data, thanks Anupriya!).

https://github.com/ajmachado42/Hack-for-LA-311-Data/tree/master/I-1279

The geospatial notebook wouldn't render on my browser in GitHub, prob

[2022-10-12 23:27] edwinjue opened #1397 "Selected information box on map has really large font"
### Overview
@ajmachado42 reported:

- [ ] I'm using Firefox and the formatting in the selected information box has really large font.

![image](https://user-images.githubusercontent.com/1448719/195465702-8c4675a6-d05a-4e77-8881-c5cd7e320fab.png)

### Resources
- https://github.com/hackforla/311-data/issues/1396

[2022-10-12 23:31] edwinjue opened #1398 "Would like a clear way to reset the NC selection"
@ajmachado42 reported:

- [ ] There isn't a clear way to reset the NC selection--hitting exit and clicking on somewhere like the ocean doesn't work which was what I intuitively thought to do.

![image](https://user-images.githubusercontent.com/1448719/195466202-140c337e-3549-4777-b4ec-3eb548daf972.png)

[2022-10-12 23:58] nichhk opened #1399 "Update links to dashboards on header"
### Overview
We changed the paths for the dashboards in #1379, so we need to reflect that change on the frontend header.

### Action Items
- [] update links [here](https://github.com/hackforla/311-data/blob/dev/client/components/Header.jsx#L87) by replacing "dashboards" with "pages"

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that helps with this is

[2022-10-12 23:59] edwinjue commented on #1397
Hi @melissahermes99, do we have any specifications on the font sizes that should be used in the Location Details screen per the screenshot above? I wasn't able to find anything in the v2 finalized design in [figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=5153%3A18361). Thanks in advance!

[2022-10-13 00:09] edwinjue commented on #1397
How does the `INFORMATION` heading and `Council Name` look set at `24px`?
This is the same size we're currently using for the `Filters & Settings` heading.

This is just an idea and will wait until you confirm. Thanks

![image](https://user-images.githubusercontent.com/1448719/195469436-bcd3c5a9-ed94-4121-941d-67279cf2cc6e.png)

[2022-10-13 00:32] melissahermes99 commented on #1397
I think we might've decided to do away with the information box and opt for leaving the location in the address input area. Do you know if that's possible? That being said 24px looks perfect for all the menu headers! Thanks!

[2022-10-13 00:38] melissahermes99 opened #1400 "Create Map Loading Modal Gif"
### Overview
We need to create a gif of the loading modal for use on the V2 website.

### Action Items
- [ ] Create gif of loading modal.

### Resources/Instructions
![image](https://user-images.githubusercontent.com/97048386/195472655-67a9ba68-58fa-4b4b-8521-6b920537ff47.png)

[2022-10-13 01:02] melissahermes99 opened #1401 "Update Color of Reports Dropdown And The Page Selection Underline."
### Overview
We need to change the background color on the reports menu dropdown to #0F181F and change the yellow underline #FFB100. Currently, the dropdown is #FFFFFF and the underline is #FFFF00. These need to be updated.

### Action Items
- [x] Update background color of the reports menu dropdown to #29404F
- [x] Update the yellow underlines for page selection to #FFB100
### Resources/Instructi

[2022-10-13 01:33] lgewirtz commented on #1277
[Tried  to spatially join Crime data with LA CALL/Neighborhood Council Shape data ](https://github.com/lgewirtz/crime_311/blob/main/Merge_Call_NCGeom_w_Crime.ipynb)

[2022-10-13 02:03] edwinjue commented on #1397
ok, 18px Oswald noted for menu headers.

we'll have to see how leaving the location in the address input area will work out but i've noted this as well.

thanks!

[2022-10-13 02:45] melissahermes99 commented on #1397
@edwinjue we just discussed and we want to be able to take away the information box in the future, but for now leave it as is. We're coming up with a solution to provide the information without cluttering the map.

[2022-10-13 02:57] Michaeldavidng commented on #1292
here:
https://public.tableau.com/app/profile/michael.david.ng/viz/2021LosAngelesbicycleshare/Sheet1
10/12/2022

[2022-10-13 03:21] nichhk opened #1403 ""DiskFull" error when refreshing db views for service requests"
### Overview
Our nightly Prefect runs have been failing with this message:
[code]

It looks like the command "REFRESH MATERIALIZED VIEW CONCURRENTLY {view};" is quite expensive because it needs to create an entire extra copy of the database to allow the refresh and db reads to occur concurrently.

This [post](https://dba.stackexchange.com/questions/271237/postgresql-refreshing-materialized-view-fa

[2022-10-13 05:00] edwinjue commented on #1397
@melissahermes99 sounds good. Please leave comment once you decide on what you would like to see.

[2022-10-13 05:15] edwinjue commented on #1301
Here's some reading material as promised from today's meeting.

To improve map performance, in theory, we could combine webworkers with mapbox's real-time data-join capability. We could try some branches in dev, collaborate and see if it is a solution that ultimately suits our needs. It's pretty neat to learn about nonetheless

- [Mapbox Real-time mapping](https://www.mapbox.com/solutions/real-tim

[2022-10-13 21:20] Michaeldavidng commented on #1292
From what I understood from our previous meeting, you mentioned that you wanted to look at my tableau and give pointers about next steps.

So, I'll wait on standby until you give your recommendation or what not.

I was hoping to pit a 3rd dimension regarding distance in the last tab of the workbook but if that doesn't sit right with you than I don't really know what you would have me do next.

Las

[2022-10-14 03:30] edwinjue commented on #1403
Hi @nichhk just trying to help you brainstorm and troubleshoot. I'm sure you did a lot of investigating however I was wondering if something in particular lead you to isolate this query to be the root cause of the error. Do we know the date the errors began to happen and what may have changed at that point in time?

Have we eliminated the cause to be related to any other reason such as with runnin

[2022-10-14 03:57] joshuayhwu commented on #1277
@lgewirtz thanks for sharing the notebooks! In the future would you mind tagging my name on your comments ? Also, would you mind elaborating on why you want to merge the two datasets?

From the [MergeTwoCol Notebook](https://github.com/lgewirtz/crime_311/blob/main/MergeonTwoCol.ipynb), it seems like you attempted to join the two datasets by police Precinct and it return ~40 million rows. I noticed

[2022-10-14 03:58] joshuayhwu commented on #1278
Thanks Michael! Since this issue is presented during the meeting I'll close this now.

[2022-10-14 03:58] #1278 closed

[2022-10-14 04:27] joshuayhwu commented on #1292
@Michaeldavidng Thanks for the updates!

Please correct me if my observations of the tableau are wrong:
1. Standard bicycles are used the most
2. Monthly pass holders and Walk-up are the most common users of bike shares
3. Trip-route is generally one-way
4. The highest use of bike share is likely in tourist areas like beach and metro areas

For the last tab, I'd reccomend just plotting average dur

[2022-10-14 04:59] joshuayhwu commented on #1279
@ajmachado42 Thanks so much for the comprehensive updates - really appreciate the documentation on the notebooks!

Geospatial Analysis:
- I can't open the geospatial notebook after downloading the raw file as it takes up a lot of memory. Do you mind breaking it down into smaller sections?
- I don't think there could be multiple entires for the same requests. If it appears downstream, it's likely t

[2022-10-14 06:11] ajmachado42 commented on #1279
@joshuayhwu I updated the visualization notebook so it's broken up more. Github still won't render the folium maps though.

This is my Drive link for it which has all the datasets, etc. Let me know if that works!
https://drive.google.com/drive/folders/1njMKXLcs6CSgcZ_Gs9Fwxr6Iq2Wro45m?usp=sharing

Noted about clustering. Once I finish getting the maps and block data set to a good spot then I'll sh

[2022-10-14 19:08] lgewirtz commented on #1277
@joshuayhwu  thanks for looking at my notebooks.

_> Also, would you mind elaborating on why you want to merge the two datasets?_
 I want to merge the 311 Service Requests with the Crime Data so that I can analyze them together.  Is there a different way to do it?

_> From the [MergeTwoCol Notebook](https://github.com/lgewirtz/crime_311/blob/main/MergeonTwoCol.ipynb), it seems like you attempted t

[2022-10-15 15:44] joshuayhwu commented on #1277
@lgewirtz Thanks for the response! See comments below:

1. Merging two tables to do analysis on both is fine. The next question is on what "granularity" do you want to match the two tables. For instance, every row in 311 request table represents one row while every row in crime table represents one crime rate. Generally, we will first aggregate the two tables onto the same level (e.g. police preci

[2022-10-15 16:26] joshuayhwu commented on #1279
@ajmachado42 thanks for breakit up! Notebook looks good and I really appreciate the comments!

I can take a look at the app and see how to render it if that's your only blocker. Otherwise, happy to check in on other blockers. Let me know which area you want most help with. Thanks for your hard work this week!

[2022-10-17 21:27] edwinjue commented on #1401
@melissahermes99 marking this as closed because the requested changes have been merged to dev. Please take a look and let me know if this is what was expected. If you require any further customizations, please do so as a new issue. Thanks!

[2022-10-18 02:18] edwinjue commented on #1403
May have started failing on October 5th because selecting a date range from Oct 4 - Oct 17 (current date) is the last range to return data on the map:

### Oct 4 - Oct 17 (data exists)
![image](https://user-images.githubusercontent.com/1448719/196319948-5d9c100a-0793-4aaf-bf2a-c47b4a392be0.png)

### Oct 5 - Oct 17 (data does not exist)
![image](https://user-images.githubusercontent.com/1448719/196

[2022-10-18 05:57] edwinjue commented on #1370
hi @melissahermes99,

Hope all is well.

I just wanted to confirm what you would like to see when the `Boundaries` area of the desktop menu gets expanded.

A previous developer created a `CouncilSelector` component that looks like the area circled in red:

![image](https://user-images.githubusercontent.com/1448719/196345231-56f925e5-acb6-4f8c-bec9-2e1edcaa3c4a.png)

I'm wondering
- Would you like

[2022-10-18 07:12] edwinjue opened #1405 "Allow the background color of the reports pages to inherit native color/design from Plotly"
### Overview
Need to update code to allow the background color of the reports pages to inherit native color/design from Plotly iFrame.
This will be achieved by removing hard coded black background in Reports.jsx.

Currently, reports are displayed like this:

![image](https://user-images.githubusercontent.com/1448719/196360074-f792ce3c-3236-48d7-a83a-787ab7a95dfc.png)

### Action Items
- [x] remove

[2022-10-18 19:08] #1405 closed

[2022-10-20 01:35] melissahermes99 commented on #1400
![Loading gif](https://user-images.githubusercontent.com/97048386/196835363-91436108-f4ec-4c8e-a4d6-67f4258560c2.gif)
Here is the gif of the loading bar that I've come up with.

[2022-10-20 01:40] ajmachado42 commented on #1279
- Updated block data set and solved duplicates issue.
- Researching a good data set for population density to get a per capita for each NC and type of request.
- Working on function to get a csv specific for each NC
- haven't had time to work on streamlit but should have time this week!

[2022-10-20 01:56] EchoProject opened #1407 "[EPIC] Product Management Tasks for H2 2022"
### Overview
This epic will track Product, Project, and Admin tasks related to H2 2022 issues to support the launch of v2. Product managers ensure the team is focused on the most important issues during a given planning period. They also keep the project moving forward by keeping up with recruitment needs

### Required Issues
- [x] Create epics for each function (completed without issue)
- [ ] Rec

[2022-10-21 05:18] edwinjue commented on #1370
Hi @melissahermes99, it was great catching up with you last Wednesday. I hope you're well.

With what you're saying, are you suggesting the following for the `District` tab:
![image](https://user-images.githubusercontent.com/1448719/197117521-6512ffd8-774e-46f0-8578-7621182d4b63.png)

Which in words, replacing the current `Enter District` search input circled at the top with the `Boundaries` area

[2022-10-21 16:56] melissahermes99 commented on #1370
I just spoke with Elizabeth and we haven't fully discussed what the menu would look like under the District tab. She believes it was for Business Districts, as opposed to Neighborhood Councils.  So it seems that the District tab and drop-down would serve the same purpose just with extra options. The dropdown could have NCs, Business Districts, etc. any kind of border distinctions as described by t

[2022-10-21 21:21] edwinjue commented on #1370
Hey @melissahermes99. Since I'm a late comer to the game, I'm still learning about the expectations the end users have and their requirements. I really appreciate your patience and your diligence.

So, If I understand correctly, everything we're designing is under the "Address" tab and the "District" tab is something else in the works. Is this correct?

Please feel free to correct me if I've misun

[2022-10-21 21:36] nichhk commented on #1403
Thanks for taking a look Edwin. I also noticed that the requests disappeared around that date. Unfortunately, the logs are only persisted for 1 week, so I wasn't able to look at the logs for 10/4.

AFAICT, nothing has changed w.r.t. the data loading pipeline or the related infra in a long while. So the hypothesis that the query is causing issue makes sense--the amount of data that the query needs

[2022-10-21 22:35] nichhk commented on #1403
I enabled autoscaling, and set the max storage threshold to 100GB. It is currently at 20GB.

![db-increase](https://user-images.githubusercontent.com/6537426/197298214-98d91d5f-ed27-45be-ae19-f5ac528c3421.png)

We can see if the prefect run is successful tomorrow morning to determine whether this fixed the issue.

[2022-10-21 23:05] nichhk commented on #1327
This is now obsolete. We are pulling data now, but just can't write it to the table :) See #1403

[2022-10-21 23:05] #1327 closed

[2022-10-21 23:09] nichhk commented on #1364
@jekijo, could you take this on? It should be familiar to you since you worked on disabling some of the dates in the calendar.

[2022-10-21 23:21] nichhk opened #1408 "Render 311 requests as we receive them"
### Overview
Currently, by default, the frontend pulls request data by making 7 concurrent API calls, one for each day of the past week. We wait until all the calls complete to render the request data on the map.

To improve the user experience, we can render request data as it comes in; i.e., as soon as we get the data for a day, immediately render it.

### Action Items
- [ ] [here](https://githu

[2022-10-21 23:22] nichhk commented on #1301
@hqasmei, I'd encourage you to read Edwin's post above and see if any of those ideas seem useful in improving the map's load time. But for now, this is a good way to improve the user experience: #1408. Let me know if you have any questions!

[2022-10-22 04:51] edwinjue commented on #1398
The solution is to prop-drill `this.reset` from Map.jsx to the desired component so it can be called there. Implemented proof of concept.

[2022-10-22 04:55] edwinjue commented on #1337
after doing some research, this can be corrected with [optional chaining](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining) of the status property like this `response?.status`

[2022-10-24 01:43] nichhk commented on #1403
So the auto-scaling didn't work--it has some specific conditions that need to be met in order to trigger. So I just increased the current size explicitly to 50GB, and now the Prefect run succeeded!

![map-has-data](https://user-images.githubusercontent.com/6537426/197431497-0a3099d5-0d1d-451c-a344-9a6a4c40f055.png)

[2022-10-24 01:43] #1403 closed

[2022-10-24 01:48] nichhk commented on #1261
It doesn't seem to be timing out anymore, probably thanks to #1379. But Prefect still says the reloading is failing, probably because it [can't find](https://github.com/hackforla/311-data/blob/b0717ad25eab4ef25a2f26da187d9d8905ab5f77/server/prefect/tasks/cache.py#L73) the reloading message in the page content. I checked the lightsail logs, and the report server is indeed being reloaded, so I'm goi

[2022-10-24 03:25] edwinjue commented on #1403
Nice!

[2022-10-24 23:11] jekijo commented on #1364
Yeah I'll give it a go :thumbsup:

[2022-10-25 21:12] nichhk commented on #1401
![reports-dd-bg](https://user-images.githubusercontent.com/6537426/197882916-e5dcb9b9-bcde-4be7-b424-a156bdfd90d3.png)

I'm finding that there's not enough contrast between the text and the background. @melissahermes99 , do you have any suggestions? Thanks!

[2022-10-25 21:23] nichhk commented on #1261
It timed out again for last night's run. We might need to add a call to `waitForNavigation`? https://stackoverflow.com/a/58298172

[2022-10-26 19:23] melissahermes99 commented on #1401
Could we make the text and outlines #FFFFFF to look something like this?
![image](https://user-images.githubusercontent.com/97048386/198117914-898b7491-e6da-40b2-8da2-d532b10aa856.png)

[2022-10-26 19:36] melissahermes99 commented on #1370
That's correct! I'm going to bring it up in the meeting today with Elizabeth and hopefully we can finalize what should go under that tab so we can finish up the menu.

[2022-10-27 00:41] lgewirtz commented on #1277
@joshuayhwu As suggested, I've used groupby and dummy variables on the ServiceRequest and Crime datasets for 2019.
I used the following code:
dummydf= pd.get_dummies(df, columns=['dumVar1', 'dumVar2']).groupby(['mergeCol1', 'mergeCol2'], as_index=False).sum()
Then I did an inner merge on 2 columns - CreatedDate and PolicePrecinct

Crime data  -
[Dummy_Crime_2019.ipynb](https://github.com/lgewirtz/

[2022-10-27 05:28] edwinjue commented on #1370
Hi @melissahermes99 @elizabeth-ux thanks for dropping in tonight.

Per our discussion, just wanted to let you know I was able to draft up a version of the frontend per your new design in [Figma](https://www.figma.com/file/eF63O8yIGz2soQ4JJFfyoK/311_Data_UXUI?node-id=1009%3A1004)

Please let me know how you think it looks. If there is anything you'd like me to change, please feel free to let me kno

[2022-10-28 05:29] melissahermes99 commented on #1370
Wow! That looks fantastic, I'll pass this along to Elizabeth and we'll finalize if this is the way to go. Either way, it looks great and I'm super impressed with how fast you came up with this design!

[2022-10-29 03:43] edwinjue commented on #1370
Thanks, keep me updated!

[2022-11-02 16:17] melissahermes99 commented on #1370
@edwinjue Could you give me more insight into the hamburger menu idea you and Adriana had brought up?  For the upcoming launch, we'll keep the menu you had created last week except we'll remove the tabs from the top and change the title. I've attached an image of what we were thinking. For the next version, we'll create some concepts and ideas for how we can place the menu and the search bars with

[2022-11-02 20:46] lgewirtz commented on #1277
@joshuayhwu Updated [Service Request notebook - Dummy_SR_2019](https://github.com/lgewirtz/crime_311/blob/main/Dummy_SR_2019.ipynb) - so that NC_ID and zipcodes are not dummified. Then re-merged with Crime dataset in [Merge_SR_CR_Grpd_Dummy notebook](https://github.com/lgewirtz/crime_311/blob/main/Merge_SR_CR_Grpd_Dummy.ipynb)

[2022-11-03 01:20] #1294 closed

[2022-11-03 01:37] EchoProject opened #1410 "Recruiting Team Members for 311-Data"
### Overview
We need to track team recruitment so that we maintain a minimum headcount to keep the project thriving.

### Action Items
Copy this list into a comment to track recruiting
- [ ] Click Open Roles Board for the required function (links below)
- [ ] Find a relevant 311-data "Card" from the "filled" column
- [ ] Drag the Card to the appropriate role column
- [ ] Make edits to the card as

[2022-11-03 01:55] EchoProject commented on #1333
Adding Ying to the issue. I've added the research roadmap link to the resources section of this issue.

[2022-11-03 15:14] HiGregory commented on #1410
Hi @EchoProject,

We are supporting a similar initiative in Miami and Baltimore.

Wanted to know if there is room for collaborating and comparing notes for other cities doing 311 data projects.

For example, if our team of Data Specialists wants to support LA tasks.

[2022-11-04 01:51] edwinjue commented on #1401
Hi @melissahermes99, thought I'd let you know I went ahead and implemented this locally just now.

You can expect to see the change along with rest of the v2 Desktop Filter updates once they get approved

![image](https://user-images.githubusercontent.com/1448719/199867609-2d2dd55a-14bd-42df-a81c-e6066b76872b.png)

[2022-11-04 01:58] edwinjue commented on #1401
Perhaps, I should ask whether you would like the underline to always appear or only when the link is highlighted like this:

![image](https://user-images.githubusercontent.com/1448719/199868610-a2e3272a-78a5-41d9-a171-06f0202ecf0a.png)

Please let me know thanks!

[2022-11-04 23:44] EchoProject commented on #1134
2022-11-04
Feature: 10
Size: 41
Role: 6
Milestone: 16

[2022-11-05 02:34] edwinjue opened #1411 "Add `Research` menu item to Header"
### Overview
Need to add a new menu item titled `Research` to the Header. Essentially, this item will be the v2 version of our `Blog`

### Action Items

- [x] Add `Research` Link to Header (client/components/Header.jsx)
- [x] Add new React component called `Research` in client/main/Research.jsx
- [x] Change `/blog` endpoint to `/research` so clicking on above takes user to `dev.311-data.org/resear

[2022-11-05 02:42] edwinjue commented on #1411
@EchoProject Above enhancement has been completed locally and is expected to roll out along with other v2 updates.

Please feel free to update the existing Blog on contentful with the content you would like to see on the Research page for v2. Upon rollout, the Research page will still be pointing to the old Blog data on contentful.com as you can see here:

![image](https://user-images.githubuserco

[2022-11-05 21:41] joshuayhwu commented on #1378
Dashboard successfully integrated to website. Will discuss with UI/UX regarding other optimizations.

[2022-11-10 01:28] EchoProject commented on #1173
This issue has been completed and the documentation can be found [here](https://docs.google.com/document/d/1dmtwTkiNj1pSycZqpn7S_Uk6vStUlS1-n_-rSq9IoEU/edit).

[2022-11-10 01:28] #1173 closed

[2022-11-10 01:31] EchoProject commented on #1192
Hey @nichhk, is this issue ongoing, or have all the filenames been changed?

[2022-11-10 01:33] EchoProject commented on #1250
Hi @priyakalyan, is this issue still relevant? If so, could you provide an update?

[2022-11-10 01:38] EchoProject commented on #1313
Hi @edwinjue and @nichhk - has this issue been completed? It looks like all of the actions have been checked. If so, please close this issue. Thanks!

[2022-11-10 01:40] EchoProject commented on #1357
Hi @melissahermes99 and @elizabeth-ux - Has this issue been completed? If so let's close. Thanks!

[2022-11-10 01:44] EchoProject commented on #1410
Note to review recruiting needs by the end of January.

- [ ] Product
- [ ] Project
- [ ] SWE
- [ ] Design
- [ ] Research
- [ ] Data Science

[2022-11-10 01:47] #1203 closed

[2022-11-10 01:49] EchoProject commented on #1262
@nichhk it looks like we can close this item since there's another issue under the fix action. Is that correct?

[2022-11-10 01:52] melissahermes99 commented on #1260
All changes have been implemented as intended. Content pages remain light-themed while headers and the map menu (items not designed for print) have been left as their original dark theme.

[2022-11-10 01:59] #1357 closed

[2022-11-10 02:34] EchoProject commented on #1300
@melissahermes99 and @edwinjue this issue for mobile design will need to be addressed in a future iteration beyond the initial v2 launch. Let's reconnect on this after the holidays.

[2022-11-10 02:57] EchoProject commented on #1300
Closing this issue as it has been passed onto engineering.

[2022-11-10 02:57] #1300 closed

[2022-11-10 02:58] EchoProject commented on #1300
My mistake, closed by accident.

[2022-11-10 03:51] EchoProject opened #1413 "This is a new issue"
### Overview
We need to do X for Y reason.

### Action Items
- [ ] This is the first thing to do
- [ ] This is the second thing to do
- [ ]

### Resources/Instructions

[2022-11-10 03:56] EchoProject commented on #1413
Closing this issue because we're done with the tutorial.

[2022-11-10 03:56] #1413 closed

[2022-11-10 04:51] #1313 closed

[2022-11-10 17:10] priyakalyan commented on #1250
Hi @EchoProject, sorry for a late reply. Last time I checked, Zak was working on this issue. I have slacked him asking for an update. This issue was created to make sure that all the no council data were falling outside the NC boundary. If Zak is not working on it anymore, then I will look at it and close the issue.

[2022-11-11 01:08] zaklang123 commented on #1250
Hi @EchoProject, I'm currently working on this issue. I'm making slow, but steady progress. I've just figured out how to use Geopandas and Folium, so I think I'm ready to start going through the action items.

[2022-11-15 03:33] #1411 closed

[2022-11-15 03:49] edwinjue opened #1420 "Discuss content & design of `Research` area"
### Overview
A `Research` tab was added to the v2 version of the dev site in #1411.

This issue was created to discuss the `Research` tab in terms of:
- [ ] Content
- [ ] Layout & Design

Therefore I have assigned @EchoProject @joshuayhwu @melissahermes99 and myself as initial collaborators

### Action Items
- [ ] Obtain access to `contentful` account (1Password)
- [ ] Decide what content to displ

[2022-11-15 16:46] #1229 closed

[2022-11-15 16:49] priyakalyan commented on #1229
This issue can be closed now! Here is a link to the csv file with the updated population, population density and area (in square miles) of all the 99 NCs.

[2022-11-15 22:08] nichhk commented on #1229
Anupriya, thank you for your persistence on this very challenging issue!

[2022-11-16 20:26] nichhk commented on #1262
Yup that's right. Closing this out.

[2022-11-16 20:26] #1262 closed

[2022-11-17 03:22] nichhk commented on #1172
I think this is obsolete with our new design, so I will close it out.

[2022-11-17 03:22] #1172 closed

[2022-11-17 03:23] nichhk commented on #1239
This is obsolete since we are focusing on v2 now.

[2022-11-17 03:23] #1239 closed

[2022-11-17 03:55] yingli731 opened #1421 "Alpha testing/ Bug Bashing"
### Overview
We need to do Alpha testing to identify usability issues for the 311-data v.2.

### Action Items

- [x] Create spreadsheet for Alpha Testing log
- [x] Have 311 team members look at the website and fill out the log
- [x] Analyze the log and present results

### Resources/Instructions
Link to the Alpha testing spreadsheet: https://docs.google.com/spreadsheets/d/1evIPBjzFBb32mCbeh3sGd3zW